article{
    display:grid;
    grid-template-columns: 250px 1fr 250px;
    line-height:1.5;
    font-family: "B Nazanin", arial;
    font-size:20px;
    font-weight: bold;
    margin-bottom:80px;    /*new add*/
}
article > *{
    grid-column: 2;
    min-width: 0;
    direction: rtl;
}
article h3, h4, h5{
    color:var(--dark-gray);
    font-family: "B Titr", arial;
}

article q{
    font-weight: bold;
    font-style: italic;
}
article h1, h2{
    margin-top:25px;
    margin-bottom:25px;
    color:var(--dark-gray);
    font-family: "B Titr", arial;
}
article h1{
    text-align: right;
}
article h2{
    width:100%;
    background-color:orange;
    padding-right: 15px;
    color:black;
    border-radius: 15px;
}
article p{
    text-align: justify;
}
article  ul{
    margin-right: 10px;
    list-style: square;  
}

article ul li {
    color:var(--dark-gray);
    font-weight: bolder;
    margin-top:10px;
    font-size: 22px;
    text-align: justify;
}
.main-pic img{  
    width: 100%;
    max-height: auto;
    float:center;  
    margin-top: 20px;
    margin-bottom: 20px;
}
hr{
    border-top: 2px solid black;
    margin-bottom: 20px;
}
article table{
    border-collapse: collapse;
    width:100%;  
    font-weight: bolder;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;  
    font-family: 'B Titr', arial;
}
td, th{
    border:1px rgb(166, 165, 168) solid;
    padding:10px;  
    
}
td{
    text-align:left
}
th{
    font-family: 'B Titr', arial;
}
table td:first-child {
    text-align: center;
}
tr > th{
    background-color:orange;
}

.bodybuilding tr:nth-child(2) th{
    background-color: rgb(167, 164, 164);
}
.bodybuilding tr td:first-child{
    text-align:right;
}
.bodybuilding tr td{
    text-align:center;
}



article a{
    text-decoration: none;
    color:blue;  
}
article a:hover{
    color:red;
}
article figure{
    margin-top:30px;
    text-align:center;
}
article figcaption{
    color:red;
    font: bold 16px 'B Titr', arial;
    text-align:right;
}
/* article video{
    border:4px var(--dark-gray) solid;
    width:100%;
} */
.text{
    white-space: pre-line;
}

#numeric{
    list-style:persian;
    -moz-list-style:persian;
}

.picture{
    float:left;
    max-width:100%;
    max-height:auto;
}
/* ########## about ########## */
.about{
    width:100%;
    border: 1px navy solid;
    height:calc(100vh - 140px);
    background-color:navy;
}
.mypic{
    width:150px;
    height: 140px;
    position:absolute;
    top: 280px;
    left: 15%;
}
.mypic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.maindiv{
    border-bottom:4px var(--yellow) solid;
    border-top:4px var(--yellow) solid ;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 170px;
    margin-top: 80px;   
}
.maindiv q{
    font-style:italic;
    font-weight: bold;
    color:white;
    text-align: justify;
    direction:rtl;
    float:right;
    white-space:pre-line;
    padding-top: 25px;
    padding-bottom: auto;  
}

@media (max-width:1024px){
    article{    
        grid-template-columns: 60px 1fr 60px;
    }
    .picture{
        max-width:55%;
        max-height:auto;
    }
    .about{
        height:calc(100vh - 110px);
    }
    .maindiv{
        width:80%;
        height:200px;
    }
}
@media (max-width:700px){
    .maindiv{
        width:95%;
        height:200px;
    }
    .mypic{
        left:7%;
        
    }
}
@media (max-width:670px){
    article{
        font-size: 18px;
        grid-template-columns: 30px 1fr 30px;
    }
    .picture{
        max-width:45%;
        max-height:auto;
    }
    article  ul{
        font-size: 22px;
    }
    article ul li{
        font-size:18px;
    }
    article h1{
        font-size:28px;
    }
}
@media (max-width:580px){
    .maindiv{
        width:95%;
        height:240px;
    }
    .mypic{
        top:320px;
        left:5%;
        width:120px;
        height:110px;
        
    }
}
@media (max-width:480px){
    article{ 
        grid-template-columns: 15px 1fr 15px;
        font-size:18px;
    }
    .picture{ 
        max-width:35%;
        max-height:auto;
    }
    article  ul{
        font-size: 20px;
    }
    article ul li{
        font-size:18px;
    }
    .maindiv{
        width:95%;
        height:280px;
    }
    .mypic{
        top:370px;
    }
  
}