/* Global */
/* @font-face {font-family:"B Nazanin"; 
    src: url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.eot"); 
    src: url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/3671adca6f650c92b83f906e49656986.svg#B Nazanin") 
    format("svg");} 
@font-face {font-family: "B Titr";
     src: url("//db.onlinewebfonts.com/t/a0ea7e7833cd4f7694a4913fccb9aacf.eot");
        src: url("//db.onlinewebfonts.com/t/a0ea7e7833cd4f7694a4913fccb9aacf.eot?#iefix")
        format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a0ea7e7833cd4f7694a4913fccb9aacf.woff2")
        format("woff2"), url("//db.onlinewebfonts.com/t/a0ea7e7833cd4f7694a4913fccb9aacf.woff")
        format("woff"), url("//db.onlinewebfonts.com/t/a0ea7e7833cd4f7694a4913fccb9aacf.ttf") 
        format("truetype"), url("//db.onlinewebfonts.com/t/a0ea7e7833cd4f7694a4913fccb9aacf.svg#B Titr") 
        format("svg"); }  */

/* @font-face{
    font-family:'B Nazanin';
    src: url("/static/font/B Nazanin.TTF")
} */
/* @font-face{
    font-family:'B Titr';
    src: local('/static/font/'),
        url('/static/font/BTitr.woff2') format('woff2'), 
        url('/static/font/BTitr.woff') format('woff'), 
        url('/static/font/BTitr.ttf') format('truetype');
} */


@font-face {font-family: "B Titr";
    src:
    url("/static/font/a0ea7e7833cd4f7694a4913fccb9aacf.eot"), /* IE9*/
    url("/static/font/a0ea7e7833cd4f7694a4913fccb9aacf.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/static/font/a0ea7e7833cd4f7694a4913fccb9aacf.woff2") format("woff2"), /* chrome、firefox */
    url("/static/font/a0ea7e7833cd4f7694a4913fccb9aacf.woff") format("woff"), /* chrome、firefox */
    url("/static/font/a0ea7e7833cd4f7694a4913fccb9aacf.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/static/font/a0ea7e7833cd4f7694a4913fccb9aacf.svg#B Titr") format("svg"); /* iOS 4.1- */
  }

@font-face {
    font-family: 'B Nazanin';
    src: local('/static/font/'),
        url('/static/font/BNazanin.woff2') format('woff2'), 
        url('/static/font/BNazanin.woff') format('woff'), 
        url('/static/font/BNazanin.ttf') format('truetype');
    font-weight: 400;
    font-stretch: normal;
}

:root{

    --black: black;
    --white: white;
    --light-gray: #333333;
    --dark-gray:#242424;
    --blue: #178ab4;
    --green: #056826;
    --yellow: yellow;
    --red: red;

}
*{
    border:0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
}
html{
    scroll-behavior:smooth;
    font-size: 16px;
    height: 100%;
    /* height: 100vh; */
}
body{
    font-family:arial, sans-serif;
    color: var(--black);
    /* background-color: var(--white); */
    background-color:white;
    /* height: 100%; */
    height: 100vh;

}
/* header Func */
@media (min-width:1025px){
    .sub-menu,.super-menu, nav input[type="radio"], #hamburger-icon, nav input[type="checkbox"], .main-menu .mobile-view{
        display: none;
    }
    nav .main-menu>li:hover .sub-menu, .sub-menu>li:hover .super-menu {
        display: block;
    }
}
/* Style header*/
header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;  
    display:block; 
    font-family:"B Titr", arial, sans-serif;
}
#logo{
    position: absolute;
    top:0px;
    left: 25px
    
}
header .top{
    top: 0px;
    width:100%;
    background-color:var(--light-gray);
    height:35%;
    text-align: right;
    padding-right: 15px;
    
}
header div.top a{
    text-decoration: none;
    color:var(--white);  
    font-size:.9rem;
}
.link-div{
    width:120px;
    height:100%;
    float: right;
    text-align: left;
    padding-top: 6px;
}
/* @-moz-document url-prefix(){
    .link-div{
        width:120px;
        height:100%;
        float: right;
        text-align: left;
        padding-top: 2px;
    }
} */
header div.top a:hover{
    color:var(--yellow);
    text-decoration: underline;
}
header div:nth-child(2) img{    
    margin-right:5px;
    width:20px;
    height:100%;   
}
/* ## */
.main-menu>li:first-child a:hover{
    color:var(--yellow);
}
nav{
    background-color:var(--dark-gray);
    direction:rtl;
    height:65%;
    font-weight:bolder;
    display:block;
    
}
nav ul{
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    direction:rtl;   
}
nav .main-menu>li{     
    margin-left: -6px;
    display: inline-block;   
    border-top:none;  

}
nav a, label{
    cursor: pointer;
    position: relative;
    text-align: right;
    margin-top:0;
    padding:17px;
    background-color:var(--dark-gray);
    text-decoration: none;
    color:var(--white);
    display: block;
    
}
/* cuz different padding in chrome and opera */
/* @-moz-document url-prefix() {
    nav a, label { cursor: pointer;
        position: relative;
        text-align: right;
        margin-top:0;
        padding:12px;
        background-color:var(--dark-gray);
        text-decoration: none;
        color:var(--white);
        display: block;} 
    } */

nav li:hover>a, nav li:hover>label{
    text-decoration: underline;
    color:var(--yellow);
}
nav .sub-menu, nav .super-menu {  
    position:absolute;
    display: none;
    
    min-width: 256px;
    text-align: right;
}
nav .super-menu{   
    top:-1px;
    right:512px;
    transform: translate(100%, 0);   
}
nav .sub-menu li, .main-menu li{  
    border-top:.1px solid var(--light-gray);
    position: relative;
}
#wrapper {
    position:relative;
    min-height: 100%;
    /* height: auto !important; */
    /* height: 100%; */
    /* margin-top:80px; */
    /* min-height: calc(90vh - 60px); */ 
   
     
}
.content-wrapper{
    height: 100%;

    padding-bottom: 60px;
    padding-top: 80px;    
  
   
}
footer{ 
   width:100%;
   height:60px;
   bottom:0;
   position:absolute;  
}
.topfooter{
    background-color:var(--light-gray);
    width:100%;
    height:60%; 
}
.mail{
    height: 100%;
    width:auto;
    padding: 9px 0px 5px 14px;
    
}
.mail a{
    color:var(--white);
    text-decoration:none;
    margin:auto;
}
.mail a:hover{
    text-decoration:underline;
    color:var(--yellow);
}
.downfooter{
    background-color:var(--dark-gray);
    height: 40%;
    width:100%;
    color:var(--white);
    padding-top:2px;
    text-align:center;
    
}
iframe{
    border:4px var(--dark-gray) solid;
    margin-left: auto;
    margin-right: auto;
    
}
/* style header in mobile */
@media (max-width:1024px){
    /* Func */
        .sub-menu,.super-menu, nav input[type="radio"], #hamburger-icon, nav input[type="checkbox"]{
            display: none;
        }
        .main-menu input:checked ~ .sub-menu, .sub-menu input:checked ~ .super-menu, .main-menu .mobile-view{
            display: block;  
        }
    /* Style */
    nav .main-menu>li{
        border-top:.1px solid var(--light-gray);
    }
        .top{
            display: none;
        }
        header{
            height: 50px;   
        }
        nav{
            height:100%;
            background-color:var(--black);
            
               
        }
        #hamburger-icon{
           
            font-size: 1.5rem;
            height: 100%;
            width: 95px;
            line-height: 18px;
            color:var(--white);
            background-color: var(--black);
            display: block;
            margin-right:0px;
            padding-top:12px;
            
           
        }
        #hamburger-icon:hover{
            color:var(--yellow);
        }
        nav .main-menu{
            margin-right: 0;
            max-width:0%;
            position: relative;
            max-height:512px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            transition:max-width 200ms ease-in-out;
              
        }
        #menu:checked ~ .main-menu{
            max-width:100%;        
        }
      
        nav .sub-menu{
            position: relative;
            right:100%;
            transform: translate(100%, 0);
        }
    
        nav .super-menu{
            position: relative;
            top:0px;
            right:100%;
            transform: translate(100%, 0);  
        }
        .sub-menu label, .sub-menu a{
            padding-right: 12%; 
        }
        .super-menu a{
            padding-right: 24%;
        }
        header div.logo{     
            height:100%;
            width:auto;
            left:0;
            
        }
        div.logo img{
            height:100%;
            width:inherit;
        }
        nav .main-menu>li>label,nav .main-menu>li>a{
            padding-right:25px;
            }
        .content-wrapper{

            padding-top: 50px;
             
        }
     
    }  



