{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Top 6 annoying habits of pool swimmers</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>  ۶ عادت آزار دهنده شناگران در استخر
        </h1>
        <h5>  مارتین ، متخصص شنا ، در مورد آداب خط شنا صحبت می کند. یا همانطور که او دوست دارد آن را بنامد ، "شش عادت برتر آزار دهنده شناگران"   
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/12.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <ul id="numeric">
                <li>سوال، سوال</li>
                مربی به شما می گوید که مجموعه ۱۶ * ۵۰ متر از ۴۵ ثانیه است. در انتهای ۵۰ متر اول شخص در خط  کناری می گوید ، "اینها چه چیزی است؟" در پایان ۵۰ متر بعدی آنها می گویند "چند تا شد؟" در پایان ۵۰ متر بعدی می گویند " آیا ما این کار را انجام داده ایم؟ "در پایان ۵۰ متر بعدی شما می گویید" خفه شو! "(در سر خود).
                <li>فشارش نده</li>
                شما در حال چکش زدن به دیوار هستید که می خواهید بزرگترین چرخش خود را انجام دهید. شخصی که در انتهای مسیر برای کل طول شما منتظر است ، آن لحظه را انتخاب می کند تا جلوتر از شما حرکت کند. ۱۰۰٪ تضمین شده است که سرعت آنها از شما کندتر خواهد بود ، بنابراین شما ۲۰ متر بعدی را با نیمی از سرعت قبلی یا دو برابر سرعت صرف می کنید تا از آنها عبور کنید.
                <li>فاصله را در ذهن داشته باشید</li>
                همه شما برای تکرار حرکت می کنید و مربی به شما می گوید ۵ ثانیه بین شناگران بگذارید. در فاصله ۱۵ متری ، فرد پشت سری روی انگشتان شما قرار دارد ، بنابراین شما فکر می کنید ، " آنها خوب پیش می روند". آنها نیستند ، آنها فقط دو ثانیه به جای پنج ثانیه قبل از سرخوردن بعد از شما دیواره را ترک کردند. دوست من آنتونی ، مردی که به نظر می رسد هر روز هشت بار می میرد ، برای این کار شیطان است و نمی تواند از ۵ بشمارد ، که به عنوان یک بانکدار نگران کننده است.
                <li>دفع زودرس</li>
                مربی به شما میگوید از روی ساعت ۱۰۰ متر سرعتی. دست دوم کشیده میشود  ۵، ۴،۳،۲ و ...بوم! نفر خط بغلی ۲ ثانیه زودتر میرسد. شما نیمخواهید ببازید، سرعت را بالا میبرید که آنها را بگیرید و وقتی از آب بیرون می اید مثل موم آب شده هستید!در آخر مربی فریاد میزند به همه  اما ثانیه ای اضافه نمیکند، و در آخر آنها شما را با اختلاف ۳ دهم ثانیه شکست میدهند
                <li>دوی سرعت کمدی</li>
                در طول ۴۰۰ متر شما در لاین بعدی احساس آرامش کرده اید و می خواهید او را دور بزنید. وقتی سطح را تراز می کنید ، آنها ناگهان سرعت خود را افزایش می دهند. بنابراین شما مال خود را افزایش می دهید. بنابراین آنها  افزایش می دهند. و قبل از اینکه بدانید در یک مسابقه مرگ با سرعت المپیک حضور دارید.
                <li>این وسط با تو گیر افتاده</li>
                در حال شنا در نزدیکی طناب باریک هستید ، زیرا نسبت به سایر شناگران توجه می کنید. اما یک نفر در لاین شما از وسط شنا می کند ، یا دست خود را با دستان خود شل می کند یا باعث می شود طناب لاین را لغزانید. آنها از گره زدن در خط خود بی اطلاع هستند اما شما فکر می کنید که آنها باید بهتر بدانند ، بنابراین به جای این که هر چیزی را که بی انتها می گذرانید سعی کنید وقتی آنها را عبور می دهید جمع کنید.
                
                به هر حال ، این واقعیت که همه موارد فوق من را آزار می دهد ، نشانه روشنی است که پس از یک زمستان محصور شدن در انجام کارهای بی پایان در استخر ، باید بیرون بیایم و آب باز را احساس کنم ، جایی که هیچ کس برای آزار دادن نمی تواند کاری انجام دهد من به جز انگشتان پا ضربه بزنید!
            </ul>      
        </div>     
    </article>
</main>
{% endblock %}
