{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>What muscles do you use in front crawl?</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>  از چه عضلاتی در کرال سینه استفاده می کنید؟
        </h1>
        <h5>  شنا کرال سینه  یک تمرین عالی کم فشار برای کل بدن است. در اینجا عضلات اصلی وجود دارد که به ویژه آنها را هدف قرار می دهد و تن آنها را تنظیم می کند   
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/13.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <p>کراب سینه یک تمرین خوب در سراسر بدن است ، اما به خصوص عضلات بالاتنه را کار می دهد. در بالاتنه ، هنگام خزیدن در جلو ، از دلتوئیدها ، لاتیسیموس دورسی (پایین پشت) ، عضله ذوزنقه ، عضلات سه سر و دو عضله استفاده می کنید. عضلات شانه ها و اطراف تیغه شانه (از جمله دلتوئیدها) به شما کمک می کند تا "پارو" [بازوی خود] را در جای خود نگه دارید ، زیرا بدن از کنار آن عبور می کند.
            </p>
            <p>از آنجا که عضلات شانه ، معروف به روتاتور کاف ، در خزیدن جلو بسیار سخت کار می کنند ، ممکن است آسیب ببینند که منجر به یکی از آسیب های شایع شناگران می شود ، شانه شناگران یا تحت تأثیر قرار گرفتن زیر آکرومیال است.</p>
            <p>عضلات اصلی شما ، از جمله ذوزنقه و لاتیسیموس دورسی ، به شما کمک می کنند تا یک تنه راست را در خزیدن جلوی خود نگه دارید
            </p>
            <p>در قسمت پایین بدن ،کرال سینه ، خم کننده های ران ، چهار پا ، همسترینگ ، گلوت و گوساله ها را انجام می دهد. ماهیچه های شکم شما نیز از ایجاد ثبات در آب بالا می روند.
            </p>
            <div class="main-pic">
                <figure>
                    <img src="{{ url_for('static', filename='article-image/13-1.webp') }}" alt="picture">
                    <figcaption>شماتیک برخی از عضلات اسکلتی انسان را نشان می دهد. این شماتیک بر اساس تصویری از کتاب "بدن انسان" توسط لیندا گملین ساخته شده است</figcaption>
                </figure>
                    
            </div>
        </div>     
    </article>
</main>
{% endblock %}
