{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Why can’t I swim straight freestyle?</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1> چرا نمی توانم مستقیم شنا کنم؟
        </h1>
        <h5>  برای شنا مستقیم در کرال سینه تقلا کنید؟ این می تواند به دلیل تکنیک شما باشد ، دان می گوید  . در اینجا او چهار علت احتمالی را توضیح می دهد ...   
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/14.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <p>راز صرفه جویی در وقت و انرژی در آبهای آزاد؟ ساده است.صاف شنا کنید اما این فقط اتکا به بینایی خوب نیست ، زیرا دستیابی به شنای آزاد زمانی موثر است که بینایی با یک حرکت متعادل و متقارن و یک تکنیک خوب ترکیب شود.
            </p>
           <P>اما هر یک از چهار گناه کاردینال پیشین را مرتکب شوید، فاصله و زمان شنا را اضافه خواهید کرد ...
        </P>
       <ul id="numeric">
           <li>عدم وجود موقعیت محکم گرفتن (catch) توسط یکی از بازوها ، معمولاً از بازویی که از سر پشتیبانی می کند در حالی که از آن بازدم می کنید. چرخه بازو باید شما را به جلو بکشد. اگر فقط یک بازو کچ موثر داشته باشد ، این یک پیشرانه نامتعادل ایجاد می کند.
        </li>
        <li>خروج زود هنگام در پشت استروک ، منجر به نیروی محرکه کمتر در یک طرف می شود.
        </li>
        <li>عدم مهارت در "بازوی ضعیف تر" مانع از تکرار مسیرهای صحیح "بازوی قوی" می شود.</li>
        <li>رفت و برگشت گسترده یکی از بازوهای در حال بازیابی در امتداد خط مرکزی.</li>
       </ul>
                    
        <h4>این موارد را مرتب کنید و برای شنا صحیح فقط به بینایی اعتماد نکنید.
        </h4>
        </div>     
    </article>
</main>
{% endblock %}
