{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>8 ways to beat open water nerves</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>۸ روش برای غلبه بر اعصاب در آب های آزاد 
        </h1>
        <h5>    شناگر مسافت های طولانی ، آدام واکر ، از مانتراهای مثبت گرفته تا تجسم و جوک ، نکات خود را برای غلبه بر اضطراب شنای در آب های آزاد بیان می کند
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/15.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <h5>شنا احتمالاً بخشی از مسابقات سه گانه است که مبتدیان بیش از همه هراس دارند - علیرغم کوتاهترین بودن از این سه رشته. ما از آدام واکر شناگر رکوردشکن راهنمایی گرفتیم که در مورد چگونگی غلبه بر این نگرانی ها ...
            </h5>
            <ul id="numeric">
                <li>به توانایی خود اعتماد کنید ، حتی اگر دیگران به شما شک کنند باید به خود ایمان داشته باشید. این اعتقاد شما است که مهم است!</li>
                <li>در مورد شکست صحبت نکنید - اگر کسی از شما احساس شما در مورد مسابقه شنا یا مسابقات سه گانه را جویا شد ، موارد منفی را کنار بگذارید و بگویید "من مشتاقانه منتظر چالش هستم". این طبیعت انسانی است که از خود در برابر ناامیدی محافظت می کند. من فهمیدم که مثبت بودن ، حتی وقتی در بعضی مواقع کاملاً مطمئن نبودم ، می توانم مغزم را فریب دهم تا هر دیو را خاموش کنم.</li>
                <li>از افراد منفی پرهیز کنید - آنها می توانند مانند خون آشام های احساسی باشند و زندگی مثبت را از شما دور کنند و شما را به شک و تردید بیندازند.</li>
                <li>هرگز کلمات منفی مانند سرماخوردگی یا شکست را بیان نکنید - آنها را واقعی نکنید. من دائما به خودم می گفتم که گرم ، راحت و لذت بردن از بودن در بخشی از چیزهای متفاوت و به یادماندنی هستم. من یک بار شش ساعت داغ / گرم / گرم تکرار کردم و به هیچ چیز دیگری فکر نکردم! اگر به افکار مثبت فکر می کنید ، نمی توانید همزمان به فکر منفی باشید. تکنیک های متوقف کردن فکر وجود دارد که اگر متوجه شوید به سمت تکنیک های منفی می روید ، می توانید از آنها استفاده کنید.</li>
                <li>به این فکر کنید که چرا این رویداد را انجام می دهید - خواه یک چالش شخصی باشد ، برای امور خیریه یا چیز دیگری کاملاً ، شما باید مدام این دلایل را به خودتان یادآوری کنید و چقدر آن را می خواهید! من قبلاً کنار تختم یادداشتهایی برای خودم می گذاشتم: "من می خواهم کانال را شنا کنم!" من همچنین به سی دی های انگیزشی گوش می دهم.</li>
                <li>خیال پردازی درباره احساس دستیابی به شنا ، اینکه چقدر احساس موفقیت می کنید و چقدر همه به شما افتخار می کنند. روی هدف نهایی تمرکز کنید !!</li>
                <div class="main-pic">
                    <img src="{{ url_for('static', filename='article-image/15-1.jpg') }}" alt="picture">     
                </div>
                <li>همیشه یک رویداد بعدی را برنامه ریزی کنید ، پس از آن رویداد فوری تنها چالش نیست و فقط بخشی از یک فرایند است. بعد از دو طرفه جبل الطارق ، پنج شنای دیگر داشتم که باید به آنها فکر کنم ، بنابراین هر کس همه چیز نیست و همه را تمام می کند ، زیرا برای تکمیل هفت مورد باید پیشرفت می کردم.</li>
                <li>زیاد بخندید - از تجربه شنای آب های آزاد لذت ببرید. در بعضی مواقع سخت خواهد بود اما اگر آسان بود همه این کار را می کردند. نه ، شما تنها نیستید ، دیگران نیز مانند شما احساس می کنند. من همیشه سعی می کنم از طریق هر اعصابی شوخی کنم و از لحظه لذت ببرم. افتخار کنید که متفاوت و بی نظیر هستید. به یاد داشته باشید این سرنوشت شماست و کاملاً بر آن مسلط هستید !!</li>
            </ul>
            <p>همچنین ، برای برنده شدن در یک جلسه مربیگری شنای 30 دقیقه ای با آدام ، اولین فرد انگلیسی که سخت ترین هفت شنای اقیانوس در جهان را شنا کرد ، این مسابقه را بررسی کنید:
               <a href="http://oceanwalkeruk.com/comp.html"> http://oceanwalkeruk.com/comp.html</a></p>
        </div>     
    </article>
</main>
{% endblock %}
