{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to use the pool to prepare for open water swimming</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>نحوه استفاده از استخر برای آماده سازی برای شنا در آب های آزاد 
        </h1>
        <h5> دسترسی محدودی به آبهای آزاد دارید؟ مرد آهنی طرفدار تیم دون توضیح می دهد که چگونه تمرین استخر خود را تنظیم کنید تا بتوانید به طور موثر برای آب های آزاد آماده شوید. او همچنین  یکی از جلسات مورد علاقه گروه آبهای آزاد خود برای زمانی که شما آنجا بیرون هستید گذاشته است.
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/16.jpg') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <p>سوال عالی و اوه خیلی خاص مسابقه. شنا در آب های آزاد یک مهارت ، خالص و ساده است و چگونه مهارت های خود را ارتقا دهیم؟</p>
            <h3>با تمرین!</h3>
            <p>ما در استخر از شنا متناسب و استروک برخوردار هستیم ، از جلسات حداکثر VO2 max گرفته تا جلسات هوازی و آستانه ، از کار با سرعت تا تمریناتی که به عنوان شناگران منفرد برای ما کار می کنند (نه فقط یک دست و گرفتن چون همه این کار را می کنند!) )
            </p>
            <p>شما باید بفهمید که کدام تمرینات به شما در استروک و بیومکانیک کمک می کند و هفتگی روی آنها کار می کنید ، سپس لگد زدن را نیز انجام دهید - خدای من از لگد زدن متنفرم ، از هرکسی که با من شنا می کند سوال کنید و آنها می گویند که من چقدر شوکه کننده هستم فکر می کنم در یک ضربه 50 متر ضربه بزنم!
            </p>
            <h3>انتقال به آب آزاد</h3>
            <p>بنابراین ، همه اینها به ما در شنا کمک می کنند و همراه با آموزش مداوم در استخر ، باید سریعتر هم باشید ، که بدیهی است عالی و پایه و اساس شنا در آب های آزاد است.
                اکنون قسمت روی حیله و تزویر - انتقال آن به شنا در آب های آزاد در تمرین و سپس به شنا در آب های آزاد
                یک محیط مسابقه ، که می تواند حتی متغیرهای بیشتری اضافه کند.</p>
                <h3>انگشتان را بشمارید!</h3>
                <p>برخی از تمریناتی که دوست دارم در استخر انجام دهم تا به کمک شنا در آب های آزاد از بینایی شروع شوند. با سبک آزاد واترپلو (کرال سربالا) شاید در گرم شدن و سپس در حالت خنک کردن ، 12.5 متر در داخل پرتاب کنید ، فقط برای اینکه بدن و گردن در حالی که سرتان بالا است ، شنا کنند. سپس بعد از چند جلسه اضافه کردن این ، یک مربی یا یک همسر خود را وادار کنید که در انتهای استخر بایستد و دست آنها را با تعداد انگشتان مختلف در هر طول بلند نگه دارد ، و بگویید 100-150 متر.
                </p>
                <p>در پایان ، تعداد انگشتان دست را به بالا اضافه کنید و ببینید آیا حق با شما بود. وقتی سرمان به سمت بالا است ، می خواهیم شناور / دروازه خط پایان را نیز "ببینیم" ، بنابراین باید به تمرکز در نقطه ای از فاصله عادت کنیم.</p>
                <h3>چشمانت را ببند</h3>
                <p>همراه با این مته ، 10-15 حرکت با چشمان بسته را به شنا اضافه کنید (مطمئن شوید که مقداری داشته باشید
                    شناگران در خط خود درک خوبی دارند!) و ببینید که به کدام طرف می روید یا می توانید خط را صاف شنا کنید (درست مثل من - ها!). این به شما کمک می کند تا در هنگام شنا کردن در آب آزاد به تعادل استروک کمک کنید زیرا می دانید که به کدام راهی حرکت می کنید تا بتوانید با آن مقابله کنید.
                    </p>
                <h3>قانون چهار</h3>
                <p>یکی دیگر از تمرینات عالی استخر برای آب های آزاد شنا در یک خط چهار شناگر است - با فشار دادن روی پای یکدیگر و بعد از 50 متر رهبر حدود 5 متر قبل از دیوار متوقف می شود و تبدیل به یک مهم می شود. سه نفر دیگر به دور شناگر سربازی می روند که سپس به پشت خط می افتد و غیره. با شنای نزدیک به پا ، یا حتی روی مفصل ران / ران ران خود را بهم بزنید و ببینید بیشترین کشش را از کجا می آورید و بنابراین بیشترین انرژی را ذخیره می کنید.</p>
                <h3>جلسه ای در ذهن داشته باشید</h3>
                <p>پس از آماده شدن برای رفتن به محیطی در فضای باز ، اطمینان حاصل کنید که لباس راحتی شما متناسب با شماست و راحت هستید که فقط به تنهایی شنا می کنید. اعتماد به نفس خود را با سرعت خود تقویت کنید - اما پس از آن اجازه دهید فقط آسان شنا نکنیم و چند دور بزنیم و بگوییم "اکنون برای یک مسابقه آماده هستم" ، به من اعتماد کن ، کافی نیست! با در نظر گرفتن یک جلسه و با شناگران دیگری از توانایی مشابه خود ، به دریاچه بروید.</p>
                <h3>تاکتیک های مختلف را امتحان کنید</h3>
                <p>این جلسه گروهی را امتحان کنید: 500-800 متر آسان پس از انجام کار سخت / آسان از شناور به شناور با افراد مختلف در جلو برای 500-800 متر ، سپس ممکن است 500-800 متر دیگر آسان اما با 20 حرکت سریع به داخل و خارج از شناور / چرخش دوباره ، همه در یک گروه فشرده پس شاید هر کسی که در جبهه است سعی کند همه را کنار بگذارد اما فقط با خرد کردن آن از روی اسلحه ، با استفاده از تاکتیک های مختلف - مانند ایجاد ناگهانی انفجارهای کوتاه یا افزایش سرعت ، یا چرخش بدون هشدار و غیره ، بنابراین پیروان باید واکنش نشان دهید و در گروه تعقیب و گریز حرکت کنید تا افت نکنید و سعی کنید تا آنجا که می توانید انرژی را ذخیره کنید. سپس یک نقطه - شناور یا درخت - انتخاب کنید و 50 تا 80 ضربه را با چشمان بسته شنا کنید. هر 15 ثانیه یا بیشتر بروید و ببینید به کجا می رسید - هر کسی که دورتر باشد قهوه پس از جلسه را می خرد!
                </p>
        </div>     
    </article>
</main>
{% endblock %}
