{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to get to the swim buoy first</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>چگونه اول به شناوری شنا برسیم
        </h1>
        <h5> با یک سرعت در آب های آزاد شنا میکنید و از همان ابتدا گرفتار میشوید؟ در اینجا جلسه سرعت را برای شما قرار می دهیم
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/17.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
 <p>وقتی وارد دریاچه ، رودخانه یا دریا می شوید ، "فقط" شنا کردن و انجام آن کار خیلی آسان است. به عنوان آموزش ، برای تهویه هوازی عالی است ... اما احتمالاً در این مورد است.</p>
 <p>اگر تا به حال جلسات دو سرعت یا دویدن را (مخصوصاً در پیست) یا یک دوره توربو / چرخش را انجام داده اید ، می توان این ایده ها را مستقیماً به استخر یا آب آزاد برد - همان تئوری های آموزش نیز وجود دارد. در استخر فواصل شما با وضوح بیشتری مشخص شده است ، و در حالی که در آبهای آزاد ممکن است اختلالات بیشتری ایجاد شود ، ایده ها یکسان هستند.</p>
 <p>جلسه زیر شامل تلاش حداکثر گام با کاهش مقدار بهبودی است ، اما آنها فقط شنای کوتاه هستند. هنگامی که هر یک از تلاش ها را انجام می دهید ، تمرکز خود را بر این بگذارید که دست / بازوی خود را محکم از داخل آب عقب برانید ، تا آنجا که می توانید آب را به عقب برانید. با این کار ، بازوی شما به طور طبیعی باید سریعتر بهبود یابد ، و نیازی به پرتاب بازو برای شروع دوباره نیست. آن را با سرعت کم امتحان کنید تا با آن راحت باشید ، سپس نیرو را برای کار بیشتر / سریعتر افزایش دهید.</p>
 <table>
    <tr>
        <th colspan="2">گرم کردن</th>
    </tr>
        <!-- ############################ -->
    <tr>
        <td>شل شوید ، در آب آرام باشید ، ضربان خود را به طور مرتب افزایش دهید
        </td>
        <td width="150px"> ۱۰-۱۵ دقیقه  </td>
    </tr>
    <tr>
        <td>به عنوان 15 حرکت فوق العاده آهسته و آسان. 15 استروک متوسط 15 ضربه شدید ؛ حداکثر تلاش 15 ضربه ای
        </td>
        <td width="150px"> ۲ * (۴ * ۱۵ استروک)  </td>
    </tr>
  
            <!-- ############################ -->
    <tr>
        <th colspan="2">ست اصلی</th>
    </tr>

    <tr>
        <td>به قدرت و شتاب فکر کنید </td>
        <td width="150px">۱۰ * ۱۰ استروک با تلاش حداکثر </td>
    </tr>
    <tr>
        <td colspan="2">۳۰ استروک بهبودی بعد از هر تکرار ست</td>
    </tr>
    <tr>
        <td>به پرخاشگری کنترل شده فکر کنید </td>
        <td width="150px">۱۰ * ۱۰ استروک با تلاش حداکثر </td>
    </tr>
    <tr>
        <td colspan="2">۲۰ استروک بهبودی بعد از هر تکرار ست</td>
    </tr>
    <tr>
        <td>با هدف فکر کنید  / با بازوها فشار دهید
        </td>
        <td width="150px">۱۰ * ۱۰ استروک با تلاش حداکثر </td>
    </tr>
    <tr>
        <td colspan="2">۱۰ استروک بهبودی بعد از هر تکرار ست</td>
    </tr>
       
  
    <tr>
        <th colspan="2">سردکردن</th>
    </tr>
    <tr>
        <td> شنای آروم ریکاوری
        </td>
        <td width="150px">۱۰ دقیقه </td>
    </tr>

</table>
<h3>سازگاری برای مبتدیان</h3>
    <p>اگر هنوز در آبهای آزاد شنا نکنید می توانید این کار را در استخر انجام دهید (1 طول سریع یا حتی نیمی از طول را انجام دهید) ، یا اگر بین هر تکرار استراحت بیشتری داشته باشید</p>
    <h3>سازگاری برای مردان آهنین</h3>
    <p>به شرطی که به ازای شنای سریع در تکرار کننده ها نباشد ، در دوره های استراحت به راحتی "آسان" شنا نکنید. همچنین ، یک مجموعه تکرار اضافی با استراحت های طولانی تر از قبل انجام دهید.</p>
    <h3>3 نکته از جان وود</h3>
    <ul id="numeric">
        <li>نشمارید</li>
        <p>نگران تعداد دقیق استروک ها نباشید - این یک دستورالعمل خشن است که شما را به فکر فواصل زمانی می اندازد.
        </p>
        <li>حالت</li>
        <p>تمرکز بر روی هل دادن آب به عقب با هدف و حرکت برای تولید سرعت و قدرت است.
        </p>
        <li>تکنیک</li>
        <p>اگر می دانید که عناصر استروک شما نیاز به کار دارند ، تمریناتی را برای بازیابی انجام دهید.
        </p>
    </ul>
        </div>     
    </article>
</main>
{% endblock %}
