{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>What are the benefits of swimming?</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>شنا چه فوایدی دارد؟ 
        </h1>
        <h5> این واقعیت ساده است که شنا یک ورزش عالی برای تمام سطوح تناسب اندام و تجربه است ، با مزایای جسمی و روحی بیشماری که باید از زمان استخر یا آب های آزاد داشته باشید. در اینجا فقط چند دلیل وجود دارد که چرا شنا برای شما خوب است…
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/18.jpg') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
         <ul id="numeric">
             <li>شنا یک تمرین کامل بدن است</li>
             <p>در شنا صرف نظر از سبک استروک ، از تمام عضلات بدن استفاده می شود. به علاوه ، مقاومت در برابر ورزش برای 30 دقیقه در آب و معادل 45 دقیقه همان مقدار در خشکی است.
            </p>
            <li>شنا باعث بهبود روان می شود</li>
            <p>ثابت شده است که شنا منظم باعث کاهش سطح استرس ، کاهش اضطراب و افسردگی و بهبود الگوی خواب شما می شود. و مجبور نیستید سخت و طولانی مدت بروید - 30 دقیقه سه بار در هفته در کنار یک رژیم غذایی متعادل و سالم و سبک زندگی به حفظ دیدگاه ذهنی مثبت کمک می کند.</p>
            <li>شنا بدن شما را متناسب نگه می دارد</li>
            <p>شنا یکی از موثرترین راه ها برای سوزاندن کالری است. حتی با یک شنای آرام می توانید فقط در عرض نیم ساعت بیش از 200 کالری بسوزانید ، که بیش از دو برابر پیاده روی است. به علاوه ، تأثیر آن نسبت به دویدن کمتر است بنابراین خطر آسیب دیدگی را کاهش می دهد.</p>
            <li>شنا خطر ابتلا به بیماری ها را کاهش می دهد</li>
            <p>علاوه بر اینکه یک ورزش قلبی عروقی عالی است ، ثابت شده فقط 30 دقیقه در هفته شنا می تواند از بیماری های قلبی ، سکته مغزی و دیابت نوع 2 محافظت کند.</p>
            <li>شنا برای بهبودی عالی است</li>
            <p>آب تا 90٪ از وزن بدن را تأمین می کند ، بنابراین اگر در حال بهبودی از آسیب یا آسیب دیدگی طولانی مدت یا بیماری هستید ، شنا معمولاً بیشترین تجویز شده برای بهبودی فعال است زیرا کم اثر است.</p>
            <li>شنا باعث افزایش انرژی می شود</li>
            <p>باز هم ، فقط 30 دقیقه شنا سه بار در هفته می تواند سطح انرژی شما را از طریق افزایش میزان متابولیسم افزایش دهد.</p>
            <li>شنا یک ورزش بدون عرق است</li>
            <p>شدت شنای شما مهم نیست ، آب همیشه شما را خنک کرده و آن احساس پست عرق را پنهان می کند.</p>
            <li>و بسیار مهم برای ورزشکاران سه گانه ، شنا باعث بهبود دوچرخه و دویدن می شود</li>
            <p>مانند انجام دو ورزش دیگر ، همه آنها مکمل یکدیگر هستند و در نتیجه شما یک ورزشکار سه گانه سریعتر و موثر هستند. بعلاوه ، اگر شنا را میخ بزنید ، احتمال بیشتری دارد که از قبل وارد T1 شوید و خود را برای یک روز قوی در زین و کفش های مخصوص آماده کنید. جهنم ، حتی ممکن است یک تریبون برای شما نیز وجود داشته باشد!
            </p>
         </ul>
        </div>     
    </article>
</main>
{% endblock %}
