{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to overcome your fear of deep water</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>چگونه بر ترس خود از آبهای عمیق غلبه کنیم 
        </h1>
        <h5>آیا ترس از آب عمیق شما را از شروع شنا یا لذت بردن از شنا در آب های آزاد متوقف می کند؟ مربی سه گانه ، فیلیپ هاتزیس توضیح می دهد که چگونه می توانید با اطمینان اعتماد به نفس خود را تقویت کنید
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/19.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <q>اولین قدم برای تبدیل شدن به یک شناگر موثر در آبهای آزاد ، آرامش در محیط آب باز است. برای بسیاری ، ترس از این نوع شنا در مورد چیزهای ناشناخته است. عمق آب در این گروه قرار می گیرد.
            </q>
            <p>شنا در آب های آزاد غالباً در مکانهایی انجام می شود که بعید است از عمق واقعی آن مطلع شوید. مگر اینکه به اندازه کافی خوش شانس باشید و در آب و هوای گرمتر شنا کنید ، جای تردید است که می توانید کف آن را ببینید. شما می توانید در آب کم عمق تر از استخر یا عمیق تر از خانه خود شنا کنید - فقط نمی دانید.
            </p>
            <h3>چگونه بر ترس از آب عمیق غلبه می کنید که می توانید با اطمینان شنا کنید؟</h3>
            <p>چگونه بر هر ترس غلبه می کنید؟ اولین چیزی که باید بفهمید این است که وقتی ترس شما را سخت گرفته نمی توانید بر ترس غلبه کنید. انتظار نداشته باشید بیرون بروید و در آب عمیق شنا کنید و اولین بار پس از خواندن این مقاله با آن خوب باشید. زیرا واقعیت این است که اضطراب یا ترس پاسخی را به همراه دارد که در آب باعث می شود همه چیز بدتر به نظر برسد:</p>
            <ul>
                <div style="margin-right: 40px;">
                    <li>وحشت</li>
                    <li>تنگی نفس</li>
                    <li>تنفس کم عمق</li>
                    <li>حرکات سوختنی آدرنالین</li>
                    <li>ذهنیت یا قضاوت ابری</li>
                    <li>افزایش ضربان قلب</li>
                </div>
               
            </ul>
            <p>اگر هر یک از این موارد در محیط آب باز اتفاق بیفتد ، به احتمال زیاد متوجه خواهید شد که واکنش ترس را تشدید می کند. اگر تنفس را به عنوان مثال در نظر بگیریم ، تمرکز بر تنفس عمیق و کنترل شده دشوار است تا هنگام غوطه ور شدن سر یا هنگام ورزش ، شما را آرام کند.</p>
            <p>سوال واضحی که باید از خود بپرسید این است که ، هر یک از پاسخهای بالا برای ترس چگونه به شما کمک می کند؟ و اگر پاسخ شما هیچ یک از آنها نیست ، پس چه کمکی به شما می کند؟ چگونه می توانید روی چیزهایی کار کنید که احتمال کمک به آنها بیشتر از مانع شماست؟
            </p>
            <p>دستورالعمل های مربوط به غلبه بر ترس معمولاً در مورد مواجهه با آن ، تنفس از طریق آن ، منطقی نگاه کردن به آن صحبت می کنند (از خود بپرسید "چند نفر با خیال راحت بر روی آن قسمت عمیق شنا کرده اند؟") و بدترین نتیجه ممکن را کشف کنید. همه این روش ها دو نکته اساسی را شناسایی می کنند. اولاً ، شما باید بپذیرید که این ترس را دارید و ثانیا ، آنها در تلاشند تا با عادی سازی تجربه ، آن را کنترل کنند.
            </p>
            <p>علاوه بر این ، باید تشخیص دهید که این کار زمان زیادی را می برد. برداشتن گام های به جلو کودک بسیار بهتر از جهش های عظیم در حال نوسان بین یک قدم به جلو و یک قدم به عقب است. چگونه می توانید این ترس را به مراحل کوچکی تقسیم کنید که می توانید به آنها دست یابید ، پیشرفت را ببینید و در نهایت اعتماد کنید؟</p>
            <h3>چگونه می توانم در آبهای عمیق اعتماد به نفس بیشتری پیدا کنم؟</h3>
            <p>اولین کاری که باید انجام دهید این است که ترس را تا حد ممکن از بین ببرید. به عنوان مثال ، آیا می توانید به جای اینکه در آب غوطه ور شوید ، در آب عمیق شنا کنید؟ شنا در آب زلال چطور؟ آیا ترس فقط وقتی اولین باری است که در جایی شنا می کنید ظاهر می شود؟ ثانیاً ، شما باید تعیین کنید که سطح راحتی شما کجاست و محدودیت آنچه که شما را به چالش می کشد راحت است. اگر هدف نهایی این باشد که بتوانید یک مسابقه نقطه به نقطه بین دو جزیره را شنا کنید ، و در حال حاضر نمی توانید بیش از 50 متر در دریاچه خود شنا کنید زیرا نمی توانید کف آن را ببینید ، در این صورت تعداد زیادی وجود خواهد داشت مراحلی که باید برای رسیدن به آن مرحله انجام دهید. مشکلی نیست این دو مرحله یک نقطه پایان و یک نقطه شروع را برای شما فراهم می کنند.</p>
            <p>همه بی نظیر هستند و نحوه واکنش هر فرد در مواجهه با این ترس ها و شدت ترس متفاوت خواهد بود. ممکن است به این معنی باشد که شناگر می تواند تا اولین شناور 100 متری شنا کند و یا یک جلسه طول بکشد. با این حال ، هر بار که در ترس خود پافشاری می کنید ، در حال کشف این موضوع هستید که این مرز بین شجاعت و وحشت چیست و حد راحتی و شجاعت است. با گذشت زمان ، در حال تغییر مکان هستید که منطقه راحتی شما در آن قرار دارد.
            </p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='article-image/19-1.webp') }}" alt="picture">     
            </div>
            <p>اگر احساس وحشت کنم که از آمدن آب عمیق وحشت دارم ، چه کاری می توانم انجام دهم؟</p>
            <p>ترس ، وحشت و وخیم تر کردن شرایط در محیط آبهای آزاد بسیار آسان است. برای جلوگیری از کنترل غیرضروری اوضاع ، باید راهی برای خارج شدن سریع از محیط چالش برانگیز داشته باشید ، بنابراین می دانید که همیشه یک راه حل امن وجود دارد. این دانش کل تجربه را بهتر کرده و شانس موفقیت شما را افزایش می دهد.</p>
            <p>برای برخی از افراد ، این ممکن است تنفس کند. برای دیگران ، ممکن است یک کانو را نگه داشته باشد و برای چند نفر ممکن است از آب خارج شود. در هر صورت ، روی کاری کار کنید که بتوانید انجام دهید و به شما کمک می کند کنترل وضعیت را دوباره بدست آورید. من به عنوان مربی دوست دارم به ورزشکاران کمک کنم تا درک کنند که آنها می توانند با لباس شخصی به پشت دراز بکشند و مطمئناً شناور خواهند شد. اگر یک شناور یدک کش داشته باشند ، می توانند آن را نیز نگه دارند. سپس می توانند بر روی نفس های عمیق و بازیابی مجدد کنترل تمرکز کنند. این مکانیزم مقابله با آنهاست که هر وقت بخواهند می توانند از آن استفاده کنند زیرا کانوها همیشه در این نزدیکی نیستند.
            </p>
            <p>سرانجام ، هنگامی که به دور از یک محیط تمرینی (یک مسابقه یا یک جلسه شنای عمدی ، به جای آموزش برای آب های عمیق) با این چالش ها روبرو می شوید ، پس باید بر آنچه انجام می دهید تمرکز کنید. نشانه های فنی و مانترا در مورد تنفس معمولاً به شما کمک می کند ذهن شما را از هرگونه افکار منفی ، ترسناک خارج کرده و به مواردی که می توانید کنترل کنید ، تبدیل کنید: "بازدم" ، "دست به باسن" یا هر چیزی که برای شما مفید باشد.</p>
            <p>مهمتر از همه ، عجله نکن این زمان می برد و اگر می خواهید بر هر ترس غلبه کنید ، باید این کار را با ملایمت ، مهربانی و صبر انجام دهید - انجام این کار جرات می خواهد ، بنابراین هر قدم را به جلو جشن بگیرید و به عقب نگاه کنید تا ببینید که چقدر پیش رفته اید. موفق باشید.</p>
            <p>فیلیپ هاتزیس یک مربی واجد شرایط سطح 3 BTF و مربی دارای گواهی Ironman است. وی بنیانگذار و سرمربی Tri Training Harder است.</p>
        </div>     
        <div class="source">
            <a href="https://www.220triathlon.com/training/swim-training/how-to-overcome-your-fear-of-deep-water/" target="blank">Reference</a>
        </div>
    </article>

</main>
{% endblock %}
