{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Cold water swimming: How to acclimatise for an extreme triathlon or late season swimming</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>شنا در آب سرد: نحوه سازگاری برای ورزش های سه گانه یا شنای اواخر فصل 
        </h1>
        <h5>می خواهید در آب سرد مسابقه دهید - یا تمرین کنید -؟ این نکته در مورد آنچه که برای بدن شما هنگام غوطه ور شدن در آب سرد اتفاق می افتد - و چگونه کیت مناسب به شما کمک می کند تا از پس شرایط سخت برآیید  
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/20.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <q>به هر سه مسابقه ای بروید و در کنار چادر ثبت نام ، تخته ای را مشاهده می کنید که دمای آب روز را اعلام می کند و بسته به شکل ، تشویق یا ناله از طرف مسابقه ها را اعلام می کند. اما ما ، به عنوان ورزشکارهای گروه سنی ، واقعاً چقدر تأثیر آب سرد بر شناگران و شرایط مختلفی را که می تواند بر آن تأثیر بگذارد درک می کنیم؟
            </q>
            <p> با گذشت تابستان و ورود به ماه های خنک تر، دانستن اینکه بدن شما چگونه در برابر آب واکنش نشان می دهد کلیدی می شود. سپس باید برنامه ریزی کنید که چه کیت و سازگاری تمرینی را می توانید برای گرم نگه داشتن و مدت زمان بیشتری در آب حفظ کنید.
                </p>
            <p>چگونه بر هر ترس غلبه می کنید؟ اولین چیزی که باید بفهمید این است که وقتی ترس شما را سخت گرفته نمی توانید بر ترس غلبه کنید. انتظار نداشته باشید بیرون بروید و در آب عمیق شنا کنید و اولین بار پس از خواندن این مقاله با آن خوب باشید. زیرا واقعیت این است که اضطراب یا ترس پاسخی را به همراه دارد که در آب باعث می شود همه چیز بدتر به نظر برسد:</p>
            <p>برای درک بیشتر ، ما با یورگن ملائو ، رئیس خدمه پزشکی در مسابقات سه گانه بدنام معروف Norseman Xtreme در نروژ صحبت کردیم. ملائو در حال تحصیل در مقطع دکترا در دانشگاه اسلو است و در مورد شنا کردن آب سرد منطقه مورد علاقه خود را تحقیق کرده است ، بنابراین اگر مسابقه شما از ورزشکاران سه گانه بخواهد 3.8 کیلومتر در یک فیورد که به ندرت از 14 درجه می رسد شنا کند ، مرد خوبی است که باید در آن حضور داشته باشد. 
            </p>
            <p>ملائو توضیح می دهد: "پروژه تحقیقاتی نورسمن از سال 2015 آغاز شد." "چند روز قبل از مسابقه ، ما در Eidfjord دمای آب 10 درجه سانتیگراد را اندازه گیری کردیم و واقعاً نمی دانستیم چه باید بکنیم. بنابراین ما شنا را خودمان آزمایش کردیم و دمای هسته خود را با قرص های دمای قابل خوردن اندازه گیری کردیم [اینها دمای هسته را از طریق بلوتوث به گیرنده منتقل می کنند]. ما کل لباس 3.8 کیلومتری را در فیورد شنا کردیم ، و یک لباس ضد آب معمولی به تن کردیم. بدون هود ، بالکلاو یا جلیقه. از نتایج ، ما تصمیم گرفتیم شنای مسابقه را به 1900 متر کوتاه کنیم. "
            </p>
            <p>این کار اولیه منجر به یک پروژه تحقیقاتی بزرگتر در مورد شنای آب سرد شد ، از جمله مطالعات در مورد درجه حرارت هسته و نشانگرهای زیستی هر ساله در Norseman ، و همچنین سایر مسابقات مشهور سرد ، از جمله شناگران ÖtillÖ و مسابقات سه گانه اسلو. بنابراین خطرات کجاست؟</p>
            <h3>فیزیولوژی آب سرد</h3>
            <q>ملائو می گوید: "یكی از خطرات فوری شنا در آب سرد" درگیری خودمختار "نامیده می شود. "تغییر سریع محیط از بودن در ساحل (یا در کشتی) و سپس ناگهان پریدن در آب سرد برای قلب بسیار استرس آور است. دو پاسخ بسیار قدرتمند فعال می شوند ، یعنی شوک سرد و پاسخ غواصی. اینها اثرات متضادی بر قلب دارند و می توانند بسیار خطرناک باشند. این یکی از دلایلی است که باعث می شود ما در Norseman ورزشکاران را قبل از پرش به آبدره ، با آب سرد روی کشتی بپاشیم. "</q>
            <q>ملائو ادامه می دهد: "در مرحله دوم ، هیپوترمی وجود دارد." "این زمانی است که ورزشکاران در معرض خطر بیش از حد سرد قرار می گیرند. هرچه مدت ورزشکاران در آب باشد و هرچه آب سردتر شود سردتر می شوند. یکی از اهداف مطالعات ما این است که بفهمیم چه زمانی دمای آب برای تمرین یا مسابقه خیلی سرد است. "</q>
            <p>براساس پروژه های تحقیقاتی قبلی ، ITU مجموعه ای دقیق از دستورالعمل ها در مورد زمان توصیه شده در آب بر اساس فاصله مسابقه ، دمای آب و دمای هوا دارد [به قوانین ITU به صورت آنلاین در triathlon.org مراجعه کنید]. اما این قوانین توصیه ای در مورد چگونگی افزایش فصل آب آزاد با کاهش دما ارائه نمی دهند ...</p>
            <h3>چگونه خود را با آب سرد سازگار کنیم</h3>
            <p>یک مرد که اطلاعات زیادی در مورد شنا در آب سرد دارد ، راس ادگلی شناگر خبره و ورزشکار تناسب اندام است. در سال 2018 او حدود 2000 کیلومتر در اطراف جزایر بریتانیا شنا کرد و 10-12 ساعت شنا در روز داشت و تا اوایل ماه نوامبر به پایان نرسید. از او پرسیدیم که چگونه سازگار شد؟</p>
            <p>ادگلی به ما گفت: "آب سرد می تواند تأثیر زیادی بر عملکرد شما داشته باشد." "این روش شنا کردن شما در آب ، نفس کشیدن شما را تحت تأثیر قرار می دهد ، چه شما به آن آستانه لاکتیک ضربه می زنید زیرا در آب وحشت می کنید. برای من ، تنها راهی که برای بهتر شدن در آن پیدا کردم همان چیزی است که ما آن را "سختی سالم" می نامیم ، به این معنی که شما فقط باید در آب سرد ادامه دهید.</p>
            <p>"با تجربه ، سیستم تنفسی شما به جای شوک ، وارد سیستم تنفسی شما خواهد شد ،" درست است ، ما قبلاً بارها در اینجا بوده ایم ، می دانیم چه انتظاری باید داشته باشیم "، بنابراین مویرگ های شما منقبض می شوند تا خون به بدن شما ارسال کنند هسته ، و هنگامی که هسته شما به اندازه کافی گرم شد ، آنها دوباره باز می شوند و گرما را به آغوش شما می فرستند. تنها راه برای یادگیری و درک واقعی آن بیرون آمدن و انجام آن است. اما به تدریج افزایش دهید ، به همان روشی که مسافت پیموده شده را برای دویدن افزایش می دهید. "</p>
            <p>این چیزی است که تحقیقات ملائو با آن موافق است. "بدن انسان در سازگاری با محیط های مختلف تبحر دارد. خبر خوب این است که ، همانطور که می توانیم تا ارتفاع سازگار شویم ، می توانیم تا سرما نیز سازگار شویم. تعدادی از مطالعات علمی انجام شده در میان ماهیگیران اینویت و قطب شمال نشان داده است که افرادی که در محیط سرد زندگی و کار می کنند سرما را بهتر تحمل می کنند.</p>
            <p>"برای اینکه برای شنای سرد آماده شوید و به واکنش بدن خود در برابر سرما عادت کنید ، باید تحت شرایط ایمن در آبهای سرد شنا کنید. چنین سازگاری می تواند بطور قابل توجهی خطر شوک ناشی از آب سرد را کاهش دهد. در آغاز ، قرار گرفتن در معرض خود را محدود کنید
                به آب سرد به مدت کوتاه در آبهای کم عمق سپس به تدریج مدت زمان خود را افزایش دهید تا شنای طولانی تر در نزدیکی ساحل انجام شود و به طور ایده آل با قایق همراه شوید. "</p>
            <h3>پس افت چیست؟</h3>
            <p>همچنین لازم است که اثر "پس از افت" را به خاطر بسپارید. این پدیده است که دمای هسته شما برای 30-45 دقیقه پس از خروج از آب ادامه دارد ، زیرا بدن خون را از هسته به اندامهای شما باز می گرداند. برای محدود کردن این مهم است که به تدریج گرم شوید. اگرچه ممکن است وسوسه انگیز باشد که بخواهید به یک دوش آب گرم بخار بخورید ، اما این در واقع می تواند اثر را تشدید کند. بنابراین در عوض ، هدف آن است که از هر لباس خیس بیرون بیایید ، خود را بپیچید و مقداری مایع گرم بنوشید تا روند کار به تدریج انجام شود. ادگلی تجربه ای در این زمینه دارد. "برای ماه اول من به طور طبیعی اجازه دادم بدنم پس از قرار گرفتن در دریا گرم شود زیرا ما همیشه قایق آب گرم یا رادیاتور نداشتیم. بدن من هنوز قادر به کنار آمدن بود. DryRobes کمک می کند ، اما در نهایت شما باید اعتماد داشته باشید که بدن شما از آنچه تصور می کنید قدرتمندتر است.</p>
            <p>"این روزها ما سرد بودن را دوست نداریم. ما گرمایش را افزایش می دهیم یا به یک بلوز اضافی می رسیم. اجداد ما آن تجمل را نداشتند ، اما زیست شناسی همان است. "</p>
            <p>بنابراین سازگاری مهم است - و همچنین استراتژی های دقیق در مورد گرم کردن بدن پس از شنا. اما برای تحمل بیشتر سرما چه کار دیگری می توانیم انجام دهیم؟ افزودن چربی بدن یکی از راه های انتخابی است ، اما ورزشکاران سه گانه بدنام و لاغر هستند و افزودن وزن به دوچرخه سواری یا دویدن کمک نمی کند. خوب کیت چطور؟</p>
            <h3>چه گزینه های ابزار آب سرد وجود دارد؟
            </h3>
            <p>لباس های گرمایی از مارک های تجاری از جمله Blueseventy و Huub موجود است که شامل یک پوشش خزدار برای گرمتر نگه داشتن شما برای مدت طولانی تر است و ، به طور خلاصه ، تیم 220 این موارد را در شنا های سردتر مفید می دانند. اما در مورد کلاه ، دستکش و چکمه چطور؟ آیا وقتی دمای هسته اصلی ماندن در آب برای مدت طولانی تر است ، آیا آنها واقعاً کار می کنند؟</p>
            <p>ملائو همچنین در حال تحقیق در این زمینه است. وی افزود: "ما معتقدیم كه بلكلاوا ، دستكش و پوتین به شنا كردن در آب سردتر باعث می شود كه درجه حرارت هسته در حد طبیعی حفظ شود. بلوز باید گردن شما را بپوشاند ، زیرا عروق خونی بزرگی در آنجا وجود دارد. شریان های کاروتید نزدیک پوست قرار دارند و قرار گرفتن شریان های کاروتید در آب سرد منبع اصلی اتلاف گرما است. توجه داشته باشید که تراز نباید خیلی سفت باشد ، زیرا نمی خواهید رگ های خونی را فشرده کنید. ما در مورد جلیقه ها مطمئن نیستیم و در حال برنامه ریزی برای تحقیق در مورد آنها هستیم ، زیرا برخی از مطالعات قبلی نشان می دهد که این باید بیشتر مورد بررسی قرار گیرد. "</p>
            <p>هرکسی که شنای بزرگ بریتانیا را تماشا کرده باشد ، می داند که ادگلی مردی است که دوست دارد لباس شنای خود را تجربه کند. "دستکش و کفش چرمی به شما کمک می کند ، اما دانستن اینکه بدن شما قبل از بروز مشکلی چه احساسی دارد جایگزین نیست."</p>
            <p>پس این کجا ما را ترک می کند؟ در درجه اول ، بدن شما با سرما سازگار می شود ، اما زمان می برد. شناهای آب سرد خود را کوتاهتر از آنچه در ابتدا می توانید تحمل کنید ، نگه دارید و خود را "اهداف زمانی" بیش از حد بلند پروازانه قرار ندهید. روی احساس بدن خود تمرکز کنید ، نزدیک ساحل بمانید و مطمئن شوید که همیشه یک دوست با خود دارید. همچنین نحوه کنترل و ردیابی شوک آب سرد (هنگام ورود آب) و هیپوترمی (که پس از مدتی در آب ایجاد می شود) را بفهمید. تهیه دنده مناسب نیز به راحتی کمک می کند و به شما کمک می کند تا با سرما کنار بیایید.</p>



        </div>     
        <div class="source">
            <a href="https://www.220triathlon.com/training/swim-training/cold-water-swimming-how-to-acclimatise-for-an-extreme-triathlon-or-late-season-swimming/" target="blank">Reference</a>
        </div>
    </article>

</main>
{% endblock %}
