{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Sub-1hr session: Warm-up to win</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>جلسه زیر 1 ساعت: آماده سازی برای پیروزی
        </h1>
        <h5>با این تمرین سطح متوسط ، موتور خود را برای شروع مسابقه با حداکثر تلاش آماده کنید</h5>
 
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/21.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
           <q>این جلسه سطح متوسط انعطاف پذیر است و باید بدون تأثیر زیادی بر سایر جلسات شما انجام شود.</q>
            <p>سعی کنید از انجام این کار در نزدیکی دویدن یا دوچرخه سواری اجتناب کنید. این بیشتر یک تیزکننده است که باید در هفته مسابقه انجام شود ، تا یک تمرین واقعاً خسته کننده.</p>
            <p>شمابه این موارد نیاز دارید: لباس شنا ، کلاه شنا ، عینک ، بطری آب و کرونومتر یا ساعت.</p>
            <h2>جلسه شنا</h2>
            <h3>گرم کردن </h3>
            <p>10 دقیقه شنای آرام ، سپس: 30 ضربه آسان ، 5 ضربه سخت/30 ضربه آسان ، 10 ضربه سخت/30 نرم ، 15 سخت و ادامه تا 30 آسان/30 سخت. 30 ثانیه استراحت سپس الگو را برعکس دنبال کنید.</p>
            <h3>جلسه اصلی</h3>
            <p>12 * 50 متر به صورت: 25 متر آسان ، 25 متر سریع /25 متر سریع ، 25 متر آسان (یکنواخت). بین هر کدام 10 ثانیه استراحت کنید. سپس 6 تا (25 متر سریع ، 10 ثانیه استراحت ؛ 50 متر سریع ، 10 ثانیه استراحت ؛ 25 متر سریع). بین تکرارها 1 دقیقه استراحت کنید.</p>
            <h3>سرد کردن</h3>
            <p>شنای آسان 200 متر</p>
            <h2>مزایای اصلی</h2>
            <h3>مزایای عملکرد</h3>
            <p>قسمت گرم کردن این تمرین یک روال ایده آل قبل از مسابقه است. به تمرین در تمرین عادت کنید و به دلیل گرم شدن کامل و مشتاق شدن به محض شلیک تفنگ ، در هنگام مسابقه از تقسیم سریعتر شنا لذت خواهید برد.</p>
            <h3>مزایای روانی</h3>
            <p>گرم کردن شما برای مغز شما به همان اندازه برای بدن شما مهم است زیرا به شما این فرصت را می دهد تا بر آنچه در پیش رو دارید تمرکز کنید.

                در حالی که بدن خود را آماده می کنید ، ذهن شما می تواند نشانه های ناوبری شما را برای شنا و روال بینایی شما پیدا کند.</p>
            <h3>مزایای فیزیولوژیکی</h3>
            <p>بخش گرم کردن این تمرین طوری طراحی شده است که بدن شما را به تدریج برای تلاش های بزرگ مورد نیاز برای شروع شنای سریع آماده می کند.

                هرم ۳۰  استروکی برای بدن شما ایده آل است تا به آرامی در حداکثر یا نزدیک به حداکثر کار کنید. مجموعه اصلی برای تکرار شدت مسابقه طراحی شده است ، بنابراین می توانید نحوه گرم کردن را برای شما آزمایش کنید.</p>

        </div>
        <div class="source">
            <a href="https://www.220triathlon.com/training/swim-training/sub-1hr-session-warm-up-to-win/" target="blank">Reference</a>
        </div>
    </article>

</main>
{% endblock %}
