{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Three ‘easy speed’ tweaks for your swim technique</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>سه نکته "سرعت روان" داشتن برای تکنیک شنا شما
        </h1>
        <h5>از تنظیم موقعیت سر تا به حداقل رساندن چلپ چلوپ و موارد دیگر ، این امر باعث می شود شما سریعتر خزیده و به شما کمک کند بیشتر در آب حرکت کنید.
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/22.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
           <q>بسیار بیشتر از دوچرخه سواری یا دویدن ، کلید شنا سریعتر مربوط به تکنیک است.</q>
        

           <p>در اینجا سه نقطه کانونی - از جلو به عقب بدن شما سازماندهی شده است - ثابت شده است که "سرعت آسان" را تولید می کند. اکثر مردم تمرکز هدفمند و خستگی ناپذیری را که برای توسعه نیاز به تمرین دارند ، پیدا می کنند.</p>
            <h2>سرت را آویزان کن</h2>
            <p>وزن آن را به طور کامل به آب منتقل کنید و باید متوجه دو حس جدید شوید. اولا ، آرامش بیشتر در گردن و قسمت فوقانی کمر ، و ثانیاً ، احساس می کنید که چگالی آب به عنوان یک "بالشتک" برای سر شما عمل می کند (هنگام نگاه کردن به پایین ، هنگام تنفس روی صورت). اگر می توانید یک فکر دیگر را انجام دهید ، سر خود را بین تنفس ها کاملاً ثابت نگه دارید.</p>
            <h2>بیشتر به جلو برسید</h2>
            <p>وظیفه بازوهای شما این است که خط بدن خود را گسترش دهید ، این ساده ترین راه برای کاهش کشیدن است. هنگام انجام این کار ، روی یکی از موارد زیر تمرکز کنید (دیگری را برای دور دیگر ذخیره کنید یا تکرار کنید):</p>
            <ul id="numeric">
                <li>سر و صدا و چلپ چلوپ را هنگام ورود و حباب ها را به حداقل برسانید. نزدیکتر و تندتر وارد شوید تا به هر دو برسید.</li>
                <li>کمی به سراشیبی برسید ، بنابراین دست امتداد خود را در زیر بدن شما تمام می کند. شل کردن دست کمک می کند. یک دست سفت تمایل دارد به سمت بالا "موج سواری" کند و باعث می شود پاهای شما زمین بخورد.</li>
            </ul>
            <h2>کمتر پا بزنید</h2>
            <p>وظیفه پاهای شما این است که "پشت بدن" خود را بیرون بکشید. پاها در سوزاندن انرژی و ایجاد کشش فوق العاده خوب عمل می کنند و در ایجاد پیشرانه بسیار رقت انگیز هستند.</p>

            <p>هر چه کمتر لگد بزنید بهتر است - این امر در یک لباس ورزشی واضح به نظر می رسد ، اما تمرین در استخر برای تبدیل آن به یک عادت بسیار مهم است. شانس موفقیت شما با تسلط بر دو مهارت قبل از آن بسیار افزایش می یابد.</p>
        </div>
        <div class="source">
            <a href="https://www.220triathlon.com/training/swim-training/three-easy-speed-tweaks-for-your-swim-technique/" target="blank">Reference</a>
        </div>
    </article>

</main>
{% endblock %}
