{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to deal with tides when open water swimming</title>
{% endblock %}

{% block content %}
<main>
<article>
    <h1>نحوه برخورد با جزر و مد هنگام شنا در آبهای آزاد
    </h1>
    <h5>شنا در آب های آزاد حتی برای شناگران باتجربه استخر می تواند چالش برانگیز باشد. جان وود با ما از بهترین تکنیک ها و تمرین ها برای تمرین و مسابقه با جزر و مد صحبت می کند.
    <div class="main-pic">
        <img src="{{ url_for('static', filename='article-image/23.webp') }}" alt="picture">     
    </div>
    <br>
    <hr>
    <div class="text">
        <q>بسیاری از مهارت های مورد نیاز برای مقابله با جزر و مد بر روی مشاهده و شناخت آب اطراف شما متمرکز است. شنا در دریا می تواند یک بازی کاملاً متفاوت با شنا در آب ساکن و استخر باشد، بنابراین اطمینان حاصل کنید که مهارت های مناسبی را در جعبه ابزار خود برای مقابله با هر گونه مشکلی که ممکن است در آب ایجاد شود دارید.     
        </q>

        <p>شنا در دریا مزایای نفس کشیدن به هر دو طرف را برجسته می کند. این لزوماً به معنای تنفس دو طرفه (هر سه تا پنج ضربه) نیست، بلکه به این معنی است که می‌توانید در کدام سمت نفس می‌کشید، بسته به محل شکستن امواج و هرگونه پاشیدن در آب.</p>
        <p>همچنین به این معنی است که اگر قصد دارید موازی با یک ساحل شنا کنید، همیشه می‌توانید به مکانی که هستید اشاره کنید و مطمئن شوید که بیشتر و بیشتر به سمت دریا شنا نمی‌کنید.</p>
        <p>زمانی که احساس می‌کنید روی امواج بالا می‌روید، هدف را ببینید، زیرا در این زمان است که از بهترین منظره جایی که می‌روید لذت خواهید برد. ممکن است مجبور شوید سر خود را بالاتر از چیزی که ممکن است در دریاچه یا سایر آب های صاف تر بلند کنید، بنابراین ایده خوبی است که برای لحظه ای پاهای خود را با شدت بیشتری لگد بزنید تا با غرق شدن پاها، حرکت خود را از دست ندهید.</p>
        <p>از آنجایی که آب در مقایسه با شناهای محدودتر در مناطقی مانند دریاچه ها در حال حرکت است، شما واقعاً باید دست های خود را در حرکت نگه دارید. در حالی که ما دوست داریم حداکثر طول را در ضربات خود داشته باشیم، قطعاً نمی خواهیم نقاط مرده یا سر خوردن داشته باشیم. این موضوع در دریا اهمیت بیشتری پیدا می‌کند، زیرا هر نقطه‌ای که سرعت ما را کاهش می‌دهد، احتمال هل دادن در جهت‌های عجیب و غریب را افزایش می‌دهد.</p>
    </div>
    <div class="source">
        <a href="https://www.220triathlon.com/training/swim-training/how-to-deal-with-tides-when-open-water-swimming/" target="blank">Reference</a>
    </div>
</article>
</main>
{% endblock %}
