{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to adapt your breaststroke for open water</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>شنای دریا برای مبتدیان: نحوه شنا در دریا
        </h1>
        <h5>  ما چالش های منحصر به فرد دریاها را برای شناگران توضیح می دهیم ، و اینکه چه کاری می توانید انجام دهید تا بهترین موفقیت را در تسلط بر امواج داشته باشید
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/see_swim_for.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <q>چند تفاوت بین شنای دریاچه و دریا وجود دارد که باید آنها را در نظر بگیرید (اندی بولاک می نویسد). اولین نمک موجود در آب است. این بدان معناست که هنگام شنا ممکن است کمی شنا کنید (که غالباً چیز خوبی است!) اما در صورت بلعیدن بیش از حد آب ممکن است مشکلی ایجاد کند و در برخی افراد منجر به تهوع شود.
            </q>
            <p> اگرچه در مورد احساس حالت تهوع پس از بلعیدن آب کار کمی انجام می شود ، اما می توانید سعی کنید مقدار بلع را با تمرین زمان تنفس خود کاهش دهید و بتوانید سمت تنفس خود را تغییر دهید تا بتوانید از هرگونه تورم یا موج نفس بکشید.
            </p>
            <h3>چگونه هنگام شنا در دریا با امواج کنار بیاییم</h3>
            <p>این امر ما را به دومین تفاوت عمده با شنای دریا - امواج می رساند. با بسیاری از شناهای دریایی امواج یا برخی از آنها متورم می شوند. این اغلب منجر به حرکت ملایم بالا و پایین غلتیدن هنگام شنا می شود. اگر در حال شنا در امواج هستید ، این لرزش ملایم اغلب مشکلی ایجاد نمی کند ، اما ممکن است در مشاهده چرخش ها محدودیت وجود داشته باشد. در نتیجه شما باید زمانبندی بینایی خود را تمرین کنید تا هنگامی که در بالای موج هستید این کار را انجام دهید تا مطمئن شوید که بهترین دید ممکن را دارید.
            </p>
            <h3>چگونه می توان هنگام شنا در دریا با جریان ها کنار آمد</h3>
            <p>سومین تفاوت عمده وجود جریان است. در حالی که دریاچه ها معمولاً جریانی ندارند ، اگر شنای رودخانه ای انجام داده باشید ممکن است با جریاناتی روبرو شده باشید. این موارد ممکن است به نفع شما باشد و سریعتر شما را به سمت مقصد برساند ، اما ممکن است در خط شنای شما نیز حرکت کند ، به این معنی که شما باید مرتباً بینایی کنید و تنظیمات مداوم را انجام دهید تا مطمئن شوید که در یک خط مستقیم شنا می کنید.
            </p>
        
        </div>

       
        
    </article>
</main>
{%endblock%}