{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to get more out of each stroke</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>کرال سینه: چگونه می توان از هر استروک بهره بیشتری برد
        </h1>
        <h5> حرکت شنای خود را در این زمستان برای چرخه شنای سریعتر در فصل آینده فوق العاده استریم لاین کنید

        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/6.jpg') }}" alt="picture">
        </div>
        <br>
        <hr>
        <div class="text">      
            <q>پایان فصل و خارج از فصل زمان مناسبی برای بررسی استروک شما ، تعیین اهداف فنی / عملکردی جدید ، سهولت در بارگیری تمرینات و برگرداندن کارها به اصول اساسی است که واقعاً تغییر خواهد کرد.
            </q>
            
            <p>موقعیت بدنی و ساده سازی کلید کارایی استروک است. مکانیک شنای عالی نیاز دارد که بدن خود را از طریق باریک ترین استوانه آب حرکت دهید در حالی که حداقل کشش / مقاومت ایجاد می کند. استریم لاین ضعیف ، تنش یا مبارزه با آب مقاومت را افزایش می دهد ، به این معنی که با "ترمز دستی" شنا می کنید
                تمرینات استریم لاین در این جلسه به شما کمک می کند تا ترمز نگیرید و کارایی خود را افزایش دهید.                
            </p>
            <p>"گرفتن" خوب یکی دیگر از عناصر مهم برای تسکین یک استروک کارآمد است. این اولین مرحله است که شما باید قبل از تولید حداکثر نیروی محرکه از طریق مراحل کشش / فشار ، آب را در پشت بازوی خود جمع کنید و فشار وارد کنید. دریل های گرفتن در اینجا شما را از گرفتن و نحوه بهبود پیشرانه بیشتر آگاه می کند.
            </p>
            <h3>۳ نکته برتر</h3>
            <h5>قهرمانان برتر</h5>
            <p>ایجاد استریم لاین فوق العاده از طریق دریل ضربات پا جانبی<a href="{{url_for('freestyle_body_position', _anchor='superman')}}">[۱]</a> به بهینه سازی موقعیت و کارایی بدن کمک می کند. با فین شروع کنید و سپس آنها را بردارید.
            </p>
            <h5>دریل های هم ترازی</h5>
            <p>انجام تمرین کمان شکسته<a href="{{url_for('freestyle_body_position', _anchor='Broken_Arrow')}}">[۲]</a> به تمرکز بر روی تراز شانه ها ، باسن و مچ پا از طریق چرخش ضربه کمک می کند و همچنین می توانید عضلات مرکزی خود کمک بگیرید.
            </p>
            <h5>احساس گرفتن</h5>
            <p>دریل های جمع کردن <a href="{{url_for('freestyle_arm', _anchor='sculling')}}">[۳]</a>، دست مشت<a href="{{url_for('freestyle_arm', _anchor='Fist')}}">[۴]</a> و گرفتن عظیم<a href="{{url_for('freestyle_arm', _anchor='Mega-Catch-Up')}}">[۵]</a> همه به بهبود گرفتن کمک می کنند و بنابراین از هر ضربه پیشرانه بیشتری ایجاد می کنند
            </p>
            <h3>جلسه شنا</h3>
            <p>تمام تکرارها در تلاش هوازی کنترل شده + ۱۵  ثانیه استراحت
            </p>
            <table>
                <tr>
                    <th colspan="2">گرم کردن</th>
                </tr>
                    <!-- ############################ -->
                <tr>
                    <td>فشار و سرخوردن، استرم لاین فوق العاده بعد استروک کامل کرال سینه
                    </td>
                    <td width="150px"> متر۵۰ * ۸  </td>
                </tr>
              
                        <!-- ############################ -->
                <tr>
                    <th colspan="2">تمرین دریل ۱ (با فین)</th>
                </tr>

                <tr>
                    <td>پا از پهلو </td>
                    <td width="150px">متر۲۵ * ۴ </td>
                </tr>
                <tr>
                    <td>  کرال سینه
                    </td>
                    <td width="150px">متر۱۰۰ </td>
                </tr>
                <tr>
                    <td>پیکان شکسته </td>
                    <td width="150px">متر۲۵ * ۴ </td>
                </tr>
                <tr>
                    <td>  کرال سینه
                    </td>
                    <td width="150px">متر۱۰۰ </td>
                </tr>
                <tr>
                    <td>۲۵متر دریل شش پا یک استروک کرال سینه<a href="{{url_for('freestyle_body_position', _anchor='Six_Beat')}}">[۶]</a> ، ۲۵متر شنا </td>
                    <td width="150px">متر۵۰ * ۴ </td>
                </tr>
                <tr>
                    <td>شنای کامل سینه
                    </td>
                    <td width="150px">متر۱۰۰</td>
                </tr>
                <tr>
                    <th colspan="2">تمرین دریل ۲ (با فین)</th>
                </tr>
                <tr>
                    <td>دریل گرفتن دو ضربه ای<a href="{{url_for('freestyle_arm', _anchor='Double_Tap')}}">[۷]</a></td>
                    <td width="150px">متر۲۵ * ۴ </td>
                </tr>
                <tr>
                    <td> متر کرال سینه</td>
                    <td width="150px">متر۱۰۰ </td>
                </tr>
                <tr>
                    <td>۲۵ متر دریل گرفتن عظیم، ۲۵ متر شنا    
                    </td>
                    <td width="150px">متر۵۰ * ۴ </td>
                </tr>
                <tr>
                    <td>شنای کامل سینه</td>
                    <td width="150px">متر۱۰۰ </td>
                </tr>
                <tr>
                    <td>دریل پاروی سگی<a href="{{url_for('freestyle_arm', _anchor='doggy_paddle')}}">[۸]</a> ۲۵ متر، شنای کامل ۲۵متر </td>
                    <td width="150px">متر۵۰ * ۴ </td>
                </tr>
                <tr>
                    <td>شنای کامل سینه</td>
                    <td width="150px">متر۱۰۰ </td>
                </tr>
                <tr>
                    <th colspan="2">ست تضاد</th>
                </tr>
                <tr>
                    <td>    ۵ متر دریل جمع کردن، ۲۰ متر شنا
                    </td>
                    <td width="150px">متر۲۵ * ۸ </td>
                </tr>
                <tr>
                    <td> شش استروک دریل دست مشت،شش استروک شنای عادی
                    </td>
                    <td width="150px">متر۵۰ * ۸ </td>
                </tr>
            </table>
            

        </div>
    </article>
</main>
{%endblock%}
