{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Which part of the front crawl swim stroke is most important for developing speed?</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>کدام قسمت از حرکت شنای کرال سینه برای رشد سرعت مهم است؟
        </h1>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/8.webp') }}" alt="picture">
        </div>
        <br>
        <hr>
        <div class="text">      
            <p>من همیشه توصیه می کنم با اطمینان از اینکه وضعیت بدن شما در آب به همان خوبی است که در ابتدا می توانید شروع کنید. این پایه محکم ترین پایه را برای بقیه استروک شما ایجاد می کند اما ، مهمتر از همه ، مقاومت را که ایجاد می کنید کاهش می دهد ، به این معنی که برای تلاش کمتری سریعتر شنا خواهید کرد.
            </p>
            <p>خواهید فهمید که کاهش مقاومت بیش از توان اضافی که می توانید تولید کنید در سرعت تأثیر خواهد داشت. به عنوان یک قانون کلی ، تا جایی که ممکن است روی حفظ ستون فقرات خود تمرکز کنید و از یک شناور کششی برای کمک به تقلید از موقعیتی که می خواهید در آن قرار بگیرید استفاده کنید.</p>
            <p>قسمت مهم دیگر استروک برای سرعت ، کشش شماست. به عبارت دیگر ، ارتباط شما با آب است. این می تواند به سه قسمت تقسیم شود - گرفتن شما (انتهای ضربه) ، نقطه میانی و خروج. دشوار است که بگوییم مهمترین مورد چیست زیرا اگر هر یک از اینها خراب شود ، کل کشش شما ضعیف می شود بدون گرفتن مناسب ، نمی توانید آب را به درستی بکشید. بدون داشتن یک قسمت میانی پایدار ، شما هیچ قدرتی ندارید. با یک خروج ضعیف ، تقریباً می توانید تمام کارهای خوب را از قسمت جلویی خنثی کنید.
            </p>
            <p>دریل جمع کردن<a href="{{url_for('freestyle_arm', _anchor='sculling')}}">[۱]</a> یک تمرین عالی برای تمرکز روی کنترل آب است - کاری نیست که باید طول و طول آن را انجام دهید ، بلکه باید آن را به عنوان بخشی از ایجاد استروک کامل انجام دهید و احساس مقاومت در برابر کشش خود را کنید. کار دیگری که می توانید انجام دهید ، اگر شناگر با تجربه ای هستید ، شنا با پارو را برای ایجاد مقاومت بیشتر در طول استروک اضافه کنید.
            </p>
        </div>
    </article>
</main>
{%endblock%}
