{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="../../../static/articles.css">
<title>Butterfly Arm Stroke Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="/vscode/website/assets/butterfly/image/butterfly-arm.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های دست پروانه
            <br>
            Butterfly Arm Stroke Drills</h1>
        <p>
            مسیر حرکت بازوی زیر آب پروانه شبیه حرکت بازوی شنای آزاد است ، فقط با هر دو بازو به طور همزمان انجام می شود. این یک ضربه بازوی بسیار قدرتمند است و برای یک مسافت کوتاه می تواند از نظر سرعت با سبک شنا آزاد رقابت کند. با این حال ، از آنجا که پایداری آن به اندازه سبک آزاد نیست ، حتی ضروری تر است که اقتصادی ترین ضربه بازوی پروانه ای را انجام دهید ، بنابراین پروانه می تواند برای مدت طولانی به خوبی انجام شود. هدف از تمرینات زیر بازویی برای پروانه ، ایجاد یک ضربه بازوی سازنده است که قدرت را به حداکثر می رساند و تلاش را به حداقل می رساند.

            
        </p>
        <h2>
            استقرار برای فشار دادن
            <br>
            Pitch to Press</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                احساس مسیر استروک پروانه

            </li>
            <li>
                یادگیری فشار دادن به عقب، نه پایین

            </li>
            <li>
                استفاده از گام صحیح دست برای حفظ فشار بر آب
            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/arm-Pitch to Press.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                در آب تا عمق کمر بایستید. پاهای خود را محکم در کف استخر نگه دارید ، به جلو خم شوید تا صورت شما در آب باشد. به پایین استخر نگاه کنید. بازوها را به سمت جلو و روی سطح آب کمی بیشتر از شانه های خود باز کنید. در حالی که کف دست هایتان پایین است ، انگشتان شست را کمی پایین تر از کف دست های خود قرار دهید.

            </li>
            <li>
                بازوها را به سمت جلو دراز کنید ، به طوری که آرنج ها قفل شوند. این باید دسترسی شما را گسترش دهد و دستان خود را کمی دورتر از یکدیگر قرار دهید. در حالی که دستانتان به بیشترین میزان رسیدن می رسند ، از ناحیه مچ دست کمی خم شوید ، بنابراین کف دست و نوک انگشتان از مچ دست پایین تر و به سمت خارج قرار بگیرند. کف دستان خود را جارو کنید تا به عقب فشار دهید، به پایین فشار ندهید. به بازوها اجازه دهید تا دستان شما را دنبال کنند ، اما آرنج ها را بالا و محکم نگه دارید. دست های خود را هنگام عبور از صورت ، فشار دادن به عقب و کمی جارو کشیدن به سمت داخل ، تماشا کنید ، بنابراین آنها نزدیکتر از نقطه شروع خود هستند.

            </li>
            <li>
                همانطور که دستان شما به عقب فشار می آورند و شانه ها را رد می کنند ، باید توسط آرنج نیز جارو شوند. موقعیت دستان خود را طوری تنظیم کنید که فشار محکم روی آب را حفظ کنند. همانطور که دستان شما از زیر شکم شما عبور می کند ، باید در نزدیکترین نقطه با هم قرار بگیرند ، به آرنج نزدیک ترند. دوباره سرعت دستان خود را تنظیم کنید تا آنها بتوانند فشار دادن به عقب را ادامه دهند. استروک بازو با فشار دادن دستها به عقب به پایان می رسد ، تا زمانی که بازوها مستقیم و خارج از هر ران قرار بگیرند.

            </li>
            <li>
                یک نفس بکشید و دست ها و سر خود را به حالت شروع ، کمی بازتر از شانه ها ، برگردانید. سکته بازو را تکرار کنید ، تا زمانی که آرنجتان قفل شود ، به جلو کشیده شوید ، سپس کف دستان خود را جارو کرده و آنها را در موقعیت فشار رو به عقب قرار دهید ، در حالی که آرنج ها بالا هستند. همانطور که دستانتان به سمت شکم فشار می آورند و به هم نزدیکتر می شوند ، دوباره گام را تغییر دهید تا سریع رو به عقب جارو کنید ، تا زمانی که بازوهایتان از لگن صاف و خارج شوند.

            </li>
            <li>انجام استروک پروانه را چندین بار ادامه دهید. دستان خود را به طور مداوم تغییر مکان دهید تا آنها دوباره به آب فشار دهند و پایین نیایند. تمرین کنید تا زمانی که بتوانید چندین ضربه سریع بازویی را پشت سر هم انجام دهید ، فشار کافی را به آب وارد کنید بنابراین حفظ انتها پا در کف استخر دشوار است.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            کشیدن دست به عقب به صورت علامت سوال
            <br>
            Sweeping Question Marks</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                احساس مسیر استروک پروانه

            </li>
            <li>
                جارو کردن به عرض و باریک
            </li>
            <li>
                جارو کشیدن از عمیق تا کم عمق

            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/arm-Sweeping Question Marks.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                دیوارها را در آب و رو به پایین فشار دهید ، دست ها را از جلوی شانه های خود باز کنید. شناور سرپایینی و ران بالا را بدست آورید. به پایین استخر نگاه کنید. در حالی که هنوز به جلو سر می خورید ، یک حرکت پروانه ای را انجام دهید که همزمان هر دو بازو در یک خط باریک حرکت کنند. به جلو کشیده شوید ، بیرون و اطراف را جارو کنید ، سپس به سمت داخل به سمت شکم خود حرکت کنید. کار را با فشار دادن سریع پشت کمرتان تمام کنید. توجه داشته باشید که خطوطی که با ضربه بازوی خود ردیابی کرده اید ، به دو علامت سوال شباهت دارد ، یکی تصویر آینه ای دیگری که روی سطح آب شناور است. بایستید و نفس بکشید.

            </li>
            <li>
                به دیوار برگردید و دوباره پروانه را شروع کنید. در سراشیبی با لگن بالا شناور شوید. به پایین استخر نگاه کنید. با استفاده از حرکت فشار خود ، دوباره یک حرکت پروانه را دنبال کنید و یک خط عمیق تا کم عمق را ردیابی کنید. به جلو کشیده شوید ، به پایین و اطراف خود را جارو کنید ، سپس به سمت بالا در زیر شکم خود قرار بگیرید. کار را با فشار دادن سریع پشت کمرتان تمام کنید. توجه داشته باشید که خطوطی که با ضربه بازوی خود ردیابی کرده اید شبیه دو علامت سوال است ، یکی تصویر آینه ای دیگر که عمود بر سطح آب شناور است. بایستید و نفس بکشید.

            </li>
            <li>
                به دیوار برگردید و یک بار دیگر پروانه را شروع کنید. به پایین استخر نگاه کنید و به حالت شناور در سراشیبی ران بالا بروید. با حرکت رو به جلو سر خوردن خود ، یک حرکت پروانه انجام دهید که مسیری باریک و عمیق تا کم عمق را ردیابی کند. به جلو کشیده شوید ، بیرون و پایین ، اطراف آن را جارو کنید ، سپس به سمت داخل و بالا در زیر شکم خود قرار بگیرید. کار را با فشار دادن سریع پشت کمرتان تمام کنید. توجه داشته باشید که خطوطی که با ضربه بازوی خود ردیابی کرده اید ، شبیه علامت های سوالی است که به صورت مورب در آب شناور هستند ، یکی از آنها تصویر آینه دیگری است.

            </li>
            <li>
                بایستید و نفس بکشید. ادامه مسیر استروک بازوی پروانه را که ردیابی علامت های سوال از  عمیق به کم عمق و از عریض و باریک را ادامه  دهید.

            </li>
        </ul>
        <h2>
            پروانه یک دستی
            <br>
            One-arm Butterfly</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                احساس ریتم ضربه دست پروانه

            </li>
            <li>
                تمرین مسیر ضربه دست

            </li>
            <li>
                به عقب فشار دادن آب

            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/arm-One-arm Butterfly.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                دیوار را در آب و رو به پایین فشار دهید ، دست ها را از جلوی شانه های خود باز کنید. حالت باسن شناور و پا پایین تر را بدست آورید. در حالی که دست راست در حالت کشیده مانده است ، یک ضربه پروانه را با بازوی چپ انجام دهید. به جلو کشیده شوید ، بیرون و اطراف را جارو کنید ، سپس به داخل شکم خود بروید. کار را با فشار دادن سریع پشت کمرتان تمام کنید. به سمت بازوی متحرک نفس بکشید و یک بهبودی(ریکاوری) مانند شنا آزاد را انجام دهید.

            </li>
            <li>
                یک حرکت دیگر را با همان بازو انجام دهید ، همراه با یک عمل دلفین سبک. وقتی دستتان به جلو کشیده می شود ، باید سینه زیر آب باشد. هنگامی که ابتدا آب را فشار می دهید ، پاهای شما باید پایین بیفتد. سپس ، هنگامی که دست شما به سمت عقب فشار می آورد ، سینه باید بالا باشد ، زیرا پاهای شما باید دوباره پایین بیایند. به یاد داشته باشید که عمل دلفین باید در بدن بالا ، بدون خم شدن بیش از حد زانو ، ایجاد شود. پروانه یک بازو را چندین بار تکرار کنید ، خط وسیع تا باریک و عمیق تا کم عمق استروک را دنبال کنید. فشار را بر روی آب حفظ کرده و با هر ضربه بازو از دو دلفین استفاده کنید. اولین دلفین شما را به ابتدای استروک بازو سوق می دهد. دلفین دوم به پایان سریع ضربه بازو کمک می کند.

            </li>
            <li>
                ادامه تمرین استروک پروانه یک بازوی خود را ، همراه با یک عمل دلفین سبک ریتمیک. بر شتاب بخشیدن به حرکت عقب خود تمرکز کنید. یک گام دستی را حفظ کنید که می توانید دائماً آن را فشار دهید ، نه پایین یا بالا. از جلو به عقب کشیده شوید ، بیرون و اطراف آن را جارو کنید ، به داخل شکم خود ، عرض تا باریک ، و عمیق تا کم عمق بروید. کار را با فشار دادن سریع به عقب برسانید. نفس کشیدن. بازیابی این کار را تا انتهای استخر تکرار کنید.

            </li>
            <li>
                پس از استراحت ، دیوار را فشار داده و بازوی چپ خود را دراز بگذارید. پروانه یک بازو را با بازوی راست خود انجام دهید. دلفین سبک خود را مطابقت دهید تا شروع و پایان استروک را همراهی کند. حرکت را به سمت عقب تسریع کنید. تا انتهای استخر ادامه دهید.

            </li>
            <li>
                پروانه یک بازو را برای چندین طول استخر تمرین کنید. باسن های خود را بالا نگه دارید و ضربه را با هم بزنید تا با شروع و پایان ضربه بازوی شما مطابقت داشته باشد. احساس کنید که دلفین از طریق بدن حرکت می کند و در ابتدای استروک به شما در گرفتن آب کمک می کند. احساس کنید دلفین دوباره به شما کمک می کند تا استروک را با سرعت تمام کنید.

            </li>
        </ul>
        <h2>
            بازوی چپ ، بازوی راست ، هر دو بازو
            <br>
            Left arm, right arm, both arms</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                احساس خط استروک

            </li>
            <li>تمرین تسریع در شتاب دادن به عقب  استروک


            </li>
            <li>ریتم پروانه را تجربه می کنید

            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/arm-Left ArmRight ArmBoth Arms.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                دیوارها را در آب و رو به پایین فشار دهید ، دست ها را از جلوی شانه های خود باز کنید. شناور سراشیبی را بدست آورید. باسن بالا را حفظ کنید. در حالی که دست راست در حالت کشیده باقی مانده است ، یک حرکت پروانه ای را با بازوی چپ خود انجام دهید ، همراه با یک عمل دلفین سبک ریتمیک. بر سرعت بخشیدن به حرکت عقب خود تمرکز کنید. به سمت بازوی متحرک نفس بکشید ، و مانند سبک آزاد ، روی آب بازیابی کنید.
            </li>
            <li>
                همانطور که بازوی چپ شما به جلو می رسد و آب را درگیر می کند ، پاهای شما باید پایین بیفتد. همانطور که این کار را انجام می دهید ، با بازوی راست خود استروک را شروع کنید و دست چپ خود را جلوی خود باز بگذارید. دوباره به عقب شتاب دهید. با پایان دادن به استروک ، به پاهای خود اجازه دهید که دوباره پایین بیفتند. بازیابی

            </li>
            <li>
                اکنون ، در حالی که هر دو بازو در جلو کشیده شده است ، با هر دو بازو یک ضربه بازوی پروانه ای را انجام دهید. به سمت جلو خم شوید و آرنج ها را در حالت قفل شده در حالی که پاهای شما به پایین فرو می رود ، دراز کنید. فشار دهید و اطراف را جارو کنید ، دستان خود را در موقعیتی قرار دهید که به عقب فشار دهید. با حرکت دست ها از شکم ، به هم نزدیک تر از آرنج ، استروک را تسریع کنید. کار را با فشار دادن سریع به سمت عقب به سمت پایین انجام دهید ، زیرا پاهای شما دوباره به سمت پایین متصل می شوند. بازوها را روی سطح آب به موقعیت اولیه در جلو برگردانید.

            </li>
            <li>
                دنباله را تکرار کنید. بازوی چپ ، بازوی راست ، هر دو بازو ، حفظ یک دلفین ریتمیک سبک که با شروع و انتهای استروک مطابقت دارد. فشار را بر روی آب و یک ضربه شتاب آور حفظ کنید. تا انتهای استخر ادامه دهید. استراحت کنید ، سپس دوباره تمرین کنید تا زمانی که در آب راحت و ریتمیک حرکت کنید.

            </li>
        </ul>
        <h2>
            دور خاموش
            <br>
            The Round Off</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                فشار دادن انتهای استروک به سمت بیرون

            </li>
            <li>
                تمرین اتمام سریع استروک

            </li>
            <li>
                یادگیری آزاد کردن آب در پشت
            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/arm-The Round Off.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>دیوارها را در آب و رو به پایین فشار دهید ، دست ها را از جلوی شانه های خود باز کنید. شناور سراشیبی را بدست آورید. چندین دلفین پشت سر هم انجام دهید ، هر کدام را از قسمت بالایی بدن شروع کرده و به سمت پایین پاهایتان بکشید. روی دلفین ششم ، استروک خود را شروع کنید ، تا رسیدن به سمت جلو خم شوید ، سپس اطراف و عقب را جارو کنید ، و زیر شکم خود نزدیک شوید.

            </li>
            <li>
                همانطور که دستانتان به سمت انتهای استروک شما تسریع می شود ، کف دستان خود را کمی به سمت بیرون قرار دهید. در پایان سریع از بدن خود را به عقب و خارج فشار دهید زیرا پاهای شما دوباره به پایین ضربه می خورد. دستان شما باید آب را از کمر و باسن خود پاک کنید ، فاصله چند سانت از بدن. آنها را به سمت جلو برگردانید ، کشیده و کمی بازتر از شانه های خود.
            </li>
            <li>
           بازوی دیگر را انجام دهید ، علامت های سوال را ردیابی کنید. همانطور که دستانتان به نزدیکترین نقطه خود در زیر شکم نزدیک می شوند ، آنها را با سرعت به عقب فشار دهید و مانند یک J. به سمت بیرون فشار دهید و دستان شما باید آب را آزاد کرده و با کف دست رو به بالا به راحتی از طریق سطح جلو بروند.
        </li>
            <li>دوباره آنها را به جلو برگردانید. به جلو دراز کنید و کف دستان خود را درگیر کنید. جارو بزنید و دوباره به آب فشار دهید. دستان خود را زیر شکم خود نزدیکتر احساس کنید ، سپس سرعت خود را به سرعت تمام کنید ، و در قسمت عقب ضربه به شکل J از بدن خود گرد شوید. احساس کنید دستانتان به راحتی از طریق سطح آب بالا می روند و هیچ مقاومتی ندارند. از حرکت آنها برای بازگشت به جبهه استفاده کنید. چندین بار این کار را تکرار کنید ، تا انتهای استروک، دست گرد شده خود را نگه دارید. 

            </li>
        </ul>
    </article>
</main>
{% endblock %}
