{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Butterfly Breathing Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="{{ url_for('static', filename='butterfly-image/butterfly-breathing.jpg')}}" alt="picture">
        
    </div>
    <article>
        <h1>تمرین های نفس گیری پروانه
            <br>
            Butterfly Breathing Drills</h1>
        <p>
            نفس کشیدن در پروانه در امتداد  استروک اتفاق می افتد ، به طوری که وقتی بالاتنه شناگر در بالاترین نقطه خود قرار می گیرد ، استنشاق می کند و هنگامی که بالاتنه وضعیت سرازیری خود را بازیابی می کند ، به پایان می رسد. با زمان مناسب ، برای دستیابی به نفس نیازی به عمل سر مستقلی نیست. اقتصادی ترین سبک تنفس در مقابل آب و رو به جلو است. تنفس منظم و ریتمیک برای دستیابی به استروک پایدار مهم است ، اما پروانه رو های موفق از انواع تنفس ، از تنفس در هر استروک ، تا تنفس در هر سومین استروک ، استفاده می کنند. هدف از تمرینات تنفسی زیر برای پروانه ، تمرین زمانبندی صحیح تنفس است ، بنابراین با ریتم طبیعی استروک  اتفاق می افتد.

        </p>
        <h2>
            تمرین زمان بندی تنفس

            <br>
            Breathing Timing Drill</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                یادگیری تنظیم زمان تنفس پروانه

            </li>
            <li>
                تنفس در بالاترین سطح استروک

            </li>
            <li>احساس بازگشت صورت قبل از دست به آب

            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/breathing-Breathing Timing Drill.jpg')}}" alt="picture">
          
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                در آب به عمق کمر بایستید. پاهای خود را محکم در کف استخر نگه دارید ، به جلو خم شوید تا صورت شما در آب باشد. به پایین استخر نگاه کنید. بازوها را به سمت جلو و روی سطح آب گسترش دهید ، آرنج و انگشتان شست را به جلو تراز کنید. شروع به ردیابی خط حرکت دست به صورت علامت سوال کنید. همانطور که دستهایتان به عقب فشار می آورند و تا انتهای استروک تسریع می شوند ، به حالت ایستاده بایستید.

            </li>
            <li>
                در حین رسیدن به حالت ایستاده کامل ، استنشاق کنید ، در حالی که دستانتان به سرعت به عقب فشار می آورند و پایان ضربه را دور می زنند. همانطور که دستانتان از آب خارج می شوند ، به حالت به پشت در می آیند و به داخل قوس بهبودی می روند ، دوباره به سمت جلو خم شوید تا بدن شما هنگام عبور از روی آب به خط جلو بازوها بپیوندد. صورت شما باید دقیقاً قبل از ورود دستانتان به آب مقابل غرق شود.

            </li>
            <li>
                یک حرکت دیگر را شروع کنید و در حالی که دستان خود را به پایان سریع منتقل می کنید بایستید. استنشاق کنید هنگامی که بازوها بهبود می یابند دوباره به جلو خم شوید و اجازه دهید صورت شما قبل از دستانتان به آب برسد. چندین حرکت را انجام دهید ، ایستاده تا در انتهای هر یک دم کنید. همانطور که به سمت بهبود می روید و به جلو خم می شوید ، توجه داشته باشید که سر و بازوها به صورت یکپارچه به سمت جلو حرکت می کنند. سر شما باید بازوها را به آب بکوبد زیرا فاصله کمتری برای پیمودن دارد.
            </li>
            <li>
                اکنون چندین حرکت متوالی را امتحان کنید. به جلو خم شوید تا هر ضربه را با صورت در آب شروع کنید. هنگام نزدیک شدن دستان به پشت استروک بایستید و استنشاق کنید. با بهبودی بازوها دوباره به جلو خم شوید ، بنابراین صورت شما یک لحظه قبل از دستان خود به آب می رسد.

            </li>
            <li>
                با تمرکز بر استنشاق در نقطه بالای استروک ، به تمرین ادامه دهید. به وضعیت بدن خود اجازه دهید تا زمان شروع و پایان نفس شما مشخص شود.

            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            پرواز شیرجه دلفین 
            <br>
            Flying Dolphin Dives</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                یادگیری زمان تنفس پروانه
            </li>
            <li>
                نفس کشیدن در خط استروک

            </li>
            <li>
                احساس موج استروک

            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/breathing-Flying Dolphin Dives.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>در آبی که عمق آن تا مفصل ران  است ، بایستید و دستها را به پشت و خارج از باسن دراز کرده و حالت به پشت داشته باشید. از ناحیه باسن از طریق گردن خود به یک ستون فقرات مستقیم برسید. باسن خود را محکم نگه دارید ، در حالی که زانوهای خود را کمی خم می کنید ، حدود سی سانت به سمت جلو خم شوید و آماده پرش از کف استخر شوید.

            </li>
            <li>با زور از پایین پایین بپرید. همانطور که بدن شما در هوا بالا می رود ، بیشتر به سمت جلو خم شوید و مانند بهبود پروانه رو ها ، دستان خود را به اطراف و جلو بچرخانید. با شروع پایین آمدن بدن ، بازوهای شما باید در حال بهبودی باشند. با وارد شدن صورت به داخل آب ، لگن شما باید در واقع بالاتر از سرتان باشد و بازوها باید دراز شده و در آب قرار داشته و به سمت پایین استخر هدایت شوند.

            </li>
            <li>با پایین آمدن بازوها ، بالاتنه ، پاها و پاها باید از همان خط پیروی کنند ، به سمت بالا ، از بالا و سپس به پایین آب بروید. قبل از رسیدن به پایین استخر ،  استروک پروانه را جارو کرده و قسمت بالایی بدن خود را از کمان بالا بیاورید. احساس کنید پاها و پاهای شما نسبت به تغییر جهت واکنش نشان می دهند. همانطور که صورتتان به سطح آب بالا می رود ، احساس کنید پاهایتان به درون آب می ریزند ، زیرا دستانتان به انتهای استروک می رسند. با از دست دادن وضعیت ایستادن ، پاهای خود را به سمت بالا بکشید. استنشاق کنید

            </li>
            <li>
                از وضعیت شروع ، ایستاده در حالی که دستان خود را به سمت عقب و از بدن خارج کرده اید ، یک غواصی دیگر در دلفین را شروع کنید. هنگامی که به جلو خم می شوید ، به سمت بالا بچرخید و بازوهای خود را به داخل محل نگه دارید. به حالت تعظیم جلو بروید تا در نقطه بلند پرش ، باسن بالاتر از سر قرار گیرد و بازوها به سمت پایین آب قرار بگیرند. هنگام پایین آمدن در آب ، هنگام بیرون آمدن از کمان ، ضربه بازوی پروانه را ردیابی کنید. با بلند شدن صورت از آب و پایین رفتن پاها ، استروک خود را به پایان برسانید. استنشاق کرده و موقعیت شروع خود را از سر بگیرید.

            </li>
            <li>
                چندین غواصی دلفین پرنده را پشت سر هم انجام دهید ، و برای استنشاق از نقطه بالای هر یک استفاده کنید. با هرکدام بالا بروید ، سپس با آب به پایین بروید و ریتم روان را از دیگری به دیگری حفظ کنید.

            </li>
        </ul>
        <h2>
            پروانه چشم به آب
            <br>
            Eyes on the Water Butterfly</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                یادگیری حفظ موقعیت سر ثابت
            </li>
            <li>
                تمرین نگاه کردن به پایین آب هنگام تنفس
            </li>
            <li>استفاده از موج طبیعی تا استروک برای تنفس


            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/breathing-Eyes on the Water Butterfly.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>دیوار را آماده کنید و آماده انجام پروانه ، ستون فقرات مستقیم ، بازوهای باز شده در جلوی خود شوید و به پایین استخر نگاه کنید. چندین دلفین برای ایجاد ریتم خود انجام دهید ، سپساستروک بازوی خود را شروع کنید. رفت و برگشت و سرعت خود را به عقب بکشید. سریع تمام کنید و بالاتنه خود را بالا بیاورید. نفس بکشید و بهبودی را شروع کنید. وقتی دستانتان از روی شانه ها عبور می کند و سینه به پایین می افتد ، اجازه دهید که سر خود را به سمت آب برگردانید تا بازوهای خود را مرتب کنید تا در یک Y به جلو برسد.

            </li>
            <li>استروک دوم را ادامه دهید. پایین استخر را نگاه کنید. ستون فقرات را از باسن تا گردن ثابت نگه دارید. همانطور که دستان شما شروع به جارو زدن از طریق استروک می کنند ، احساس کنید قسمت بالای بدن شما شروع به بالا آمدن می کند. با شتاب گرفتن بازوها تا انتها ، پاها باید دوباره پایین بیایند و صورت را به سطح آب بکشند. بدون تغییر وضعیت سر ، استنشاق کنید.

            </li>
            <li>بهبود را ادامه دهید. سر شما باید همزمان با بازوها حرکت کند ، و خط جلو حرکت را ادامه دهد. هنگامی که بازوها از روی شانه ها عبور می کنند ، هنگام پایین آمدن قفسه سینه ، صورت شما باید وارد آب شود و دستان خود را به جلو بچرخانید. با رسیدن به وضعیت سرازیری ، بازوهای شما لحظه ای بعد از سر وارد آب می شوند.
            </li>
            <li>
                حرکت سوم را ادامه دهید. با فشار دادن به سمت عقب ، به سرعت عقب بروید. همانطور که استروک را به سرعت تمام کردید ، اجازه دهید پاهایتان پایین بیفتند. احساس کنید که بالاتنه شما بلند می شود ، و صورت شما به سطح ظاهر می شود. استنشاق کنید و به آب مستقیم در مقابل خود نگاه کنید. اگر حالت سر ثابت را حفظ کرده اید ، نباید بتوانید انتهای استخر را ببینید. در حالی که پاهای شما دوباره به سمت پایین کشیده می شوند ، حالت خود را غرق کرده و احساس فرو رفتن می کنید و به سمت سرازیری حرکت می کنید.

            </li>
            <li>
                استروک چهارم را انجام دهید ، سرعت خود را تسریع کرده و اجازه دهید پاهای شما به پایان برسد تا  استروک شما پایین بیاید. احساس بالاتنه کنید. با حفظ موقعیت سر ، در بالاترین نقطه خود استنشاق کنید. در بالاترین نقطه ، چانه شما باید دقیقاً بالای سطح آب قرار داشته باشد و شما باید به سمت پایین آب را در روبرو نگاه کنید. با بهبودی ، سینه و صورت خود را به داخل آب بیندازید. توجه داشته باشید که بدون تغییر وضعیت سر ، دوباره به پایین استخر نگاه می کنید.

            </li>
            <li>
                بیشتر تمرین کنید ، و به هر نفس در خط استروک خود برسید. حالت سر ثابت را در طول سکته حفظ کنید ، بنابراین وقتی صورت در آب است به پایین استخر نگاه می کنید و هنگام استنشاق به آب مقابل نگاه می کنید.

            </li>
        </ul>
        <h2>
            میخ و چکش
            <br>
            Hammer and Nail</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                یادگیری نفس کشیدن از شکم

            </li>
            <li>
                تغییر وضعیت به سمت سرازیری پس از تنفس
            </li>
            <li>
                حفظ موقعیت سر ثابت
            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/breathing-Hammer and Nail.jpg')}}" alt="picture">

        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>از دیوار برای شروع پروانه فشار دهید. دلفین را چندین بار برای ایجاد ریتم ، سپس استروک بازوی خود را شروع کنید. جابجایی کرده و به عقب شتاب دهید. به محض اینکه پاها به پایین فرو می روند و بالا آمدن بالاتنه خود را سریع انجام دهید. در نقطه مرتفع استنشاق کنید ، به پایین آب نگاه کنید. بهبود یابید ، شانه ها را به جلو بچرخانید و در حالی که بازوها به سمت جلو می رسند ، سینه را به سمت پایین بیاندازید. احساس کنید صورتتان به آب برگشته و به وضعیت سرازیری رسیده است. تمرکز خود را بر این بگذارید که ابتدا کدام قسمت از صورت شما به آب برخورد کند.

            </li>
            <li>یک بار دیگر استروک کنید. بعد از استنشاق ، در حالی که بازوها و سرتان به حالت اولیه برمی گردد ، با برخورد صورت به آب ، مکث کنید. ابتدا باید به پیشانی آب بخورد ، نه اینکه ابتدا چانه را بزنید. باید احساس کنید که پیشانی شما مانند یک چکش برخورد می کند و آب یک میخ است.

            </li>
            <li>یک بار دیگر استروک کنید. همانطور که به سمت عقب شتاب می گیرید و بالاتنه برای نفس بالا می رود ، هنگام عبور از بالای آب ، روی قوس بازو تمرکز کنید. از آغاز تا پایان بهبود ، حرکت جلو بازوها از عضلات مرکزی و نه بازوها تامین می شود. عمل اصلی در واقع خط استروک را تعیین می کند. همانطور که شانه های خود را به جلو می چرخانید ، احساس کنید سر از نقطه بالای استروک خارج می شود. همانطور که دستانتان از روی شانه ها عبور می کند و سینه را به پایین به داخل آب می اندازید ، خط استروک به سمت پایین و جلو است و ابتدا صورت خود را به پیشانی آب برمی گردانید و بدن خود را در سراشیبی قرار می دهید تا استروک بعدی را شروع کنید.

            </li>
            <li>
                توجه داشته باشید که بدون تغییر وضعیت سر ، ابتدا از آب بلند می شوید تا پیشانی نفس بکشید و همچنین اول به پیشانی آب برمی گردید. بیشتر تمرین کنید ، از پیشانی خود به عنوان چکش برای ضربه زدن به میخی که آب آن است استفاده کنید. این کار را با فشار انجام دهید ، حرکت بهبودی خود را به استروک بعدی منتقل کنید.

            </li>
        </ul>
        
    </article>
</main>
{% endblock %}
