{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="../../../static/articles.css">
<title>Butterfly Kick Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="/vscode/website/assets/butterfly/image/butterfly-kick.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های ضرب پا پروانه
            <br> 
            Butterfly Kick Drills</h1>
        <p>
            پروانه از ضربه دلفین استفاده می کند ، جایی که پاها همزمان بالا و پایین می شوند و شبیه عمل دم یک دلفین است. در واقع چیزی فراتر از حرکت پا است. این یک حرکت کامل بدن است. با دقت بیشتری به راحتی دلفین نامیده می شود. درست انجام شده این، یکی از قدرتمندترین حرکات در شنا است. دلفین از حرکتی شلاق مانند استفاده می کند که از بالای بدن شروع می شود و از طریق تنه ، باسن و پاها به سمت پایین حرکت می کند و در پایان با پاها به پایین و دوباره بالا می رود. دلفین ریتم و تعادل را در سایر اقدامات استروک فراهم می کند ، اما مهمتر از همه قدرت را افزایش می دهد. یک دلفین خوب پروانه را بسیار راحت تر و بسیار پایدارتر می کند. هدف از تمرینات ضربتی زیر برای پروانه ، ایجاد یک عمل دلفین موثر و موزون است که برای بقیه استروک مفید باشد. 
        </p>
        <h2>
            روبان نویسی
            <br> 
            Ribbon Writing</h2>
        <ul>
            اهداف این تمرین              
            <li>درک ماهیت سیال دلفین</li>
            <li>تولید قدرت بالا در بدن</li>
            <li>آموزش انتقال قدرت به پاها</li>
            <img class="picture" src="/vscode/website/assets/butterfly/image/kick-Ribbon Writing.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            
           چطور تمرین را انجام دهیم
        
            <li>یک قطعه روبان پهن به طول حدود سی سانتی متر ببرید. در آب تا قفسه سینه بایستید ، روبان را در یک دست نگه دارید در حالی که بازو را در مقابل خود فرو می برید. بازوی خود را تا بیست و پنج، سی سانتی متر جارو کنید و عقب بروید ، دست خود را بگیرید تا سطح آب در بالاترین حد خود بشکنید. بازوی کشیده را به صورت ریتمیک به بالا و پایین بکشید ، سرعت میله شروع به دنبال حرکت بازوی شما می کند.
            </li>
            <li>توجه کنید که روبان هنگام عبور از داخل آب نوعی شکل S ایجاد می کند. همچنین توجه داشته باشید که اگرچه بازوی نگهدارنده روبان شروع به حرکت می کند ، اما انتهای آزاد روبان است که با سرعت بیشتری حرکت می کند. این اصل عمل دلفین است. در حالی که این عمل در بدن شروع می شود ، این پاها هستند که بیشترین حرکت را دارند.</li>
            <li>ساخت S یا موج با روبان را ادامه دهید ، بازوی کشیده را به پایین و بالا در آب جارو کنید. انتهای آزاد روبان را در واکنش به حرکت بازوی جارو کننده خود تماشا کنید. اکنون ، بدون اینکه سرعت حرکت بازوی خود را کاهش دهید ، از آرنج خم شوید و سعی کنید حرکت روبان را فقط با استفاده از قسمت پایین بازو ، از آرنج تا دست ادامه دهید. توجه کنید که عملکرد موج روبان به طور قابل توجهی کاهش می یابد. این همان اتفاقی است که می افتد وقتی یک شناگر بیش از حد از زانو خم می شود و مشغول انجام کار دلفین است.
            </li>
            <li>حرکت کامل بازوی خود را دوباره برقرار کرده و دوباره جریان روبان را از طریق شکل S مداوم مشاهده کنید. بدون اینکه به آرنج یا مچ دست خم شوید ، سعی کنید بازوی خود را به صورت روان از طریق آب حرکت دهید ، انگار که بازوی شما بخشی از روبان است. به این ترتیب که یک دلفین خوب کار می کند ، به صورت روان ، نیروی حرکتی را که از بدن شروع می شود جمع کرده و به سمت پایین به پاها منتقل می کند.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            دلفین از عمیق تا کم عمق
            <br> 
            Deep to Shallow Dolphin</h2>
        <ul>
            اهداف این تمرین
            
            <li>تمرین دلفین تمام بدن</li>
            <li>خط دلفین رو به جلو را تجربه می کنید</li>
            <li>دستیابی به موج دلفین جمع و جور</li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/kick-Deep to Shallow Dolphin.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li> در عمق حدود دو متری ، در حالی که دست ها را در کنار خود دارید ، در آب دراز بکشید. با یک عضلات مرکزی محکم و ستون فقرات مستقیم ، به سمت جلو خم شوید و موقعیت پایداری ران را حفظ کنید. احساس کنید سر بدن شما را به سمت پایین استخر به سمت پایین هدایت می کند. به پاهای خود اجازه دهید تا دنبال شود. فرود خود را با دقت تماشا کنید و قبل از رسیدن به پایین استخر ، با بالا آوردن بالاتنه از کمان بیرون آمده و به پاهای خود اجازه دهید همان مسیر را طی کنند. با بالا آمدن سر ، پاها باید به سمت پایین ضربه بزنند. در بالای صعود ، صورت شما آب را پاک می کند و می توانید نفس تازه بکشید. سپس دوباره به جلو خم شوید. این عمل دلفین شدید را چندین بار تکرار کنید ، دنبال یک مسیر رو به جلو باشید که حداقل یک و نیم متر عمق داشته باشد.
            </li>
            <li>اکنون به سمت آب کم عمق تر ، شاید یک متر عمق بروید. صورت را در آب قرار داده و بازوها را در کنار خود قرار دهید. در حالی که ستون فقرات صاف و عضلات مرکزی شما محکم است ، خم شوید و وضعیت مفصل ران را بالا نگه دارید. بدن خود را به سمت پایین احساس کنید. احساس کنید پاهای شما همان خط نزولی را دنبال می کنند. قبل از رسیدن به ته استخر ، بالاتنه را به صورت قوس بالا بیاورید.پاهای شما باید همان مسیر را طی کنند. با بالا آمدن سر ، احساس کنید پاهایتان به سمت پایین ضربه محکم و ناگهانی می خورند. نفس بکشید ، سپس دوباره به جلو خم شوید ، و عمل دلفین موجی مانند را که از عمق فقط نیم متر عبور می کند تکرار کنید.
            </li>
            <li>حالا شما باید وانمود کنید که در آبی هستید که فقط سی سانت عمق دارد. در آب دراز بکشید ، بازوها را در کنار خود با یک ستون فقرات مستقیم و هسته سفت قرار دهید. به سمت جلو خم شوید و وضعیت بالای ران خود را حفظ کنید. به قسمت بالاتنه خود اجازه دهید پایین بیاید. احساس کنید لگن ، پاها و مچ پاهای شما واکنش نشان می دهند. به سرعت ، قبل از رسیدن به کف آب (یعنی همون سی سانت که فرض کردیم) ، بدن را با قوس بالا بیاورید. احساس کنید پاها و مچ پاها به سرعت دنبال می شوند. هنگامی که سرتان بالا می رود ، احساس کنید پاهایتان به سرعت به سمت پایین ضربه محکم و ناگهانی می خورند. نفس بکشید و دوباره به جلو خم شوید ، و یک عمل دلفین بسیار فشرده و در عین حال موثر مانند موج جلو را تکرار کنید که فقط چند سانت عمق دارد.
            </li>
        </ul>
        <h2>
            شیرجه دلفین
            <br> 
            Dolphin Dive</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                درک عملکرد تمام بدن دلفین
            </li>
            <li>
                تجربه خط دلفین
            </li>
            <li>
                احساس انتقال قدرت به پاها
            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/kick-Dolphin Dive.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            <br>
            چطور تمرین را انجام دهیم
        
            <li>
                در آب تا عمق لگن بایستید و بازوها را محکم در کنار خود قرار دهید. با استفاده از عضلات هسته خود ، از طریق گردن به یک ستون فقرات مستقیم از باسن خود برسید. باسن خود را ثابت نگه دارید ، حدود سی سانت به جلو خم شوید. در همان زمان ، زانوهای خود را کمی خم کنید ، و آماده شوید تا از پایین استخر بپرید.

            </li>
            <li>
            با حفظ حالت خم شده ، با قدرت از پایین بپرید. همانطور که بدن شما در هوا بالا می رود ، بیشتر به جلو خم شوید. توجه داشته باشید که با این کار ، نیروی رو به بالا پرش شما تغییر می کند تا سر شما را به جلو دنبال کند.
            </li>
            <li>
                در بالاترین نقطه پرش خود ، حتی بیشتر به جلو خم شوید. هنگامی که شروع به پایین آمدن می کنید ، توجه کنید که به جای اینکه دوباره روی پاهای خود بنشینید ، ابتدا می خواهید دوباره با سر وارد آب شوید. با تغییر وضعیت قسمت بالاتنه ، خط پرش خود را از یک مسیر ساده بالا و پایین ، که در همان مکان شروع شده بود ، به خطی تغییر دهید که به جلو حرکت کند. با خم شدن به جلو ، از آب بالا می روید ، روی آب به جلو می روید و سپس در آب پایین می روید. در نقطه ای که سر شما وارد آب می شود ، باسن شما باید در واقع بالاتر از سر شما باشد.

            </li>
            <li>
                ابتدا باید با کمی سرعت به سمت پایین استخر بروید. بالاتنه ، باسن ، پاها و مچ پاها باید از همان خط پیروی کنند. چشم های خود را باز نگه دارید و قبل از رسیدن به پایین استخر ، بالاتنه را از کمان بالا آورده و دوباره خط پرش خود را تغییر دهید.

            </li>
            <li>
                همانطور که بالاتنه به سمت سطح بالا می رود ، لگن ، پاها و مچ پاهای خود را نسبت به تغییر افتادگی واکنش نشان دهید. با نزدیک شدن صورت به سطح آب ، احساس کنید پاهایتان به درون آب فرو می روند. تمام بدن شما به تازگی از طریق یک حرکت اغراق آمیز دلفین سفر کرده است. با از دست دادن حالت ایستاده ، پاهای خود را به سمت بالا بکشید.
            </li>
            <li>
                چندین بار امتحان کنید. با حفظ ستون فقرات مستقیم ، به طور فعال به جلو خم شوید و با قدرت به سمت بالا بپرید. هنگامی که بیشتر به جلو خم می شوید ، احساس کنید سر و بالاتنه شما را از طریق موج دلفین هدایت می کند. احساس کنید بدن شما به سمت بالا ، بالا ، سپس به داخل آب فرو رفته و ابتدا به سمت پایین حرکت کنید. سپس هنگامی که با قوس خود بیرون می آیید ، احساس کنید پاهایتان به پایین فرو می رود. بایستید. چندین بار تمرین کنید ، تا جایی که بتوانید چندین مکالمه دلفین را پشت سر هم و بدون مکث بین آنها انجام دهید.

            </li>
        </ul>
        <h2>
            دلفین عمودی
            <br> 
            Vertical Dolphin</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                توسعه دادن یک دلفین مولد
            </li>
            <li>
                تمرین یک ضربه مداوم
            </li>
            <li>
                استفاده از تمام بدن و یک دلفین روان   

            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/kick-Vertical Dolphin.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                در آب ، حداقل به اندازه قد خود ، در موقعیت عمودی قرار بگیرید. عضلات مرکزی خود را درگیر کنید. در حالی که دستان خود را از پهلو به بیرون دراز کرده اید ، یک عمل دلفین ملایم را شروع کنید، سر خود را بالاتر از آب قرار دهید.

            </li>
            <li>
                پاهای خود را به هم بچسبانید ، اما آرام باشید ، یک عمل ملایم دلفین را با خم شدن و بالا کشیدن شروع کنید ، و اجازه دهید پاها و پاها در واکنش به جلو و عقب جارو شوند. در حالی که مچ پا را شل کرده اید ، اجازه دهید هنگام بیرون آمدن از قوس پاهایتان به جلو محکم شوند. بلافاصله قوس دیگری را شروع کنید و این حرکت را چندین بار پشت سر هم تکرار کنید و موجی ریتمیک ایجاد کنید. پاهایتان باید سی سانت آب را جارو کنند.

            </li>
            <li>
                همانطور که پاهای کشیده شما همزمان با یک حرکت رفت و برگشت به جلو و عقب در آب حرکت می کنند ، به حرکت دم یک دلفین فکر کنید. از کجا شروع می شود؟ در حقیقت ، دلفین از کل طول بدن خود برای تولید حرکت استفاده می کند. وانمود کنید که دم یک دلفین دارید ، که تنه و پاهای شما بخشی از حرکت است. شما نه کمر و باسن دارید و نه زانو برای خم شدن دارید. حرکت شما سیال است و کل بدن شما برای جارو کشیدن آب در یک حرکت موج مانند کار می کند. دلفین خود را تا جایی ادامه دهید که به نظر برسد هیچ شروع و پایانی برای حرکت وجود ندارد.
            </li>
            <li>
                هنگامی که به یک عمل دلفین روان دست یافتید ، عمل پارو زدن را با دستان خود متوقف کنید. دست ها را قرار دهید: دست چپ را روی شانه راست و دست راست را روی شانه چپ قرار دهید. دلفین عمودی خود را ادامه دهید و سر خود را بالای آب نگه دارید. 30 ثانیه حفظ کنید. استراحت کنید ، و سپس دوباره تمرین کنید.

            </li>
        </ul>
        <h2>
            دلفین رو به پشت
            <br> 
            Back Dolphin</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                استفاده از عضلات شکم برای دلفین
            </li>
            <li>
                جمع آوری قدرت برای حرکت پایین بدن
            </li>
            <li>
                جلوگیری از خم شدن بیش از حد در زانوها
            </li>
  
            <img class="picture" src="/vscode/website/assets/butterfly/image/kick-Back Dolphin.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>
                دیوار را به پشت خود فشار دهید ، بازوها را در کنار خود قرار دهید. یک عمل دلفین آرام را در بدن خود شروع کنید و اجازه دهید تا هنگامی که به سمت پایین پاها می رود قدرت جمع شود.
            </li>
            <li>
                سعی کنید به اندازه کافی آب را به سمت بالا لگد بزنید تا اثر جوش کمی روی پاهای شما ایجاد شود. پاهای خود را به پایین بیاندازید ، سپس دوباره به بالا پا بزنید. با پاها حرکتی موزون به سمت بالا و پایین ایجاد کنید که عمق آن تقریباً  سی سانت باشد. از کل طول پاها و تنه خود برای تهیه دلفین در پشت استفاده کنید

            </li>
            <li>
                هنگام حرکت هسته و پاها ، سر شما باید تقریباً ساکن باشد. سعی کنید سرتان را از بالا هم مرز آب نگه دارید تا صورتتان غوطه ور شود. همچنین ، مراقب باشید که زانوهایتان زیاد از آب خارج نمی شوند ، در غیر این صورت موجی از آب را روی صورت شما تولید می کنند. آب را به سمت بالا و پایین جارو کنید ، نه اینکه پاها را به خود نزدیک و سپس  از خود دور کنید. چندین بار تمرین کنید.

            </li>
            <li>
                هنگامی که به یک عمل دلفین روان در پشت خود ، و حرکت به جلو دست یافتید ، آن را با بازوهای باز شده روی سر خود امتحان کنید. یک عمل دلفین ریتمیک روان تولید کنید که از بدن شروع می شود و نیروی شما را به سمت پایین جمع می کند. احساس کنید که عضلات شکم شما چگونه درگیر شده اند. آب را بالا و پایین ببرید و حرکت رو به جلو ایجاد کنید ، در حالی که صورت شما بالای آب می ماند. چندین بار تمرین کنید.

            </li>
        </ul>
    </article>
</main>
{% endblock %}