{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="../../../static/articles.css">
<title>Butterfly Leverage Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/butterfly-image/butterfly-leverage.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های نفوذ پذیری (وسیله نفوذ یا اهرم)
              
            <br>
            Butterfly Leverage Drills</h1>
        <p>
            اهرم باعث می شود پروانه کار کند. استفاده از آن برای تداوم حرکت رو به جلو استروک در هر مدت زمان ضروری است. در حالی که کل بدن ، از دست به پاها به عنوان یک اهرم عمل می کند ، لگن های بلند برای بهره مندی از اثرات آن بسیار مهم است. اهرم در پروانه بین بالاتنه و باسن و بین لگن و پا کار می کند. هدف از تمرینات اهرمی زیر برای پروانه ، یادگیری موقعیت بدن برای استفاده حداکثر از اهرم فشار در هر مرحله از استروک است.

        </p>
        <h2>
            پروانه تک بازوی پیشرفته
            <br>
            Advanced One-arm Butterfly</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                حفظ وضعیت باسن بالا

            </li>
            <li>
                احساس لگن به عنوان مرکز پروانه
            </li>
            <li>
                استفاده از اهرم در پروانه
            </li>
  
            <img class="picture" src="../../../static/butterfly-image/leverage-Advanced One-arm Butterfly.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>دیوار را فشار و پروانه را انجام دهید. شناور سراشیبی را بدست آورید. بازوی چپ خود را در کنار خود قرار دهید ، در حالی که دست راست شما در مقابل شما قرار دارد. یک ضربه پروانه را با بازوی راست خود انجام دهید ، به سرعت در حالی که پاهای شما به سمت پایین متوقف می شود ، کار را تمام کنید و هنگام استنشاق ، به آب مقابل نگاه کنید. از عضلات مرکزی بازیابی کنید ، صورت خود را به سمت آب برگردانید و موقعیت سرازیری خود را بازیابید.


            </li>
            <li>با تمرکز روی باسن ، یک ضربه دیگر را با همان بازو انجام دهید. هنگامی که در ابتدای استروک در وضعیت سرازیری قرار دارید ، لگن شما باید بالا باشد. هنگامی که در وضعیت استنشاق قرار دارید ، باسن شما باید بالاتر از پاها باشد ، هر چند از سر پایین تر باشد. در هنگام بهبودی ، هنگامی که در حال بازگشت به وضعیت سرازیری هستید ، و هنگامی که قسمت بالای بدن شما به سمت پایین و جلو به داخل آب حرکت می کند ، باسن شما بالا می ماند.


            </li>
            <li> پروانه ی یک بازوی خود را ادامه دهید ، باسن های خود را بالا نگه دارید. احساس کنید قسمت بالاتنه شما تا انتهای استروک بلند می شود. در پایان بهبودی احساس کنید که به وضعیت سرازیری بازگشت. تمام وقت باسن شما بالا است. احساس کنید پاهایتان به پایین فرو می رود. احساس کنید که بلند می شوند. تمام وقت باسن شما بالا است. توجه داشته باشید که باسن شما مرکز تمام اهرم های حرکت است


            </li>
            <li>
            به تمرین پروانه یک بازو با بازوی چپ در کنار خود ادامه دهید. باسن های بالا را حفظ کنید و عملکرد اهرم را در ضربه احساس کنید. برای رسیدن به شناور سرازیری از آن استفاده کنید. از آن برای تسریع استروک خود استفاده کنید. از آن برای استنشاق استفاده کنید. برای بهبودی از آن استفاده کنید. از آن برای انتقال حرکت به ضربه بعدی استفاده کنید.
            </li>
            <li>
                تا انتهای استخر ادامه دهید. بازوها را عوض کنید و بیشتر تمرین کنید.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            پروانه بدون ضرب پا
            <br>
            No Kick Butterfly 96</h2>
        <ul>
            اهداف این تمرین
            
            <li>دستیابی به یک دلفین بدون عمل مستقل پا

            </li>
            <li>استفاده از اهرم در پروانه
            </li>
            <li>تأمین انرژی استروک از عضلات مرکزی


            </li>
  
            <img class="picture" src="../../../static/butterfly-image/leverage-No Kick Butterfly 96.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>از دیوار برای شروع پروانه فشار دهید. به یک ستون فقرات مستقیم ، هسته محکم و باسن بالا برسید. به یک شناور سرازیری خم شوید و بازوهای خود را به سمت جلو دراز کنید. استروک کرده و هنگامی که بالاتنه به بالاترین نقطه خود می رسد نفس بکشید. با استفاده از هسته خود بازیابی کنید تا بازوهای خود را به جلو بکشید. شانه ها را به جلو بچرخانید و سینه خود را به سمت پایین بیاورید تا صورت خود را به آب برگردانید.

            </li>
            <li>با حفظ وضعیت بالا در ران ، یک حرکت دیگر را انجام دهید ، اما هدف لگد زدن نیست. از وضعیت سرازیری ، با بالا آمدن بالاتنه ، از طریق جاروب ضربه بازو تسریع کنید. در نقطه بالای استروک نفس بکشید. توجه داشته باشید که با پایان دادن به استروک بازو و نفس کشیدن ، پاهای شما به پایین خاموش می شوند.

            </li>
            <li>بهبود یابید ، با استفاده از هسته خود دستان خود را در یک قوس گسترده روی آب جارو کنید. با پایین آمدن قفسه سینه ، صورت خود را به سمت آب برگردانید و دستان خود را به جلو برسانید. توجه داشته باشید که پس از افتادن قفسه سینه در آب در پایان بهبودی ، دشوار است که پاهای خود را دوباره پایین نکشید.

            </li>
            <li>
                در واقع ، ضربه ، یا حرکت پا در پروانه نتیجه سایر اقدامات استروک است. دوباره امتحان کن. با داشتن وضعیت ران بالا ، اما بدون لگد زدن فعال ، به پشت استروک بروید. با بالا آمدن بالاتنه و سر خود احساس کنید پاهایتان به پایین چسبیده است. با استفاده از هسته ، سینه و شانه ها ، هنگام بازگشت صورت به آب ، بهبود یابید. با رسیدن به جلو دوباره احساس کنید پاهایتان به پایین فرو می روند.

            </li>
            <li>
                ادامه پروانه ، تولید یک ضربه در نتیجه اقدامات بقیه استروک. هسته خود را محکم نگه دارید و سعی کنید پاهایتان را با فشار به پایین فشار دهید ، فقط از طریق سایر حرکات استروک. تا انتهای استخر تمرین کنید. استراحت کنید ، سپس دوباره تمرین کنید.

            </li>
        </ul>
        <h2>
            پروانه بدون مکث
            <br>
            No Pause Fly</h2>
        <ul>
            اهداف این تمرین
            
            <li>
                ایجاد ریتم از هسته
            </li>
            <li>
                حفظ حرکت و اهرم نیرو
            </li>
            <li>
                جلوگیری از مکث های آسیب رسان در استروک

            </li>
  
            <img class="picture" src="../../../static/butterfly-image/leverage-No Pause Fly.jpg" alt="picture">
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>از دیوار برای شروع پروانه فشار دهید. تا انتهای استخر شنا کنید. یک ضربه ریتمیک ایجاد کنید ، با ضربات یکسان. اگر هنگام رسیدن به دیوار خسته نیستید ، طول دیگری را شنا کنید. همانطور که به نقطه ای می رسید که حفظ استروک ریتمیک سخت است ، چند حرکت دیگر انجام دهید و با تمرکز بر اینکه در کجا ریتم خود را از دست می دهید ، تمرکز کنید. زمانی که ریتم شما خراب می شود ، محلی را که بازوها قرار دارد شناسایی کنید.

            </li>
            <li>توجه داشته باشید که این اتفاق پس از ورود بازو ، هنگامی که بازوها کشیده می شوند ، اتفاق می افتد. با خستگی ، پسوند در موقعیت Y به یک سرگرمی تبدیل می شود. وقتی بازوها در جلو متوقف می شوند ، ریتم از دست می رود. وقتی ریتم از دست می رود ، حرکت و اهرم نیز از دست می رود.
            </li>
            <li>دوباره استراحت کن حالا ، دیوار را برای پروانه فشار دهید. فقط چهار ضربه بزنید. هرکدام را سریع استروک کنید. تمرکز خود را بر این بگذارید که پس از ورود بازوها به داخل آب ، هیچ توقفی در جلوی استروک نداشته باشید. یک انتقال یکپارچه از بهبود به استروک بعدی انجام دهید. دستان خود را بر روی سطح آب قرار دهید و آن را بگیرید. در این مرحله با سینه کم آب ، تقریباً باید احساس کنید که با دستان خود را بالا می برید.

            </li>
            <li>
                استراحت کنید و دوباره امتحان کنید. چهار حرکت سریع انجام دهید ، بلافاصله آب را بگیرید و به Y برسید. در حالی که قفسه سینه پایین است ، دستان خود را در آب لنگر بیاندازید و بدن را روی دستان خود قرار دهید. هسته خود را به طور فعال در انتقال به استروک بعدی درگیر کنید.

            </li>
            <li>
                استراحت کنید و سپس دوباره تمرین کنید. به موقعیت پایین قفسه سینه دست پیدا کنید و به Y. Kick برسید و احساس کنید که این ضربه از طریق بدن شما حرکت می کند. بدون هیچ مکثی از آن برای پیش رفتن در استروک بعدی استفاده کنید. بدون مکث در جلوی ضربه ، شما حرکت ارزشمندی را به ضربه بعدی منتقل می کنید. تمرین پروانه بدون مکث را ادامه دهید ، به تدریج تعداد استروک های متوالی خود را افزایش دهید.

            </li>
        </ul>
    
    </article>
</main>
{% endblock %}

