{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Backstroke Kick Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="{{ url_for('static', filename='backstroke-image/backstroke-kick.jpg')}}" alt="picture">
        
    </div>
    <article>
        <h1>تمرین های ضرب پا کرال پشت 
            <br>
            Backstroke Kick Drills</h1>
        <p>
            ضربه روان موثر، قسمت قابل توجهی در کرال پشت است. اگرچه از نظر حرکت متناوب شبیه به ضربه بال زدن سبک آزاد است ، اما تمایزهای خاصی وجود دارد. لگد زدن به پشت نیاز به استفاده از عضلات پا متفاوت از انسان دارد که معمولاً در بیشتر فعالیت های زمینی انجام می شود. نیروی اصلی ضربه پشتی به سمت بالا است ، در برابر نیروی جاذبه ، لگد زدن سریع ، جمع و جور و وضعیت خوب پا را بسیار مهم می کند. هدف از تمرینات ضربه عقب زیر ، پرداختن به موضوعات منحصر به فرد ضربه پشتی است که به یک تکنیک ضربه موثر و پایدار کمک می کند.

        </p>
        <h2>
            
            تمرین آب جوش
            <br>
            Boiling Water Drill</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری ضربه زدن به سمت بالا با فشار
            </li>
            <li>احساس آب با پاها</li>
            <li> توسعه یک ضربه متمرکز
            </li>
            <img class="picture" src="{{ url_for('static', filename='backstroke-image/kick-BoilingWaterDrill.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>کمی بیشتر از عمق کمر در آب بایستید. یک بازوی کشیده در مقابل خود را حدود سی سانت از سطح آب بگیرید. اکنون ، دست خود را با فشار به آب بیاندازید. توجه داشته باشید که پاششی که رخ می دهد به همه جهات می رود. به صوتی که دست شما هنگام ایجاد سوراخ در آب ایجاد می کند نیز توجه کنید.
            </li>
            <li>اکنون ، بازوی خود را درازای سی سانت زیر سطح آب بگیرید. دست خود را با قدرت بالا ببرید تا حدود ده سانت زیر سطح آب قرار بگیرید. تقریباً مانند جوش آمدن آب توجه کنید که آب در حال جمع شدن است. این عمل را با فشار بیشتر تکرار کنید ، گویی که آب را کاملاً جوشانده است ، بدون اینکه دست شما هرگز به سطح آب برسد. این همان کاری است که پاهای شما در یک ضربه عقب خوب انجام می دهند.
            </li>
            <li>همین کار را با پاهایتان امتحان کنید. ایستاده در حالی که پشت خود را در کنار استخر نگه داشته اید ، پای خود را حدود سی سانت از سطح آب بیاورید و آن را به داخل آب بیندازید. به چلپ چلوپ بزرگ توجه کنید. به صدای مشخص پای خود که در آب سوراخ می کند گوش دهید. اکنون پای خود را سی سانت زیر آب ، انگشتان پا را بگیرید و پایتان را به سمت بالا به سطح بالا منتقل کنید ، اما اجازه ندهید که هیچ قسمت از پای شما سطح آب را بشکند. آب را بجوشانید. به احساس آب در بالای قسمت پای خود توجه کنید.
            </li>
            <li>اکنون به صورت افقی در آب دراز بکشید ، رو به بالا ، ستون فقرات مستقیم و خط آب خوب ، بازوها در کنار ، انگشتان پا کشیده. پاشنه پای راست خود را تقریباً دوازده اینچ درون آب بیندازید. آن را به سرعت مجبور کنید و یک جوش قابل مشاهده ایجاد کنید. آن را با پای چپ امتحان کنید. اکنون آن را به تناوب پا امتحان کنید. همانطور که یک پا آب را مجبور می کند ، پاشنه پای دیگر پایین می افتد.
            </li>
            <li>
                با سرعت یک ضربه بزنید که هیچ تمایزی بین سطح آب بین جوش از یک پا و پای دیگر وجود ندارد. با استفاده از یک حرکت رو به بالا به سمت بالا و یک حرکت ملایم تر به سمت پایین ، به انتهای دیگر استخر ادامه دهید. چندین بار تکرار کنید ، هنگامی که آن را به سمت بالا فشار می دهید و هنگامی که پاشنه خود را به سمت پایین می ریزید ، تفاوت بین آب موجود در پای خود را احساس کنید.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            بدون ضربه زانو
            <br>
            No Knees Streamline Kick</h2>
        <ul>
            اهداف این تمرین
            
            <li>آموزش نگه داشتن زانوها در زیر آب</li>
            <li>استفاده از عضلات صحیح برای ضربه زدن به پشت</li>
            <li> توسعه یک ضربه عقب و کارآمد
            </li>
            <img class="picture" src="{{ url_for('static', filename='backstroke-image/kick-NoKneesStreamlineKick.jpg')}}" alt="picture">
             
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>به صورت افقی در آب قرار بگیرید ، رو به بالا ، ستون فقرات مستقیم و خط آب خوب ، انگشتان پا کشیده. دستان خود را روی سر خود قرار دهید ، گوشهای خود را بین آرنج خود فشار دهید و دستان خود را یکی بر روی دیگر بگیرید. ضربه بال زدن را شروع کنید ، با نیروی بیشتری به سمت بالا لگد بزنید.
            </li>
            <li>با یک سرعت ضربه بزنید که هیچ تمایزی بین سطح آب بین جوش از یک پا و پای دیگر وجود ندارد. با حفظ وضعیت خنثی چانه ، از بینایی محیطی خود استفاده کنید تا ببینید آیا زانوها سطح آب را می شکند یا اینکه آب به سمت بالا در اطراف زانوها حرکت می کند. اگر چنین است ، این نشان می دهد که شما زانوهای خود را بلند می کنید یا در حین لگد زدن حرکت دوچرخه سواری دارید. این امر معمول است زیرا عضلات مورد استفاده برای بلند کردن زانوها ، آدم ربایان که پاها را به شکم متصل می کنند ، توسط انسانها در خشکی مورد استفاده زیادی قرار می گیرد مانند راه رفتن ، دویدن ، دوچرخه سواری و بالا رفتن از پله ها. با این حال ، در ضربه پشت ، بلند کردن زانو ضربات شما را ضعیف می کند.
            </li>
            <li>برای درگیر کردن لگد زدن به عضلات صحیح و پشت ، چهار گوش و همستر ، شناور پشت خود را از سر بگیرید ، دستان را به سمت راست ، ستون فقرات را صاف کنید ، خط آب خوبی داشته باشید ، گوش های خود را با آرنج فشار دهید و لگد زدن را بدون هیچ خم شدن در باسن شروع کنید. این بدان معناست که شما باید ضربات را کمتر از سطح آب شروع کنید و از پای خود استفاده کنید انگار که یک توپ را روی سطح آب شناور کنید. اگرچه زانوی شما خم خواهد شد ، اما این فقط در نتیجه افتادن پاشنه پا در آب است ، نه با بالا بردن زانو. تصور کنید با بالا بردن زانوی خود توپ را با پا لگد بزنید. این کار نمی کند با استفاده از بینایی محیطی ، زانوهای خود را بررسی کنید. نباید هیچ آبی در اطراف آنها حرکت کند. برای چندین طول استخر تمرین کنید.
            </li>
            <li>اکنون ، با نگه داشتن یک کیک بورد با یک دست ، زانوهای خود را بلند کرده و دوباره آن را در حالی که شناور هستید و لگد می زنید ، قرار دهید و بازوی دیگر را روی سر خود قرار دهید ، دوباره بررسی کنید. هنگام لگد زدن ، اگر زانوهایتان روی کیک بورد دست بزنید ، احساس خواهید کرد. برای چندین طول استخر تمرین کنید.
            </li>
        </ul>
        <h2>
            ضربه پا با پنجه برگشته
            <br>
            Pigeontoed Kicking</h2>
        <ul>
            اهداف این تمرین
            
            <li>احساس سودمندترین حالت پا</li>
            <li>استفاده از بیشترین سطح پا برای لگد زدن</li>
            <li> توسعه یک ضربه متمرکز
            </li>
            <img class="picture" src="{{ url_for('static', filename='backstroke-image/kick.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>به پشت در آب دراز بکشید. به یک ستون فقرات مستقیم ، خط آب خوب و انگشتان پا کشیده. دستان خود را روی سر خود قرار دهید ، گوشهای خود را بین آرنج خود فشار دهید و دستان خود را یکی بر روی دیگر بگیرید. لگد زدن را شروع کنید.
            </li>
            <li>انگشتان پا را بکشید و از یک ضربه سریع ضربه بزنید. با نیروی بیشتر به سمت بالا بزنید و باعث ایجاد جوش در سطح آب شوید. توجه داشته باشید که قسمتی از پای شما که به سطح نزدیک می شود انگشت شست پا است. تا انتهای استخر لگد بزنید.
            </li>
            <li>حالا برای ضربه عقب دوباره دیوار را فشار دهید. این بار پاها را به سمت داخل و به حالت پا کبوتر بچرخانید ، بنابراین انگشتان شست بزرگتر از بقیه پاها به هم نزدیکتر هستند. توجه داشته باشید که با چرخاندن پاها به سمت داخل ، زانوها و پهلوها نیز در داخل چرخانده می شوند. شروع به لگد زدن کنید.
            </li>
            <li>با یک سرعت سریع لگد زدن را ادامه دهید. احساس کنید که قسمت بالای پای شما به سمت بالا در برابر آب قرار گرفته است. توجه داشته باشید که با قرار دادن پاهای کبوتروار سطح بیشتری از سطح پای خود را درگیر می کنید. توجه داشته باشید که ضربه شما بازده بیشتری دارد. تا انتهای استخر لگد بزنید.
            </li>
            <li>برای ضربه عقب دوباره فشار دهید. موقعیت پا گرد شده به داخل را بدست آورید و با یک سرعت سریع لگد بزنید. آب را به سمت بالا لگد بزنید. به جوش متمرکز روی سطح آب توجه کنید. همچنین توجه داشته باشید که زانوهای شما بهتر در زیر سطح آب می مانند. لگد زدن را برای چندین طول استخر ادامه دهید.
            </li>
        </ul>
        <h2>
            یک چهارم چرخش با فنجان روی پیشانی
           <br>
            Quarter Roll with Cup on Forehead</h2>
        <ul>
            اهداف این تمرین
            
            <li>ایجاد یک ضربه متعادل و موثر</li>
            <li>درک تغییر جهت ضربه</li>
            <li>حفظ موقعیت سر ثابت هنگام لگد زدن</li>
            <img class="picture" src="{{ url_for('static', filename='backstroke-image/kick-QuarterRollwithCuponForehead.jpg')}}" alt="picture">
    
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>یک فنجان پلاستیکی متوسط را تا نیمه از آب پر کنید. در حالی که به پشت در آب خوابیده اید ، با یک ستون فقرات صاف و خط آب خوب ، فنجان را به آرامی بر روی پیشانی خود متعادل کنید. وقتی فنجان متعادل شد ، هر دو بازو را در کنار خود قرار دهید. شروع به لگد زدن ، انگشتان پا ، زانوها در زیر آب ، و جوشاندن آب کنید. با لگد زدن به انتهای دیگر استخر ، سعی کنید فنجان آب را روی پیشانی خود متعادل نگه دارید. اگر افتاد ، بایستید و دوباره شروع کنید. تمرین کنید تا زمانی که بتوانید به طور مولد لگد بزنید بدون اینکه فنجان برای تمام طول استخر بریزد.
            </li>
            <li>حالا آماده شوید تا با فنجان روی پیشانی خود ، طول دیگری را بزنید. این بار ، هر شش ضربه ، یک چهارم رول انجام دهید. سر خود را ثابت نگه دارید تا فنجان متعادل باقی بماند ، بدن را در جهت عقربه های ساعت بچرخانید ، به طوری که شانه ، بازو و ران چپ از آب خارج شود ، در حالی که شانه راست ، بازو و لگن در آب کم است. ضربه شما اکنون باید به سمت کنار باشد.
            </li>
            <li>پس از شش ضربه ، بدن خود را یک چهارم خلاف جهت عقربه های ساعت بچرخانید ، بنابراین دوباره به پشت صاف هستید ، و ضربه شما بالا و پایین می شود. شش ضربه بزنید. اکنون ، وضعیت سر خود را حفظ کنید تا فنجان بر روی پیشانی شما بماند ، بدن خود را یک چهارم در جهت عقربه های ساعت بچرخانید ، به طوری که شانه راست ، بازو و لگن از آب خارج شود ، در حالی که شانه ، بازو و لگن چپ پایین است اب. پس از شش ضربه ، دوباره به حالت شناور پشت صاف بپیچید ، با لگد زدن به بالا و پایین.</li>
            <li>لگد زدن را با یک چهارم حلقه تا انتهای استخر ادامه دهید ، در حالی که سر خود را ثابت نگه دارید تا فنجان روی پیشانی شما متعادل باقی بماند. اگر فنجان افتاد ، دوباره شروع کنید. این یک تمرین آسان نیست! تمرین کنید تا زمانی که بتوانید به طور مولد لگد بزنید ، با یک چهارم رول ، در حالی که فنجان برای چندین طول استخر روی پیشانی شما باقی بماند.</li>
        </ul>
        
    </article>
</main>
{% endblock %}
