{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>The Body Part Split workout</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>تمرین تفکیکی 
        </h1>
        <div class="text">
            <p>رویکرد تمرین تقسیم بخشی از بدن شامل ساختن تمرینات بر اساس گروه عضلانی مورد نظر است که می خواهید تمرین کنید. به عنوان مثال ، در روزی که می خواهید قفسه سینه را آموزش دهید ، بالابرهای ترکیبی و جدا شده را که عضلات قفسه سینه را درگیر می کند ، به عنوان حرکت دهنده اصلی انتخاب می کنید.</p>
            <p>تقسیم اعضای بدن به روش های مختلفی انجام می شود و به شما امکان می دهد هر روز تمرین کنید. روزهای استراحت را می توان بین هر دو تمرین قرار داد و "/" یک روز تمرین متفاوت را نشان می دهد.</p>
            <ul>
                در زیر چند نمونه از رایج ترین طرح های تقسیم قسمت بدن آورده شده است:
                <li>پاها / سینه / پشت / شانه ها / بازوها / شکم و پشت بازو و بازوها</li>
                <li>قفسه سینه و سه سر بازو / پشت و دو سر بازو / پاها و شانه ها</li>
                <li>قفسه سینه و دو سر بازو / پشت و سه سر بازوها / پاها و شانه ها</li>
                <li>قفسه سینه و پشت / شانه ها و دو سر بازو و سه سر بازوها/ پاها
                </li>
            </ul>
            <h3>جوانب مثبت تقسیم بدن</h3>
            <p>تقسیم قسمت بدن ، که به آن "Bro Split" نیز گفته می شود ،فردی  را که به دنبال بلند کردن هرچه بیشتر روز است ، جذب می کند. اگر می خواهید هفته ای یک گروه عضلانی را با حجم زیاد لگدمال کنید ، پس این تقسیم تمرین برای شما مناسب است.
            </p>
            <p>با این حال ، تقسیم قسمت بدن همچنین به شما امکان می دهد تا در طی یک تمرین چندین گروه عضلانی را تمرین دهید. من شما را تشویق می کنم هنگام طراحی تقسیم قسمت بدن خارج از چارچوب فکر کنید. ذهنیت یک بار در هفته تنها راهی نیست که باید دنبال کنید. علاوه بر حجم زیاد در هر تمرین برای یک گروه عضلانی مشخص ، تقسیمات بدن نیز به شما امکان می دهد تا تعداد بالابرهای ترکیبی و جدا کننده ای را که می توانید برای تحریک یک گروه عضلانی مشخص انجام دهید ، به حداکثر برسانید. این امر به ویژه هنگامی که بدنبال ترمیم تعادل اندازه ، قدرت و تقارن عضلات هستید می تواند مفید واقع شود.</p>
            <p>علاوه بر این ، تقسیمات بدن می توانند از نظر زمانی کارآمد باشند. اگرچه ممکن است حداکثر 7 روز در هفته در سالن بدنسازی باشید ، اما بسیاری از پیروان تقسیم اعضای بدن خود را قادر به تحریک موفقیت آمیز یک عضله در 30 دقیقه یا کمتر می دانند. این کاملاً متضاد با مدت زمان تمرین احتمالی بیش از 90 دقیقه است که برخی از بالابرها در حالی که بدنبال آن روال کامل بدن را تحمل می کنند ، تحمل می کنند.
            </p>
            <h3>معایب تقسیم بدن
            </h3>
            <p>اگر تقسیم بندی بدن در یک گروه عضلانی سنتی در هر روز انجام شود ، فشارهایی را برای هر گروه عضلانی با کمترین فرکانس ایجاد می کند. این ممکن است برای کسانی که بدنبال تقویت الگوی حرکتی و بالابرهای مبتدی هستند که می توانند با انجام تمرین بیش از یک بار در هفته به سرعت وزن و تکرار کنند ، ایده آل نباشد. ضربه زدن به یک گروه عضلانی با چنین فرکانس پایین می تواند باعث افزایش اندازه و قدرت عضله شود.</p>
            <p>شکایت قسمت بدن بیشتر تحت تأثیر یک تمرین از دست رفته یا به تعویق افتاده قرار می گیرد. از دست دادن فقط یک روز باعث می شود که طرح تمرین نه تنها هفته تمرین فعلی بلکه هر هفته بعد تغییر کند. با این حال ، اگر چندین قسمت بدن را در یک تمرین ترکیب کنید ، به راحتی می توانید از این نقص عبور کنید.</p>
            <p>مشابه شکاف Push / Pull / Legs ، تمرینات فوق العاده در حالی که بدنبال تقسیم قسمت بدن می تواند به سرعت منجر به خستگی عضلانی شود که بر عملکرد تمرین تأثیر منفی می گذارد. به عنوان مثال ، اگر شانه های خود را بلند می کنید و تصمیم می گیرید که در پشت پرس گردن و فشار آرنولد قرار دهید ، وزن استفاده شده و یا تکرارهایی که در تمرین دوم انجام می شود متحمل رنج خواهد شد. این به این دلیل است که حرکت دهنده اصلی هر دو تمرین شانه ، دام و سه سر است.</p>
            <p>اگر هدف شما به حداکثر رساندن وزنه بلند شده برای یک تمرین معین است ، استفاده از تقسیم عضو بدن جایگزینی فوق العاده ای نیست. با این حال ، می توانید با بالا بردن چندین قسمت از بدن در یک روز و از بین بردن گروه های عضلانی آنتاگونیست (به عنوان مثال قفسه سینه و پشت) یا غیر رقابت (به عنوان مثال پاها و شانه ها) بر این مسئله غلبه کنید.</p>
            <h3> نمونه روال تقسیم  بدن 
            </h3>
          
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین تفکیکی
                    </th>
                </tr>
                <tr>
                    <th colspan="3">پشت</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">ددایفت</td>
                    <td width="20%">۴</td>
                    <td width="20%">۶</td>
                </tr>
                <tr>
                    <td width="60%">زیربغل سیم کش</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">زیر بغل دمبل جفت</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> زیربغل دستگاه</td>
                    <td width="20%">۴</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">سیم کش تک دست</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲</td>
                </tr>
                <tr>
                    <td width="60%">زیربغل سیک کش جفت</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۵</td>
                </tr>

            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین تفکیکی
                    </th>
                </tr>
                <tr>
                    <th colspan="3">سینه و شکم</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">بالاسینه هالتر</td>
                    <td width="20%">۴</td>
                    <td width="20%">۶</td>
                </tr>
                <tr>
                    <td width="60%">زیرسینه هالتر</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> پرس سینه دستگاه</td>
                    <td width="20%">۳</td>
                    <td width="20%">۶-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> فلای دستگاه</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">شنا </td>
                    <td width="20%">۳</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%"> کرانچ با ماشین</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%"> شکم خلبانی</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>

            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین تفکیکی
                    </th>
                </tr>
                <tr>
                    <th colspan="3">پاها</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">اسکات</td>
                    <td width="20%">۵</td>
                    <td width="20%">۶</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت رومانیایی</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پرس پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%"> پشت پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">لانژ راه رفتنی</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا اسمیت </td>
                    <td width="20%">۴</td>
                    <td width="20%">۲۰</td>
                </tr>

            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین تفکیکی
                    </th>
                </tr>
                <tr>
                    <th colspan="3">سرشانه و شکم</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه ارتشی</td>
                    <td width="20%">۴</td>
                    <td width="20%">۶</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه از بغل</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">فلای ماشین برعکس</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> سرشانه دستگاه </td>
                    <td width="20%">۳</td>
                    <td width="20%">۶-۱۰</td>
                </tr>
                <tr>
                    <td width="60%">شراگ هالتر</td>
                    <td width="20%">۴</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">زیر شکم</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">شکم </td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲</td>
                </tr>

            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین تفکیکی
                    </th>
                </tr>
                <tr>
                    <th colspan="3">دست</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">هالتر خم جلو بازو</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> هالتر خم پشت بازو</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">جلو بازو میز شیب دار</td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> دیپ </td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> جلو بازو چکشی کابل  </td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> پشت بازو کابل بسکتبالی </td>
                    <td width="20%">۴</td>
                    <td width="20%">۸-۱۲</td>
                </tr>

            </table>

           
        </div>      
    </article>
</main>
{% endblock %}
