{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Full body workout</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>تمرین تمام بدن 
        </h1>
        <div class="text">
            <p>روش آموزش تقسیم بدن کامل کاملاً ساده است. هر بار که یک تمرین با وزنه را انجام می دهید ، تمریناتی را انجام می دهید که به همه گروه های عضلانی بزرگ و کوچک ضربه وارد می کند. شما با انجام تمرینات ترکیبی و انزوا این هدف را به دست خواهید آورد.</p>    
            <p>هنگام تمرین بدن کامل ، باید حداقل 3 حرکت ترکیبی انجام دهید - یک فشار ، یک کشش و یک ورزش پا. بعد از این حرکات مرکب می توانید حرکات اضافی ترکیبی و انزوا را برای افزایش اندازه و قدرت عقب افتادن اعضای بدن انجام دهید.</p>
            <p>روال کامل بدن معمولاً یک روز در میان انجام می شود ، به این معنی که هفته ای 3 تا 4 بار در باشگاه خواهید بود. به طور معمول روزهای تمرین به یکی از دو روش زیر تعیین می شود:</p>
            <ul>
                <li>A / استراحت / B / استراحت / A / استراحت / B / استراحت</li>
                <li>A / استراحت / B / استراحت / C / استراحت / A</li>
            </ul>
            <p>روتین های کامل بدن نیز معمولاً از یک روش موج سنگین / سبک / موج متوسط استفاده می کنند که می توانید با تنظیم انتخاب تمرین ، حجم و شدت تمرین (٪ 1RM) به نتیجه برسانید.</p>
            <h3>جوانب مثبت تقسیم تمام بدن</h3>
            <p>انشعابات کامل بدن به شما امکان می دهد تا یک عضله را تمرین داده و الگوی حرکتی را تا حد ممکن مکرر تمرین کنید. از آنجا که ممکن است در یک تقسیم قسمت بدن فقط یک بار در هفته به سینه یا پا را تمرین کنید ، شکاف کامل بدن به شما امکان می دهد هفته ای 3 تا 4 بار به سینه ضربه بزنید و پا ها را تمرین دهید.
            </p>
            <p>انشعابات کامل بدن شامل حرکات غالباً مرکب است که کالری بیشتری را نسبت به حرکات انزوا می سوزاند. اگرچه این ممکن است در طی یک مرحله افزایش توده نگران کننده نباشد ، کسانی که بدنبال کاهش چربی و حفظ توده عضلانی هستند ممکن است تمرین کامل بدن را ایده آل بدانند زیرا باعث تحریک کافی بدون منجر به فرسودگی و خستگی قابل توجه می شود. انشعابات کامل بدن از نظر زمانی کارآمد هستند زیرا به شما اجازه می دهند در یک تمرین به هر گروه عضلانی ضربه بزنید. اگر اتفاقاً یک یا دو تمرین برنامه ریزی شده را از دست ندهید ، این عالی است. بدون اینکه کل هفته تمرین خود را تغییر دهید می توانید از همان جایی که متوقف شده اید شروع کنید.
            </p>
            <p>انشعابات کامل بدن به شما امکان می دهد سه تمرین را با حداکثر شدت انجام دهید. از آنجا که فشار ، کشش و پاها تمام گروههای عضلانی مختلف را تحت فشار قرار می دهد ، از نظر تئوری می توانید حداکثر وزن را با هر یک از آنها حرکت دهید بدون اینکه بر سایر بالابرها تأثیر بگذارد. با سایر انشعابات فقط ممکن است یک یا دو تمرین را با حداکثر شدت قبل از شروع خستگی عضلانی انجام دهید.</p>
            <p>انشعابات کامل بدن برای وزنه برداران مبتدی که به دنبال تقویت الگوهای حرکتی هستند ، ورزشکارانی که می خواهند در زمین و اتاق وزنه تعادل خود را حفظ کنند ، کسانی که می خواهند میزان کالری سوزی را به حداکثر برسانند و بدون سوزاندن توده لاغر را حفظ می کنند ، و کسانی که توانایی ضعف در بهبود ندارند بسیار مناسب هستند.</p>
            <h3>جوانب منفی تقسیم کامل بدن</h3>
            <p>هیچ تقسیم آموزشی بدون اشکال بالقوه وجود ندارد. اگر شما یک موش اختصاصی در سالن بدن سازی هستید و یا یک ورزشکار هستید که به خوبی بهبود می یابد ، ممکن است شکاف کامل بدن باعث نارضایتی شما هنگام تمرین یک گروه عضلانی شود. حجم نسبتاً کم روزانه یک ورزش ممکن است شما را بدون پمپ یا محرک عضلانی مورد نظر شما ترک کند.</p>
            <p>اگر تصمیم دارید حجم روزانه همه تمرینات را افزایش دهید ، تمرین می تواند به طور منفی طولانی شود (بیش از 90 دقیقه) که می تواند بر بهبودی و کارآیی شما تأثیر بگذارد. دو دلیل اصلی که افراد روتین های بدن کامل را انتخاب می کنند. از آنجا که برنامه های بدنی کامل به کمترین روز در هفته در سالن بدنسازی احتیاج دارند ، شما تمایل دارید تمرینات ترکیبی را که قدرت و جرم سازان قدرتمندی هستند انتخاب کنید ، اما ممکن است به اندازه عضله ، قدرت و عدم تعادل تقارن منجر شود.</p>
            <p>یکی از سریع ترین راه ها برای رفع عدم تعادل استفاده از تمرینات انزوا است که به شدت مورد تأکید نیستند و گاهی اوقات در تقسیم بدن کامل استفاده نمی شوند.</p>
            <h3>نمونه روتین تمام بدن</h3>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین تمام بدن</th>
                </tr>
                <tr>
                    <th colspan="3">تمرین A</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">اسکات</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵</td>
                </tr>
                <tr>
                    <td width="60%">پرس سینه</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵</td>
                </tr>
                <tr>
                    <td width="60%">زیر بغل هالتر</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵</td>
                </tr>
                <tr>
                    <td width="60%">کول هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو هالتر خوابیده</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">جلو بازو دمبل</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">پشت پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">شکم</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr> 
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین تمام بدن</th>
                </tr>
                <tr>
                    <th colspan="3">تمرین B</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت</td>
                    <td width="20%">۳</td>
                    <td width="20%">۵</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت رومانیایی</td>
                    <td width="20%">۲</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه نشسته</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۰</td>
                </tr>
                <tr>
                    <td width="60%">بارفیکس </td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">دیپ</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۲۰</td>
                </tr>
                <tr>
                    <td width="60%">شراگ هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">پلانک</td>
                    <td width="20%">۳</td>
                    <td width="20%">۶۰ث</td>
                </tr>

            
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین تمام بدن</th>
                </tr>
                <tr>
                    <th colspan="3">تمرین C</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">اسکات</td>
                    <td width="20%">۳</td>
                    <td width="20%">۵</td>
                </tr>
                <tr>
                    <td width="60%">اسکات </td>
                    <td width="20%">۱</td>
                    <td width="20%">۲۰</td>
                </tr>
                <tr>
                    <td width="60%">بالا سینه دمبل</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">زیربغل دمبل تک دست</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه نشسته آرنولدی</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو کابل</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">جلو بازو هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰</td>
                </tr>
                <tr>
                    <td width="60%">پشت پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">شکم</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                
            
            </table>
        </div>      
    </article>
</main>
{% endblock %}
