{% extends 'base.html' %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/index.css') }}"/>
{% endblock %}

{% block content %}
<main>
  <div class="grid">
    <!-- First Child -->
    <div>
      <div>
        <a href="{{url_for('number_1')}}">تمرین استروک شنا مختلط در زمستان
        </a>
      </div>
        <div>
        <img src="{{ url_for('static', filename='article-image/Winter mixed swim stroke workout.jpg') }}" alt="picture">
      </div>
    </div>
     <!-- #2 -->
    <div>
      <div>
        <img src="{{ url_for('static', filename='article-image/Wim Hof Method.jpg') }}" alt="picture">
      </div>
         <div>
        <a href="{{url_for('number_2')}}">روش ویم هوف: این روش چیست و چگونه می تواند به شنا کردن در آب های آزاد کمک کند
        </a>
      </div>
    </div>   
      <!-- #3 -->
    <div>
      <div>
        <img src="{{ url_for('static', filename='article-image/how adapt breaststroke.webp') }}" alt="picture">
      </div>
      <div>
        <a href="{{url_for('number_3')}}">چگونه می توانید شنا قورباغه خود را برای آب های آزاد سازگار کنید</a>
      </div>
    </div>
      <!-- #4 -->
    <div>
      <div>
        <img src="{{ url_for('static', filename='article-image/see_swim_for.webp') }}" alt="">
      </div>
      <div>
        <a href="{{url_for('number_4')}}">شنای دریا برای مبتدیان: نحوه شنا در دریا </a>
      </div>
    </div>
      <!-- #5 -->
    <div>
      <div>
        <img src="{{ url_for('static', filename='article-image/How to improve your swim strength.webp') }}" alt="">
      </div>
      <div>
        <a href="{{url_for('number_5')}}">چگونه می توان با  شنا روان  قدرت ، استقامت و سرعت شنای خود را بهبود بخشید
        </a>
      </div>
    </div>
      <!-- #6 -->
      <div>
        <div>
          <img src="{{ url_for('static', filename='article-image/6.jpg') }}" alt="">
        </div>
        <div>
          <a href="{{url_for('number_6')}}">کرال سینه: چگونه می توان از هر استروک بهره بیشتری برد
          </a>
        </div>
      </div>
 
  </div>
</main>
{% endblock %}