{% extends 'base.html' %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="../../static/index.css">
{% endblock %}

{% block content %}
<main>
  <div class="grid">
    <!-- First Child -->
    <div>
      <div>
        <a href="/vscode/website/assets/article/Wim Hof Method.html">روش ویم هوف: این روش چیست و چگونه می تواند به شنا کردن در آب های آزاد کمک کند
        </a>
      </div>
      <div>
        <img src="/vscode/website/assets/article/image/Wim Hof Method.jpg" alt="">
      </div>
    </div>                   
    <!-- ### -->
    <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
      <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
      <div>
      <div>
        <img src="./assets/images/6tip.webp" alt="">
      </div>
      <div>
        <a href="#">تمرینات قدرتی برای شنا: 6 تمرین کلیدی بدنسازی</a>
      </div>
    </div>
    <!-- ### -->
  </div>
</main>
{% endblock %}