{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>The Push/Pull/Legs workout</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>تمرین فشار / کشیدن / پاها 
        </h1>
        <div class="text">
          <p>رویکرد تمرین تقسیم فشار / کشش / پاها به شما نیاز دارد تا تمرینات را بر اساس الگوی حرکتی انجام دهید.</p>
          <p>در روزهای فشار ، حرکات فشار عمودی و افقی را برای آموزش قفسه سینه ، شانه ها و عضلات سه سر انجام می دهید. در روزهای کشش حرکات کششی عمودی و افقی را برای آموزش پشت ، دوسر بازو ، تله ها و بازوها انجام می دهید. در روزهای پا حداقل یک حرکت اسکات و یک حرکت ددلیفت انجام می دهید تا عضلات چهار سر ران ، همسترینگ ، گلوت ، کمر و گوساله ها را آموزش دهید.</p>  
            <p>شما می توانید کار شکم را مستقیم در هر روز انجام دهید اما من ترجیح می دهم که روزهای پا را نیز در آن قرار دهم. برنامه های فشار دادن / کشیدن / پا را می توان به روش های مختلفی انجام داد ، به شما امکان می دهد 3 تا 6 بار در هفته تمرین کنید. روشهای فشار دادن / کشیدن / پا معمولاً با استفاده از یکی از دو طرح زیر انجام می شود:</p>
            <ul>
                <li>فشار دادن A / استراحت / کشیدن A / استراحت / پاهای A / استراحت</li>
                <li>فشار A / کشیدن A / پاهای A / استراحت / فشار B / فشار B / پاهای B / استراحت</li>
            </ul>
            <h3>جوانب مثبت تقسیم فشار / کشش / پا</h3>
            <p>شکاف فشار / کشیدن / پاها برای بدنسازهایی که به دنبال بلند کردن هرچه بیشتر روزها و همچنین ورزشکاران درون فصلی و خارج از فصل هستند ، جذاب است زیرا شما می توانید با موفقیت 3 بار یا 6 بار در هفته تمرین کنید. فشار / کشیدن / پاها گروه های عضلانی کمتری را نسبت به بدن کامل یا شکاف فوقانی / تحتانی تمرین می دهد ، اما به شما این امکان را می دهد تا حجم تمرین را برای گروه های عضلانی خاص افزایش دهید.
            </p>
            <p>تقسیم Push / Pull / Legs همچنین به شما امکان می دهد تا در چندین حرکت تمرین کنید. (به عنوان مثال افقی و عمودی).
            </p>
            <p>اگر می توانید تحمل کنید ، 6 روز در هفته تقسیم Push / Pull / Legs یک فرکانس محرک عضلانی متوسط (2 بار در هفته) و همچنین مقدار قابل توجهی از حجم گروه عضله را برای شما فراهم می کند.</p>
            <h3>معایب تقسیم فشار / کشش / پا</h3>
            <p>تا زمانی که برنامه غذایی ، استراحت و تمرینات شما در محل نباشد ، افزایش 6 روز در هفته استفاده از تقسیم Push / Pull / Legs می تواند منجر به افزایش بیش از حد سریع شود (آن را از شخصی که در آنجا بوده است بگیرید). تمرینات فوق ستینگ در یک روش Push / Pull / Legs ممکن است مشکل باشد.</p>
            <p>از آنجا که تمام تمرینات در یک روز تمرین مشخص شامل گروه های عضلانی یکسان یا مشابه هستند ، افزایش بیش از حد می تواند به سرعت منجر به خستگی عضلانی شود که بر عملکرد تمرین تأثیر منفی می گذارد. به عنوان مثال ، اگر روز کشش شما باشد و سعی کنید بیش از حد ردیف هالتر و کشش را فشار دهید ، وزن استفاده شده و یا تکرارهای انجام شده در تمرین دوم متحمل رنج خواهد شد. این به این دلیل است که حرکت دهنده اصلی هر دو تمرین پشت ، دو سر بازو ، تله و بازوها است.</p>
            <p>اگر هدف شما به حداکثر رساندن وزنه بلند شده برای یک تمرین معین است ، استفاده از شکاف Push / Pull / Legs فوق العاده نیست ایده عاقلانه ای است. بعلاوه ، اگر در حین انجام تقسیم Push / Pull / Legs ، یک تمرین را از دست می دهید ، برنامه تمرینی خود را برای بقیه هفته تحت تأثیر قرار می دهد بیش از اینکه اگر یک روز را در یک بدن کامل یا روتین بالا یا پایین بدن از دست بدهید ، تحت تأثیر چشمگیر قرار می گیرد.</p>
            <h3>روال نمونه فشار / کشش / پاها</h3>



            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین فشار / کشیدن / پاها
                    </th>
                </tr>
                <tr>
                    <th colspan="3">فشاردادن A</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">پرس سینه هالتر</td>
                    <td width="20%">۵</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%"> پرس سینه هالتر</td>
                    <td width="20%">۱</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه از پشت</td>
                    <td width="20%">۳</td>
                    <td width="20%">۲۵</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو دیپ</td>
                    <td width="20%">۳</td>
                    <td width="20%">۳۰</td>
                </tr>
                <tr>
                    <td width="60%">کراس اور</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو طناب</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%"> سر شانه از بغل نشسته</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
            
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین فشار / کشیدن / پاها

                    </th>
                </tr>
                <tr>
                    <th colspan="3">کشش A</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت</td>
                    <td width="20%">۵</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت</td>
                    <td width="20%">۱</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%">بارفیکس</td>
                    <td width="20%">۳</td>
                    <td width="20%">۲۵</td>
                </tr>
                <tr>
                    <td width="60%">زیربغل دمبل جفت </td>
                    <td width="20%">۳</td>
                    <td width="20%">۳۰</td>
                </tr>
                <tr>
                    <td width="60%">شراگ</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">جلوبازو هالتر ایستاده</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۲-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">فلای سیم کش برعکس</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>

            
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین فشار / کشیدن / پاها
                    </th>
                </tr>
                <tr>
                    <th colspan="3">پاها A</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">اسکات</td>
                    <td width="20%">۵</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">اسکات</td>
                    <td width="20%">۱</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%">پرس پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۳۰</td>
                </tr>
                <tr>
                    <td width="60%"> فیله کمر برعکس</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">پشت پا</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین فشار / کشیدن / پاها
                    </th>
                </tr>
                <tr>
                    <th colspan="3">فشاردادن B</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">پرس سرشانه هالتر</td>
                    <td width="20%">۵</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%"> پرس سرشانه هالتر</td>
                    <td width="20%">۱</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%">بالاسینه هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۲۵</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو پرس سینه ای</td>
                    <td width="20%">۳</td>
                    <td width="20%">۳۰</td>
                </tr>
                <tr>
                    <td width="60%">فلای ماشین </td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو سیم کش</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%"> سر شانه از بغل سیم کش</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
            
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین فشار / کشیدن / پاها

                    </th>
                </tr>
                <tr>
                    <th colspan="3">کشش B</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت</td>
                    <td width="20%">۵</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت</td>
                    <td width="20%">۱</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%">زیر بغل با هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۲۵</td>
                </tr>
                <tr>
                    <td width="60%">بارفیکس</td>
                    <td width="20%">۳</td>
                    <td width="20%">۳۰</td>
                </tr>
                <tr>
                    <td width="60%">زیربغل دمبل تک</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">جلوبازو دمبل شیب دار </td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%"> ماشیت فلای برعکس</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین فشار / کشیدن / پاها
                    </th>
                </tr>
                <tr>
                    <th colspan="3">پاها B</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%"> اسکات از جلو</td>
                    <td width="20%">۵</td>
                    <td width="20%">۱۵</td>
                </tr>
                <tr>
                    <td width="60%">  اسکات از جلو</td>
                    <td width="20%">۱</td>
                    <td width="20%">تا خستگی</td>
                </tr>
                <tr>
                    <td width="60%"> ددلیفت رومانیایی</td>
                    <td width="20%">۳</td>
                    <td width="20%">۲۵</td>
                </tr>
                <tr>
                    <td width="60%"> هالتر هیپ تراست </td>
                    <td width="20%">۳</td>
                    <td width="20%">۳۰</td>
                </tr>
                <tr>
                    <td width="60%"> لانژ دمبل</td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">جلو پا </td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
                <tr>
                    <td width="60%">شکم خلبانی </td>
                    <td width="20%">۵</td>
                    <td width="20%">۵۰</td>
                </tr>
            </table>
          

           
        </div>      
    </article>
</main>
{% endblock %}
