{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Upper/Lower Body workout</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>تمرین بالا تنه پایین تنه 
        </h1>
        <div class="text">
            <p>رویکرد تمرین تقسیم بالا / پایین شامل درمان بدن به عنوان دو نیمه مشخص - بالا و پایین است. در روزهای بالاتنه بدن شما در حال تمرین قفسه سینه ، پشت ، شانه ها ، تله ها ، دوسر بازوها و بازوها هستید. در روزهای پایین تنه عضلات چهار سر ران ، همسترینگ ، گلوت ، کمر و ساق پا را آموزش خواهید داد.</p>
            <p>می توانید شکم را در روزهای بالا ، روزهای پایین یا روزهای قلبی قرار دهید. من ترجیح می دهم که تمرینات مستقیم شکم را در روزهای پایین تنه قرار دهم ، زیرا تمرینات کمر را به خوبی تکمیل می کند.</p>
            <p>در روزهای بالاتنه هدف من این است که حداقل یکی از موارد زیر را انجام دهم: یک فشار عمودی ، یک کشش عمودی ، یک فشار افقی ، یک کشش افقی. در روزهای پایین تنه هدف من این است که حداقل یک تغییر حالت اسکات و یک حرکت ددلیفت انجام دهم.
            </p>
            <p>روال بالا و پایین معمولاً به صورت ۲ در / ۱ خاموش انجام می شود و این بدان معناست که شما ۴ تا ۵ بار در هفته در ورزشگاه خواهید بود. به طور معمول روزهای تمرین به یکی از دو روش زیر تعیین می شود:</p>
            <ul>
                <li>A بالا / پایین A / استراحت / بالا A / پایین A / استراحت</li>
                <li>بالا A / پایین A / استراحت / بالا B / پایین B / استراحت</li>
            </ul>
            <h3>جوانب مثبت تقسیم بالا / پایین</h3>
            <p>انشعابات فوقانی / تحتانی ترکیبی از فرکانس و حجم را برای موشهای صحرایی (دوباره: وزنه برداری فعالیت بدنی اصلی شماست) و ورزشکارانی که توانایی ریکاوری بالایی دارند یا در خارج از فصل خود دارند ، ایجاد می کنند. انشعابات فوقانی / تحتانی به شما امکان می دهد با استفاده از چندین صفحه حرکت (به عنوان مثال افقی و عمودی) در یک جلسه تمرین کنید.</p>
            <p>انشعابات فوقانی / تحتانی همچنین به شما امکان می دهد به راحتی گروه های عضلانی آنتاگونیست را بدون تأثیر بر عملکرد هر یک از تمرینات ، از بین ببرید. به عنوان مثال ، با تنظیم بیش از حد دو تمرین فوقانی بدن مانند پرس نیمکت و ردیف هالتر ، می توانید در وقت خود صرفه جویی کرده و تراکم تمرین (حجم را در X دقیقه بلند کنید) افزایش دهید.</p>
            <p>انشعابات فوقانی / تحتانی به شما این امکان را می دهد تا با داشتن تعادل خوب تمرینات ترکیبی و ایزوله ، بدون لرزاندن کاملاً یک گروه عضلانی یا احساس رضایت از بار کاری برای یک گروه عضلانی ، به گروه های عضلانی حمله کنید.</p>
            <h3>جوانب منفی های تقسیم بالا / پایین
            </h3>
            <p>اگر شما فرد سخت کوشی هستید که تقریباً هر روز در سالن بدن سازی از وزنه برداری لذت می برد ، ممکن است تقسیم قسمت پایین / پایین برای شما مناسب نباشد. من یک تقسیم 6 روزه در هفته بالا / پایین با حجم متوسط را امتحان کردم و باعث شد خیلی زود به بیش از حد برسم.
            </p>
            <p>حتی با افزایش فرصت برای استفاده از آسانسورهای ایزوله ، ممکن است در اندازه عضله ، قدرت و عدم تعادل تقارن رشد کنید. با این حال ، می توانید با انجام یک تمرین 5 در طول هفته که روی نقاط ضعف تمرکز دارد ، این مشکل را برطرف کنید.</p>
            <p>اگر یک روز تمرین را از دست ندهید ، جبران آن ممکن است کمی پیچیده تر باشد زیرا از بقیه هفته برنامه تمرینی شما را دور می اندازد. خستگی جمع شده از اولین تمرین شما می تواند بر عملکرد تمرینات بعدی تأثیر منفی بگذارد.
            </p>
            <p>به عنوان مثال ، اگر شما پرس سینه را به عنوان اولین تمرین خود و سرشانه هالتر را به عنوان تمرین دوم یا سوم خود انجام می دهید ، در نتیجه ممکن است عملکرد پرس سرشانه شما به دلیل خستگی شانه ها، سه سر هم  دچار مشکل شود.
            </p>
            <h3>نمونه روال بالا / پایین</h3>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین بالا تنه پایین تنه
                    </th>
                </tr>
                <tr>
                    <th colspan="3">بالا A</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">پرس سینه</td>
                    <td width="20%">۳</td>
                    <td width="20%">۶-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> زیربغل هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۶-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پرس سرشانه نشسته</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">قفسه سینه دستگاه</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">زیربغل سیم کش</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه از بغل </td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو سیم کش</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">بازو سیم کش</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr> 
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین بالا تنه پایین تنه
                    </th>
                </tr>
                <tr>
                    <th colspan="3">پایین A</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">اسکات</td>
                    <td width="20%">۳</td>
                    <td width="20%">۶-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت </td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا ایستاده </td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">جلوپا </td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پشت پا</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا نشسته</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%"> کرانچ سیم کش</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پشت پا سیم کش</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>

            
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3"> تمرین بالا تنه پایین تنه
                    </th>
                </tr>
                <tr>
                    <th colspan="3">بالا B</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">بالا سینه هالتر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">رک ددلیفت</td>
                    <td width="20%">۳</td>
                    <td width="20%">۵-۸</td>
                </tr>
                <tr>
                    <td width="60%">پرس سرشانه ارتشی</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پرس سینه دستگاه </td>
                    <td width="20%">۲</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">بارفیکس</td>
                    <td width="20%">۲</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">سرشانه دستگاه</td>
                    <td width="20%">۲</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">جلو بازو دمبل</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پشت بازو دیپ دستگاه</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr> 
            </table>
            <table class="bodybuilding">
                <tr>
                    <th colspan="3">تمرین بالا تنه پایین تنه
                    </th>
                </tr>
                <tr>
                    <th colspan="3">پایین B</th>
                </tr>
                <tr>
                    <td width="60%">ورزش</td>
                    <td width="20%">ست</td>
                    <td width="20%">تعداد</td>
                </tr>
                <tr>
                    <td width="60%">پرس پا</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۲۰</td>
                </tr>
                <tr>
                    <td width="60%">ددلیفت دمبل</td>
                    <td width="20%">۳</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پرس ساق پا </td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۵</td>
                </tr>
                <tr>
                    <td width="60%">هاگ پا </td>
                    <td width="20%">۲</td>
                    <td width="20%">۸-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پشت پا نشسته</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">ساق پا نشسته</td>
                    <td width="20%">۲</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>
                <tr>
                    <td width="60%">پلانک</td>
                    <td width="20%">۳</td>
                    <td width="20%">۶۰ث</td>
                </tr>
                <tr>
                    <td width="60%">فیله کمر</td>
                    <td width="20%">۳</td>
                    <td width="20%">۱۰-۱۲</td>
                </tr>

            
            </table>
           
        </div>      
    </article>
</main>
{% endblock %}
