<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freestyle Arm Stroke Drills</title>
    <link rel="stylesheet" href="/vscode/website/assets/css/normalize.css">
    <link rel="stylesheet" href="/vscode/website/assets/css/global-header-footer.css">
    <link rel="stylesheet" href="/vscode/website/assets/css/articles.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script> 
      $(function(){
        $("#header").load("/vscode/website/assets/template/header.html"); 
        $("#footer").load("/vscode/website/assets/template/footer.html"); 
      });
      </script> 

</head>
<body>
    <div id="wrapper"></div>
            <div id="header"></div>
            <main>
                <div class="header-img">
                    <img src="/vscode/website/assets/bfreestyle/image/freestyle-arm.jpg" alt="">
                </div>
                <article>
                    <h1>تمرین های دست شنا کرال سینه 
                        <br>
                        Freestyle Arm Stroke Drills</h1>
                    <p>
                        با عملکرد بازوی کشیده ، گسترده و متناوب شنا آزاد ، انسان قادر است بالاترین سرعت را در بین تمام استروک ها ایجاد کند. برای توسعه یک سبک آزاد کارآمد ، شناگر باید به سه چیز توجه کند. اول ، دستیابی به همسویی صحیح برای شروع استروک از موضع قدرت بسیار مهم است. دوم ، حفظ وضعیت آرنج بالا برای چسبیدن به آب مهم است. سوم ، شتاب گرفتن از طریق ضربه بازو برای بهره کامل از عمل استروک ضروری است. هدف از تمرینات زیر ضربه ای بازویی برای سبک آزاد ، ایجاد یک ضربه بازوی سازنده است تا از فاز قدرتاستروک دست بیشترین استفاده را ببرید.

                    </p>
                    <h2>
                        کشیدن / فشار شنا آزاد

                       <br>
                        Pull/Push Freestyle</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>احساس مسیر ضربه آزاد بازو</li>
                        <li>دستیابی به حالت آرنج بالا</li>
                        <li> استفاده از تمام طول استروک
                        </li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/arm-PullPush Freestyle.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>با فشار از پایین دیوار ، رو به پایین ، بازوها را گسترش داده ، شکم را درگیر کرده و به پایین استخر نگاه کنید. یک ضربه تاب دهنده مداوم ایجاد کنید.
                        </li>
                        <li>با بازوی راست خود یک ضربه آزاد بازویی بزنید. ابتدا با فشار دادن نوک انگشتان و کف دست خود به سمت پایین ، تنظیم آنها برای فشار دادن به آب ، به جای فشار دادن به پایین. بازو را بگذارید دنبال کند ، اما آرنج را بالا و محکم نگه دارید. دست خود را کمی به سمت بیرون و پایین جارو کنید ، سپس به سمت داخل بروید تا زیر شانه شما به صف شود. در این مرحله ، آرنج شما باید با دست و شانه شما مطابقت داشته باشد ، اما اگر بخواهید کسی را(آب را) با آرنج بزنید بیرون بایستید. این قسمت کشش بازوی آزاد است.
                        </li>
                        <li>از آنجا با دست به سرعت روی آب فشار دهید. دست خود را از آرنج عبور دهید. گام دست خود را تنظیم کنید تا فشار دوباره بر روی آب حفظ شود. دست خود را به عقب جارو کنید تا بازوی شما صاف شود. دست شما باید از لگن عبور کرده و در حالی که انگشت شست شما ران را لمس می کند ، پایان یابد. این بخش فشار ضربه آزاد بازو است.</li>
                        <li>دست خود را روی آب به حالت رسیدن جلو برگردانید. هنگامی که از روی شانه شما عبور کرد ، ضربه بازو را با بازوی چپ خود شروع کنید ، نوک انگشتان و دستان خود را به سمت پایین فشار دهید و به دنبال بازو بروید. با فشار دادن روی آب ، دست خود را زیر شانه قرار دهید و آرنج را به سمت کنار بکشید. سپس سریع از پشت آرنج خود عقب بروید تا بازوی شما صاف شود ، از لگن عبور کنید. توجه داشته باشید که همانطور که استروک شما از کششی به فشار دیگر می رود ، از عمیق تر به کم عمق نیز می رود.
                        </li>
                        <li>بازوی خود را به سمت عقب بر روی آب بیاورید ، و ضربه بعدی را با بازوی راست خود شروع کنید وقتی که بازوی چپ شانه خود را از آب خارج کرد. نوازش را ادامه دهید. از طول کامل هر ضربه بازو استفاده کنید. حالت آرنج بالا را حفظ کنید. کشش و فشار هر ضربه را احساس کنید. برای چندین طول استخر تمرین کنید تا زمانی که بتوانید حرکت کشش و فشار حرکت سبک آزاد را به خوبی تشخیص دهید.
                        </li>
                    </ul>
                    <!-- ####################### -->
                    <h2>
                        
                        گرفتن
                        <br>
                        Catch Up</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>تمرین یک استروک طولانی
                        </li>
                        <li>احساس شتاب در استروک بازو
                        </li>
                        <li>ایجاد یک ضربه بازوی زیر آب با آرنج بالا</li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/arm-Catch Up.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>با فشار از پایین دیوار ، رو به پایین ، بازوها را گسترش داده ، شکم را درگیر کرده و به پایین استخر نگاه کنید. بازوها باید در جلوی شانه ها قرار بگیرند ، نه در جلوی بینی. یک ضربه تکان دهنده مداوم ایجاد کنید ، که باید در طول تمرین حفظ شود.
                        </li>
                        <li>در حالی که بازوی راست خود را همچنان دراز کرده و با شانه آن همسو هستید ، یک ضربه آزاد از بازو را با بازوی چپ خود انجام دهید. در حالی که نوک انگشتان و کف دستتان کمی پایین است ، دوباره روی آب فشار دهید ، نه پایین. آرنج را بالا و محکم نگه دارید زیرا بازو به دنبال دست شما می رود. فشار دهید و دست خود را از عمق به سمت کمر به سمت باسن خود بکشید ، حرکت را از جلو به عقب تسریع کنید ، تا بازوی شما در کنار شما قرار گیرد.</li>
                        <li>از این حالت ، بازوی راست خود را در جلوی خود قرار داده و بازوی چپ را در کنار خود دارید ، تمام طول استروک را احساس کنید. بازوی چپ را روی آب به نقطه شروع برگردانید ، بنابراین هر دو بازو دوباره در حالت کامل قرار می گیرند. سپس ، یک ضربه واحد را با همان راست به همان شیوه انجام دهید.
                        </li>
                        <li>این توالی همچنان که یکی از بازوها در جلوی استروک به دیگری باز می شود ، ادامه می یابد. تنفس در صورت لزوم ، به سمت بازوی متحرک انجام می شود ، زیرا سرعت دست به پشت استروک می رسد. صورت خود را به پهلو بچرخانید تا نفسی تازه کنید. هنگام استنشاق ، بازوی رسیدن را به سمت راست و شانه نگه دارید. با عبور بازو از روی آب ، صورت خود را به سمت آب برگردانید.
                        </li>
                        <li>چندین طول استخر را ادامه دهید. هنگامی که به آب فشار می آورید ، حرکت را فشار دهید و از طریق کشش سرعت بگیرید ، حرکت هر ضربه بازو را احساس کنید. توجه داشته باشید که همیشه یک بازو پیشرو و یک بازو نوازش می کند.</li>
                    </ul>
                    <figure style="margin-top: 30px; ">
                        <iframe width="100%" height="490" src="https://www.youtube.com/embed/a3-DKS6GXV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption style="color:red;  font: bold 16px B Titr; ">*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
                    </figure>
            
                    <h2>
                        تمرین انگشت شصت
                       <br>
                        All Thumbs Drill</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>یادگیری برای جلوگیری از بیش از حد رسیدن به مرکز در هنگام ورود</li>
                        <li>تمرین توسعه تراز شدن
                        </li>
                        <li>شروع ضربه بازو از موقعیت قدرت</li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/arm-All Thumbs Drill.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>در خشکی ما با استفاده از انگشت اشاره گر به چیزها اشاره می کنیم. امتحان کنید توجه داشته باشید که این حالت عمدتا فقط یک دست است و بقیه بازو در حرکت اشاره درگیر نیست. در شنا ، به دلیل اینکه هدف از اشاره قرار گرفتن استروک خود به جلو است ، از کل بازو استفاده می کنیم. برای دستیابی به بهترین وجه ، ما باید یاد بگیریم که با انگشت شست خود را نشان دهیم.
                        </li>
                        <li>در آب ایستاده ، بازوی خود را کاملاً مقابل خود دراز کنید. از انگشت شست خود برای نشان دادن انتهای استخر استفاده کنید. توجه داشته باشید که وقتی با انگشت شست ، شانه ، داخل آرنج و انگشت شست خود را نشان می دهید همه در یک راستا قرار گرفته و به جلو هستند. هیچ خمشی در مچ دست و آرنج وجود ندارد که باعث شود شناگر بیش از حد به مرکز برسد ، البته مسیر را هدف قرار دهید. توجه داشته باشید که چگونه انگشتان شما به سمت خارج قرار می گیرند و یک پارو شگفت انگیز برای گرفتن آب ایجاد می کنند.
                        </li>
                        <li>اکنون هنگام شنا امتحان کنید. در حالی که بازوی شما وارد آب می شود و به سمت جلو امتداد می یابد ، با انگشت شست در مسیری که می خواهید بروید. با فشار دادن آرنج و مچ در یک خط مستقیم به امتداد کامل برسید. به ترازبندی توجه کنید: شانه ، داخل آرنج و انگشت شست همه در یک راست قرار دارند. شما باید احساس کنید که تقریباً به طور مستقیم به سمت مقصد خود در حال پرواز هستید. شنا کنید ، انگشت شست که به انتهای استخر منتهی می شود.
                        </li>
                        <li>به تمرین ادامه دهید تا استروک خود را با انگشتان شست جلو تراز کنید. نوک انگشتان و کف دست خود را به سمت پایین قرار دهید ، انگشت شست خود را کمی پایین تر از صورتی خود قرار دهید. احساس کنید آب در برابر نوک انگشتان شما مانند دسته آب را گرفته است. بدن خود را از کنار دست خود به جلو ببرید. توجه داشته باشید که وقتی استروک را از یک موقعیت کاملاً همسو شروع می کنید ، می توانید دسته بیشتری از آب را احساس کنید.
                        </li>
                        <li>بیشتر تمرین کنید ، هر ضربه جدید را از این وضعیت قدرت با جلو گرفتن انگشتان شست شروع کنید. طول افزایشاستروک خود را احساس کنید. با دستیابی به توان بیشتر احساس کنید با هر بار حرکت در آب دورتر حرکت می کنید.
                        </li>
                    </ul>
                    <h2>
                        جمع کردن
                       <br>
                       Sculling</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>ایجاد احساس آب
                        </li>
                        <li>یادگیری چسبیدن به آب</li>
                        <li>تمرین تغییر گام دست
                        </li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/arm-Scullingjpg" alt="taking bow">
                    </ul>
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>در آب تا عمق شانه ایستاده ، دستان خود را کاملاً در زیر آب قرار دهید ، کف دستان رو به روی هم قرار بگیرید و فاصله آنها از هم حدود 24 اینچ است. آرنج ها را محکم در برابر بدن نگه دارید. دستان خود را به سمت یکدیگر جارو کنید. درست قبل از ملاقات آنها ، دستان خود را به سمت پایین جارو کنید و از یکدیگر فاصله بگیرید و فاصله آنها از یکدیگر حدود 24 اینچ است. توجه داشته باشید که دستان شما از حالت شست به بالا به سمت پایین قرار گرفته است.</li>
                        <li>با رسیدن به وسیع ترین نقطه ، دوباره دستان خود را به سمت پایین و اطراف جارو کنید تا زمانی که آنها به سمت یکدیگر حرکت کنند. توجه داشته باشید که دستان شما از حالت شست به پایین به حالت شست بالا رسیده است. این عمل را تا جایی ادامه دهید که احساس کنید در حال کشیدن یک شکل هشت با هر دست هستید.
                        </li>
                        <li>شما باید احساس کنید که دستان شما ماده ای را در دست دارند. برخی از شناگران احساس نگه داشتن ژلاتین را توصیف می کنند ، برخی دیگر به فشار دادن روی چیزی جامد اشاره دارند. این ماده را از هر دو جهت نگه دارید و همانطور که گوشه های شکل خود را هشت می چرخانید. این جمع کردن است
                        </li>
                        <li>اکنون در آب ، رو به پایین و در حالت دست جلو قرار بگیرید. همراه با یک ضربه پا  روان سبک ، با کشیدن بازوها شروع به جمع کردن کنید. دستان خود را تنظیم کنید تا کاملا در آب فرو بروند. با انگشت شست به سمت پایین و با انگشت شست به سمت داخل فشار دهید. در تمام مدت عمل جمع کردن آب را نگه دارید. تلاش برای ایجاد حرکت به جلو به مدت 30 ثانیه.
                        </li>
                        <li>در همان حالت شناور ، دستان خود را زیر شکم خود حرکت داده و با استفاده از عمل جمع  کردن ، به مدت 30 ثانیه سعی کنید حرکت رو به جلو را در این حالت ایجاد کنید.
                        </li>
                        <li>در همان حالت شناور ، دست خود را به سمت پهلو حرکت داده و با استفاده از عمل کشیدن ، برای 30 ثانیه حرکت به جلو را در این حالت ایجاد کنید.</li>
                        <li>هنگامی که توانایی نگه داشتن آب در هنگام پیاده روی را پیدا کردید ، هنگام شنای آزاد آن را امتحان کنید. همانطور که بازوی شما از جلو به عقب شتاب می گیرد ، عمل کشیدن کشیده را احساس کنید. در تمام طول استروک آب را نگه دارید. دست خود را طوری تنظیم کنید که از طریق استروک جارو می شود تا آب را حفظ کند.
                        </li>
                    </ul>
                    <figure style="margin-top: 30px; ">
                        <iframe width="100%" height="490" src="https://www.youtube.com/embed/JjN7cWvP_sY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption style="color:red;  font: bold 16px B Titr; ">*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
                    </figure>
                    <h2>
                        کرال سینه با دست مشت کرده
                       <br>
                        Fist Freestyle</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>یادگیری احساس آب با بازو</li>
                        <li>درک اهمیت آرنج پایدار و بلند</li>
                        <li>قدردانی از نقش دست</li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/arm-Fist Freestyle.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>دیوار را آماده کرده و برای انجام سبک آزاد به طور منظم فشار دهید. قبل از اولین ضربه ، با هر دست مشت بسته ای ایجاد کنید.</li>
                        <li>استروک بازو را شروع کنید. در ابتدا ممکن است پیشرفت بدون روبروی دست باز خود غیرممکن به نظر برسد. ادامه مسیر استروک را ادامه دهید ، بازوی خود را در موقعیتی قرار دهید که بازو به عنوان دست و پا زدن شما برای فشار به آب کار کند. برای رسیدن به این هدف ، باید آرنج ها را بالا و پایدار نگه دارید و مشت های خود را از آرنج خود عبور دهید.
                        </li>
                        <li>از کل طول استروک ، جلو به عقب استفاده کنید. ورودی را تراز کنید. آرنج را بالا نگه دارید.استروک زیر آب را تسریع کنید. استروک خود را با دست و پا زدن بی دست وفق دهید. به انتهای دیگر استخر ادامه دهید.
                        </li>
                        <li>حالا دوباره فشار دهید ، این بار با دستان باز. شنای آزاد و مرتب را انجام دهید ، با استفاده از دست و همچنین بازو برای فشار بر روی آب. ورودی خود را تراز کنید. آرنج خود را بالا نگه دارید.استروک خود را تسریع کنید.
                        </li>
                        <li>طول متناوب مشت و سبک آزاد دست را ادامه دهید تا زمانی که آب را با یک دست و پا زدن که هم دست و هم ساعد را شامل می شود احساس کنید.
                        </li>
                    </ul>
                    <figure style="margin-top: 30px; ">
                        <iframe width="100%" height="490" src="https://www.youtube.com/embed/GdGSNe9iZBw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption style="color:red;  font: bold 16px B Titr; ">*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
                    </figure>
                </article>
            </main>
            <div id="push"></div>
    </div>
        <div id="footer"></div>
    
</body>
</html>