<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freestyle Recovery Drills</title>
    <link rel="stylesheet" href="/vscode/website/assets/css/normalize.css">
    <link rel="stylesheet" href="/vscode/website/assets/css/global-header-footer.css">
    <link rel="stylesheet" href="/vscode/website/assets/css/articles.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script> 
      $(function(){
        $("#header").load("/vscode/website/assets/template/header.html"); 
        $("#footer").load("/vscode/website/assets/template/footer.html"); 
      });
      </script> 

</head>
<body>
    <div id="wrapper"></div>
            <div id="header"></div>
            <main>
                <div class="header-img">
                    <img src="/vscode/website/assets/bfreestyle/image/freestyle-recovery.jpg" alt="">
                </div>
                <article>
                    <h1>تمرین های بازیابی کرال سینه 
                        <br> 
                        Freestyle Recovery Drills</h1>
                    <p>
                        اگرچه بسیاری از سبک های موثر در بازیابی سبک آزاد وجود دارد ، همه آنها جنبه های مشترک فنی دارند. همه آنها آب را آزاد می کنند. هر کدام بازوی نوازش را متعادل می کنند. همه آنها از دست آرام که بالاتر از شانه است استفاده می کنند. هدف از تمرینات ریکاوری آزاد سبک زیر ، ایجاد یک بازیابی است که حداکثر استراحت را در حالی که مکمل بقیه استروک است ، داشته باشد.

                    </p>
                    <h2>
                        دست شل و نرم
                        <br> 
                        Floppy Hand</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>تمرین بهبودی آرام</li>
                        <li>یادگیری استراحت بازو هنگام بهبودی</li>
                        <li>حفظ آرنج بالا هنگام بهبودی
                        </li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/recovery-Floppy Hand.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>از دیوار خارج شوید و شروع به انجام تمرین  گرفتن کنید. با رسیدن یک بازو ، بازوی دیگر استروک زیر آب را انجام می دهد. وقتی بازوی نوازش کاملاً به عقب کشیده شد ، آن دست را عمداً شل کنید.
                        </li>
                        <li>برای انتقال به بهبودی ، آرنج خود را بلند کنید و دست خود را از آب بیرون بکشید. باید احساس شود انگار دارید آن را از جیب جلوی خود بیرون می کشید. هنگامی که دست شما از آب پاک شد ، آرنج شما باید در طول مسیر خود روی آب بالاتر از دست خود باشد.</li>
                        <li>بهبودی را در حرکت آهسته با تمرکز بر آرام کردن دست خود در تمام مدت انجام دهید. در حالی که بازوی شما به سمت جلو حرکت می کند ، دست خود را به آرامی تکان دهید. دست شما باید احساس شلی و آرامش کند ، گویی هیچ استخوانی در مچ دست خود ندارید. نوک انگشتان ، دست و بازو باید به آرامی از آرنج آویزان شود ، به سمت پایین سطح آب باشد ، نه به جلو. باید احساس کنید که یک رشته عروسکی آرنج شما را به سمت بالا می کشد و همه چیز دیگر از آن آویزان است.
                        </li>
                        <li>وقتی دستتان در حال بهبود است و به قسمت جلویی نزدیک می شود ، آن را به جلو درون آب قرار دهید. آرنج شما باید بعد از دست وارد آب شود. هنگامی که به موقعیت کامل کشیده رسیدید ، با بازوی دیگر شروع به نوازش کنید.</li>
                        <li>در هر زمان بهبودی حرکت آهسته ، تکان دادن دست شل خود را ادامه دهید. اجازه دهید دست شما به آرامی از آرنج آویزان شود و از آب عبور کند و به جلو بازگردد. بگذارید آرنج دست خود را دوباره به داخل آب مقابل بکشد. برای چندین طول استخر تمرین کنید.
                        </li>
                    </ul>
                    <!-- ####################### -->
                    <h2>
                        باله کوسه
                       <br>
                        Shark Fin</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>تمرین آرامش و بهبودی آرنج بالا
                        </li>
                        <li>با شناور شدن در کنار خود به بهبودی آرنج بالایی دست پیدا کنید
                        </li>
                        <li>تمرین رهاسازی آب</li>
                        
                        <img class="picture" src="/vscode/website/assets/bfreestyle/image/recovery-Shark Fin.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>در آب در کنار خود شناور شوید ، بازو را در نزدیکی سطح کنار خود قرار دهید و بازوی دیگر را از جلو باز کنید. به طور مولد لگد بزنید. برای نفس کشیدن ، ثبات هسته را حفظ کنید و به سمت پشت بچرخید ، نفس بکشید ، سپس دوباره به حالت اصلی پهلو برگردید.</li>
                        <li>در حالی که یک ضربه پیوسته دارید ، دست را در کنار خود تا کمر بلغزانید و آرنج خود را تا یک نقطه مانند بالچه کوسه بالا ببرید. آرنج شما باید به آسمان باشد. این موقعیت باله کوسه را به مدت پنج ثانیه نگه دارید و اجازه دهید دست شما آرام آویزان شود. دست خود را به سمت عقب بکشید تا در امتداد کامل قرار گیرد</li>
                        <li>این عمل را با همان بازو تکرار کنید ، سعی کنید چشمگیرترین پره کوسه را ممکن کنید. توجه داشته باشید که برای ساخت بالاترین باله کوسه ، باید کاملاً در آن طرف بدن خود شناور باشید ، و اجازه دهید طرف دیگر بدن شما به صورت کم شناور باشد. بازوی خود را به پهلو برگردانید.</li>
                        <li>پس از ده پره کوسه ، سپس طرفین را عوض کنید. به انتهای دیگر استخر ادامه دهید.</li>
                    </ul>
                  
                </article>
            </main>
            <div id="push"></div>
    </div>
        <div id="footer"></div>
    
</body>
</html>