{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Freestyle Coordination Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="{{ url_for('static', filename='freestyle-image/freestyle-coordination.jpg')}}" alt="picture">
   
    </div>
    <article>
        <h1>تمرین های هماهنگی شما کرال سینه 
            <br>
            Freestyle Coordination Drills</h1>
        <p>
            عناصر بسیاری از تکنیک استروک وجود دارد که کار سبک آزاد را به صورت ترکیبی برای تولید حرکت هماهنگ به جلو تشکیل می دهد. هر عنصر دیگری را تحت تأثیر قرار می دهد ، در کنار هم به یک سبک آزاد و سازنده کمک می کند. هدف از تمرینهای هماهنگی زیر این است که یاد بگیرید چندین مهارت آزاد را در یک تلاش هماهنگ برای پربازده ترین سبک آزاد جمع کنید.

        </p>
        <h2>
            کرال سر بالا
           <br>
            Heads Up Freestyle</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری گرفتن آب و برگشت به عقب</li>
            <li> استفاده از یک استروک مداوم
            </li>
            <li>تطبیق ضربه پا با ضربه بازو
            </li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/coordination-HeadsUpFreestyle.jpg')}}" alt="picture">
 
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>یک غریق نجات که برای فردی که دچار مشکل است شنا می کند با استفاده از یک سبک آزاد سربالا به قربانی نزدیک می شود تا چشم خود را به قربانی نگه دارد و در اسرع وقت به آنجا برسد. به همین ترتیب ، یک دونده سرعت مشخص برای تیم واترپلو برای به دست آوردن کنترل توپ ، با استفاده از سبک آزاد سربالا  برای گرفتن توپ ، مسابقه می دهد.کرال سر بالا را امتحان کنید. چشم های خود را به نقطه ای در انتهای استخر متمرکز کنید و تا آنجا که می توانید سریعتر به آنجا برسید.
            </li>
            <li>به سرعت استروک کنید ، چانه را در آب پایین نگه دارید و چشمانتان را به جلو متمرکز کنید. در تمام مدت سر خود را بالا نگه دارید. توجه داشته باشید که برای بالا نگه داشتن سر ، هنگام ورود دست از جلو ، باید سریعاً آب را با نوک انگشتان ، کف دست و بازو درگیر کرده و به طور مداوم استروک کنید.استروک شما کوتاهتر می شود و بهبودی شما گسترده تر می شود. همچنین توجه داشته باشید که در حالی که با فشار دادن روی آب با دست می توانید سر خود را بالا نگه دارید ، با این کار حرکت رو به جلو خود را محدود می کنید.
            </li>
            <li>شنا را به سمت بالا ادامه دهید ، بلافاصله با هر ضربه آب را درگیر کنید. آرنج را بالا نگه دارید. با هر ضربه کوتاه و سریع سرعت را به عقب برسانید. توجه داشته باشید که با فشار دادن مجدد روی آب برای رفتن به جلو ، سر شما بدون فشار آوردن به پایین بالای آب می ماند. با تهاجمی آب را بگیرید و با هر بار ضربه نزدیک به هدف خود شوید.
            </li>
            <li>با سر بالا ، وضعیت بدن در آب ایده آل نیست. برای مدیریت این وضعیت شنای سربالایی ، هسته خود را تثبیت کرده و به طور فعال لگد بزنید ، ضربات خود را تا ضربه بازوی خود هماهنگ کنید. اگرچه سرعت ضربه سریعتر از سرعت ضربه بازو است ، اما باید یک ضربه با هر بازو مطابقت داشته باشد. هنگامی که یک بازو وارد جلو می شود ، با یک پا لگد بزنید. توجه داشته باشید که با هماهنگی ضربات ضربه به بازو ، ضربه شما با پایان ضربه توسط بازوی دیگر نیز مطابقت دارد. با انجام این کار حرکت اضافی رو به جلو ایجاد می شود ، بلکه باعث افزایش و تعادل در کل حرکت می شود.
            </li>
            <li>به سمت هدف خود ادامه دهید. توجه داشته باشید که حتی از این موقعیت نامطلوب شنا ، وقتی همه قسمت های استروک هماهنگ شده و با هم کار می کنند ، می توانید به خوبی جلو بروید. استراحت کنید ، سپس دوباره امتحان کنید.
            </li>
            <li>اکنون سعی کنید شنای آزاد و معمولی را با صورت در آب انجام دهید. همان سرعت ضربه سریع را که در تمرین سربالا استفاده کردید ، استفاده کنید. با فشار دادن روی آب ، آرنج را بالا نگه دارید. ضرب و شتم ضربه خود را با نقطه ای هماهنگ کنید که دست شما ابتدا آب جلوی شما را بگیرد. در استروک خود احساس بالارفتن و تعادل کنید
            </li>
            <li>استراحت کنید ، سپس چندین طول از سبک های آزاد و سبک معمولی را تغییر دهید.</li>
        </ul>
        <figure >
            <iframe width="100%" height="490" sandbox="allow-same-origin allow-scripts" src="https://open.tube/videos/embed/70f775ec-9e1e-4bb8-8beb-ea99a27ebb5f" frameborder="0" allowfullscreen></iframe>
            <!-- <iframe width="100%" height="490" src="https://www.youtube.com/embed/ZnqVhXT5-eE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption >*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption> -->
            <figcaption>Heads Up Freestyle</figcaption>
        </figure>
        <!-- ####################### -->
        <h2>
            طناب نوردی افقی
           <br>
            Horizontal Rope Climbing</h2>
        <ul>
            اهداف این تمرین
            
            <li>استفاده از بزرگترین عضلات ممکن</li>
            <li>از کنار دست لنگر خود عبور کنید</li>
            <li>احساس حرکت به جلو کارآمد</li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/coordination-HorizontalRopeClimbing.jpg')}}" alt="picture">
          
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>به چگونگی صعود یک فرد توسط طناب فکر کنید. دست به دست

                کوهنورد از یک دست برای گرفتن طناب در نقطه ای بالاتر از بدن استفاده می کند ، در حالی که دست دیگر بدن را در پیشروی قبلی ثابت نگه می دارد. هنگامی که دست در حال رسیدن به طناب خوب است ، کوهنورد بدن خود را از آن دست که می رسد عبور می دهد ، در حالی که سپس دست پایین دستی می شود که به یک نقطه بالاتر می رسد. دقیقاً این است که بهترین شنا چگونه است. شناگران کارآمد به جای اینکه آب را به طرز دیوانه واری از بین ببرند ، آب را در مقابل خود می گیرند و می گیرند ، سپس بدن خود را تحویل داده و فراتر از آن نقطه می برند.
           </li>
            <li>از یک انتهای استخر به سر دیگر یک طناب ببندید. برای محکم نگه داشتن طناب خود از قلاب های خط خط در هر انتهای استخر استفاده کنید ، اما اجازه دهید شل شود به طوری که بیشتر طناب حدود یک پا در زیر سطح شناور باشد. از استفاده از خطوط برای این تمرین خودداری کنید. بدون هشدار می توانند ضربه محکم و ناگهانی داشته باشند و جایگزینی آنها بسیار گران است.
            </li>
            <li>هنگامی که طناب شما در جای خود قرار گرفت ، نفس زیادی بکشید و با آب به سمت پایین روی طناب شناور شوید. با در ذهن داشتن تصویر کوهنورد طناب ، با یک دست تا جایی که می توانید جلو بروید و طناب را بگیرید. آرنج خود را بالا نگه دارید ، بدن خود را از پشت دست بکشید تا جایی که بازو صاف و در لگن قرار گیرد. در همان زمان ، از دست دیگر برای رسیدن به نقطه پدر استفاده کنید. ادامه دهید ، بازو به بازو بروید ، بدن خود را در امتداد طناب دورتر حرکت دهید. هنگامی که مجبور به نفس کشیدن هستید ، صورت خود را به آرامی از آب خارج کنید ، سپس به حالت پایین و صورت خود برگردید.
            </li>
            <li>تا انتهای استخر ادامه دهید. احساس کنید بدن شما از طریق آب عبور کرده و از کنار دست شما عبور می کند. چندین بار تمرین کنید. سپس سبک آزاد و معمولی و بدون طناب را امتحان کنید. آب را در دست بگیرید ، سپس با هر بار حرکت خود را از آن نقطه عبور دهید. از آب عبور کنید. این جوهره شنای کارآمد است.
            </li>
        </ul>
        <h2>
            شنا آزاد با دلفین
           <br>
            Freestyle with Dolphin</h2>
        <ul>
            اهداف این تمرین
            
            <li>هماهنگی ضربه پا و ضربه بازو
            </li>
            <li>تنظیم ریتم ضربه پا با ضربه دست
            </li>
            <li>استفاده از حرکت ضربات پا به نفع ضربه به بازو
            </li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/coordination-FreestylewithDolphin.jpg')}}" alt="picture">
           
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را آماده کنید و برای انجام سبک آزاد ، بازوها را گسترش دهید ، هسته را بگیرید. شش تا دوازده ضربه خوب دلفین بزنید. در حالی که پای شما به آب متصل است ، بر ایجاد یک ضربه ریتمیک با ضربات کم فشار ، در عین حال قدرتمند متمرکز شوید. برای این تمرین ، مهم است که سر خود را ثابت نگه دارید ، و زیاد تند نکشید.
            </li>
            <li>هنگامی که یک ضربه ریتمیک قوی ایجاد کردید ، یک ضربه آزاد بازویی را شروع کنید. ضربه خود را به وقت خود اختصاص دهید تا در ازای هر ضربه تنها یک ضربه ایجاد کنید. توجه: این متفاوت از ریتم استروک پروانه است. هنگامی که یک ضربه را به هر ضربه بازو وارد کردید ، زمان ضرب و شتم هر ضربه را دقیقاً در لحظه برخورد دستتان با آب مقابل انجام دهید.
            </li>
            <li>با تمرکز بر هماهنگی این دو عمل ، به انتهای دیگر استخر ادامه دهید. استراحت و تکرار کنید تا بازوهای سبک و ضربات دلفین به خوبی با یک ریتم پایدار هماهنگ شوند. توجه داشته باشید که وقتی ضربان ضربات دلفین شما به زمان ورود دست به جلو است ، با حرکت بیشتری به جلو می روید و شما را تشویق می کند که برای مدت طولانی تر گسترش دهید. همچنین توجه داشته باشید که اگرچه تمرکز خود را بر این دارید که ضربه خود را به بازوی خود بکشید ، اما همان ضربه به بازوی نوازنده نیز کمک می کند و به شما در تسریع در پشت ضربه کمک می کند.
            </li>
            <li>تمرین را تکرار کنید. ریتم لگد خود را سریع کنید. ضربه بازوی خود را با آن ریتم سریعتر مطابقت دهید. همانطور که دست خود را در آب مقابل می کارید ، پاها را در آب به عقب بکارید.
            </li>
            <li>اکنون با استفاده از ضربه تکان دهنده همان هماهنگی را امتحان کنید. در حالی که استفاده از بیش از یک ضربه تکان دهنده در هر بازو معمول است ، اطمینان حاصل کنید که یکی از ضربات شما با ورودی دست شما مطابقت داشته باشد و به طور همزمان به پایان سریع دست دیگر برای هر ضربه ای کمک کنید. برای چندین طول استخر تمرین کنید.
            </li>
        </ul>
        <figure >
            <iframe width="100%" height="490" sandbox="allow-same-origin allow-scripts" src="https://open.tube/videos/embed/a4eae965-43b1-4af0-aec9-37cab816be80" frameborder="0" allowfullscreen></iframe>
            <!-- <iframe width="100%" height="490" src="https://www.youtube.com/embed/BO6njSD2NrI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption >*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption> -->
            <figcaption>Freestyle with Dolphin</figcaption>
        </figure>
        <h2>
            تنفس دو طرفه
           <br>
            Bilateral Breathing</h2>
        <ul>
            اهداف این تمرین
            
            <li>هماهنگی تنفس با رول بدن</li>
            <li>ایجاد رول متقارن</li>
            <li>ایجاد یک ضربه پا متقارن
            </li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/coordination-BilateralBreathing.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را آماده کرده و برای انجام سبک آزاد به طور منظم فشار دهید. یک ضربه خوب و مداوم ایجاد کنید. تا انتهای دیگر استخر شنا کنید و به سمت راست استخر نفس بکشید. استراحت کنید ، سپس یک بار دیگر به نقطه شروع خود شنا کنید ، هنگام تنفس رو به سمت همان استخر است. این بدان معنی است که شما به طرف دیگر بدن خود تنفس می کنید. این کار را آنقدر تکرار کنید تا راحت تراز و ضربات خود را حفظ کنید و بدن خود را بچرخانید تا از سمت راست و چپ نفس بکشید.
            </li>
            <li>اکنون ، هر سومین بار تنفس خود را با طول دیگری انجام دهید. زمان استنشاق خود را شروع کنید تا همزمان با ورود دستی که از آن نفس می کشید ، شروع شود. به سمت چپ آب بزنید ، سپس راست بزنید ، سپس ضربه بزنید و به سمت چپ نفس بکشید. به سمت راست آب بزنید ، سپس به سمت چپ بروید ، سپس ضربه بزنید و درست نفس بکشید. در حالی که این زمان بندی را کامل می کنید ، تمرین بازوی بدون وزنه و تمرین تمپل پرس را به خاطر بسپارید.
            </li>
            <li>ادامه تمرین تنفس در هر سومین استروک در طول های مختلف استخر. ممکن است یک طرف برای شما طبیعی تر از طرف دیگر باشد ، درست مثل اینکه یک دست هنگام نوشتن طبیعی تر است. به تمرین ادامه دهید و سعی کنید طرف طبیعی کمتر خود را به صورت آینه ای از جنبه طبیعی خود درآورید.
            </li>
            <li>هنگامی که با این زمان بندی راحت شدید ، روی رول ران خود تمرکز کنید. توجه داشته باشید که با تنفس دو طرفه ، این حالت در هر دو طرف بیشتر از حالت تنفس فقط در یک طرف است. همچنین توجه داشته باشید که ضربه شما مکث کمتری دارد و مخصوصاً در هنگام تنفس ، جمع و جورتر است. سرانجام ، توجه داشته باشید که استروک شما با تنفس دو طرفه عمق ، عرض و طول بیشتر قرینه است.
            </li>
            <li>برای چندین طول استخر تمرین کنید. با تنفس در دو طرف استروک متعادل ایجاد کنید.
            </li>
        </ul>
        <figure >
            <iframe width="100%" height="490" sandbox="allow-same-origin allow-scripts" src="https://open.tube/videos/embed/f659e6b8-7ccc-4780-a347-a3cd83b88b24" frameborder="0" allowfullscreen></iframe>
            <!-- <iframe width="100%" height="490" src="https://www.youtube.com/embed/Gdj_Snptd2s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption >*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption> -->
            <figcaption>Bilateral Breathing</figcaption>
        </figure>
    </article>
</main>
{% endblock %}
