{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Freestyle Kick Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="{{ url_for('static', filename='freestyle-image/freestyle-kick.jpg')}}" alt="picture">
 
    </div>
    <article>
        <h1>تمرین های ضرب پا کرال سینه 
            <br>
            Freestyle Kick Drills</h1>
        <p>
            یک ضربه پا روان  بخشی از یک سبک آزاد خوب است. حرکت مداوم و متعادل کننده استروک دست را فراهم می کند. از آنجا که پاها به انرژی نامتناسب نیاز دارند ، ایجاد یک ضربه آرام و پایدار مهم است. هدف از تمرینات زیر زدن سبک آزاد یادگیری استفاده از ضربه پا روان اقتصادی است که باعث افزایش و بهبود بقیه  سبک آزاد می شود.

        </p>
        <h2>
            تمرین انگشتان کشیده
           <br>
            Toe Point Drill</h2>
        <ul>
            اهداف این تمرین
            
            <li>درک اهمیت ضربه پا با انگشتان کشیده
            </li>
            <li>تجربه کردن گام مچ پا
            </li>
            <li>یک ضربه متمرکز ایجاد کنید</li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/kick-ToePointDrill.jpg')}}" alt="picture">
          
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>به صورت افقی دراز بکشید.دست ها  حالت کشیده، سر پایین،  برای تنفس ، با فشار دادن  آب  با دستان  ، چانه را به آرامی به سطح بالا برده و سپس صورت را به سمت آب برگردانید و دستان خود را به حالت کشیده  برگردانید.
            </li>
            <li>شروع به زدن ضرب پا روان کنید ، با استفاده از حرکت متناوب بالا و پایین با پای خود. تا عمق حدود دوازده تا پانزده اینچ و تا سطح آب بزنید. با پاهایی آرام ، اما نسبتاً صاف ، سریع بزنید.
            </li>
            <li>روی وضعیت پای خود تمرکز کنید. برای درگیر شدن بهتر آب ، باید از بزرگترین سطح پا برای فشار دادن به آب استفاده کنید. پاها را طوری قرار دهید که انگشتان  شما کشیده باشد. 30 ثانیه سریع بزنید. در حالی که پاها به سمت بالا و پایین می کشید ، احساس کنید قسمت های بالا و پایین پاها آب را هل می دهند.
            </li>
            <li>اکنون ، پاها را از ناحیه مچ پا خم کنید ، آنها را در زاویه سمت راست پای خود قرار دهید (موقعیت پای ایستاده). 30 ثانیه سریع بزنید. سطح کوچکتری را که با آن آب را هل می دهید احساس کنید. توجه داشته باشید که خوب جلو نمی روید. حتی برخی از افراد می توانند با این وضعیت پا به عقب حرکت کنند!
            </li>
            <li>اکنون ، پاها را جابجا کنید تا  انگشتان شما کشیده شود و زانوها و پاها را به سمت داخل بچرخانید ، به طوری که انگشتان پا از پاشنه ها به هم نزدیکتر باشند. با هم ، پاهای شما باید یک نقطه را تشکیل دهند. 30 ثانیه سریع بزنید. احساس فشار سطح بزرگتر پا به آب. توجه داشته باشید که ضربه شما بسیار موثر است ، با تلاش بسیار کمتر ، و یک پاشش متمرکز در پاهای شما وجود دارد.
            </li>
            <li>با مچ پا کشیده  لگد بزنید و پاها را به سمت داخل بچرخانید. سریع و با پاهایی آرام لگد بزنید. هنگامی که آب را با بالای پاها پایین می کشید و با پایین پاها بالا می کشید ، احساس کنید ضربه شما به جلو می رود. تا انتهای استخر لگد بزنید.  انگشتان مچ کشیده نشده است
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            تمرین پای نرم
           <br>
            Floppy Foot Drill</h2>
        <ul>
            اهداف این تمرین
            
            <li>یک ضربه پا آرام
            </li>
            <li>تجربه پیشرانه ماهی مانند</li>
            <li>یادگیری صرفه جویی در انرژی</li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/kick-FloppyFootDrill.jpg')}}" alt="picture">
             
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>شنای ماهی را مشاهده کنید. هر ماهی این کار را انجام می دهد: ماهی  خانگی شما یا کوسه در آکواریوم. هنگام شنا ماهی به دم توجه کنید. سفت و سخت نیست ، بلکه مانند پرچمی در نسیم در آب به عقب و جلو حرکت می کند. سیال است. جنبش آشفته نیست ، بلکه به نظر می رسد اقدامی بدون زحمت برای ماهی ها باشد.
            </li>
            <li>یک باله شنای منفرد و بلند را روی یک پا قرار داده و در آب بایستید و در پشت با آب به دیواره بایستید و تمام باله را زیر آب غرق کنید. پای خود را در هر دو طرف حدوداً بیست و چهار اینچ مسافت بالا و پایین بکشید. از سرعت کافی استفاده کنید تا مقاومت باله را در برابر آب احساس کنید. توجه داشته باشید که آب هنگام حرکت باله چگونه خم می شود. توجه کنید که چگونه وقتی پای شما در یک جهت جارو می شود ، باله برعکس خم می شود. حرکت مانند دم ماهی روان است.
            </li>
            <li>اکنون ، باله را برداشته و در حالی که بازوها را دراز کرده اید ، رو به پایین در آب شناور شوید. شروع به لگد زدن سریع کنید ، پاها را به آب متصل نگه دارید ، در عمق حدود پانزده اینچ حرکت کنید. انگشتان خود را نشان دهید ، اما پاهای خود را شل کنید تا آب آنها را مانند خلال باله خم کند. 30 ثانیه سریع بزنید. به حرکت بی دردسر و سیال دم ماهی فکر کنید. بگذارید آب پایتان را حرکت دهد انگار که پرچمی در باد باشد. استراحت کنید ، سپس دوباره تمرین کنید.
            </li>
            <li>هنگامی که یک ضربه روان و نرم پا ایجاد کردید ، توجه داشته باشید که چلپ چلوپ از لگد شما بسیار جمع و جورتر است و لگد شما بازده بیشتری دارد. برای چندین طول استخر تمرین کنید.
            </li>
        </ul>
        <figure>
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/kZoVtGA7qJE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption >*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>
        <h2>
             پا زدن عمودی متوالی

           <br>
            Vertical Kicking Sequence</h2>
        <ul>
            اهداف این تمرین
            
            <li>درک اهمیت سرعت پا</li>
            <li>درگیر کردن عضلات صحیح برای لگد زدن</li>
            <li>احساس آب با پاها</li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/kick-VerticalKickingSequence.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در آب حداقل به اندازه قد خود ، به حالت عمودی قرار بگیرید. شکم خود را درگیر کنید. یک عمل پارو زدن ملایم را شروع کنید (با دستان خود شکل هشت  زیر آب بکشید) تا سر خود را بالاتر از آب نگه دارید.
            </li>
            <li>بدون ایجاد حرکت به جلو یا عقب ، شروع به لگد زدن به ضربه بال زدن ، حرکت دادن پاهای کشیده خود را با یک حرکت جارو به طور متناوب به طوری که وقتی یک پا به جلو است ، پای دیگر به عقب برگردد ، در دامنه تقریباً دوازده تا پانزده اینچ. انگشتان پای شما باید به سمت پایین استخر باشد و پاها و زانوها باید کمی به سمت داخل چرخانده شوند.
            </li>
            <li>روی عضلات درگیر خود تمرکز کنید. آنها باید عضلات بزرگی باشند که در پاهای شما قرار دارند. همانطور که پای خود را به جلو می رانید ، باید عضلات چهار سر ران خود را احساس کنید. همانطور که پای خود را به عقب می رانید ، باید احساس کنید که همسترها و برآمدگی های شما کار می کند.</li>
            <li>پاهایتان باید کاملاً صاف باشد ، در حالی که هنگام لگد زدن از ناحیه زانو قفل نشده است. همانطور که سرعت لگد خود را به جلو و عقب افزایش می دهید ، از بالا آوردن زانوها به عنوان راهپیمایی یا دوچرخه سواری جلوگیری کنید. باید احساس کند پاهای شما به جلو و عقب در حال جارو زدن هستند ، مثل جارو در آب.</li>
            <li>حتی سریعتر لگد بزنید. سعی کنید به حرکتی روان دست پیدا کنید که باعث شود پاهایتان انگار فاقد استخوان هستند. سعی کنید هنگام لگد زدن 30 ثانیه سر خود را بالا نگه دارید.
            </li>
            <li>هنگامی که به یک ضربه روان و راحت دست یافتید ، وقت آن است که با متوقف کردن عمل سکون با دست ، اثربخشی آن را بررسی کنید. دستان خود را روی سینه قرار دهید و دست چپ خود را روی شانه راست قرار دهید ، و دست راست خود را روی شانه سمت چپ قرار دهید. لگد بزنید ، سر خود را بالای آب نگه دارید. 30 ثانیه حفظ کنید.
            </li>
            <li>هنگامی که قادر هستید سر خود را بدون کمک به حرکات بازو بالا نگه دارید ، نسخه پیشرفته این تمرین را امتحان کنید: بازوها را در موقعیتی قرار دهید که در سطح آب از یک طرف به طرف دیگر گسترش یابد. اکنون دستان خود را از آب بلند کرده و در آرنج از زاویه راست خم شوید. لگد بزن آیا می توانید 30 ثانیه سر خود را بالا نگه دارید؟
            </li>
        </ul>
         <figure>
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/_zK0XiXO47Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption >*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>
        <h2>
            ضرب تک پا
           <br>
            Single Leg Kicking</h2>
        <ul>
            اهداف این تمرین
            
            <li>ایجاد یک ضربه موثر و کامل پا</li>
            <li>احساس یک لگد مداوم</li>
            <li>نگه داشتن پا در آب
            </li>
            
      
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>یک تخته لگد را در زیر بازوهای خود قرار دهید ، دست ها را در انتهای انتهای آن قرار دهید ، تا قسمت بالاتنه را پشتیبانی کنید و صورت خود را از آب دور نگه دارید. تخته لگد را روی آب صاف نگه دارید.</li>
            <li>شروع به زدن لگد زدن فقط با پای راست خود کنید. به پای چپ خود اجازه دهید به راحتی شناور شود. 30 ثانیه سریع بزنید. باقی مانده.</li>
            <li>دوباره امتحان کنید از کل پای خود برای لگد زدن استفاده کنید ، نه فقط از زانو به پایین. توجه داشته باشید که با شروع کامل کردن این مهارت ، پای لگد زدن شما بسیار سریع حرکت می کند ، بدون مکث در بالا و پایین ضربه. همچنین توجه داشته باشید که شما در حال هل دادن آب به هر دو جهت هستید: بالا و پایین.</li>
            <li>استراحت کنید ، سپس آن را با پای دیگر به مدت 30 ثانیه امتحان کنید. توجه داشته باشید که اگر اجازه دهید پای شما در بالای ضربه از آب خارج شود ، نسبت به زمانی که به آب متصل است ، تأثیر کمتری خواهد داشت.</li>
            <li>وقتی توانستید با یک پا حرکت رو به جلو ایجاد کنید ، نسخه پیشرفته این تمرین را امتحان کنید. پای چپ خود را از زانو خم کنید ، پاشنه خود را بالا بیاورید و آن را از آب در زاویه راست بگیرید. با پای راست خود خیلی سریع بزنید ، بدون مکث در بالا و پایین حرکت. از کل پای خود برای جارو کشیدن آب استفاده کنید. 30 ثانیه لگد بزنید. پاها را عوض کنید و 30 ثانیه دیگر لگد بزنید.
            </li>
            <li>پس از استراحت ، با دو پا ضربات منظم بال زدن را بزنید ، و سعی کنید همان لگدی را که فقط با یک پا به پایان رسانده اید شبیه سازی کنید. از کل پای خود برای ضربه زدن به همان عمق و همان قد استفاده کنید. از همان عضلات و سرعت ضربه یکسان استفاده کنید. با حرکت یکسان و مداوم فقط این بار پاهای متناوب را با هر ضربه بزنید.</li>
        </ul>
        <figure>
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/IqK1pg0B_ZY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption >*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>
    </article>
</main>
{% endblock %}
