{%extends 'base.html'%}

{% block head%}
<title>about US</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
{%endblock%}

{% block content %}
<div class="about"> 
    <div class="maindiv">
        <!-- <div class="mypic">
            <img src="{{url_for('static', filename='image/4.jpg')}}" alt="picture">
        </div> -->
        <q> کورش خسروی هستم دانش آموخته رشته مهندسی کامپیوتر گرایش نرم افزار و در زمینه ورزشی گواهینامه داوری و مربیگری شنا از فدراسیون شنا، شیرجه و واترپولو و همچنین گواهینامه نجات غریق از فدراسیون نجات غریق و غواصی کشور را دریافت کرده ام.
            لذا کنجکاوی و علاقه خود در هر دو زمینه و با توجه به کمبود منابع آموزشی شنا در داخل کشور، پراکندگی منابع آموزشی و بروز نبودن منابع باعث شد که بر آن شوم تا با خرده دانشی که دارم این وب سایت را طراحی کنم.
            امیدوارم با این کار گام کوچکی برای ورزش شنا کشورم برداشته باشم.
        </q>
        <q>I am Korosh Khosravi, a graduate of computer engineering majoring in software, and in the field of sports, I have received a certificate in refereeing and swimming coaching from the National Swimming, Diving and Water Polo Federation, as well as a lifeguard certificate from the National Lifeguard and Diving Federation.
            Therefore, my curiosity and interest in both fields and due to the lack of swimming training resources in the country, the scattering of training resources and the lack of updated resources made me decide to design this website with the little knowledge I have.
            I hope that by doing this, I will take a small step for the sport of swimming in my country.
        </q>
        
    </div>   
   
</div>
{% endblock %}
