{% extends 'base.html' %}
{% block head %}
<title>SwimmingWorld</title>
<!-- <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='image/favicon.ico')}}"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/index.css') }}"/>
{% endblock %}

{% block content %}
<main>
  <div class="grid">
        <!-- 19 -->
        <div>
          <div>
            <a href="{{url_for('number_19')}}">چگونه بر ترس خود از آبهای عمیق غلبه کنیم
            </a>
          </div>
            <div>
            <a href="{{url_for('number_19')}}"><img src="{{ url_for('static', filename='article-image/19.webp') }}" alt="picture"></a>
          </div>
        </div>
        <!-- 18 -->

        <div>

            <div>
            <a href="{{url_for('number_18')}}"><img src="{{ url_for('static', filename='article-image/18.jpg') }}" alt="picture"></a>
          </div>
          <div>
            <a href="{{url_for('number_18')}}">شنا چه فوایدی دارد؟
            </a>
          </div>
        </div>
        <!-- 17 -->
        <div>
          <div>
            <a href="{{url_for('number_17')}}"><img src="{{ url_for('static', filename='article-image/17.webp') }}" alt="picture"></a>
          </div>
          <div>
            <a href="{{url_for('number_17')}}">چگونه اول به شناوری شنا برسیم
            </a>
          </div>
        </div>
        <!-- 16 -->
        <div>
          <div>
            <a href="{{url_for('number_16')}}"><img src="{{ url_for('static', filename='article-image/16.jpg') }}" alt="picture"></a>
          </div>
          <div>
            <a href="{{url_for('number_16')}}">نحوه استفاده از استخر برای آماده سازی برای شنا در آب های آزاد 
            </a>
          </div>
        </div>
        <!-- 15 -->
        <div>     
            <div>
            <a href="{{url_for('number_15')}}"><img src="{{ url_for('static', filename='article-image/15.webp') }}" alt="picture"></a>
          </div>
          <div>
            <a href="{{url_for('number_15')}}">۸ روش برای غلبه بر اعصاب در آب های آزاد 
            </a>
          </div>
        </div>
        <!-- 14 -->
        <div>
          <div>
            <a href="{{url_for('number_14')}}"><img src="{{ url_for('static', filename='article-image/14.webp') }}" alt="picture"></a>
          </div>
          <div>
            <a href="{{url_for('number_14')}}">چرا نمی توانم مستقیم  شنا کنم؟
            </a>
          </div>
        </div>
        <!-- 13 -->
        <div>
            <div>
            <a href="{{url_for('number_13')}}"><img src="{{ url_for('static', filename='article-image/13.webp') }}" alt="picture"></a>
          </div>
          <div>
            <a href="{{url_for('number_13')}}">از چه عضلاتی در کرال سینه استفاده می کنید؟
            </a>
          </div>
        </div>
    <!-- 12 -->
    <div>
        <div>
        <a href="{{url_for('number_12')}}"><img src="{{ url_for('static', filename='article-image/12.webp') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_12')}}">۶ عادت آزار دهنده شناگران در استخر
        </a>
      </div>
    </div>
    <!-- #11 -->
    <div>
      <div>
        <a href="{{url_for('number_11')}}"><img src="{{ url_for('static', filename='article-image/11.webp') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_11')}}">بر ترس خود از شنا در آب های آزاد غلبه کنید
        </a>
      </div>
    </div>
    <!-- #1 -->
    <div>
      <div>
       <a href="{{url_for('number_1')}}"> <img src="{{ url_for('static', filename='article-image/1.jpg') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_1')}}">تمرین استروک شنا مختلط در زمستان
        </a>
      </div>
    </div>
    <!-- #2 -->
    <div>
      <div>
        <a href="{{url_for('number_2')}}"><img src="{{ url_for('static', filename='article-image/2.jpg') }}" alt="picture"></a>
      </div>
         <div>
        <a href="{{url_for('number_2')}}">روش ویم هوف: این روش چیست و چگونه می تواند به شنا کردن در آب های آزاد کمک کند
        </a>
      </div>
    </div>   
    <!-- #3 -->
    <div>
      <div>
        <a href="{{url_for('number_3')}}"><img src="{{ url_for('static', filename='article-image/3.webp') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_3')}}">چگونه می توانید شنا قورباغه خود را برای آب های آزاد سازگار کنید</a>
      </div>
    </div>
    <!-- #4 -->
    <div>
      <div>
        <a href="{{url_for('number_4')}}"><img src="{{ url_for('static', filename='article-image/see_swim_for.webp') }}" alt=""></a>
      </div>
      <div>
        <a href="{{url_for('number_4')}}">شنای دریا برای مبتدیان: نحوه شنا در دریا </a>
      </div>
    </div>
     <!-- #10 -->
     <div>
      <div>
        <a href="{{url_for('number_10')}}"><img src="{{ url_for('static', filename='article-image/10.webp') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_10')}}">چگونه تناسب بدن  خود را در بیرون آب حفظ کنیم

        </a>
      </div>
    </div>
    <!-- #5 -->
    <div>
      <div>
        <a href="{{url_for('number_5')}}"><img src="{{ url_for('static', filename='article-image/5.webp') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_5')}}">چگونه می توان با  شنا روان  قدرت ، استقامت و سرعت شنای خود را بهبود بخشید
        </a>
      </div>
    </div>
    <!-- #6 -->
    <div>
      <div>
        <a href="{{url_for('number_6')}}"><img src="{{ url_for('static', filename='article-image/6.jpg') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_6')}}">کرال سینه: چگونه می توان از هر استروک بهره بیشتری برد
        </a>
      </div>
    </div>
    <!-- #7 -->
    <div>
      <div>
        <a href="{{url_for('number_7')}}"><img src="{{ url_for('static', filename='article-image/7.jpg') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_7')}}">تفاوت بین فین شنای کوتاه و فین بلند
        </a>
      </div>
    </div>
    <!-- #8 -->
    <div>
      <div>
        <a href="{{url_for('number_8')}}"><img src="{{ url_for('static', filename='article-image/8.webp') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_8')}}">کدام قسمت از حرکت شنای کرال سینه برای رشد سرعت مهم است؟
        </a>
      </div>
    </div>
    <!-- #9 -->
    <div>
      <div>
        <a href="{{url_for('number_9')}}"><img src="{{ url_for('static', filename='article-image/9.jpg') }}" alt="picture"></a>
      </div>
      <div>
        <a href="{{url_for('number_9')}}">آیا شنا می تواند به دویدن من کمک کند؟
        </a>
      </div>
    </div>
   
 
  </div>
</main>
{% endblock %}