{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Flexibility</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>بهبود انعطاف پذیری چگونه می تواند شنای شما را تقویت کند 
        </h1>

        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/swimming_flexibility.webp') }}" alt="picture">
    
        </div>
        <br>
        <hr>
        <div class="text">
           
            <p>شنا برای رسیدن به حداکثر قدرت و سرعت به یک حرکت باورنکردنی در مفاصل نیاز دارد. به عبارت دیگر ، انعطاف پذیری خوب است.
            </p>
            <p>انعطاف پذیری قسمت مهمی از آموزش هر ورزشکار سه گانه است ، اما اغلب نادیده گرفته می شود.
            </p>
            <p>انعطاف پذیری یک اصطلاح معمول ورزشی است اما انعطاف پذیری در رابطه با شنای آزاد چه اهدافی را دنبال می کند؟ اهداف اصلی برای انعطاف پذیری وجود دارد و چگونگی ترجمه این اهداف به شنای بهتر شامل سه زمینه زیر است:
                اگر در  شنا کم تجربه هستید ، این جلسه را بپذیرید و از میزان پیشرفت خود متعجب خواهید شد.
            </p>
            <ul id="numeric">
                <li>دامنه حرکت و پاسخ کشش عصبی:
                </li>
                <p>هدف: تحریک گیرنده های کشش و حرکت در مفاصل را بهبود می بخشد تا به حرکت بهتر پاسخ دهد. به منظور تقویت حرکت ، انواع مختلفی از حسگرها در تمام مفاصل شما وجود دارد که باید با کشش و تحرک تحریک شوند.
                </p>
                <p>رابطه شنا: تحریک گیرنده های کششی و حرکتی به شما امکان می دهد راحتتر از طریق  مفصل خود حرکت کنید بدون اینکه قسمت های کمتری از بدن را جبران کنید. استفاده از اعضای بدن بیشتر برای حرکت  در یک اتصال باعث ایجاد تلاطم در آب می شود که باعث ایجاد کشش و در نتیجه عملکرد کمتر از حد مطلوب می شود. هرچه تلاطم کمتری در آب ایجاد کنید ، سریعتر پیش خواهید رفت.
                </p>
                <li> بهبود وضعیت بدن برای کاهش کشیدن و تقویت پیشرانه:
                </li>
                <p>هدف: چگونگی ایجاد حالت های خاص بدن ، وضعیت مفصل و اندام و نحوه استفاده از روش های خاص برای به حداقل رساندن مقاومت یا کشیدن برای بهبود پیشرانه را بهبود می بخشد.
                </p>
                <p>رابطه شنا: انعطاف پذیری به شما کمک می کند ، به عنوان مثال بدن خود را برای شناور بهتر بلند کرده و موقعیت اندام خود را نزدیک به سوراخ آبی که بدن هنگام قطع آب ایجاد می کند ، متمرکز کنید. هرچه بدن شما طولانی تر باشد و در نتیجه قرار گرفتن در معرض کلی بدن و اندام در آب کمتر باشد ، حرکت شما در آب بیشتر می شود. هرچه مایعات شما در آب بیشتر باشد ، کشش کمتری ایجاد می کنید و عملکرد شما بهتر است.
                </p>
                <li>رابطه طول و تنش در عضلات و مفاصل.</li>
                <p>هدف: رابطه بین طول عضلات و میزان کشش عضلات را بهبود می بخشد ، که برای به حداکثر رساندن سطح و مدت زمان نیروی زیادی که می توانند در هر ضربه وارد کنند بسیار مهم است.
                </p>
                <p>رابطه شنا: وقتی عضلات کشیده می شوند ، رابطه کششی و کششی افزایش می یابد ، فیبرهای فردی طولانی تر می شوند که هنگام شنا باعث ایجاد نیروهای بالاتر و طولانی تر می شوند.
                </p>
                <p>برای نشان دادن تأثیر انعطاف پذیری بر روی روش شنا ، دو ناحیه از بدن را که تحت تأثیر انعطاف پذیری هستند تحت تأثیر قرار دهید: شانه ها و مچ پا
                </p>
            </ul>
            <p style="font: bold 20px 'B Titr', arial">انعطاف پذیری ضعیف در شانه ها چندین قسمت اصلی در استروک شما را تحت تأثیر قرار می دهد:</p>
            <ul id="numeric">
                <li> باعث کاهش کشش بازو در هنگام سر خوردن می شود که باعث طولانی شدن فیبرهای عضلانی درگیر در مرحله کشش می شود ، بنابراین قدرت کشش شما را کاهش می دهد.
                </li>
                <li>این توانایی شما را برای داشتن یک موقعیت موثر آرنج بالا در هنگام سر خوردن که باعث ایجاد کشش می شود ، محدود می کند. عدم توانایی در حالت آرنج در هنگام سر خوردن ، بر توانایی بازوی عمودی اولیه شما تأثیر منفی می گذارد و توانایی تولید پیشرانه در مرحله کشش را کاهش می دهد.
                </li>
                <li>انعطاف پذیری ضعیف بهبودی آرنج بالا را محدود می کند که به نوبه خود کمک می کند تا عدم انطباق ناشی از چرخش بدن به حداقل برسد.</li>
            </ul>
            <p style="font: bold 20px 'B Titr', arial">انعطاف پذیری ضعیف در مچ پا مناطق اصلی در ضربه و موقعیت بدن شما را تحت تأثیر قرار می دهد:</p>
            <ul id="numeric">
                <li>انعطاف پذیری ضعیف مچ پا باعث ایجاد مواجهه بیشتر در قسمت جلویی با مچ پا به صورت مزمن به سمت پایین می شود (مانند یک حرف "L") که مانند لنگرهایی در پشت شناگر ایجاد می کند و باعث کشش می شود.
                </li>
                <li>اگر مچ پا انعطاف پذیر نباشد ساختارهای کم کارایی جبران می کند و در ایجاد یک ضربه موثر کمکی نمی کند. به عنوان مثال ، زانوها بیشتر خم می شوند و ضربه ای از نوع "دوچرخه" ایجاد می کنند که باعث ایجاد کشش می شود و بسیار ناکارآمد است.
                </li>
                <li>تعادل و انتقال قدرت بین قسمت فوقانی و پایین بدن به دلیل ضعف در زمان حرکت ران ، تأثیر منفی می گذارد.
                </li>
            </ul>
            <p>مثالهای زیادی وجود دارد که نشان می دهد چگونه انعطاف پذیری ضعیف عملکرد شنا را تحت تأثیر قرار می دهد اما این دو زمینه شایع انعطاف پذیری است که ورزشکاران سه گانه گروه سنی با آن روبرو هستند. برای پرداختن به این مسئله انعطاف ناپذیری ، مولفه های کششی و تحرک زیادی در نظر گرفته شده اند که در زیر بیان شده است:
            </p>
            <ul id="numeric">
                <li>زمان بندی: ماهیچه ها و تاندون ها وقتی گرم می شوند ، راحت تر و دورتر می شوند. عضلات و تاندون های خود را به عنوان تکه های لثه در نظر بگیرید. وقتی آدامس سرد است و می خواهید آن را خم کنید ، نصف می شود ، اما اگر گرم باشد ، به راحتی خم می شود و کش می آید. بنابراین بعد از اتمام تمرین ، کشش های استاتیک را انجام دهید.</li>
                <li>کشش کامل بدن: ما فکر می کنیم که فقط هنگام استفاده از شنا از شانه و گلوت ، چهار گوش استفاده خواهیم کرد. در حقیقت ، شما تقریباً از هر عضله در بدن خود استفاده می کنید ، بنابراین کشش کامل بدن را انجام دهید!
                </li>
                <li>طول کشش: هر کشش باید 30 تا 60 ثانیه نگه داشته شود تا انعطاف پذیری افزایش یابد. کشش کوتاهتر ممکن است احساس فراوانی کند ، اما اینطور نیست. تحقیقات نشان داده است که کشش 30 ثانیه ای انعطاف پذیری را افزایش می دهد ، و کشش کشش تا 2 دقیقه انعطاف پذیری را بهینه می کند.
                </li>
                <li>تکرارهای کششی: پس از کشیدن کشش حداقل به مدت 30 ثانیه ، آن را رها کنید ، لحظه ای آرام شوید و دوباره کشش دهید. خواهید فهمید که کشش های دوم و سوم خیلی دورتر می شوند و باعث می شوند عضله احساس آرامش کند.</li>
                <li>شدت کشش: کشیدن نباید صدمه بزند. اگر اینگونه باشد ، بیش از حد کشش دارید. باید بتوانید کشش را به صورت کشش جزئی روی عضله و تاندون احساس کنید. آن وضعیت را حفظ کنید تا دیگر کشش را احساس نکنید ، سپس کمی بیشتر بکشید تا دوباره تنش را احساس کنید.</li>
            </ul>
            <p style="font: bold 20px 'B Titr', arial">بعلاوه ، کششهای زیادی وجود دارد که می توانید برای افزایش انعطاف پذیری شنا انجام دهید ، اما کششهای زیر برای تأثیر واقعی بر عملکرد شنا مهم هستند</p>
            <h2>سینه و شانه ها
        Chest and Shoulders </h2>
            <p>عضلات شانه در طی مرحله کشش نیرو تأمین می کنند ، همچنین به مراحل بهبودی و ورود کمک می کنند و عضلات قفسه سینه در طول مرحله کشیدن نیرو تأمین می کنند میتوانید از تمرین زیر برای بهبود انعطاف پذیری سینه و شانه ها استفاده کنید.
            </p>
            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/1P_LwTOtAB4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>
            <br>
            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/bYOaYLQJ71E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>
            <h2>باسن و همسترینگ
                Hip and Hamstring
            </h2>

            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/Qe4CuDoeiO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>
            <!-- <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/5L8hnL4V-24" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure> -->
            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/sM2Vxxvassc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>


            <h2>تمام بدن
                Total Body
            </h2>
            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/ohJgKA1ztNk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>
            <!-- <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/WymRLcDo1ek" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure> -->
            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/dOiZHRcdlf8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>
            
        </div>

       
        
    </article>
</main>
{% endblock %}