{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Butterfly Recovery Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="{{ url_for('static', filename='butterfly-image/butterfly-recovery.jpg') }}" alt="picture">  
    </div>
    <article>
        <h1>تمرین های بازیابی پروانه
            <br>
            Butterfly Recovery Drills</h1>
        <p>
            پروانه از بازیابی همزمان بازو بر روی سطح آب استفاده می کند. همین موقعیت مشخص بال باز است که پروانه را به عنوان یک عکس مورد علاقه تبدیل می کند. استفاده از بهبودی آرام مهم است ، با این حال ، تغییرات در انعطاف پذیری باعث می شود که بهبود پروانه هر شناگر کمی منحصر به فرد باشد. به طور کلی ، بهبودی نزدیک به آب است ، زیرا بازوها به طور گسترده ای از عقب به جلو می چرخند. وقتی بازوها از روی شانه ها رد می شوند ، دوباره مرتب می شوند تا به جلو هدف بگیرند. هدف از تمرین های بهبودی زیر برای پروانه ، دستیابی به بازیابی آرام ، مستقیم و همسو با یک پروانه بهتر است.

        </p>
        <h2>
            کف دست بالا
            <br>
            Pinkies-up</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری حفظ حالت کف دست بالا


            </li>
            
            <li>
                احساس بهبودی آرام
            </li>
            <li>
                ایجاد قوس با بازوهای خود روی آب
            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/recovery-Pinkies-up.jpg') }}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>در مقابل آینه ایستاده ، به جلو خم شوید تا بالاتنه شما افقی باشد. بازو ها را رو به جلو دراز کنید ، یک ضربه بازوی پروانه ای در هوا انجام دهید ، به جلو کشیده و سپس دور خود را جارو کنید ، از وسط ببندید ، سپس سریع  در بیرون آب دست را گرد کنید به صورت J.مکث کنید، توجه کنید کف دست شما بالا قرار دارد


            </li>
            <li>
                با حفظ وضعیت کف دست بالا  ، دست خود را با بازیابی به سمت وضعیت شروع به اطراف و جلو بکشید. دست و مچ دست شما باید آرام باشد. به قوسی که دو بازوی شما ایجاد می کنند ، توجه داشته باشید و سر خود را در وسط قرار دهید. همچنین توجه داشته باشید که هنگام جارو زدن به وسیع ترین سطح بال ، برای حفظ حالت کف دست-به بالا ، باید سینه خود را به داخل آب پایین بیاورید.

            </li>
            <li>
                همانطور که دستانتان از روی شانه ها عبور می کند ، با بازوها به جلو بروید ، همچنان حالت کف دست-بالا را حفظ کنید. به جلو بکشید ، انگار که برای ورود به آب آماده شوید. مسیر کامل بازوهای پروانه را چندین بار با نگاه به آینه تکرار کنید. دستان خود را در حالت کاملاً بالا حفظ کنید. دستان و مچ دستان خود را در حالی که به اطراف و جلو می چرخند احساس آرامش کنید.

            </li>
            <li>
                حالا آن را در آب امتحان کنید. دیوارها را به سمت پایین و در آب قرار دهید و دست ها را جلوی شانه های خود باز کنید. بعد از چندین دلفین ، بازوی خود را شروع کرده ، به جلو بروید ، سپس به اطراف و عقب بروید ، و زیر شکم خود نزدیک شوید. سرعت خود را تا انتهای استروک افزایش دهید ، کف دست خود را به سمت بیرون و عقب بچرخانید تا در حالی که پاهای شما دوباره پایین می آید.دستان شما باید چند سانت بالا تر از آب باشد. با تابیدن بازوی پهن و آرام ، آنها را به جلو برگردانید و در تمام مدت بهبودی حالت کف دست-به بالا را حفظ کنید. با عبور دست از شانه ها ، بازوها را به سمت جلو دراز کرده و کمی بازتر از شانه ها وارد آب شوید.

            </li>
            <li>
                یک حرکت دیگر را انجام دهید ، یک خط عریض تا باریک و عمیق تا کم عمق را ردیابی کنید و به عقب برسید. پایان را با J دور بزنید ، سپس ابتدا دستان خود را از کف دست از آب خارج کنید. مچ دست را بازیابی کنید ، قوس آرام را روی آب ایجاد کنید. چندین بار تمرین کنید تا اینکه در کل راه با کف دست بالا، به بهبودی آرام دست پیدا کنید.

            </li>
        </ul>
        <!-- ####################### -->
        <h2>

            <br>
            The Flop</h2>
        <ul>
            اهداف این تمرین
            
            <li> استفاده از سینه و شانه های خود برای بهبودی


            </li>
            <li>بازیابی را در وضعیت سرازیری به پایان برسانید

            </li>
            <li>
                احساس بهبودی آرام
            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/recovery-TheFlop.jpg') }}" alt="picture">
     
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li> دیواره را برای شروع پروانه فشار دهید. بعد از چندین دلفین ، بازوی خود را شروع کنید. دستان خود را کاملاً باریک و عمیق تا کم عمق بکشید و به عقب شتاب دهید. انتهای استروک را دور بزنید و ابتدا کف دستان خود را از آب خارج کنید. با یک بازوی پهن و آرام ، بهبود یابید و حالت کف دست بالا  خود را حفظ کنید. همانطور که بازوها به وسیع ترین وضعیت خود می رسند ، شانه ها و سر شما باید در بالای قوس بهبودی قرار داشته باشند. احساس کنید که نوسان بهبودی از شانه ها و قفسه سینه ناشی از دست است

            </li>
            <li>
            وقتی دست ها از روی شانه ها عبور می کنند ، شانه ها را به جلو بچرخانید. سپس در حالی که در پایان بهبودی بازوها به سمت راست قرار می گیرند ، سینه خود را به سمت پایین به داخل آب بیندازید. دوباره تکرار کن در قسمت انتها استروک کف دست بالا و از آب خارج شوید. بهبودی خود را از شانه ها و قفسه سینه شروع کنید و حالت کف دست بالا را حفظ کنید. همانطور که دست ها از روی شانه ها عبور می کنند ، شانه ها را به جلو بچرخانید. هنگامی که بازوها به سمت جلو می آیند ، سینه خود را به پایین در آب بیندازید. باید احساس کنید که بازوهای شما بدون زحمت به جلو می روند.
        </li>
            <li>چندین حرکت دیگر را نیز انجام دهید ، و تمرکز خود را بر روی بهبودی آرام و کف دست بالا  قرار دهید که از سینه و شانه ها تأمین می شود. در اواسط بهبودی ، شانه ها را به جلو بچرخانید و در حالی که دستان خود را به جلو مرتب می کنید و هر بار بهبودی ، سینه را به سمت پایین بیاورید. توجه داشته باشید که انجام این کار به پایان بهبود شما سرعت می بخشد. همچنین توجه داشته باشید که همانطور که عمل شانه و سینه شما بازوها را به طور خودکار در موقعیت ورود به جلو قرار می دهد ، بدن شما به حالت شناور سراشیبی دست می یابد.

            </li>
            <li>
                بیشتر تمرین کنید ، با تمرکز بر دستیابی به بهبودی آرام از ابتدا تا انتها. هر بار حالت کف دست بالا  را حفظ کنید. بازوها را با استفاده از شانه ها و قفسه سینه به موقعیت ورودی آنها بریزید. احساس کنید بدن شما به یک موقعیت سرازیری می رسد. پس از هر دوره بهبودی ، احساس کنید که بازوهایتان در موقعیت ورود به جلو قرار دارند و آرام هستند.

            </li>
        </ul>
        <h2>
            رسیدن به شکل Y
            <br>
            Reaching to a Y</h2>
        <ul>
            اهداف این تمرین
            
            <li>در پایان بهبودی نوک انگشتان نسبت به شانه های شما بازتر است


            </li>
            <li>تراز شدن از شست

            </li>
            <li>قرار دادن دست ها برای نگه داشتن آب بیشتر

            </li>
            <img class="picture" src="{{ url_for('static', filename='butterfly-image/recovery-ReachingtoaY.jpg') }}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
            چطور تمرین را انجام دهیم
        
            <li>دیوار را فشار دهید ، ستون فقرات مستقیم ، لگن بالا ، بازوها کشیده. ریتم خود را با چندین دلفین ایجاد کنید ، سپس دست خود را شروع کنید ، و با شتاب گرفتن به عقب ، حرکت علامت سوال  را ردیابی کنید. دور خود را تمام کنید و دست ها را خود را بازیابی کنید. وقتی دستانتان از روی شانه ها عبور می کند ، بازوهای خود را مرتب کنید تا به جلو برسید.

            </li>
            <li>
                در پایان بهبودی ، برای آماده شدن برای استروک بعدی ، سینه خود را به سمت پایین بیاورید ، بازوها را به سمت جلو دراز کرده و آرنج ها را به سمت بیرون فشار دهید. انگشت شست خود را به انتهای استخر نشان دهید. توجه داشته باشید که با این کار ، نوک انگشتان شما به سمت بیرون قرار می گیرند. این کار را دوباره انجام دهید ، به طور فعال بهبودی خود را با انگشت شست خود تراز کنید تا بهبودی شما به پایان برسد. با رسیدن به وضعیت سرازیری احساس کنید که نوک انگشتان شما از ابعاد بیشتری از شانه ها وارد آب می شوند.

            </li>
            <li>
                چندین حرکت دیگر را انجام دهید ، و یک بهبودی کاملاً آرام داشته باشید ، سپس بازوهای خود را دوباره هدایت کنید تا دستانتان از روی شانه ها عبور کند. قفسه سینه خود را رها کنید ، آرنج خود را مستقیم فشار دهید و با شست دست خود را تا انتهای استخر تراز کنید. کاملاً امتداد یافته ، باید احساس کنید که بازوان شما روی سطح آب Y تشکیل می دهند.

            </li>
            <li>بیشتر تمرین کنید ، هر ترمیم را با تنظیم انگشت شست به جلو و رسیدن به موقعیت ورود Y به پایان برسانید. توجه داشته باشید که به راحتی با انگشت شست دستان خود را خارج از شانه های خود قرار دهید. توجه داشته باشید که از وضعیت Y ، هنگام شروع هر ضربه جدید ، می توانید آب را با دستان خود بهتر بگیرید.</li>
        </ul>
    </article>
</main>
{% endblock %}

