<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/normalize.css') }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>  
   
    <div id="wrapper"> 
        <header>
            <div class="logo" id="logo">
                <img src="../static/image/logo.png" alt="logo" srcset="">
            </div>
            
            <div class="top">
                <img src="../static/image/user.svg" alt="">
                <div class="link-div">
                <a href="{{ url_for('login') }}">Login</a>
                <span style="font-size: 1rem; color:yellow;">|</span>                
                <a href="{{ url_for('register') }}">Register</a>  
                </div>
            </div>
            <nav>
                <input type="checkbox" name="" id="menu" />
                <label for="menu" id="hamburger-icon">&#9776;</label>       
                <ul class="main-menu">
                    <li><a href="{{ url_for('home') }}">خانه</a></li>
                    <li>
                        <input type="checkbox" name="main-list" id="A"/>
                        <label for="A">تمرین تکنیک</label>
                        <ul class="sub-menu">
                            <li><input type="checkbox" name="swim" id="A-A"/>
                                <label for="A-A">پروانه / Butterfly</label>
                                    <ul class="super-menu">
                            
                                        <li><a href="{{ url_for('butterfly_kick') }}"> ضربه پا / Kick</a></li>
                                        <li><a href="{{ url_for('butterfly_arm') }}">دست / Arm Stroke</a></li>  
                                        <li><a href="{{ url_for('butterfly_recovery') }}">بازیابی / Recovery</a></li> 
                                        <li><a href="{{ url_for('butterfly_breathing') }}">نفس گیری / Breathing</a></li>     
                                        <li><a href="{{ url_for('butterfly_leverage') }}">قدرت نفوذ / Leverage</a></li>  
                                        <li><a href="{{ url_for('butterfly_coordination') }}">هماهنگی / Coordination</a></li>
                                        <li><a href="{{ url_for('butterfly_body_position') }}">وضعیت بدن / Body Position</a></li>   
                                    </ul>
                            </li>
                            <li><input type="checkbox" name="swim" id="A-B"/>
                                <label for="A-B">کرال پشت / Backstroke</label>
                                <ul class="super-menu">
                                    <li><a href="{{ url_for('backstroke_kick') }}"> ضربه پا / Kick</a></li>
                                    <li><a href="{{ url_for('backstroke_arm') }}">دست / Arm Stroke</a></li>  
                                    <li><a href="{{ url_for('backstroke_recovery') }}">بازیابی / Recovery</a></li> 
                                    <li><a href="{{ url_for('backstroke_breathing') }}">نفس گیری / Breathing</a></li>     
                                    <li><a href="{{ url_for('backstroke_leverage') }}">قدرت نفوذ / Leverage</a></li>  
                                    <li><a href="{{ url_for('backstroke_coordination') }}">هماهنگی / Coordination</a></li>
                                    <li><a href="{{ url_for('backstroke_body_position') }}">وضعیت بدن / Body Position</a></li>       
                                </ul>
                            </li>
                            <li><input type="checkbox" name="swim" id="A-C"/>
                                <label for="A-C">قورباغه / Breaststroke</label>
                                <ul class="super-menu">
                                    <li><a href="{{ url_for('breaststroke_kick') }}"> ضربه پا / Kick</a></li>
                                    <li><a href="{{ url_for('breaststroke_arm') }}">دست / Arm Stroke</a></li>  
                                    <li><a href="{{ url_for('breaststroke_recovery') }}">بازیابی / Recovery</a></li> 
                                    <li><a href="{{ url_for('breaststroke_breathing') }}">نفس گیری / Breathing</a></li>     
                                    <li><a href="{{ url_for('breaststroke_leverage') }}">قدرت نفوذ / Leverage</a></li>  
                                    <li><a href="{{ url_for('breaststroke_coordination') }}">هماهنگی / Coordination</a></li>
                                    <li><a href="{{ url_for('breaststroke_body_position') }}">وضعیت بدن / Body Position</a></li>     
                                    
                                </ul>
                            </li>
                            <li><input type="checkbox" name="swim" id="A-D"/>
                                <label for="A-D">کرال سینه / Front Crawl</label>
                                <ul class="super-menu">
                                    <li><a href="{{ url_for('freestyle_kick') }}"> ضربه پا / Kick</a></li>
                                    <li><a href="{{ url_for('freestyle_arm') }}">دست / Arm Stroke</a></li>  
                                    <li><a href="{{ url_for('freestyle_recovery') }}">بازیابی / Recovery</a></li> 
                                    <li><a href="{{ url_for('freestyle_breathing') }}">نفس گیری / Breathing</a></li>     
                                    <li><a href="{{ url_for('freestyle_leverage') }}">قدرت نفوذ / Leverage</a></li>  
                                    <li><a href="{{ url_for('freestyle_coordination') }}">هماهنگی / Coordination</a></li>
                                    <li><a href="{{ url_for('freestyle_body_position') }}">وضعیت بدن / Body Position</a></li>      
                                </ul>
                            </li>      
                        </ul>
                    </li>
                    <li><input type="checkbox" name="main-list" id="B"/>
                        <label for="B">تمرین انعطاف پذیری</label>
                        <ul class="sub-menu">
                            <li><a href="#">  / Kick</a></li>
                            <li><a href="#">دست / Arm Stroke</a></li>  
                            <li><a href="#">بهبودی / Recovery</a></li> 
                            <li><a href="#">نفس گیری / Breathing</a></li>     
                            <li><a href="#">قدرت نفوذ / Leverage</a></li>  
                            <li><a href="#">هماهنگی / Coordination</a></li>
                            <li><a href="#">وضعیت بدن / Body Position</a></li>       
                        </ul>
                    </li>
                    <li><input type="checkbox" name="main-list" id="C"/>
                        <label for="C">تمرین بدنسازی</label>
                        <ul class="sub-menu">
                            <li><a href="#"> پا / Kick</a></li>
                            <li><a href="#">دست / Arm Stroke</a></li>  
                            <li><a href="#">بهبودی / Recovery</a></li> 
                            <li><a href="#">نفس گیری / Breathing</a></li>     
                            <li><a href="#">قدرت نفوذ / Leverage</a></li>  
                            <li><a href="#">هماهنگی / Coordination</a></li>
                            <li><a href="#">وضعیت بدن / Body Position</a></li>       
                        </ul>
                    </li>
                    <li><a href="#">آموزش </a>
                    </li>
                    <li ><a class="mobile-view" href="/vscode/website/Login.html">ورود</a></li>
                    <li><a href="{{ url_for('about') }}">درباره ما </a></li>
                </ul>      
            </nav>
        </header>  
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div class="topfooter">
                <div class="mail"><a href = "mailto: korosh.khosravi69@gmail.com">&#128231; Send Feedback</a></div>
            </div>
            <div class="downfooter">
                <div><small >&copy; korosh khosravi 2021.</small></div>
            </div>
        </footer>
    </div>
</body>
</html>