{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Overcome your open-water swimming fears</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>بر ترس خود از شنا در آب های آزاد غلبه کنید
        </h1>
        <h5>  کلر اسمیت ، ورزشکار سه گانه فوق العاده، در مورد چگونگی مبارزه با ترس از آبهای آزاد هنگام مقابله با برخی از سخت ترین رویدادهای جهان ، و اینکه چطور شما هم می توانید  
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/11.webp') }}" alt="picture">     
        </div>
        <br>
        <hr>
        <div class="text">
            <q>دخترم روز گذشته اظهار داشت که لباسهای وت شنای من بوی خنده داری دارند. گفتم که همه بوی  وحشت من است. ما خندیدیم ، اما برای من کاملاً درست است. بوی نئوپرن با ترس همراه است.
            </q>
            <p>وقتی در سال ۲۰۰۶ در مسابقات سه گانه شروع کردم ، به سختی شنا می کردم. من ساعتها با شناور شنا و ساعتها در خانه بالا و پایین استخر محلی خود را بالا و پایین می کردم و در حال مطالعه ویدئوهای YouTube درباره تکنیک بودم. سرانجام ، پس از سه ماه کار بسیار سخت ، من می توانستم ۳۰ طول کرال سینه نسبتاً مناسب را شنا کنم. که کافی نبود تا بتوانم از طریق Ironman 70.3 که در ویمبل بال ، اگزمور برای آن ثبت نام کرده بودم ، عبور کنم ، اما این یک شروع بود.
            </p>
            <p>من همچنین در آخر هفته آشنایی آیرون من در شربورن (محل برگزاری انگلستان قبل از بولتون) رزرو کردم که هدف آن ورزشکاران دوره طولانی است. آیرونمن هدف نهایی من بود ، بنابراین فکر کردم این اردو برای من عالی باشد. من مهارت های وحشتناک دوچرخه سواری خود را که این آخر هفته برجسته کرد ، نادیده می گیرم و روی جنبه شنا آن تمرکز می کنم
            </p>
            <p>مربیان دو جلسه شنا برای ما در نظر گرفتند و در روز اول ، من به کنار دریاچه در محوطه قلعه شربورن برگشتم. من ساده لوحانه هیجان زده شدم زیرا قبلاً هرگز در دریاچه شنا نکرده بودم. من خودم را با لباس  دست دوم که هفته قبل خریده بودم کشتی گرفتم ، به نظر خوب می آمد. مربی یک نگاه به من انداخت و سرش را تکان داد. او گفت: "این برای شما خیلی بزرگ است". "شما باید اندازه بعدی را پایین بیاورید." این کت و شلوار در واقع به نظر من کاملاً تنگ بود ، بنابراین من تعجب کردم که چگونه بدنم را به لباس کوچکتر فشار می دهم ...
            </p>
            <p>وقتی همه آماده شدند ، یکی یکی وارد دریاچه شدیم. اوایل سال خیلی زود بود و آب قطعاً از طرف سرد بود. هر چه بیشتر عمیق می شدم ، آب سرد لباس مرا پر کرد. این یک احساس عجیب بود و همه با هم خیلی دلپذیر نبودند. وقتی به جایی رسیدم که دیگر پاهایم به پایین نمی رسید ، به اطراف نگاه کردم و دیدم بقیه شروع به شنا می کنند. نفس عمیقی کشیدم و صورتم را در آب فرو کردم.
            </p>
            <p> من سر و صدا کردم ، سرم را از آب بیرون آوردم ، گاز گرفتم و پاشیدم. احساسی که در استخر وجود دارد این نیست. من دوباره تلاش کردم و واکنش مشابهی داشتم. و حالا به نظر می رسید که صداهای عجیب و غریبی در می آورم. صدای جیر جیر عجیبی که نفس می کشیدم. و بسیار تحقیرآمیز ، به نظر نمی رسید بتوانم جلوی آن را بگیرم. فکر کردم هیچ کس متوجه نمی شود. اما یکی از مربیان فهمیده بود که من در گروه اصلی نیستم و برای یافتن من برگشت.
            </p>
            <q>او گفت ، "شما فقط بیش از حد تهویه می كنید." این برای بار اولی ها کاملاً طبیعی است.
            </q>
            <p>همان صبح همان مربی تمام ساعت را با من گذراند. به من یاد می دهم صورتم را در آب بریزم و به طور طبیعی نفس بکشم. این آسان نبود و مطمئناً شنای شگفت انگیزی نبود که روز قبل برنامه ریزی کردم. اما ، در پایان اردوگاه ، من می توانستم به طور رسمی در آبهای آزاد شنا کنم.
            </p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='article-image/11-1.webp') }}" alt="picture">  
            </div>
            <p>من بیش از ۱۴ سال است که در آبهای آزاد شنا می کنم و هنوز هم قبل از اینکه وارد آب شوم بسیار عصبی هستم و گاهی اوقات حملات وحشت بزرگی را هنگام شنا تجربه می کنم. برخی از مردم - در واقع ، بسیاری از مردم - از من می پرسند که چرا من فقط تسلیم نمی شوم؟ سوال خوبی است چرا باید مرتباً کاری را انجام دهم که باعث چنین اضطرابی شود و گاهی اوقات باعث ناراحتی من شود؟ دلایل بسیاری وجود دارد. اولین موجودی که من به راحتی حاضر به تسلیم شدن نیستم. من می خواهم در مسافت های طولانی شنا کنم و قبول نمی کنم که گاهی اوقات مغز من واقعا نمی خواهد برای سوار شدن همراه شود.
            </p>
            <p>دوم اینکه بعضی اوقات شنای من واقعاً لذت بخش است. در حقیقت ، این روزها بسیاری از شناهای من بدون هراس هستند. اما اگر هرگز جرأت کردم کمی لوس شویم ، یک یادآوری ملایم (نه چندان) دریافت می کنم.
            </p>
            <p>دلیل سوم این است که من یک رویداد بزرگ و (بسیار) ترسناک دارم که مدت هاست سعی می کردم آن را انجام دهم ، به نام Arch to Arc. به نظر من این چالش سخت ترین مسابقات سه گانه جهان است و شامل شنا در کانال مانش است. و برای شنا کردن کانال ، باید در آبهای آزاد ، ترجیحاً دریا ، بسیار تمرین کنید.
            </p>
            <p>بنابراین اکنون می فهمید ، من باید شنا را ادامه دهم ، گزینه دیگری وجود ندارد.</p>
            <p>اما چگونه توانسته ام به سختی بتوانم وارد دریاچه شوم و بتوانم 11 ساعت در اقیانوس اطلس شنا کنم؟ این کار مداوم و صبر بی پایان می خواهد. همچنین ، باید بپذیرم که گاهی شنا برای من یک تجربه بدبختی است. بعضی اوقات شنا های من کوتاهتر از حد لازم است. و حتی گاهی اوقات می توانند منجر به DNF شوند.</p>
            <p>این باعث نابودی من می شد ، اما هرچه پیرتر و باتجربه تر شدم ، یاد گرفتم که به جای اینکه دائما خودم را بزنم ، ترس هایم را بیشتر بپذیرم. و این واقعیت زمانی است که شما با شیاطین می جنگید. این اغلب یک قدم به جلو و دو قدم به عقب است. اما تنها راهی که آنها همیشه شما را کتک می زنند این است که شما تسلیم شوید. بنابراین ، در حالی که من هنوز چندین لایه نئوپرن می اندازم و با عینک های عصبی خود را عصبی بازی می کنم ، من هنوز برنده هستم.
            </p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='article-image/11-2.webp') }}" alt="picture">  
            </div>
            <ul>
                <li>هر بار یک قدم</li>
                تنها راهی که می توانم برای اولین مرد آهنین خود وارد دریاچه شوم ، هر بار یک اینچ بود. من به خودم اجازه دادم که اگر خیلی زیاد شد بیرون بروم. این به من کمک کرد تا آرام باشم و احساس كنترل بیشتری داشته باشم.
                <li>جمعیت را رها کنید</li>
                مسابقه های شنای در آب های آزاد یا مسابقات سه گانه می توانند در آغاز یک مبارزه واقعی باشند. این می تواند منجر به از بین بردن عینک های شما یا آرنج در صورت شما شود. اگر در حال حاضر شناگر عصبی هستید ، این می تواند رویداد شما را قبل از شروع آن به پایان برساند. من همیشه قبل از شروع شنا اجازه می دهم قسمت عمده ای از رقبا بیرون بیایند. برای یک ورزشکار عادی ، یک دقیقه اینجا نیست و آنجا نیست و این بدان معناست که شما مسابقه خود را بدون قرار گرفتن در ماشین لباسشویی شروع می کنید
                <li>هیولا را بفهمید  </li>
                حملات هراس ناخوشایند هستند ، اما در وسط دریاچه یا دریای شکننده ، بسیار وحشتناک هستند. وقتی احساس می کنم آنها در حال روشن شدن هستند ، به معنای واقعی کلمه آنها را مانند موجی تصور می کنم که روی من شسته می شوند. به آرامی ساخته می شود ، به یک قله می رسد و سپس آرام می شود. درک کنید که این احساس عبور می کند و حتی در صورت بروز استروک را ادامه دهید. شما ممکن است نتوانید حملات وحشت خود را از بین ببرید ، اما با کار با آنها دیگر کنترل یکسانی بر شما ندارند.
                <li>فشار را کم کنید</li>
                سعی کنید در جلسات آموزشی خود از تعیین اهداف بزرگ خودداری کنید. اگر می خواهید ۹۰ دقیقه شنا انجام دهید ، اما قبل از اینکه حتی در آب نرسیدید دچار استرس شدید ، موافقت کنید که فقط ۳۰ دقیقه شنا کنید. شما با این کار چقدر احساس بهتری خواهید داشت و از شنا لذت می برید ، متعجب خواهید شد. و بیشتر اوقات ، هدف اصلی خود را دنبال خواهید کرد.
            </ul>
            <p>درباره کلر… کلر اسمیت اولین مسابقه سه گانه خود را در Ironman 70.3 UK در Exmoor در سال 2006 شرکت کرد و از آن زمان به مسابقه Ironman UK ، Enduroman Double Iron ، SwissUltra Continuous Deca Iron و Double Deca Iron در مکزیک پرداخت. او همچنین بنیانگذار Brutal Events ، سازمان دهنده Brutal Extreme Triathlons است. و بعدی برای کلر در سال 2021؟ فقط یک مسابقه سه گانه 3500 مایلی پشتیبانی نشده در سراسر آمریکا در ماه مه ، و سه گانه Arch to Arc در سپتامبر ...</p>
        </div>     
    </article>
</main>
{% endblock %}
