{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Wim Hof Method</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>روش ویم هوف: این روش چیست و چگونه می تواند به شنا کردن در آب های آزاد کمک کند

        </h1>
        <h5>از روش ویم هوف شنیده اید اما نمی دانید چیست؟ جان وود توضیح می دهد که چگونه این روش تنفسی می تواند به سرما و استرس شنا در آب های آزاد کمک کند</h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/Wim Hof Method.jpg') }}" alt="picture">
        </div>
        <br>
        <hr>
        <div class="text">
            <q>روش ویم هوف ابزاری برای یادگیری کنترل سیستم عصبی غیر ارادی و بهبود انرژی و آگاهی ، با به کارگیری تمرینات تنفسی و قرار گرفتن در معرض درجه حرارت سرد است.</q>
            
            <p>ویم هوف ، یک ورزشکار افراطی هلندی که به دلیل توانایی خود در مقاومت در برابر دمای یخ زدگی ، اظهار داشت که روش تنفس او به کاهش تمایل اولیه برای فرار از درد و ترس - و از سرما کمک می کند. این بسیار یک حالت مراقبه ای از وجود است.
            </p>
            <p>دو زمینه اصلی تمرکز روی روش های آقای هوف وجود دارد که اولین مورد آن سرما است. گذراندن وقت در سرما اگر مزایای بالقوه قابل توجهی داشته باشد ، اگر به درستی انجام شود. ثانیا تنفس می آید. به گفته آقای هوف ، تنفس هوشیارتر ، عمیق تر ، کندتر و کنترل شده ، اکسیژن رسانی خون را افزایش می دهد و به نوبه خود میزان استرس را کاهش می دهد.
            </p>
            <p>روش ویم هوف برای سازگاری و گذران وقت در آب سرد طراحی شده است. بنابراین خواه در طول زمستان در آبهای آزاد شنا کنید ، یا کسی باشید که در ماه می وارد دریاچه می شود ، این ممکن است چیزی باشد که شما برای بهبود آگاهی و راحتی خود در نظر بگیرید.
            </p>
        </div>
        <em>January 4, 2020</em>
    </article>
</main>
{%endblock%}
