{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to adapt your breaststroke for open water</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>چگونه می توانید شنا قورباغه خود را برای آب های آزاد سازگار کنید
        </h1>
        <h5>  شنای قورباغه؟ جان وود توضیح می دهد که چگونه یک استروک موثر برای آبهای آزاد ایجاد کنید
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/how adapt breaststroke.webp') }}" alt="picture">
            
        </div>
        <br>
        <hr>
        <div class="text">
            <q>مردم اغلب فکر می کنند که برای انجام یک ورزش سه گانه نیاز به شنای آزاد دارند - و گرچه به دلایل زیادی این کار منطقی است ، اما این یک ضرورت نیست. برای برخی ممکن است احتیاط بیشتری داشته باشد که شنا قورباغه انجام دهند. شاید مشکلی در مورد شانه دارید؟ شاید به شما زمان بدهد تا اعصاب خود را آرام کنید یا نفس بکشید؟ شاید فقط اعتماد به نفس بالاتری داشته باشید؟ بنابراین چگونه می توانید از  شنا قورباغه خود بیشترین بهره را ببرید و آن را در آبهای آزاد به خوبی شنا کنید؟
            </q>
            <p>در مرحله اول ، هنگام حرکت شنای قورباغه می خواهید بر وضعیت بدنی تمرکز داشته باشید ، ستون فقرات را بلند نگه داشته و چانه را در آن جا دهید. حفظ وضعیت بدن بدون توجه به استروک مهم است و به شما در به حداکثر رساندن حرکت رو به جلو کمک می کند. بالا بردن و پایین آوردن چانه حرکت بالا و پایین در بدن را افزایش می دهد. نفس خود را طوری بکشید که انگار گردن شما را محکم بسته اند .
            </p>
            <p>در مرحله دوم ، استروک های کوچکتر بزنید. ما به عنوان انسان (نه ماهی) در سوزاندن انرژی و ایجاد کشش (درگ) با ضربه پا و دست زدن فوق العاده هستیم. متأسفانه ، ما در ایجاد پیشرانه خیلی خوب نیستیم.قطعا با كوچكتر كردن ضربه و لگد نمی توانید اشتباه كنید.
            </p>
            <p>همچنین به فکر پیچیدن مانند فنر باشید - سپس به بیرون کشیده شوید. هرچه بیشتر بتوانید موقعیت استریم لاین داشته باشید ، بهتر درون آب حرکت خواهید کرد.
            </p>
            <p> سرانجام ، سعی کنید سر خود را بیش از حد بلند نکنید ، زیرا اگرچه با اعتماد به نفس بیشتری می توانید هوای بیشتری را وارد کنید ، این امر باعث می شود سرعت شما بیشتر کاهش یابد و مسافتی را که برای هر بار حرکت طی می کنید کاهش دهد.
            </p>
            <p>این سه نشانگر را دنبال کنید و  شنا قورباغه  شما نه تنها در هنگام مقابله با آب آزاد موثرتر است بلکه سریعتر نیز خواهد بود!
            </p>
        </div>

       
        
    </article>
</main>
{%endblock%}