{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to improve your swim strength</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>چگونه می توان با  شنا روان  قدرت ، استقامت و سرعت شنای خود را بهبود بخشید
        </h1>
        <h5> شنای روان  خود را به عنوان یکی از پیشگامان در مربیگری شنا تثبیت کرده اند. در اینجا آنها تمرینات ضروری خود را به اشتراک می گذارند و توصیه هایی برای بهبود قدرت شنا ، استقامت و سرعت شما می کنند
        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/How to improve your swim strength.webp') }}" alt="picture">
        </div>
        <br>
        <hr>
        <div class="text">      
            <h3>دریل های کلیدی شنا
            </h3>
            <p> یک هدف کلی خوب به عنوان ورزشکار سه گانه در طول زمستان ، بهبود هم ترازی و توانایی شنای مستقیم در آبهای آزاد است. و این همه با وضعیت بدنی شروع می شود. با ظهور دستگاه های جی پی اس ضد آب ، ما توانسته ایم تعداد قابل توجهی از شناگران را در فصل مسابقه ردیابی کنیم. ممکن است تعجب شما را برانگیزد که تعداد زیادی از ورزشکاران سه گانه در یک مسابقات سه گانه در آب های آزاد بین ۱۰ تا ۱۵ درصد بیش از حد شنا می کنند ، حتی برخی از آنها حتی + ۲۰٪! کار بر روی بهبود این می تواند صرفه جویی عمده ای در فصل آینده برای شما باشد.
            </p>
            <h3>آهسته رو نشوید
            </h3>
            <p>اعتقاد بر این است که همه چیز فقط در مورد کار با پایه طولانی و آهسته است یا اینکه فقط روی تکنیک صافکاری با تمرین های بی شمار تمرکز می کنید. بهبود تکنیک و کار بر روی استقامت بسیار مهم است ، اما این نباید به هزینه نگه داشتن  شما با تمام کارهای مهم توسعه آستانه باشد.
            </p>
            <p>کار آستانه مربوط به دو سرعت های دور از چشم نیست ، بلکه بیشتر در مورد تعیین سرعت آستانه فعلی یا  (سرعت شنای بحرانی) شماست (یعنی سرعتی که می توانید برای ۱۵۰۰ متر حفظ کنید) و تلاش مجدانه برای بهبود این هفته در هفته / خارج از هفته. بنابراین ، زمستان امسال به یک تکنیک گوشه گیر یا یک سازنده آهسته تبدیل نشوید ، زیرا ، در ماه های تابستان بیایید ، این تمام چیزی است که شما خواهید داشت - یک استاد دریل آهسته.
            </p>
            <h3>تازه وارد هستید؟ نفس کشیدن را به خاطر بسپار
            </h3>
            <p>لذت ببرید اگرچه به طور جدی ، این اولین فصل شما است ، اطمینان حاصل کنید که فقط یک چیز قبل از شروع شنا به خاطر می آورید و آن این است که نفس بکشید! مهمترین چیزی که ورزشکاران جدید (و حتی باتجربه) در اولین مسابقه خود مرتکب اشتباه می شوند این است که مانند "خفاش از جهنم" واقعی حرکت می کنند در حالی که فشار می آورند و نفس خود را نگه می دارند. این دستور العمل فاجعه است
            </p>
        </div>
    </article>
</main>
{%endblock%}
