{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>How to get more out of each stroke</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>کرال سینه: چگونه می توان از هر استروک بهره بیشتری برد
        </h1>
        <h5> حرکت شنای خود را در این زمستان برای چرخه شنای سریعتر در فصل آینده فوق العاده استریم لاین کنید

        </h5>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/6.jpg') }}" alt="picture">
        </div>
        <br>
        <hr>
        <div class="text">      
            <q>پایان فصل و خارج از فصل زمان مناسبی برای بررسی استروک شما ، تعیین اهداف فنی / عملکردی جدید ، سهولت در بارگیری تمرینات و برگرداندن کارها به اصول اساسی است که واقعاً تغییر خواهد کرد.
            </q>
            
            <p>موقعیت بدنی و ساده سازی کلید کارایی استروک است. مکانیک شنای عالی نیاز دارد که بدن خود را از طریق باریک ترین استوانه آب حرکت دهید در حالی که حداقل کشش / مقاومت ایجاد می کند. استریم لاین ضعیف ، تنش یا مبارزه با آب مقاومت را افزایش می دهد ، به این معنی که با "ترمز دستی" شنا می کنید
                تمرینات استریم لاین در این جلسه به شما کمک می کند تا ترمز نگیرید و کارایی خود را افزایش دهید.                
            </p>
            <p>"گرفتن" خوب یکی دیگر از عناصر مهم برای تسکین یک استروک کارآمد است. این اولین مرحله است که شما باید قبل از تولید حداکثر نیروی محرکه از طریق مراحل کشش / فشار ، آب را در پشت بازوی خود جمع کنید و فشار وارد کنید. دریل های گرفتن در اینجا شما را از گرفتن و نحوه بهبود پیشرانه بیشتر آگاه می کند.
            </p>
            <h3>۳ نکته برتر</h3>
            <h5>قهرمانان برتر</h5>
            <p>ایجاد استریم لاین فوق العاده از طریق دریل ضربات پا جانبی<a href="{{url_for('freestyle_body_position', _anchor='superman')}}">[۱]</a> به بهینه سازی موقعیت و کارایی بدن کمک می کند. با فین شروع کنید و سپس آنها را بردارید.
            </p>
            <h5>دریل های هم ترازی</h5>
            <p>انجام تمرین های T-drill یا 'Broken Arrow' به شما کمک می کند تا از طریق چرخش ضربه روی تراز شانه ها ، باسن و مچ پا متمرکز شوید و همچنین عضلات مرکزی خود را فعال کنید.
            </p>
            <h5>احساس گرفتن</h5>
            <p>Transition sculling drills, fists-only and false/double-catch drills all help to improve the catch and therefore create more propulsion from each stroke</p>
            <h3>جلسه شنا</h3>
            <p>تمام تکرارها در تلاش هوازی کنترل شده + ۱۵  ثانیه استراحت
            </p>
            

        </div>
    </article>
</main>
{%endblock%}
