{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Can swimming help my running?</title>
{% endblock %}

{% block content %}
<main>
    <article>
       <h1>آیا شنا می تواند به دویدن من کمک کند؟ </h1>
       <p>بله ، جان وود می گوید ، شنا می تواند به شما در بهبود دویدن کمک کند. 
    </p>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='article-image/9.jpg') }}" alt="picture">
        </div>
        <br>
        <hr>
        <div class="text"> 
            <h5>شنا به دو دلیل برای دویدن بسیار مناسب است ، مانند ترمیم آسیب دیدگی ناشی از دویدن یا ضربه ، تلاش برای افزایش توانایی هوازی یا فقط به دنبال انواع تمرینات.</h5>
            <p>اما این دو مزیت بزرگ نسبت به سایر ورزش ها دارد ، از این جهت که بارگذاری فوق العاده کمی دارد ، بنابراین می توان سخت تر و بیشتر از سایر ورزش ها کار کرد ، و زیرا شما باید روی کنترل تنفس کار کنید. این دو عنصر به این معنی است که اثر کراس اوور از شنا تا دویدن و دوچرخه سواری به مراتب بهتر از عکس است. این بدان معنا نیست که می توانید به طور کامل دویدن را برای شنا در استخر جایگزین کنید ، اما مطمئناً یک تمرین عالی برای تمرین شما خواهد بود.</p>
            <p>شنا همچنین برای کشش عضلات ، یعنی خم کننده های ران و زنجیر خلفی که از دویدن و نشستن در مشاغل میز سفت می شوند ، عالی است.</p>
            <p>شنا و دویدن هر دو به یک عضلات مرکزی محکم ، درگیر و ثابت نیاز دارند ، به طوری که دست ها و پاهای شما می توانند از آنجا با یک سکو مناسب حرکت کنند. احساس این مسئله در آب ممکن است زمان بر باشد ، اما وقتی می توانید احساس کنید که پیوند کل بدن از نوک انگشتان تا انگشتان پا در آب جریان دارد ، به شما کمک می کند همان تعادل را داشته باشید و جاده ها را کنترل کنید.
            </p>
            <q>جان وود یک مربی ۱۰ ساله برنده جایزه چند شنا و یک شناگر بین المللی سابق است.</q>
        </div>
    </article>
</main>
{%endblock%}
