{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Breaststroke Swim</title>
{% endblock %}

{% block content %}
<main>
    <article>
        
        <h1>آموزش شنا قورباغه
        </h1>
        <p>حرکت قورباغه یک روش شنای سرگرم کننده و آسان برای یادگیری است. شنای قورباغه یک نوع عالی از ورزش است که دست ها ، پاها ، شانه ها و گردن را درگیر می کند. در اصل سه حرکت ساده وجود دارد. ابتدا پاهای خود را پشت سر خود لگد بزنید. سپس فقط کمی سر می خورید و خود را با بازوهای خود به جلو می کشید. با برخی از تمرین ها ، در کمترین زمان و در کمترین زمان شنای قورباغه را خواهید زد.
        </p>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='amoozesh/breast/Breaststroke.jpg') }}" alt="picture">   
        </div>
        <br>
        <hr>
        <div class="text">
            <h3> تمرین موقعیت اصلی 
            </h3>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast1.webp') }}" alt="picture">   
            </div>
            <h4>۱-قبل از به دست آوردن موقعیت اصلی ، گرم کنید.
            </h4>
            <p> قبل از اینکه  شنا قورباغه را شروع کنید ، حدود پنج دقیقه در آب حرکت کنید. می توانید  شنای دیگری را که با آن آشنایی دارید (مانند کرال پشت یا آزاد) انجام دهید. این به شما کمک می کند تا عضلات گرم شوند و بدن شما را با دمای آب سازگار کند.
            </p>
            <ul>
                <li>اگر روش شنای دیگری نمی دانید ، در قسمت پایین استخر در بخشی که آب به شانه های شما می رسد راه بروید. بازوهای راست و چپ خود را به صورت متناوب در حرکات پنجه ای بیرون آورده و آب را به سمت خود بکشید.</li>
            </ul> 
            <div style="background-color: beige;text-align: right;"><p>شنای قورباغه تمام قدرت است. آلن فانگ ، شناگر سابق مسابقه ، می گوید:</p><q>شنای قورباغه بسیار قطعی است. این به عنوان کندترین استروک شناخته می شود زیرا شما باید بر روی به حداقل رساندن مقاومت متمرکز شوید ، نه اینکه فقط در سریعترین زمان ممکن حرکت کنید. شنای قورباغه به خصوص خوب است برای افراد کوتاه قد و تنومند ، و اگر می خواهید واقعاً در این زمینه تبحر پیدا کنید ، باید عضلات زیادی اضافه کنید.</q>
            </div>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast2.webp') }}" alt="picture">   
            </div>
            <h4>۲-گردن ، بازوها ، باسن و پاها را در حالی که در آب هستید بکشید.
            </h4>
            <p>روش های زیادی برای کشش این عضلات وجود دارد. به عنوان مثال ، روی یک پا بایستید و پاشنه خود را به سمت باسن خود بکشید. موقعیت را برای ۱۰ تا ۱۵ ثانیه نگه دارید ، سپس به پای مخالف خود بروید. هر بار سه بار تکرار کنید.
            </p>
            <ul>
                <li>دستان خود را با کشیدن انگشتان به هم بکشید ، سپس آنها را مستقیماً از جلوی خود فشار دهید و کف دست ها رو به بیرون باشد. موقعیت را به مدت ۱۵ ثانیه نگه دارید ، سپس دستان خود را بالای سر قرار دهید و ۱۵ ثانیه دیگر نگه دارید.
                </li>
                <li>باسن خود را به مدت ۱۰ ثانیه در جهت عقربه های ساعت بچرخانید ، سپس ۱۰ ثانیه دیگر در جهت مخالف بچرخانید. سه بار تکرار کنید ، سپس همان کار را برای گردن خود انجام دهید.
                </li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast3.webp') }}" alt="picture">   
            </div>
            <h4>۳-از موقعیت اصلی استخر شروع کنید.</h4>
            <p>دست ها را مستقیماً در جلوی خود قرار دهید و پاها را پشت سر خود در آب قرار دهید. انگشتان انگشتان شما باید به سمت دیوار پشت سر شما قرار بگیرند ، و انگشتان شما باید به سمت دیوار جلوتر باشند. در حالی که کف دست هایتان پایین است ، انگشت شست خود را بیرون بچرخانید تا به سختی لمس شوند. فضای بین انگشتان شست و انگشتان اشاره شما باید یک ‘V ایجاد کند.</p>
            <ul>
                <li>بدن خود را در آب بالا نگه دارید و سر خود را به سمت پایین استخر به سمت پایین نگه دارید.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast4.webp') }}" alt="picture">   
            </div>
            <h4>۴-چندین بار از دیوار خارج شوید و موقعیت اصلی را بگیرید.</h4>
            <p>برای چند ثانیه در موقعیت شناور باشید. این به شما کمک می کند وقتی در موقعیت اصلی قرار می گیرید به احساسی که بدن باید احساس کند عادت کنید.</p>
            <ul>
                <li>اگر پاها تمایل به غرق شدن دارند ، شناور را بین دو پا بگیرید.
                </li>
                <li>این کار را تکرار کنید تا زمانی که اطمینان پیدا کنید می دانید چگونه موقعیت اصلی را به دست بگیرید.</li>
                <li>موقعیت را بیش از آنچه نفس خود را حفظ کنید نگه ندارید.
                </li>
            </ul>
            <h3>انجام ضربه</h3>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast5.webp') }}" alt="picture">   
            </div>
            <h4>۱-اگر به تمرین ضربه زدن قورباغه نیاز دارید ، این تمرین را در خشکی انجام دهید.
            </h4>
            <p>با دست چپ خود را به دیواری تکیه دهید. پای راست خود را در زانو خم کرده ، پا را به سمت باسن خود آورده و در مچ پا به سمت بالا خم کنید. هنگامی که پای شما به لب به لب شما نزدیک است ، در حالی که زانو و مچ پا را خم نگه دارید ، پای راست خود را به سمت بیرون فشار دهید. پس از بالا آوردن پای خود با زاویه 45 درجه ، پای خود را دراز کرده و انگشتان پا را به سمت پایین نشان دهید ، سپس پا و پای خود را به حالت استراحت برگردانید.</p>
            <ul>
                <li>بین سمت چپ و راست خود جایگزین کنید.</li>
                <li>انجام این تمرینات تمرینی را تا جایی ادامه دهید که با حرکت راحت باشید.</li>
                <li>به طور متناوب ، می توانید ضربه را در آب تمرین دهید و دست و بدن خود را به تخته دست و پا بزنید و ضربه را به طور مکرر انجام دهید.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast6.webp') }}" alt="picture">   
            </div>


















            <ul>
                <li>دستان خود را از بالای سر خود شروع کنید (عرض شانه از هم فاصله دارد) ، دستان خود را با حرکت نیم دایره به سمت بدن بکشید ، کف دست ها رو به بیرون باشد. به یاد داشته باشید که آرنج خود را بالاتر از دستان خود نگه دارید. این کشش است.</li>
                <li>در انتهای کشش ، شروع به هل دادن کف دست خود به عقب از طریق آب ، در امتداد کناره ها و پشت باسن خود کنید. این سریعترین قسمت حرکت بازو است و حرکت لازم برای تکمیل رها سازی را فراهم می کند</li>
                <li>یک راه خوب برای یادآوری توالی کشش و فشار تصور ساختن شکل سوراخ کلید بزرگ با دستانتان در زیر آب است. کشش قسمت وسیع سوراخ کلید در بالا است ، در حالی که فشار قسمت باریک سوراخ کلید در پایین است.</li>
                <li>آخرین قسمت حرکت بازوی پروانه ، بهبودی است که در آنجا باید دستان شما در حالت حرکت قرار بگیرند در حالی که کشش را تمام می کنید و برای شروع سکته بعدی آماده می شوند. در اصل دستان شما باید به ران شما برسد. یک روش خوب برای اطمینان از اینکه این قسمت از سکته را با موفقیت انجام داده اید ، کشیدن انگشتان شست بر روی ران ها است در حالی که در حال اتمام سکته هستید. در مرحله بعدی ، هر دو بازو را به طور همزمان از آب خارج کرده و به سمت جلو به موقعیت اولیه بیندازید. کف دست شما باید رو به بیرون باشد بنابراین انگشت شست ابتدا وارد آب می شود ، نه صورتی صورتی. همچنین ، اطمینان حاصل کنید که فاصله بازوها هنگام ورود به آب بیش از عرض شانه نیست زیرا این امر باعث می شود کشش ورودی تا حد زیادی کاهش یابد و به شما امکان می دهد آب را به طور موثرتری برید.</li>
            </ul>
            <figure>
                <iframe width="100%" height="480" src="{{ url_for('static', filename='amoozesh/butt/Swim the Butterfly Stroke Step 2 Version 2.360p.mp4') }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
            </figure>
            <h4>۲-بر پا دلفین مسلط شوید.
            </h4>
            <p>پا دلفین نامی است به پا دلفین مانند  که در استروک پروانه استفاده می شود. تصور کنید با لگد زدن به پاهایتان مانند یک دلفین (یا یک پری دریایی!) که دمش را زیر آب تکان  می دهد.
            </p>
            <ul>
                <li>با ضربه دلفین ، هر دو پا به طور همزمان حرکت می کنند ، و برای جلوگیری از از دست دادن فشار آب باید آنها را به هم فشار داد.</li>
                <li>در ضربه پروانه باید به ازای هر ضربه بازو دو بار لگد بزنید. با این حال ، هر دو ضربه دقیقاً یکسان نیستند - یک ضربه کوچک و یک ضربه بزرگ وجود دارد.</li>
                <li>ضربات کوچک در حالی که با بازوها شکل سوراخ کلید را ایجاد می کنید ، انجام می شود. این به این دلیل است که دستان شما علاوه بر پاها ، حرکت رو به جلو را نیز تأمین می کنند ، بنابراین لازم نیست ضربه به همان اندازه قوی باشد.</li>
                <li>ضربه بزرگ در هنگام بهبودی ، هنگامی که بازوها از آب خارج می شوند ، انجام می شود. در طول دوره نقاهت شما تمایل به از دست دادن حرکت را دارید ، بنابراین شما نیاز به یک ضربه بزرگ دارید تا بدن خود را به جلو حرکت دهد.</li>
                <li>متداول ترین خطایی که مبتدیان هنگام انجام ضربه پروانه مرتکب می شوند ، لگد زدن به روشی یکنواخت و بدون تعویض ضربات کوچک و بزرگ است.</li>
            </ul>
            <figure>
                <iframe width="100%" height="480" src="{{ url_for('static', filename='amoozesh/butt/Swim the Butterfly Stroke Step 3 Version 2.360p.mp4') }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
            </figure>
            <h4>۳-بدن خود را به روشی موج مانند حرکت دهید.</h4>
            <p>فقط دست و پاهای شما نیستند که در طول استروک پروانه مورد نیاز هستند ، کل بدن شما باید درگیر شود!
            </p>
            <ul>
                <li>تمرین دهید که تمام بدن خود را به روشی موج مانند حرکت دهید. به نحوه حرکت یک دلفین یا پری دریایی در آب فکر کنید - بدن شما هنگام شنا باید به شکل S موج دار درآید.</li>
                <li>به طور خاص ، وقتی سینه شما بالا می رود ، باسن شما باید در پایین ترین وضعیت خود باشد و وقتی سینه شما می افتد ، باسن شما باید در بالاترین موقعیت خود باشد ، در حالی که پشت شما سطح آب را می شکند.</li>
                <li>اگر بتوانید زمان بندی خود را درست انجام دهید و بتوانید حرکت بدن خود را با ضربات بازو و پا هماهنگ کنید ، تسلط بر پروانه بسیار راحت تر خواهد بود. شما قادر خواهید بود سریعتر شنا کنید و خود را راحت تر خسته کنید.</li>
            </ul>
            <figure>
                <iframe width="100%" height="480" src="{{ url_for('static', filename='amoozesh/butt/Swim the Butterfly Stroke Step 4 Version 2.360p.mp4') }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
            </figure>
            <h4>۴-بدانید چه موقع نفس بکشید.</h4>
            <p>تنفس در هنگام استروک پروانه می تواند کمی مشکل باشد ، زیرا باید کاملاً به موقع انجام شود و خیلی سریع تکمیل شود.
            </p>
            <ul>
                <li>نکته صحیح برای نفس کشیدن در هنگام استروک  پروانه زمانی است که بازوهای شما در ابتدای مرحله بهبودی از آب خارج می شوند.
                </li>
                <li>همانطور که بازوهای شما در شرف بیرون آمدن از آب است ، سر خود را بلند کنید تا چانه دقیقاً بالای آب قرار بگیرد و نفس بکشید. سر خود را به سمت چپ یا راست نچرخانید - باید صاف نگه داشته شود. با این حال ، برخی از شناگران که در جام جهانی FINA شنا می کنند ، کنار خود نفس می کشند. این غیر قانونی نیست ، و ممکن است راحت تر شما باشد. شروع را با رو به جلو شروع کنید ، اما اگر بعد از مدتی برایتان دشوار است تنفس کنار را امتحان کنید.</li>
                <li>همانطور که بازوها بهبود می یابند ، صورت خود را دوباره به داخل آب بیندازید و چانه را در آن فرو کنید ، بنابراین بالای سینه شما لمس می شود. این به شما کمک می کند تا دستان خود را بسیار بالاتر ببرید.</li>
                <li>در صورت امکان از تنفس در هر ضربه خودداری کنید. هر بار که سر خود را از آب بیرون بیاورید تا نفس بکشید ، سرعت شما را کمی کند می کند. سعی کنید به هر استروک دیگری نفس بکشید ، یا حتی الامکان حتی کمتر. مطمئناً ، در مسابقات طولانی تر ممکن است مجبور شوید نفس بیشتری بکشید ، اما نیاز خود را به نفس کشیدن و سرعت حفظ کنید.
                </li>
            </ul>
            <figure>
                <iframe width="100%" height="480" src="{{ url_for('static', filename='amoozesh/butt/Swim the Butterfly Stroke Step 5 Version 2.360p.mp4') }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
            </figure>
            <h4>۵-همه را کنار هم قرار دهید.</h4>
            <p>با ترکیب همه مراحل ذکر شده در بالا - ضربه بازو ، ضربه دلفین ، حرکت بدن و روش صحیح تنفس - خود را در حال انجام استروک پروانه خواهید دید!
            </p>
            <ul>
                <li>با این حال ، به خاطر داشته باشید که این یک ضربه سخت برای کامل شدن است و قبل از اینکه بتوانید همه این حرکات را همزمان کنید و حرکت پروانه را به درستی شنا کنید ، زمان و تمرین طول می کشد.</li>
                <li>تکنیک خوب یاد بگیرید. روش نادرست پروانه می تواند منجر به مشکلاتی در برخی از عضلات و مفاصل شود ، مانند کافهای چرخشی شانه ها اگر برای مدت زمان طولانی انجام شود. همچنین استروک پروانه را دشوارتر از آنچه که هست ، می کند.
                </li>
                <li>از مربی استفاده کنید. یادگیری استروک پروانه فقط با خواندن درباره آن نتیجه ای نخواهد داشت بیش از اینکه خواندن کتاب به شما یاد می دهد دوچرخه سواری کنید. یک مربی شنا می تواند با جزئیات بیشتر شما را از طریق استروک عبور دهد. یک مربی همچنین قادر به مشاهده شما هنگام شنا خواهد بود و هر نقصی را در تکنیک شما تشخیص می دهد - از این طریق ، یک دیدگاه آگاه از خارج می تواند در کمک به شما در بهبود پروانه بسیار ارزشمند باشد.
                </li>
            </ul>
        </div>     
    </article>
</main>
{% endblock %}
