{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Backstroke Body Position Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/backstroke-image/Backstroke-bodyposition.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های وضیعت بدن کرال پشت
            <br>
            Backstroke Body Position Drills</h1>
        <p>
            یادگیری شناور شدن به خوبی به پشت اولین قدم برای راحت بودن در کرال پشت است. تراز خوب ستون فقرات و تنش عضلات مرکزی  نه تنها راحتی کرال پشت را بهبود می بخشد ، بلکه می تواند به کرال پشت کمک کند. هدف از تمرین های زیر برای وضعیت بدن در کرال پشت ، تجربه شناور مثبت کرال پشت گامی است که می توان کرال پشت خوبی بر روی آن ساخت.

        </p>
        <h2>
            
            شناور روی ستون فقرات
            <br>
            Float on Spine</h2>
        <ul>
            اهداف این تمرین
            
            <li>دستیابی به موقعیت شناور کرال پشت</li>
            <li>احساس تنش و ثبات موثر مرکزی ای</li>
            <li>به پشت راحت بودن
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/bodyposition-Float on Spine.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>به صورت افقی در آب دراز بکشید ، بدون اینکه حرکت حرکتی رو به جلو را انجام دهید ، رو به بالا باشید ، بازوها را در طرفین قرار دهید ، سر را هدایت کنید.</li>
            <li>روی چگونگی تأثیر ستون فقرات روی شناور خود تمرکز کنید. ابتدا ستون فقرات را گرد کنید تا زانوهایتان به سمت قفسه سینه بالا بیاید و باسن شما پایین باشد ، مثل اینکه در آب نشسته اید. توجه داشته باشید که شناور کردن در این موقعیت به سختی انجام می شود. صورت شما حتی ممکن است غرق شود.</li>
            <li>موقعیت افقی خود را در آب ، رو به بالا از سر بگیرید. روی ستون فقرات خود تمرکز کنید. اکنون ، پشت خود را قوس دهید ، بنابراین دکمه شکم شما بالاترین نقطه بدن شما است. سعی کنید آن را بالاتر از آب بگیرید. توجه داشته باشید که با این کار صورت شما غوطه ور می شود ، یا تقریباً در آب غوطه ور می شود. پاهای شما نیز ممکن است فرو بروند.</li>
            <li>دوباره به صورت افقی در آب دراز بکشید ، رو به بالا. روی ستون فقرات خود تمرکز کنید. آن را تا جایی که ممکن است کاملا صاف کنید. این شامل صاف کردن خمیدگی های طبیعی در قسمت کوچک پشت و گردن است. برای رسیدن به این هدف ، لگن خود را به جلو بچرخانید ، و پشت سر خود را به داخل آب فشار دهید. توجه داشته باشید که با این کار ، عضلات شکم خود را منقبض می کنید ، و در واقع گردن خود را شل می کنید. توجه داشته باشید که بدن شما بیشتر به صورت افقی شناور است. این موقعیت شناور مناسب است که می توانید ضربه خوبی به پشت بزنید.
            </li>
            <li>
                چندین بار تمرین کنید تا زمانی که به احساس تعادل در ستون فقرات خود برسید.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            
           تمرین خط آب
           <br>
            Water-Line Drill</h2>
        <ul>
            اهداف این تمرین
            
            <li>پیدا کردن چینش صحیح سر
            </li>
            <li>احساس خط آب در اطراف صورت خود</li>
            <li>شل شدن گردن ، شانه ها و قسمت فوقانی پشت</li>
            
            <img class="picture" src="../../../static/backstroke-image/bodyposition-Water-Line Drill.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>به صورت افقی در آب قرار بگیرید ، رو به بالا ، بازوها در طرفین ، ستون فقرات را صاف بگذارید. هیچ حرکت رو به جلو ایجاد نکنید.</li>
            <li>اکنون چانه خود را به سمت قفسه سینه حرکت دهید تا سطح آب ، یا خط آب دقیقاً زیر نرمه های گوش شما باشد. توجه داشته باشید که در این حالت ، عضلات گردن و شانه های شما کاملاً درگیر هستند. پاهای شما نیز ممکن است فرو بروند و احتمالاً حفظ شناور دشوار است.
            </li>
            <li>اکنون به صورت افقی در آب قرار بگیرید ، رو به بالا ، ستون فقرات صاف باشید. چانه را بلند کنید و سر خود را به عقب بچرخانید ، تا جایی که گوش هایتان کاملاً غرق شود و آب پشت سر خود را ببینید. خط آب در ابروهای چشم و اطراف گلو خواهد بود. توجه داشته باشید که در این وضعیت ، عضلات پشت گردن و قسمت فوقانی پشت شما درگیر می شوند. شناور شما احتمالاً رنج نخواهد برد ، اگرچه احتمالاً احساس سفتی خواهید کرد.
            </li>
            <li>دوباره به صورت افقی در آب قرار بگیرید ، رو به بالا ، ستون فقرات صاف باشید. چانه خود را خنثی نگه دارید ، گویی که به شخصی که دقیقاً هم قد شما است نگاه می کنید. خط آب ، از خط مو تا پایین چانه ، صورت شما را احاطه کرده است. در این حالت ، گوش هایتان غوطه ور می شوند و گردن ، شانه ها و قسمت فوقانی کمرتان شل می شوند ، مانند زمانی که سرتان روی بالش قرار می گیرد. این موقعیت صحیح سر برای استروک است.
            </li>
        </ul>
        <h2>
            دوازده ضرب پا یک تعویض
            <br>
            Twelve Kick Switch Backstroke</h2>
        <ul>
            اهداف این تمرین
            
            <li>حفظ ستون فقرات مستقیم هنگام حرکت</li>
            <li>شروع به احساس فشار از شکم</li>
            <li>شناسایی طولانی ترین حالت کرال پشت 
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/bodyposition-Twelve Kick Switch Backstroke.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در کنار خود در آب دراز بکشید ، در حالی که بازو نزدیک به سطح در کنار شما قرار دارد ، و بازو نزدیک به پایین استخر بیش از سر شما قرار دارد. به یک ستون فقرات مستقیم و خط آب مناسب برسید.</li>
            <li>یک ضربه تکان دهنده ملایم اما مداوم را شروع کنید ، که باید آن را نیز به سمت دیگر هدایت کنید.
            </li>
            <li>اگرچه بدن شما به پهلو شناور است ، اما اجازه دهید صورت صاف به سمت بالا شناور شود ، بنابراین کاملاً از آب خارج شده است. گردن خود را شل کنید تا سر شما احساس کند یک جسم مستقل در مقابل بدن شما شناور است. در این حالت ، شانه بازو در کنار شما باید از آب خارج شده و به گونه شما نزدیکتر از بازوی دیگر شما به گونه دیگر باشد.</li>
            <li>دوازده بار ضربه بزنید (هر پا برابر است با یک ضربه).</li>
            <li>
                درست همانطور که آخرین ضربه را تمام می کنید ، بازویی را که کنار شما قرار گرفته مستقیم روی آب قرار دهید و به حالت کشیده بالای سر خود درآورید و در همان زمان ، بازوی رسیدن به جلو را از طریق آب به کنار خود بیاورید ، طرف مقابل بدن شما برای شناور شدن. تمام وقت یک ستون فقرات مستقیم و ثبات هسته را حفظ کنید.
            </li>
            <li>
                در این موقعیت دوازده ضربه دیگر بزنید. تعویض را با بازوها و سمت شناور خود تکرار کنید. دوازده بار به پا زدن ادامه دهید و سپس آن را تغییر دهید تا به انتهای استخر برسید.

            </li>
        </ul>
      
    </article>
</main>
{% endblock %}
