{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="../../../static/articles.css">
<title>Backstroke Coordination Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/backstroke-image/backstroke-coordination.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های هماهنگی کرال پشت 
            <br>
            Backstroke Coordination Drills</h1>
        <p>
            کرال پشت هماهنگ ، اقدامات فردی استروک را به یک تلاش بی وقفه و یکسان تبدیل می کند. با کار کردن هر قسمت با هم ، کرال پشت راحت تر ، نرمتر و راحت تر می شود و همچنین از تولید بیشتری برخوردار می شود. هدف از تمرینهای هماهنگی زیر گردآوری عناصر بسیاری است که به یک کرال پشت خوب کمک می کند و استفاده از آنها در ترکیب برای عملکرد کارآمد کرال پشت است.

        </p>
        <h2>
            رول ، کشیدن ، رول ، فشار دادن

           <br>
            Roll, Pull, Roll, Push</h2>
        <ul>
            اهداف این تمرین
            
            <li>ترکیب عملکرد رول و استروک بازو
            </li>
            <li>شروع ضربه بازو از عضلات مرکزی
            </li>
            <li>هماهنگی عمل کرال پشت</li>
            
            <img class="picture" src="../../../static/backstroke-image/coordination-Roll Pull Roll Push.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را به پشت خود فشار دهید ، هر دو بازو کشیده شده و آماده انجام استروک پشت ، ستون فقرات مستقیم ، خط خوب آب و ضربه پا موثر  است. با تمرکز بر شناسایی مرحله کشش و فشار در ضربه زدن به بازوی خود ، به انتهای استخر شنا کنید.
            </li>
            <li>یک بار دیگر کرال پشت را شنا کنید ، این بار بر روی شناسایی رول تمرکز کنید یا از یک طرف بدن خود را به طرف دیگر تغییر دهید.
            </li>
            <li>اکنون ، زمان چرخش عقب را با زمان بندی مرحله کشیدن ضربه بازوی زیر آب شنا کنید تا هنگام چرخش به سمت بازوی زیر آب شروع شود. سپس ، با همان بازو ، زمان دور شدن فشار از زمان ضربه را شروع کنید تا از بازوی زیر آب دور شوید.
            </li>
            <li>چندین طول استخر را شنا کنید و روی زمان فشار دادن ، کشیدن ، فشار دادن تمرکز کنید. هر بار روی یک بازو تمرکز کنید. هنگامی که با بازوی اول هماهنگ شدید ، روی بازوی دیگر تمرکز کنید تا ببینید آیا زمان شما نیز تحت فشار قرار گرفتن ، کشیدن ، غلتیدن است.
            </li>
            <li>
                تمرین کنید تا زمانی که بتوانید میزان استروک خود را افزایش دهید و همچنان این زمان را حفظ کنید. این هماهنگی ایده آل پشت است.

            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            هدایت کف دست
           <br>
            Pinkie Lead</h2>
        <ul>
            اهداف این تمرین
            
            <li>استفاده از رول باسن برای شروع بهبودی
            </li>
            <li>از بین بردن اقدامات اضافی</li>
            <li>یادگیری جلوگیری از درد شانه</li>
            
            <img class="picture" src="../../../static/backstroke-image/coordination-Pinkie Lead.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را به پشت خود فشار دهید ، هر دو بازو کشیده شده و آماده انجام ضربه پشت ، ستون فقرات مستقیم ، خط خوب آب و ضربه پا موثر  است. شنای کرال پشت را به انتهای دیگر استخر اختصاص دهید و در انتهای مرحله فشار ضربه بازو ، روی دست خود تمرکز کنید ، درست قبل از بهبودی. توجه داشته باشید که انگشت شست شما به بدن نزدیک می شود و فشار را به پایان می رساند. در این حالت ، پشت دست است که ابتدا برای بهبودی ، ایجاد یک سوراخ بزرگ در آب و بلند کردن آب سنگین به سمت بالا و بهبودی ، خارج می شود.
            </li>
            <li>برای جلوگیری از این امر ، به طور معمول ، به بیشتر شناگران آموزش داده شده است كه برای بیرون آمدن از آب ، دست خود را به حالت انگشت شست به بالا بچرخانند ، و سپس در هنگام بهبودی دوباره دست خود را بریزند تا اولین ورودی کف دست در پایان بهبودی حاصل شود. اگرچه موقعیت انگشت شست از کشیدن بیشتر از خروج با پشت دست جلوگیری می کند ، اما این امر نیاز به یک عمل اضافی دارد که باید دست خود را برعکس کرده و دوباره به عقب برگردانید. این عمل به طور مستقل از رول انجام می شود و باعث می شود بازو بیشتر کار کند. علاوه بر این ، اگر در بهبودی به اندازه کافی زود انجام نشود ، تلنگر دست دوم می تواند به درد شانه کمک کند. قبل از رسیدن دست به بالای قوس بازیابی ، انگشت شست را بازیابی کنید.
            </li>
            <li>جایگزین برای چرخش دست ، قبل و دوباره در هنگام بهبودی ، این است که به رول خود اجازه دهید تا دست شما را برای بهبود قرار دهد. شنای کرال پشت را تا انتهای دیگر استخر ، احساس ثبات مرکزی  کنید که شانه ها و باسن شما را متحد می کند. روی شانه بازوی خود که در حال پایان دادن به مرحله فشار استروک زیر آب است ، تمرکز کنید. همانطور که دست فشار را تمام می کند ، همانطور که دست از لگن شما عبور می کند ، عمدا همان شانه کناری را از آب خارج کنید. توجه داشته باشید که همانطور که این حرکت عمدی را با شانه انجام می دهید ، لگن شما نیز بالا می رود. تا انتهای استخر تمرین کنید.
            </li>
            <li>در حال حاضر ، یک بار دیگر کرال پشت را شنا کنید ، و تمرکز خود را بر روی بیرون آوردن شانه از آب و اجازه دادن به ران باسن سمت راست خود را در نقطه زمانی که همان سمت شما فشار خود را فشار می دهد ، بلند کند. در آن موقعیت مکث کنید. مشاهده کنید که پس از غلت دادن ، این کف دست است که قرار است ابتدا برای بازیابی از آب خارج شود. با توجه به اینكه کف دست از ابتدا تا انتها باعث بهبودی می شود ، نیازی به حرکت سریع دست نیست یا برای اطمینان از انجام دومین حرکت سریع زود انجام شود در حالت ریکاروری برای جلوگیری  درد شانه.
            </li>
            <li>
                با حفظ عملکرد مفصل ران و شانه ، این تمرین را تکرار کنید. با هر بار استروک ، عمداً شانه خود را از آب بیرون بیاورید زیرا دست شما فشار را تمام می کند. در حالی که دست شما فشار خود را به پایان می رساند ، احساس بلند شدن ران کنید. سپس ، در حالی که باسن کلید خود را ادامه می دهد ، بگذارید تا در همان موقعیتی که دست فشار را به پایان رساند ، دست خود را از آب بلند کند. این فقط کمتر از بهبود هدایت انگشت شست است.

            </li>
        </ul>
        <h2>
            تمرین تعادل کرال پشت با فنجان
           <br>
            Backstroke Balance Drill with Cup</h2>
        <ul>
            اهداف این تمرین
            
            <li>ایجاد یک کرال پشت متعادل و موثر
            </li>
            <li>توسعه حرکت مداوم کرال پشت  
            </li>
            <li>حفظ حالت سر ثابت هنگام شنا در کرال پشت 
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/coordination-Backstroke Balance Drill with Cup.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>یک فنجان پلاستیکی متوسط را تا نیمه از آب پر کنید. در حالی که به صورت افقی در آب ، صورت رو به بالا ، ستون فقرات مستقیم و خط آب مناسب قرار می گیرید ، فنجان را به آرامی روی پیشانی خود متعادل کنید. هنگامی که فنجان متعادل شد ، هر دو بازو را روی سر خود قرار دهید. به طور مولد لگد بزنید.
            </li>
            <li>استروک زیر آب را با یک بازو شروع کنید ، به آرامی در آن بچرخید ، در حالی که سر شما ثابت ، مرکز و خنثی می ماند. فنجان آب را روی پیشانی خود متعادل نگه دارید. هنگامی که اولین بازو از روی باسن شما عبور کرد ، با بازوی دیگر شروع به نوازش کنید. اگر فنجان افتاد ، بایستید و دوباره شروع کنید.
            </li>
            <li>تمرین کنید تا جایی که بتوانید بدون اینکه فنجان از پیشانی شما بیفتد ، برای چندین حرکت روان شنا کنید.</li>
            <li>دوباره پشت ، با فنجان روی پیشانی خود ، استروک دست و ضرب پا را افزایش دهید و موقعیت سر ثابت و خنثی خود را حفظ کنید. به آرامی از یک طرف به آن طرف بپیچید ، و باسن و شانه های خود را متحد کنید ، در حالی که آنها مخالف هستند ، حرکت هر دو بازوی خود را همزمان با یک عمل هسته احساس کنید. این نهایت پشت است
            </li>
        </ul>
        <h2>
            همپوشانی جهت مخالف

           <br>
            Opposition Overlap</h2>
        <ul>
            اهداف این تمرین
            
            <li>شناختن نقطه غیر مخالف در کرال پشت 
            </li>
            <li>حداکثر استفاده از فشار هر دو بازو همزمان روی آب</li>
            <li>احساس استروک مداوم
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/coordination-Opposition Overlap.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>برای پشت ، از دیوار خارج شوید و به ستون فقرات مستقیم ، خط آب خوب و ضربه پا موثر  برسید. شنای کرال پشت را به انتهای دیگر استخر برسانید. بر مخالفت استروک بازو تمرکز کنید. وقتی یک بازو زیر آب است ، یک بازو روی آب است. هنگامی که یک بازو در وسط استروک در زیر آب است ، بازوی دیگر در اواسط بهبود است.
            </li>
            <li>اکنون روی نقطه ای تمرکز کنید که یک بازو شروع به ضربه می کند ، و بازوی دیگر در حال اتمام ضربه است. این برعکس به نظر می رسد. هنگام شنا ، آنچه واقعاً اتفاق می افتد را احساس کنید. همانطور که یک بازو وارد آب می شود و حدود دوازده اینچ به سمت پایین پایین می آید ، بازوی دیگر همچنان از لگن عبور می کند. هر دو بازو همزمان در آب هستند. هر دو همزمان در مرحله قدرت استروک هستند. برای یک لحظه ، بازوها در واقع مخالف نیستند.
            </li>
            <li>شنا پشت را ادامه دهید ، این لحظه هم پوشانی را احساس کنید احساس کنید که چگونه چرخش ضربه به هر دو بازو کمک می کند ، یکی برای شروع ضربه بازو ، دیگری برای پایان دادن به ضربه بازو. از این لحظه استفاده کنید تا استروک خود را با قدرت شروع کنید و استروک خود را با قدرت به پایان برسانید. بیشتر تمرین کنید تا زمانی که احساس کنید هر دو بازو همزمان در فاز قدرت استروک  درگیر هستند ، در انتهای مخالف استروک.
            </li>
            <li>برای کمک به شروع و پایان استروک ضربه بزنید. تعادل چرخش استروک را از بازوی پایانی به بازوی شروع کننده احساس کنید. همزمان با جابجایی بازوی ابتدایی در موقعیت لنگر خود ، همزمان با پاکسازی بازو ، مخالف دوباره تنظیم می شود. برای چندین طول استخر تمرین کنید. یک ضربه مداوم ایجاد کنید ، با همپوشانی لحظه ای استروک برای دستیابی به قدرت بیشتر از یک بار در هر زمان.
            </li>
        </ul>
    </article>
</main>
{% endblock %}
