{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="../../../static/articles.css">
<title>Backstroke Leverage Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/backstroke-image/backstroke-leverage.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های نفوذ پذیری در آب (اهرم)
            <br> 
            Backstroke Leverage Drills</h1>
        <p>
            اهرم در کرال پشت قدرت بالقوه ای را به استروک می افزاید ، دامنه حرکت را در ابتدای استروک افزایش می دهد و شناگر را قادر می سازد استروک را بیشتر حفظ کند. این از طریق عملکرد نورد کناره به کناره یک هسته واحد به سبک آزاد بدست می آید. هدف از تمرینات زیر برای استفاده از کرال پشت این است که یاد بگیرید چگونه یک رول سازنده را در استروک بزنید.

        </p>
        <h2>
            سه استروک، تعویض (رولینگ)
           <br>
            Three Strokes Switch Backstroke</h2>
        <ul>
            اهداف این تمرین
            
            <li>بهره مندی از اهرم عضلات مرکزی
            </li>
            <li>احساس چرخش در داخل و خارج شدن از هر استروک
            </li>
            <li>
                انتقال نیرو از عضلات مرکزی به اندام ها
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/leverage-Three Strokes Switch Backstroke.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را آماده کنید برای کرال پشت ، ستون فقرات مستقیم و خط آب مناسب را انجام دهید. سه حرکت (یک بازو = یک استروک) را انجام دهید ، همراه با یک ضربه محکم. در حالی که بازوی شما در سومین ضربه به مفصل ران شما نزدیک می شود ، در همان حالت شناور و لگد بزنید ، در حالی که بازویی که در زیر حرکت شما قرار دارد ، بازوی دیگر کاملاً کشیده شده است. شما نباید صاف در آب شناور باشید ، بلکه باید بیشتر در کنار خود باشید و بازو را در کنار خود نزدیک به سطح قرار دهید و بازو را روی سر خود قرار دهید و در پایین آب قرار بگیرید. صورت شما باید تمام مدت از آب خارج شود. در این موقعیت شش ضربه خوب بزنید (یک پا = یک ضربه پا
            </li>
            <li>در حالیکه تعویض ضربه ششم خود را به طرفین شناور می چرخانید ، به طرف ران و شانه دیگر بچرخید ، اما در حالت رو به بالا قرار بگیرید. این رول باید سه حرکت دیگر را با پایین آوردن لگن و شانه بالا و پایین ران و شانه به سمت بالا آغاز کند ، در حالی که بازوی کنار شما بیش از آب به سمت جلو بازیابی می شود و بازوی دستیاب حرکت زیر آب خود را آغاز می کند. یک ضربه ثابت را در تمام مراحل نگه دارید.
            </li>
            <li>سه حرکت را ادامه دهید ، در تمام مدت  پا بزنید و سپس در موقعیت کناری شش پا بزنید تا به انتهای استخر برسید. توجه داشته باشید که کلید شما همزمان روی هر دو بازو تأثیر می گذارد.
            </li>
            <li>تمرین را تکرار کنید ، این بار با استفاده از سه استروک و سه ضربه پا. با راحت تر شدن ، سعی کنید تعویض بین هر استروک را در آن قرار دهید. تا انتهای استخر ادامه دهید.
            </li>
            <li>
                پس از آنکه توانستید با هر بار استروک  رولینگ بزنید ، شنای منظم کرال پشت را به داخل و خارج از هر استروک بکشید ، همانطور که در تمرین انجام دادید. برای چندین طول استخر تمرین کنید.

            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            
            طناب زدن با یک دست
            <br>
            One Arm Rope Climb</h2>
        <ul>
            اهداف این تمرین
            
            <li>آموزش لنگر انداختن بازوی که وارد آب میشود
            </li>
            <li>احساس قدرت از آرنج بالا</li>
            <li>تجربه حرکت بدن از کنار دست</li>
            
            <img class="picture" src="../../../static/backstroke-image/leverage-One Arm Rope Climb.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>یک طناب را از یک انتهای استخر به سر دیگر آن رشته کنید و آن را محکم به قلاب های طناب باریکه در کنار استخر متصل کنید. طناب باید کاملاً محکم باشد ، درست در زیر سطح آب شناور باشد.
            </li>
            <li>به پشت بخوابید ، یک بازو روی سرتان کشیده شود ، ستون فقرات صاف ، خط آب خوب باشد ، طناب درست بیرون بازوی کشیده شما باشد. طناب را با دست بازوی کشیده خود بگیرید. از این نقطه لنگر ، بدن خود را از کنار دست خود بکشید ، با یک بازوی کاملا صاف ، بازوی خود را از سطح آب حرکت دهید ، تا زمانی که دستی که طناب را نگه دارد ، در لگن قرار گیرد. توجه داشته باشید که هرچه به جلو می روید ، هر چقدر ثبات هسته ای داشته باشید ، پاها به سمت طناب می چرخند. همچنین توجه داشته باشید که شانه شما تمام کارها را انجام می دهد.
            </li>
            <li>دوباره طناب را بگیرید و بازوی خود را روی سر خود قرار دهید. این بار ، هنگامی که بدن خود را از کنار لنگرگاه خود عبور می دهید ، آرنج خود را به سمت پایین بیاورید و آن را به سمت دنده ها پایین بیاورید. توجه داشته باشید که حرکت دادن بدن به جلو و آرنج پایین و متحرک بسیار دشوار است.
            </li>
            <li>دوباره ، طناب را با بازوی روی سر خود بگیرید. این بار بدن را به سمت بالا بکشید تا شانه در همان سطح دست باشد. آرنج خود را تا یک زاویه راست خم کنید ، اما تقریباً موازی با شانه و دست خود باقی بمانید. از این مرحله بازوی خود را صاف کنید. وقتی بدن از کنار دست لنگر خورده شما عبور می کند آرنج خود را محکم نگه دارید. توجه داشته باشید که با محکم نگه داشتن آرنج خود از اهرم بیشتری برای پیشبرد خود برخوردار هستید. همچنین از دو روش دیگری که امتحان کرده اید آسان تر و پربارتر است.
            </li>
            <li>
                با استفاده از یک آرنج بلند و پایدار و یک عمل تسریع بازو ، بالا رفتن از طناب یک بازو را ادامه دهید. وقتی به انتهای استخر رسیدید ، بازوها را عوض کنید. چندین بار با هر بازو تمرین کنید. هنگامی که توانستید به وضوح احساس کنید که از کنار دست لنگر خورده خود عبور می کنید ، شنای منظم کرال پشت را شروع کنید ، دست خود را در آب لنگر بیندازید و دوباره با هر استروک بدن خود را از آن نقطه عبور دهید.

            </li>
        </ul>
        <h2>
            قاب مخالف ثابت مانده
           <br>
            Opposition Freeze Frame</h2>
        <ul>
            اهداف این تمرین
            
            <li>درک نقش مخالف در اهرم کرال پشت
            </li>
            <li>بررسی مخالف در مراحل مختلف استروک
            </li>
            <li>یادگیری حفظ مخالف
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/leverage-Opposition Freeze Frame.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را به پشت خود فشار دهید ، در حالی که هر دو بازو در پهلو هستید. به طور مولد لگد بزنید. با بازوی راست خود ، یک استروک عقب کامل بزنید ، بازوی خود را روی آب در یک قوس کاملاً تراز شده بیاورید ، سپس به سمت باسن خود بروید. هنگامی که بازوی راست شما به نقطه شروع خود بازگشت ، همان کار را با بازوی چپ خود انجام دهید. دوازده حرکت را ادامه دهید. توجه داشته باشید که حرکت رو به جلو شما مداوم نیست ، بنابراین وقتی بازوی چپ در کنار شماست و بازوی راست در هوا در حال بهبود است ، چیزی جز لگد زدن شما را به جلو نمی کشاند. همچنین توجه داشته باشید که دسترسی به اهرم اصلی به داخل و خارج از استروک دشوار است. این نمونه ای از کرال پشت  بدون مخالفت است.
            </li>
            <li>اکنون ، دیوار را با دو بازو بر روی سر خود فشار دهید ، و برای انجام کرال پشت ، ستون فقرات صاف ، خط آب خوب ، ضرب پا موثر  ، آرنج قفل شده ، دستان بیرون آمده آماده شوید. با انجام یک ضربه زیر آب با یک بازو ، مخالفت را ایجاد کنید ، در حالی که دست دیگر شما بالای سر شما است. با بازو کشیده شده به طرف بدن خود بچرخید ، به طوری که طرف بدن شما در آب کم شود. اکنون ، با تمرکز بر حفظ مخالفت ، شنای کرال پشت را شروع کنید.
            </li>
            <li>شش حرکت را با سرعت خوب و قوی شنا کنید. در استروک بعدی ، وقتی دست راست وارد آب شد ، مکث کنید. توجه کنید که دست چپ شما کجاست. باید در انتهای مخالف استروک باشد و از آب لگن خارج شود.
            </li>
            <li>شنای کرال پشت را ادامه دهید. پس از شش حرکت ، در حالی که دست راست از کشش به فشار دیگر می رسد ، دوباره مکث کنید. توجه کنید که دست چپ شما کجاست. این باید در مقابل باشد ، در وسط بهبودی.
            </li>
            <li>
                شنای کرال پشت را ادامه دهید. بعد از هر شش حرکت ، در یک نقطه متفاوت از ضربه مکث کنید ، جهت مخالف خود را بررسی کنید.

            </li>
        </ul>
        <h2>
            بالابر زیر بغل
           <br>
            Armpit Lift</h2>
        <ul>
            اهداف این تمرین
            
            <li>تعادل دست بهبودی با بازوی فشار دهنده
            </li>
            <li>استفاده از اهرم شکم
            </li>
            <li>ایجاد یک استروک واحد
            </li>
            
            <img class="picture" src="../../../static/backstroke-image/leverage-Armpit Lift.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>برای انجام کرال پشت ، ستون فقرات مستقیم ، ضربه خوب به آب و خط تولید ، دیوار را فشار دهید. مخالفت ایجاد کنید. از هر استروک وارد و خارج شوید.(رولینگ)
            </li>
            <li>همانطور که بازوی بهبود یافته شما به بالای قوس بالای آب نزدیک می شود ، با غلت دادن شانه مخالف خود را به پایین و در زیر آب ، زیر بغل را از آب خارج کنید. آرنج خود را قفل نگه دارید ، و دست خود را بالای شانه قرار دهید. هنگامی که بازوی بهبود یافته شما به نقطه ورودی فراتر از شانه شما نزدیک شد ، اجازه دهید زیر بغل دوباره غرق شود.
            </li>
            <li>با بازوی دیگر بهبود پیدا کنید. توجه داشته باشید که وقتی زیر بغل را در بالای قوس بازیابی بلند می کنید ، بر بازوی نوازشگر زیر آب تأثیر می گذارد. با بالانس صحیح ، بالا بردن زیر بغل به بازوی دیگرتان کمک می کند تا از مرحله کشش به مرحله فشار وارد شود و سرعت مهم بازو را در پایان ضربه ایجاد کند.
            </li>
            <li>نوازش را ادامه دهید و با هر بار بهبودی ، در بالاترین قسمت قوس زیر بغل را از آب خارج کنید. در طول استخر چندین حرکت را ادامه دهید تا زمانی که احساس کنید عمل برداشتن زیر بغل باعث متعادل شدن عملکرد بازوی نوازش می شود. این باید احساس کند که بازوها با هم کار می کنند ، اما برعکس.
            </li>
        </ul>
    </article>
</main>
{% endblock %}
