{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Freestyle Body Position Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/freestyle-image/freestyle-body position.jpg" alt="">
    </div>
    <article>
        <h1> تمرین های وضیعت بدن کرال سینه
            <br>
            Front Crawl Body Position</h1>
        <p>
            یک سبک آزاد کارآمد بر روی وضعیت بدن مناسب ساخته شده است. نحوه شناور شدن ما در آب تحت تأثیر تنش اصلی ماست. برای یک سبک آزاد بهتر ، باید یاد بگیریم که وزن را به جلو منتقل کنیم ، و به موقعیت شناور سراشیبی برسیم. هدف از تمرین های زیر برای موقعیت بدن ، تجربه شناور سودمند و ثبات موثر عضلات مرکزی است.
        </p>
        <h2>
            شناور سراشیبی
           <br>
            Downhill Float</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری تغییر وزن برای رسیدن به موقعیت شناور سرازیری</li>
            <li>درک اهمیت موقعیت صحیح سر</li>
            <li>احساس تنش و ثبات موثر عضلات مرکزی </li>
            
            <img class="picture" src="../../../static/freestyle-image/bodyposition-Downhill Float.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در آب رو به پایین شناور باشید ، در حالی که بازوها را در کنار خود قرار داده اید ، در موقعیت سر قرار بگیرید. هیچ حرکت رو به جلو را انجام ندهید.</li>
            <li>به وضعیت بدن خود توجه کنید. برای اکثر افراد ، پاها به زودی شروع به فرو رفتن می کنند و شناگر را در حالت شناور سربالایی قرار می دهد.</li>
            <li>برای شروع اصلاح این موقعیت شناور نامطلوب ، چانه خود را پایین بیاورید ، بنابراین به پایین استخر نگاه می کنید ، نه به جلو. برای بسیاری از افراد ، این عمل ساده تأثیر مثبتی بر روی شناور آنها دارد ، از جمله اینکه کمی پاهای فرو رفتن آنها را بلند می کند.</li>
            <li>اکنون روی ستون فقرات خود تمرکز کنید. با انقباض عضلات شکم و کشیدن مرکز شکم ، آن را تا حد ممکن صاف کنید. یادگیری دستیابی و حفظ ستون فقرات مستقیم از طریق کشش عضلات مرکزی مهارت مهمی است که می تواند در تمام استروک ها به کار رود.
            </li>
            <li>    
                در حالی که شکم خود را ثابت نگه دارید ، به سینه خود به جلو متمایل شوید. با انجام این کار باید اجازه دهید باسن و پاها به سمت سطح آب بلند شوند. این موقعیت شناور سراشیبی مطلوب است که می توانید بر اساس آن یک سبک آزاد آزاد بسازید.

            </li>
            <li>
                بایستید ، نفس بکشید و دوباره به صورت افقی در آب دراز بکشید ، رو به پایین ، این بار دستان خود را روی سر خود قرار دهید ، دست ها را جلو ببرید. به پایین استخر نگاه کنید ، به یک ستون فقرات مستقیم و یک شکم  پایدار برسید. وزن خود را به سمت جلو حرکت دهید و شناور سرازیری را احساس کنید.

            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            
           ورود به چرخش
           <br>
            Log Roll</h2>
        <ul>
            اهداف این تمرین
            
            <li>حفظ محور افقی هنگام چرخش
            </li>
            <li>دسترسی به نیرو از شکم شما
            </li>
            <li>داشتن موقعیت سراشیبی راحت غیر تخت 
            </li>
            
            <img class="picture" src="../../../static/freestyle-image/bodyposition-Log Roll.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در آب رو به پایین شناور شوید ، بازوها را در پهلو قرار دهید ، سر را هدایت کنید ، بدون اینکه از جلو حرکت کنید. یک شناور در سراشیبی را بدست آورید و سر خود را طوری قرار دهید که به پایین استخر نگاه کنید.</li>
            <li>با حفظ تنش اصلی و موقعیت سر خود ، با چرخاندن مفصل ران راست و شانه خود یک چهارم در جهت عقربه های ساعت بچرخید. 5 ثانیه در این حالت بمانید.
            </li>
            <li>با حفظ تنش اصلی و موقعیت سر ، با چرخاندن مفصل ران و شانه راست یک چهارم در جهت عقربه های ساعت به پشت خود غلت بزنید. 5 ثانیه در این حالت بمانید.</li>
            <li>با حفظ تنش اصلی و موقعیت سر خود ، با چرخاندن مفصل ران راست و شانه یک چهارم در جهت عقربه های ساعت به سمت چپ بپیچید. 5 ثانیه در این حالت بمانید.</li>
            <li>با حفظ تنش و موقعیت سر ، با چرخاندن مفصل ران و شانه راست یک چهارم در جهت عقربه های ساعت به سمت جلو بچرخید. 5 ثانیه در این حالت بمانید.</li>
            <li>بایستید ، نفس بکشید ، سپس این تمرین رولینگ را در جهت عقربه های ساعت تکرار کنید.
            </li>
        </ul>
        <h2>
            دوازده ضرب پا، تعویض
           <br>
            Twelve Kick Switch Freestyle </h2>
        <ul>
            اهداف این تمرین
            
            <li>حفظ شناور در سراشیبی هنگام حرکت</li>
            <li>شروع به احساس فشار از عضلات مرکزی
            </li>
            <li>شناسایی طولانی ترین موقعیت شنا آزاد</li>
            
            <img class="picture" src="../../../static/freestyle-image/bodyposition-Twelve Kick Switch Freestyle.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در کنار خود در آب شناور شوید ، بازو را به سمت سطح کنار خود بچرخانید ، نزدیک ترین بازو به پایین استخر روی سر شما کشیده شود. برای رسیدن به شناور سرازیری ، عضلات مرکزی را درگیر کنید.
            </li>
            <li>یک ضربه تکان دهنده ملایم اما مداوم را شروع کنید ، که باید بیشتر به سمت بالا و پایین باشد.
            </li>
            <li>اگر به درستی تراز شوید ، صورت شما بیشتر غوطه ور می شود. برای نفس کشیدن ، حالت سر ثابت را حفظ کرده و به سمت پشت خود بچرخید ، نفس بکشید ، سپس دوباره به حالت اصلی خود بچرخید. یک فاصله تنفسی منظم ایجاد کنید.
            </li>
            <li>دوازده بار ضربه بزنید (هر پا برابر است با یک ضربه).</li>
            <li>
                درست همانطور که آخرین ضربه را تمام کردید ، بازوی خوابیده  کناری را روی آب به جلو بیاورید و بازوی جلو را از طریق آب به کنار خود ببرید. همزمان ، به سمت مخالف بدن خود بروید تا شناور شود.

            </li>
            <li>در این موقعیت دوازده ضربه دیگر نیز بزنید. تعویض را با بازوها و سمت شناور خود تکرار کنید. دوازده بار به پا زدن ادامه دهید و سپس به انتهای استخر بروید.
            </li>
        </ul>
        <figure style="margin-top: 30px; ">
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/_byX52uojxQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption style="color:red;  font: bold 16px B Titr; ">*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>

        <h2>
           سوپرمن
           <br>
           Superman
             </h2>
        <ul>
            <br>
            اهداف این تمرین
            
           <p style="color:black;">تمرین سوپرمن وضعیت بدنه کشیده استروک شنا آزاد را افزایش می دهد. متوقف کردن استروک به تقلید از سوپرمن شما را ترغیب می کند تا در حالی که جریان دارید ، وضعیت بدن خود را استریم لاین  کنید
        </p>   
        </ul>
        <ul id="numeric">
            <br>
           چطور تمرین را انجام دهیم
            <li>به پهلو پا بزنید درحالی که دست ها کشیده و شانه ها نزدیک چانه است</li>
            <li>سر خود را ثابت نگه دارید و چانه را به سمت پایین نشان دهید و سر خود را بچرخانید تا نفس بکشید.</li>
            <li>به اندازه کافی لگد بزنید تا شانه عقب خود را از سطح آب بالاتر ببرید.</li>
            <li>مطمئن شوید که بازوی سر شما در حالی که کشیده است ، با زمین و زیر سطح موازی است.
            </li>
            <li>در صورت نیاز ، از شناور استفاده کنید تا در هنگام تنفس ، بازوی سر شما غرق نشود.</li>
        </ul>
        
        <figure style="margin-top: 30px; ">
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/up38fvg3RH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption style="color:red;  font: bold 16px B Titr; ">*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>
            
       
        
    </article>
</main>
{% endblock %}
