{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Freestyle Breathing Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/freestyle-image/freestyle-breathing.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های نفس گیری کرال سینه 
            <br>
            Freestyle Breathing Drills</h1>
        <p>
            ادغام عمل تنفس در استروک یک چالش است. با تنظیم زمان تنفس با رول طبیعی استروک ، یک شناگر می تواند به طور ریتمیک نفس بکشد در حالی که خط جلو استروک را ادامه می دهد. هدف از تمرینات تنفسی آزاد سبک زیر ، پرداختن به مسائل مربوط به زمان بندی و ترازبندی و یادگیری استفاده از شکم برای روش تنفس بهتر است.

        </p>
        <h2>
            
           نفس گیری دست / بازدم دست
           <br>
            Inhale Arm/Exhale Arm</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری زمان درست تنفس آزاد</li>
            <li>استفاده از الگوی تنفس منظم</li>
            <li>حفظ یک استروک آرام و ریتمیک همراه با تنفس
            </li>
            
            <img class="picture" src="../../../static/freestyle-image/breathing-Inhale ArmExhale Arm.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>طرفی را انتخاب کنید که برای تنفس به سمت آن بپیچید. بازوی آن طرف بازوی استنشاق شما نامیده می شود. بازوی دیگر بازوی بازدم شما نامیده می شود.
            </li>
            <li>در آب تا عمق کمر ایستاده ، به جلو خم شوید تا صورت شما غوطه ور شود. بازوها را به سمت جلو دراز کرده ، با شانه های خود مرتب کنید تا سبک بازو را در حالت ایستاده انجام دهید. چند حرکت انجام دهید ، به خود بگویید که استنشاق می کند ، همانطور که با بازوی استنشاق زیر آب می نوازید ، و می گویید ، بازدم را انجام دهید ، همانطور که با بازوی بازدم نوازش می کنید.
            </li>
            <li>حال سعی کنید نفس بکشید. ابتدا با بازوی استنشاق خود را استروک کنید. همانطور که شروع به فشار دادن روی آب می کنید ، صورت خود را به سمت دیگر به سمت بازوی استنشاق برگردانید. صورت خود را بچرخانید تا دهان شما آب را پاک کند ، اما گونه پایین خود را در آب نگه دارید. وقتی دستتان به پشت استروک می رسد ، استنشاق کنید. استنشاق عمیق از طریق دهان خود انجام دهید. سپس ، هنگامی که بازوی استنشاق از آب به سمت جلو برمی گردد ، اجازه دهید صورت شما آن را دنبال کند ، تا زمانی که بازوی استنشاق از روی شانه شما عبور می کند ، دوباره وارد آب شوید. پایین استخر را نگاه کنید.
            </li>
            <li>هنگامی که صورت شما به آب برگشت ، با بازوی بازدم شروع به نوازش کنید. هنگامی که شروع به فشار دادن آب می کنید ، پایین استخر را نگاه کنید و نفس خود را بیرون دهید. از طریق دهان و بینی خود را بیرون دهید. هنگام بازدم باید حباب های زیادی ببینید. بازدم را در تمام طول استروک ادامه دهید و بازوی بازدم را از روی آب به سمت جلو برمی گرداند.
            </li>
            <li>همانطور که بازوی بازدم از شانه شما عبور می کند ، دوباره با بازوی استنشاق شروع به نوازش کنید. به نوازش ریتمیک ، استنشاق با یک ضربه و بازدم با بازوی دیگر ادامه دهید. طول کامل هر ضربه را حفظ کنید. یک استنشاق سریع و عمیق از طریق دهان انجام دهید. یک بازدم طولانی و کامل از دهان و بینی خود انجام دهید و حباب تولید کنید. تمرین کنید تا زمانی که بتوانید با ریتم استروک  به صورت ریتمیک نفس بکشید.
            </li>
            <li>اکنون هنگام شنای آزاد ، تنفس کنید. به آرامی شروع کنید. چندین بار استروک کنید و در حالی که بازوی تعیین شده از آب عبور می کند ، به نفس خود دم و بازدم دهید. سپس سعی کنید هنگام استروک سر خود را به سمت بازوی استنشاق برگردانید. به حدی برگردید که دهان شما آب را پاک کند اما گونه شما به آب متصل شود. با رسیدن بازو به پشت استروک ، استنشاق کنید. سپس ، به دنبال بازوی استنشاق خود که دوباره به سمت جلو برمی گردد ، اجازه دهید صورت شما دوباره به داخل آب تبدیل شود. بازدم را در حین ضربه بازدم دهید.
            </li>
            <li>چندین بار تمرین کنید سپس استراحت کنید. دوباره تمرین کنید. صبور باشید و ریتم ضربه بازوی خود را روی دم و بازدم تنظیم کنید.</li>
        </ul>
        <!-- ####################### -->
        <h2>
            بازوی بی وزن
           <br>
            The Weightless Arm</h2>
        <ul>
            اهداف این تمرین
            
            <li>حفظ طول کامل استروک بازو هنگام تنفس
            </li>
            <li>یادگیری زمان درست تنفس آزاد</li>
            <li>نه تنها از سر خود، بلکه از شکم هم برای نفس کشیدن استفاده کنید
            </li>
            
            <img class="picture" src="../../../static/freestyle-image/breathing-The Weightless Arm.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>برای سبک آزاد از دیوار فشار دهید. به یک هسته محکم دست پیدا کنید و به پایین استخر نگاه کنید. تا انتهای استخر شنا کنید. شنای آزاد را شروع کنید. استروک آرام و ریتم تنفس منظم ایجاد کنید. با یک بازو استنشاق کنید ، با بازوی دیگر بازدم را انجام دهید.
            </li>
            <li>وقتی تقریباً به نیمه راه انتهای استخر رسیدید ، دقیقاً در زمانی که دهانتان آب را برای استنشاق پاک می کند ، در آن حالت مکث کنید. بازو را دقیقاً مشخص کنید که هنگام تنفس از چه روشی دور شده اید. آیا موقعیت کاملاً گسترده ای را ترک کرده است؟ زیر سینه شماست؟ اگر پاسخ هر یک از این سوالات مثبت است ، بازوی سنگینی دارید. در حالی که این بازوی سنگین در تلاش برای بلند کردن هوا برای نفس کشیدن روی آب فشار می آورد ، مانند لنگر کار می کند. هنگامی که بازوی شما غرق می شود ، نیمی از استروک بعدی خود را از دست می دهید که می تواند شما را در آب به جلو هدایت کند.
            </li>
            <li>برای جلوگیری از بازوی سنگین ، به پهلو شناور شوید ، در حالی که طرف تنفس در آب قرار دارد. بازو را کاملاً جلوی خود باز کنید. بازوی بالاتر را در کنار خود قرار دهید. یک ضربه تکان دهنده ملایم را شروع کنید. هسته خود را محکم نگه دارید ، صورت ، شانه و باسن خود را به عنوان واحد به عقب بچرخانید تا دهانتان آب را پاک کند. استنشاق کنید دوباره به پایین بپیچید چندین بار تمرین کنید ، وضعیت موقعیت کشیده بازوی خود را در طول رول حفظ کنید و دم کنید.
            </li>
            <li>حال ، هنگام نوازش آن را امتحان کنید. دوباره به پهلو شناور شوید و از طرف بالا تنفس کنید. با بازوی پایین خود از طریق آب استروک کنید و با بازوی کناری بالاتر از آب بازیابی کنید. هنگامی که کناره های شناور را عوض کردید و موقعیت بازو را تغییر دادید ، برای نفس کشیدن در استروک بعدی آماده شوید. همانطور که بازوها دوباره شروع به تغییر وضعیت می کنند ، هسته خود را محکم نگه دارید ، صورت ، شانه ها و باسن خود را یکدست به سمت بازوی نوازنده بچرخانید. هنگامی که بازوی نوازش به پشت استروک می رسد ، باید در طرف دیگر خود شناور باشید و دهان خود را از آب پاک کنید تا استنشاق کند.
            </li>
            <li>به وضعیت پایین بازو توجه کنید. باید به طور کامل در طول نفس کشیده شود ، تا انتهای استخر ، تقریباً نزدیک به سطح آب ... به گونه ای که وزن ندارد. دوباره تمرین کنید. به جای فشار دادن به پایین ، تمرین را ادامه دهید تا جایی که می توانید با رسیدن بازو به پایین ، استنشاق کنید.</li>
            <li>هنگامی که از این وضعیت تنفس راحت شدید ، شنای آزاد و معمولی را شروع کنید. هنگامی که صورت ، شانه و لگن خود را به طرف بالا می کشید برای هر نفس ، به آرامی حرکت کنید و بر رسیدن به جلو متمرکز شوید. در طول دم خود را به جلو ادامه دهید. تا رسیدن به بازوی رسیدن بدون وزنه ، تمرین کنید.
            </li>
        </ul>
        <h2>
            فشار شقیقه
           <br>
            Temple Press</h2>
        <ul>
            اهداف این تمرین
            
            <li>تمرین مرتب سازی صحیح سر هنگام تنفس</li>
            <li>آموزش استفاده از تکنیک تنفس با مشخصات پایین</li>
            <li>موج کمان را هنگام استنشاق تجربه کنید</li>
            
            <img class="picture" src="../../../static/freestyle-image/breathing-Temple Press.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در آب تا عمق کمر بایستید. از کمر به جلو خم شوید و صورت خود را در آب غوطه ور کنید. به پایین استخر نگاه کنید. بازوهای خود را روی سطح آب دراز کنید. یک بازو را به سمت ران زیر آب برگردانید و به سمت دیگر بچرخید ، مثل اینکه در سبک آزاد نفس می کشید. در آن موقعیت مکث کنید . چه قسمت هایی از سر شما به آب متصل است؟ استخوان فک شماست؟ گونه شما؟ شقیقه خود را چطور؟
            </li>
            <li>موقعیت سر خود را به گونه ای تنظیم کنید که شقیقه شما به سمت پایین فشار وارد کند. توجه داشته باشید که با این کار گونه و استخوان فک به طور خودکار به آب متصل می شوند. ممکن است دهان شما به اندازه عادت آب را پاک نکند. خوب است</li>
            <li>اکنون شنای آزاد و معمولی را شروع کنید. رول کنید تا نفس بکشید و با پایین بازو به جلو بروید. در حالی که برای استنشاق چرخانده اید ، معبد خود را به داخل آب فشار دهید. احساس کنید که گونه و استخوان فک شما نیز به آب متصل است. توجه داشته باشید که همانطور که در حین نفس کشیدن به سمت جلو حرکت می کنید ، قسمتهای آب اطراف سر شما مانند قسمت تعظیم قایق در حال حرکت است. با فشار دادن معبد خود به داخل آب ، این موج کمان به نوعی یک جیب هوا برای استنشاق شما ایجاد می کند ، حتی اگر دهان شما به آب نزدیک باشد.</li>
            <li>شنا را ادامه دهید ، با استفاده از روش تنفس کم نمای با فشار دادن شقیقه خود به داخل آب و نفس کشیدن در موج کمان.
            </li>
        </ul>
        <h2>
            بازوی مرده شنا آزاد

           <br>
            Dead Arm Freestyle</h2>
        <ul>
            اهداف این تمرین
            
            <li>احساس درگیری عضلات مرکزی در تنفس
            </li>
            <li>رسیدن به جلو هنگام تنفس</li>
            <li>تجربه زمان صحیح تنفس</li>
            
            <img class="picture" src="../../../static/freestyle-image/breathing-Dead Arm Freestyle.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را طوری فشار دهید که گویی برای شنا در سبک آزاد آماده شده اید. یک بازو را به پهلو بیاورید و آنجا را بی حرکت نگه دارید. شکم خود را درگیر کنید.
            </li>
            <li>شنای آزاد را فقط با بازوی دیگر انجام دهید. قبل از هر بار ضربه ، بر راستای قرار دادن بازوی متحرک خود به جلو ، مستقیم در مقابل شانه خود تمرکز کنید. هنگام استروک ، وضعیت آرنج خود را بالا نگه دارید و از طول کامل هر ضربه برای تسریع در آن استفاده کنید. بکشید سپس از جلو به عقب فشار دهید.
            </li>
            <li>با بازوی بی حرکت به سمت کنار نفس بکشید. بدون اینکه سر خود را به طور مستقل حرکت دهید ، با استفاده از لگن و شانه ها نفس بکشید تا رول شما برای تنفس شروع شود. زمانی که بازوی متحرک به جلو می رسد ، دم را شروع کنید ، درست همانطور که نوک انگشتان شما آب را لمس می کند. در طول دم ، به جلو ادامه دهید.
            </li>
            <li>هنگام استنشاق ، باید بتوانید شانه را در سمت تنفس خود بیرون از آب ببینید. هنگامی که صورت خود را به سمت آب برمی گردانید ، احساس کنید که شانه و لگن همان طرف به سمت پایین غلتیده است.</li>
            <li>با یک بازو تا انتهای استخر شنا را ادامه دهید و تمرکز خود را روی تنفس با رول بدن قرار دهید. بازوها را عوض کنید. تکرار. تمرین را ادامه دهید تا زمانی که بتوانید با رول با یک شکم سفت به تنفس متعادل برسید.
            </li>
        </ul>
    </article>
</main>
{% endblock %}
