{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Freestyle Leverage Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="{{ url_for('static', filename='freestyle-image/freestyle-leverage.jpg')}}" alt="picture">
 
    </div>
    <article>
        <h1>تمرین های نفوذ پذیری(اهرم) 
            <br>
            Freestyle Leverage Drills</h1>
        <p>
            استفاده از اهرم به شنا آزاد یک مزیت می دهد. شناگران می توانند به جای شنا صاف و بسته به عضلات کوچک بازو ، از بدن برای غلتیدن به داخل و خارج از آن استفاده کنند. با این کار از شکم به قدرت بیشتری دسترسی پیدا می کنید. با درگیر کردن عضلات بزرگ شکم می توان مسافت بیشتری را در هر استروک با همان مقدار انرژی طی کرد. سبک آزاد بارورتر و پایدارتر می شود. علاوه بر این ، با استفاده از اهرم اصلی از آسیب به مفاصل آسیب پذیر شانه جلوگیری می شود. سبک آزاد مسطح طولانی مدت مسئول بسیاری از شناگران است که به مدت طولانی از آب خارج می شوند ، به دلیل مشکلات اماس کیسه های مفصلی یا گرداننده مچ. با استفاده از اهرم اصلی می توان شانه ها را از تمام بار سبک آزاد نجات داد. هدف از تمرینات زیر در مورد اهرم آزاد ایجاد یک سبک آزاد پایدارتر و بدون آسیب با استفاده از حداکثر اهرم موجود است.

        </p>
        <h2>
            سه استروک، تعویض
           <br>
            Three Stroke Switch Freestyle</h2>
        <ul>
            اهداف این تمرین
            
            <li>تمرین رول به داخل و خارج بعد از  استروک
            </li>
            <li>دستیابی به قدرت شکم شما
            </li>
            <li>انتقال نیرو از شکم به اندام ها
            </li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/leverage-Three Stroke Switch Freestyle.jpg')}}" alt="picture">
            
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دیوار را آماده کرده و برای انجام سبک آزاد ، شکم درگیر ، سه حرکت سبک آزاد (یک بازو = یک ضربه) ، همراه با یک ضربه موثر روان پا. در حالی که بازوی شما در سومین ضربه به مفصل ران شما نزدیک می شود ، به سمت پهلو بچرخید و شناور شوید و با بازویی که نوازش در کنار شما است ، بازوی دیگر کاملاً کشیده شود ، لگد بزنید. بازوی کنار شما باید نزدیکتر به سطح باشد و بازوی پایین آب باید بالای سر شما کشیده شود. با حفظ این موقعیت ، شش ضربه خوب بزنید (یک پا = یک ضربه).
            </li>
            <li>با ضربه ششم ، ران و شانه بالاتر را به سمت پایین بچرخانید و در آب بچرخید در حالی که بازوی پهلو از آب به سمت جلو بازیابی می شود و بازوی دستی شروع به نوازش می کند. سه ضربه آزاد دیگر نیز بزنید. ادامه دادن کل مراحل را ادامه دهید. در طی سه حرکت باید نفس کشیدن به پهلو انجام شود. در مرحله فقط ضربه ، صورت باید بیشتر غوطه ور باشد ، گوش در مقابل شانه پایین باشد.
            </li>
            <li>سه حرکت را ادامه دهید ، تمام مدت را لگد بزنید و سپس شش ضربه دیگر را در موقعیت پهلو قرار دهید تا به انتهای استخر برسید. توجه داشته باشید که هنگام تغییر دادن از مرحله ضربات جانبی به مرحله نوازش ، بازوی بهبود یافته با استفاده از اهرم مفصل ران به راحتی به جلو می رود. در همان زمان ، توجه داشته باشید که بازوی پیشرو به راحتی وارد استروک می شود ، همچنین با کمک مفصل ران.
            </li>
            <li>به تمرین ادامه دهید. هنگامی که با ریتم 3 ضربه و 6 ضربه راحت شدید ، به 3 ضربه و 3 ضربه تغییر دهید. سپس ، روی ترکیب سوئیچ بین هر بار ضربه کار کنید. توجه داشته باشید که کاری که شما انجام می دهید تقریباً مشابه سبک معمولی است ... سبک آزاد بسیار کارآمد و طولانی.
            </li>
            <li>هنگامی که قادر به غلتیدن با هر بار حرکت هستید ، شنای مداوم و آزاد شناور را در داخل و خارج از هر ضربه شروع کنید ، همانطور که در تمرین انجام دادید.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            اثر آونگ
           <br>
            The Pendulum Effect</h2>
        <ul>
            اهداف این تمرین
            
            <li>درک رابطه بین بازوی بهبود یافته و بازوی نوازشگر</li>
            <li>احساس شتاب در هنگام سوئیچ</li>
            <li>حفظ تعادل</li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/leverage-The Pendulum Effect.jpg')}}" alt="picture">
     
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در آب در کنار خود شناور شوید ، بازو را در نزدیکی سطح کنار خود قرار دهید و بازوی دیگر را از جلو باز کنید. به طور مولد لگد بزنید. دست را در کنار خود تا کمر بلغزانید ، آرنج خود را تا یک نقطه بالا ببرید ، مانند دریل  باله کوسه. برای نفس کشیدن ، ثبات هسته خود را حفظ کنید و به سمت پشت بچرخید ، نفس بکشید ، سپس به حالت اولیه پهلو برگردید.
            </li>
            <li>این وضعیت را برای مدت پنج ثانیه حفظ کنید و به پا زدن ادامه دهید. توجه داشته باشید که در این وضعیت ، در کنار خود با یک بازو کشیده و بازوی دیگر در بالاترین نقطه بهبود قرار دارید ، هیچ یک از دو بازو حرکت رو به جلویی ندارند.
            </li>
            <li>با پایان دادن به بازو روی آب ، با بازوی کشیده خود استروک کنید. همان حالت شناور را در سمت دیگر پیدا کنید. بازوی پایین شما باید کشیده شود و بازوی بالاتر شما باید یک باله کوسه بسازد. دوباره پنج ثانیه نگه دارید و به پا زدن ادامه دهید.
            </li>
            <li>دوباره به سمت دیگر بروید. تا انتهای استخر ادامه دهید ، در حالی که بازوهای خود را در دو طرف قرار دارید به موقعیت یکسان بروید و قبل از تعویض ، پنج ثانیه نگه دارید. توجه داشته باشید که هنگام تغییر وضعیت بازو ، لگن نیز به طرفین تغییر حالت می دهد. توجه داشته باشید که هر تعویض سرعت را از ابتدا تا انتها جمع می کند.
            </li>
            <li>طول دیگری را انجام دهید ، این بار فقط سه ثانیه قبل از تعویض طرف نگه دارید. شروع و پایان هر تعویض را احساس کنید. مانند قسمتهای انتهایی تاب آونگ ، حرکت به آرامی شروع می شود و سرعت را به طور مداوم از یک طرف به طرف دیگر جمع می کند.
            </li>
            <li>طول دیگری را انجام دهید ، این بار قبل از تغییر طرف ، فقط یک ثانیه نگه دارید. نوسان آونگ را حس کنید و با هر سوئیچ سرعت را جمع کنید. توجه داشته باشید که در حالی که یک بازو در حال بهبود است و دست دیگر از آب خارج می شود ، هیچ یک از دو بازو شما را به جلو نمی کشاند ، اما شما هنوز هم به جلو حرکت می کنید.
            </li>
            <li>با احساس اثر آونگ با هر بار ضربه ، به تمرین ادامه دهید. تمرکز خود را بر استفاده از لگن بگذارید تا به سوئیچ موقعیت های بازوی خود نیرو دهید. احساس کنید استروک شما مسافت بیشتری را طی می کند و بیشتر از این تلاش نمی کند.
            </li>
        </ul>
        <h2>
            ریتم اسکیت در باسن
           <br>
            Hip Skating</h2>
        <ul>
            اهداف این تمرین
            
            <li>مشاهده نقش باسن </li>
            <li>یادگیری استفاده از اهرم از شکم</li>
            <li>تسلط بر تغییر روی مفصل باسن به باسن
            </li>
            <img class="picture" src="{{ url_for('static', filename='freestyle-image/leverage-Hip Skating.jpg')}}" alt="picture">
 
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>ریتم اسکیت روی یخ شبیه ریتم شنای آزاد است. همانطور که یک طرف بدن متعادل است ، طرف دیگر نیرو وارد می کند. برای رفتن سریعتر ، یخ اسکیت باز حرکت های کوتاهتر و خردکن دیگری را انجام نمی دهد. در عوض ، هر مرحله با استفاده از اهرم باسن برای تولید حرکت گسترش می یابد. امتحان کنید اسکیت یخی خیالی را به هر یک از لگن های خود روی استخوانی که می توانید در بالاترین و جلو ترین نقاط لگن خود احساس کنید ، متصل کنید.
            </li>
            <li>اکنون دیوار را فشار داده و در آب رو به پایین قرار دهید و در حال آماده سازی برای انجام سبک آزاد ، هسته محکم ، تراز شده و سرازیری شناور باشید. به سمت جلو روی اسکیت های خیالی سرخ بزنید. همانطور که آماده می شوید اولین ضربه خود را با بازوی راست خود بگیرید ، وزن خود را به سمت ران راست خود تغییر دهید ، بنابراین فقط روی آن اسکیت متعادل می شوید ، سپس استروک را شروع کنید. با نزدیک شدن بازوی راست به انتهای استروک ، وزن خود را به اسکیت لگن سمت چپ خود تغییر دهید ، اجازه دهید مفصل ران بالا بیاید ، در حالی که بازوی چپ استروک خود را شروع می کند و بازوی راست بهبود می یابد.
            </li>
            <li>اسکیت روی باسن خود را ادامه دهید ، راست ، سپس چپ ، سپس راست ، سپس چپ. توجه کنید که تغییر وزن از اسکیت به اسکیت چگونه قدرت را از طریق شکم به سمت بالا به سمت بازو می فرستد.
            </li>
           
        </ul>
    </article>
</main>
{% endblock %}
