{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Backstroke Swim</title>
{% endblock %}

{% block content %}
<main>
    <article>
        
        <h1>آموزش شنا کرال پشت
        </h1>
        <p>یادگیری نحوه انجام کرال پشت به طور کامل یک مسئله ساده تمرین فرم شماست. یادگیری چند مهارت مرتبط مانند چگونگی چرخش و نحوه هدایت در خط مستقیم نیز می تواند کمک زیادی کند. با کمی تمرین قادر خواهید بود تا با سرعت بالا  و یا با سرعت آرام شناور شوید.
        </p>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='amoozesh/back/backstroke.jpg') }}" alt="picture">   
        </div>
        <br>
        <hr>
        <figure>
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/ujAusA_W0_U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>
        <div class="text">
            <h2> فرم خود را کامل کنید 
            </h2>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back1.webp') }}" alt="picture">   
            </div>
            <h4>۱-بدن خود را مانند یک تخته صاف نگه دارید.</h4>
            <p>هنگام انجام ضربه پشت ، می خواهید بدن شما تا حد ممکن روی سطح آب صاف قرار بگیرد. هرچه نیمرخ شما در آب کوچکتر باشد ، هنگام شنا مقاومت کمتری خواهید داشت و سرعت حرکت سریعتر خواهد بود.</p>
            <ul>
                <li>بیشتر افراد به سختی می توانند باسن خود را روی سطح آب شناور کنند ، بنابراین کمی پایین سطح فرو می روند. این اشکالی ندارد اما سعی کنید باسن های خود را تا حد ممکن به سطح نزدیک کنید. راحت تر نگه داشتن خود را صاف هنگامی که شما در حال حرکت است.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back2.webp') }}" alt="picture">   
            </div>
            <h4>۲-با آب پوشاننده کناره های سرتان راحت باشید.</h4>
            <p>کرال پشت (مانند اکثر استروک های شنا) همه چیز در مورد استفاده بهینه از انرژی شما ممکن است. یک راه آسان برای انجام این کار این است که اجازه دهید سر شما نیمه غوطه ور در آب بنشیند. آب باید تقریباً کاملاً گوش های شما را بپوشاند. ممکن است گوشه های صورت شما را لمس کند ، اما نباید به چشم ، بینی یا دهان وارد شود.
            </p>
            <ul>
                <li>اگر احساس آب پوشاننده گوش را دوست ندارید ، سرمایه گذاری روی کلاهک شنا یا مجموعه گوشواره های شناگر را در نظر بگیرید. تلاش برای دور نگه داشتن گوش از آب باعث خستگی گردن و صرف انرژی ای می شود که می توانید برای شنا استفاده کنید.</li>
                <li>از انجام چانه به سینه در حین انجام ضربه پشت خودداری کنید زیرا سر شما را از آب خارج کرده و باعث آیرودینامیک شما می شود.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back3.webp') }}" alt="picture">   
            </div>
            <h4>۳-از یک پا "ماهی" استفاده کنید.
            </h4>
            <p>به محض قرار گرفتن در پشت ، شروع به لگد زدن کنید. پاهای شما باید صاف ، نزدیک به هم قرار گرفته و در زیر باسن قرار بگیرد. از حرکتهای کوتاه برای زدن خود به جلو استفاده کنید.  همانطور که یک پا را بالا می آورید ، پای دیگر را به پایین لگد بزنید (و بالعکس).
            </p>
            <ul>
                <li>برای بهترین نتیجه ، پاها را صاف نگه دارید و از لگن به جای زانوها ضربه بزنید.  این به شما قدرت بیشتری می دهد و از زانو درد شما جلوگیری می کند.
                </li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back4.webp') }}" alt="picture">   
            </div>
            <h4>۴-از حرکت بازوی روان و بلند استفاده کنید.
            </h4>
            <p>همانطور که شروع به لگد زدن به جلو می کنید ، بازوان خود را در کنار خود قرار دهید. یک بازو را جلوی خود بگیرید. باید به سمت آسمان یا سقف باشد. آن را بالای سر خود ، کنار گوش خود بیاورید و در آب پایین بیاورید - این مسیر به جهتی که در آن سفر دارید نشان داده خواهد شد.</p>
            <ul>
                <li>هنگامی که بازوی شما به آب برخورد کرد ، آن را پایین آورده و به بیرون بچرخانید تا خود را به جلو بکشید. همانطور که این کار را انجام می دهید ، بازوی دیگر را بالا آورده و همان حرکت را انجام دهید. تکرار. این باید احساس طبیعی داشته باشد. سعی کنید یک ریتم ثابت بین دست ها و پاها داشته باشید زیرا باعث می شود شنا سریعتر و راحت تر شود!</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back5.webp') }}" alt="picture">   
            </div>
            <h4>۵-دستان خود را در موقعیت قرار دهید تا مقاومت به حداقل برسد.</h4>
            <p>برای شنای هرچه بیشتر کارآمد ، مهم است که به یاد داشته باشید که دستان شما ابتدا باید با لبه ها و نه کف دست به آب وارد شوند و از آن خارج شوند. وقتی بازوی خود را از آب بیرون آوردید ، با انگشت شست خود را هدایت کنید. وقتی وارد آب شد ، با انگشت صورتی رنگ خود را هدایت کنید.</p>
            <ul>
                <li>وقتی دستتان زیر آب است و شما را به جلو می کشد ، آن را بچرخانید تا کف دستتان به سمت پاها باشد. این به شما انرژی پیشرانه می دهد تا به جلو بروید.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back6.webp') }}" alt="picture">   
            </div>
            <h4>۶-با هر بار ضربه شانه ها و باسن خود را بچرخانید.</h4>
            <p>حرکات شما در استخر نباید مانند یک قایق بخار سخت باشد. در عوض ، آنها را روان و انعطاف پذیر نگه دارید تا هرچه بیشتر با کارآیی از آب عبور کنند. در زیر مشاهده کنید:
            </p>
            <ul>
                <li>همانطور که هر بازو را بالا می آورید ، شانه خود را به سمت بالا بچرخانید. شانه مخالف را به سمت پایین بچرخانید - باید از آن استفاده کنید تا دست دیگر را زیر آب بکشید.</li>
                <li>به همین ترتیب با هر لگد باسن خود را کمی بچرخانید. شما باید یک حرکت "تکان دادن" همیشه کمی داشته باشید - هنگام لگد زدن پای راست شما باید ران راست پایین بیاید و برعکس.</li>
            </ul>
            <h2>یادگیری مهارت های مرتبط</h2>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back7.webp') }}" alt="picture">   
            </div>
            <h4>۱-در هر چرخه بازو یک بار نفس بکشید.</h4>
            <p>یک سیاست خوب این است که همانطور که یک دست از آب خارج می شود نفس بکشید ، سپس همانطور که دست دیگر آب را بیرون می کشید نفس بکشید. این الگوی را با نفس های عمیق تکرار کنید تا نفس شما ثابت بماند.</p>
            <ul>
                <li>تنفس عمیق و ثابت مهم است حتی اگر ضربه پشت به شما اجازه دهد هر زمان که بخواهید نفس بکشید. تنفس با سرعت منظم به شما این امکان را می دهد که تا حد ممکن کمر پشت خود را بالا نگه دارید (با فرم مناسب).</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back8.webp') }}" alt="picture">   
            </div>
            <h4>۲-برای چرخش سریع از چرخش های دور برگردان استفاده کنید.</h4>
            <p>وقتی به دیوار نزدیک می شوید ، به جلوی خود بچرخید تا ببینید کجا می روید.
            </p>
            <ul>
                <li>حتماً تعداد استروک (تعداد ضربه های پشتی را که برای رسیدن از روی پرچم ها به دیواره نیاز دارید) بگیرید ، زیرا این کار به نوبه خود بسیار کمک می کند. وقتی تعداد استروک خود را پیدا کردید ، تا زمانی که به دیوار برخورد نکنید ، از پرچم ها بشمارید. وقتی چرخش خود را انجام می دهید ، سعی کنید یک بار از تعداد استروک های خود استفاده کنید. کمی آزمایش کنید و ببینید چه چیزی برای شما راحت تر است.
                </li>
                <li>هنگامی که شمارش استروک های خود را فهمیدید ، در حالی که آخرین ضربه را به پشت خود وارد می کنید ، بدن خود را به تدریج از پشت برگردانید و همزمان یک ضربه آزاد بزنید و از این ضربه برای کشیدن خود به داخل دیوار استفاده کنید. این حرکت ممکن است در ابتدا کمی ناخوشایند باشد ، اما به تمرین ادامه دهید و به زودی طبیعی خواهد شد. سپس ، زیر سالتو را به سمت جلو سوار کنید ، سپس پاها را بیرون بکشید تا پاها را روی دیوار بچینید. هنگامی که دستان خود را به گوش خود فشار می دهید و با دست "نقطه" می دهید ، با پاها شروع کنید. در یک جریان ساده بمانید تا دوباره ظاهر شوید. یک ضربه ساده را ادامه دهید تا سطح آن را بشکنید ، سپس استروک خود را دوباره شروع کنید.
                </li>
                <li>ممکن است کمی تمرین طول بکشد تا یاد بگیرید دقیقاً چه موقع باید از جلوی خود برگردید. در حالت ایده آل ، شما می خواهید این کار را زمانی انجام دهید که فقط یک یا دو ضربه از لبه استخر داشته باشید.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/back/back9.webp') }}" alt="picture">   
            </div>
            <h4>۳-اگر استخر سرپوشیده است ، از سقف استفاده کنید تا خود را صاف نگه دارید.
            </h4>
            <p>هنگامی که در استخر سرپوشیده شنا می کنید ، می توانید از سقف استفاده کنید تا مطمئن شوید که از مسیر خارج نمی شوید. به دنبال یک خط یا الگو در مواد سقف باشید. هنگام شنا ، چشمان خود را باز و تمرکز خود را بر روی سقف نگه دارید. این الگو را به همان روشی که شنا می کنید حفظ کنید تا خود را در یک مسیر مستقیم حرکت دهید.</p>
            <ul>
                <li>اگر بیرون شنا می کنید ، گزینه های کمتری دارید. اگر ابرهایی وجود داشته باشد ، می توانید ابرها را به یک شکل برای حرکت در یک خط مستقیم حفظ کنید. در غیر این صورت ، سعی کنید خورشید را در همان طرف بدن خود نگه دارید. نگه داشتن جهت های خود در هنگام هوای ابری کاملاً دشوار است ، زیرا نقاط مرجع کمی قابل مشاهده است.
                </li>
            </ul>
        </div>     
    </article>
</main>
{% endblock %}
