{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Breaststroke Swim</title>
{% endblock %}

{% block content %}
<main>
    <article>
        
        <h1>آموزش شنا قورباغه
        </h1>
        <p>حرکت قورباغه یک روش شنای سرگرم کننده و آسان برای یادگیری است. شنای قورباغه یک نوع عالی از ورزش است که دست ها ، پاها ، شانه ها و گردن را درگیر می کند. در اصل سه حرکت ساده وجود دارد. ابتدا پاهای خود را پشت سر خود لگد بزنید. سپس فقط کمی سر می خورید و خود را با بازوهای خود به جلو می کشید. با برخی از تمرین ها ، در کمترین زمان و در کمترین زمان شنای قورباغه را خواهید زد.
        </p>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='amoozesh/breast/Breaststroke.jpg') }}" alt="picture">   
        </div>
        <br>
        <hr>
        <figure>
            <iframe width="100%" height="490" src="https://www.youtube.com/embed/QGZ8rIy-YtI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
        </figure>
        <div class="text">
            <h2> تمرین موقعیت اصلی 
            </h2>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast1.webp') }}" alt="picture">   
            </div>
            <h4>۱-قبل از به دست آوردن موقعیت اصلی ، گرم کنید.
            </h4>
            <p> قبل از اینکه  شنا قورباغه را شروع کنید ، حدود پنج دقیقه در آب حرکت کنید. می توانید  شنای دیگری را که با آن آشنایی دارید (مانند کرال پشت یا آزاد) انجام دهید. این به شما کمک می کند تا عضلات گرم شوند و بدن شما را با دمای آب سازگار کند.
            </p>
            <ul>
                <li>اگر روش شنای دیگری نمی دانید ، در قسمت پایین استخر در بخشی که آب به شانه های شما می رسد راه بروید. بازوهای راست و چپ خود را به صورت متناوب در حرکات پنجه ای بیرون آورده و آب را به سمت خود بکشید.</li>
            </ul> 
            <div style="background-color: beige;text-align: right;"><p>شنای قورباغه تمام قدرت است. آلن فانگ ، شناگر سابق مسابقه ، می گوید:</p><q>شنای قورباغه بسیار قطعی است. این به عنوان کندترین استروک شناخته می شود زیرا شما باید بر روی به حداقل رساندن مقاومت متمرکز شوید ، نه اینکه فقط در سریعترین زمان ممکن حرکت کنید. شنای قورباغه به خصوص خوب است برای افراد کوتاه قد و تنومند ، و اگر می خواهید واقعاً در این زمینه تبحر پیدا کنید ، باید عضلات زیادی اضافه کنید.</q>
            </div>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast2.webp') }}" alt="picture">   
            </div>
            <h4>۲-گردن ، بازوها ، باسن و پاها را در حالی که در آب هستید بکشید.
            </h4>
            <p>روش های زیادی برای کشش این عضلات وجود دارد. به عنوان مثال ، روی یک پا بایستید و پاشنه خود را به سمت باسن خود بکشید. موقعیت را برای ۱۰ تا ۱۵ ثانیه نگه دارید ، سپس به پای مخالف خود بروید. هر بار سه بار تکرار کنید.
            </p>
            <ul>
                <li>دستان خود را با کشیدن انگشتان به هم بکشید ، سپس آنها را مستقیماً از جلوی خود فشار دهید و کف دست ها رو به بیرون باشد. موقعیت را به مدت ۱۵ ثانیه نگه دارید ، سپس دستان خود را بالای سر قرار دهید و ۱۵ ثانیه دیگر نگه دارید.
                </li>
                <li>باسن خود را به مدت ۱۰ ثانیه در جهت عقربه های ساعت بچرخانید ، سپس ۱۰ ثانیه دیگر در جهت مخالف بچرخانید. سه بار تکرار کنید ، سپس همان کار را برای گردن خود انجام دهید.
                </li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast3.webp') }}" alt="picture">   
            </div>
            <h4>۳-از موقعیت اصلی استخر شروع کنید.</h4>
            <p>دست ها را مستقیماً در جلوی خود قرار دهید و پاها را پشت سر خود در آب قرار دهید. انگشتان انگشتان شما باید به سمت دیوار پشت سر شما قرار بگیرند ، و انگشتان شما باید به سمت دیوار جلوتر باشند. در حالی که کف دست هایتان پایین است ، انگشت شست خود را بیرون بچرخانید تا به سختی لمس شوند. فضای بین انگشتان شست و انگشتان اشاره شما باید یک ‘V ایجاد کند.</p>
            <ul>
                <li>بدن خود را در آب بالا نگه دارید و سر خود را به سمت پایین استخر به سمت پایین نگه دارید.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast4.webp') }}" alt="picture">   
            </div>
            <h4>۴-چندین بار از دیوار خارج شوید و موقعیت اصلی را بگیرید.</h4>
            <p>برای چند ثانیه در موقعیت شناور باشید. این به شما کمک می کند وقتی در موقعیت اصلی قرار می گیرید به احساسی که بدن باید احساس کند عادت کنید.</p>
            <ul>
                <li>اگر پاها تمایل به غرق شدن دارند ، شناور را بین دو پا بگیرید.
                </li>
                <li>این کار را تکرار کنید تا زمانی که اطمینان پیدا کنید می دانید چگونه موقعیت اصلی را به دست بگیرید.</li>
                <li>موقعیت را بیش از آنچه نفس خود را حفظ کنید نگه ندارید.
                </li>
            </ul>
            <h2>انجام ضربه</h2>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast5.webp') }}" alt="picture">   
            </div>
            <h4>۱-اگر به تمرین ضربه پا قورباغه نیاز دارید ، این تمرین را در خشکی انجام دهید.
            </h4>
            <p>با دست چپ خود را به دیواری تکیه دهید. پای راست خود را در زانو خم کرده ، پا را به سمت باسن خود آورده و در مچ پا به سمت بالا خم کنید. هنگامی که پای شما به لب به لب شما نزدیک است ، در حالی که زانو و مچ پا را خم نگه دارید ، پای راست خود را به سمت بیرون فشار دهید. پس از بالا آوردن پای خود با زاویه 45 درجه ، پای خود را دراز کرده و انگشتان پا را به سمت پایین نشان دهید ، سپس پا و پای خود را به حالت استراحت برگردانید.</p>
            <ul>
                <li>بین سمت چپ و راست خود جایگزین کنید.</li>
                <li>انجام این تمرینات تمرینی را تا جایی ادامه دهید که با حرکت راحت باشید.</li>
                <li>به طور متناوب ، می توانید ضربه را در آب تمرین دهید و دست و بدن خود را به تخته دست و پا بزنید و ضربه را به طور مکرر انجام دهید.</li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast6.webp') }}" alt="picture">   
            </div>
            <h4>۲-ضربه را با اشاره دادن پاها به سمت بیرون از بدن شروع کنید.</h4>
            <p>از حالت اصلی شروع کنید و مچ پا را بچرخانید تا پاهایتان از بدن مشخص شود. سپس ، پاشنه پا را به سمت باسن خود بیاورید. همزمان مچ پا را به سمت بالا و به سمت ساقهای خود خم کنید.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast7.webp') }}" alt="picture">   
            </div>
            <h4>۳-وقتی پاشنه های پا به باسن می رسند ، پاها را به سمت کنار دراز کنید.</h4>
            <p>زانوهای خود را کمی از عرض شانه ها گسترش دهید. مچ پا را نسبت به پا به حالت زاویه دار نگه دارید. پاهای خود را مستقیم به پشت خود گسترش دهید و آنها را به هم برگردانید. وقتی به انتهای پسوند رسیدید ، مچ پاها را به سمت پایین بکشید.</p>
            <ul>
                <li>اگر زانوها را بیش از حد به پهلوها بکشید ، بدن شما را بیهوده وارد کشش(درگ) می کند. کشیدن بیش از حد باعث می شود که شما به نرمی در آب حرکت نکنید.
                </li>
                <li>پس از زدن مچ پا به پایین ، کف پاهای خود را تا آنجا که ممکن است به سمت یکدیگر بچرخانید.</li>
            </ul>
            <h2>ترکیب حرکات بازو</h2>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast8.webp') }}" alt="picture">   
            </div>
            <h4>۱-دستان خود را بدون خم شدن آرنج جارو کنید.</h4>
            <p>از موقعیت اصلی شروع کنید ، سپس هر دو کف دست را به سمت بیرون بچرخانید. دستان خود را بیرون و کمی پایین بکشید. هنگامی که بازوها با بدن خود یک "Y" تشکیل می دهند ، آرنج خود را خم کنید و دستان خود را پایین و عقب به سمت دهان خود بیاورید. آنها را به عقب برانید و دوباره موقعیت اصلی را بگیرید.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast9.webp') }}" alt="picture">   
            </div>
            <h4>۲-با هر ضربه نفس بکشید.</h4>
            <p>همانطور که دستان خود را به سمت دهان می آورید ، سر ، گردن و قسمت فوقانی قفسه سینه خود را از آب خارج کنید تا نفس بکشد. دستان خود را از آب خارج نکنید.</p>
            <ul>
                <li>فقط به اندازه ای که لازم است نفس بکشید ، سر خود را از آب بیرون بیاورید. این باعث می شود فرم شنای شما درست بماند.
                </li>
                <li>وقتی سرتان در آب است ، از طریق بینی یا دهان خود را بیرون دهید.</li>
                <li>نفس خود را حبس نکنید ، در غیر این صورت ممکن است تنش پیدا کنید ، که تأثیر منفی بر شنا شما خواهد داشت.
                </li>
            </ul>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast10.webp') }}" alt="picture">   
            </div>
            <h4>۳-برای ایجاد شناوری و تمرین حرکات بازویی خود از شناور کششی استفاده کنید.</h4>
            <p>شناور کششی وسیله ای شناور است که می توانید بین ران های خود را بگیرید و پاها و بدن را بلند نگه دارید. به شما این امکان را می دهد که روی بازوهای خود تمرکز کنید.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/breast/breast11.webp') }}" alt="picture">   
            </div>
            <h4>۴-همه را با هم ترکیب کنید  
            </h4>
            <p>از موقعیت اصلی ، پاها را به سمت بالا و روی لب خود بیاورید. پاهایتان را پشت سر خود بیرون بزنید ، سپس به مدت دو ثانیه سر خورد کنید. بازوهای خود را به سمت موقعیت "Y" فشار دهید ، سپس آنها را به سمت خود بیاورید و سر خود را بالای آب بلند کنید تا نفس بکشد. به موقعیت اصلی برگردید.
            </p>
        </div>     
    </article>
</main>
{% endblock %}
