{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/article-main.css') }}"/>
<title>Freestyle Swim</title>
{% endblock %}

{% block content %}
<main>
    <article>
        <h1>آموزش شنا کرال سینه
        </h1>
        <p>   کرال سینه محبوب ترین  شنا در جهان است و مهارتی اساسی است که همه شناگران باید روی آن تمرکز کنند. ما واقعاً معتقدیم که هر یک از شناگران حداقل یک عنصر سبک آزاد خود را دارند که می تواند اصلاح و بهبود یابد.

        </p>
        <div class="main-pic">
            <img src="{{ url_for('static', filename='amoozesh/freestyle-swim.jpg') }}" alt="picture">
            
        </div>
        <br>
        <hr>
        <div class="text">
            <figure>
                <iframe width="100%" height="490" src="https://www.youtube.com/embed/uiI6Z_0Q2Io" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>*برای مشاهده ویدیو از فیلتر شکن استفاده کنید!</figcaption>
            </figure>
            <div class="main-pic">
            <img src="{{ url_for('static', filename='amoozesh/freestyle-whiteboard.webp') }}" alt="picture">
            </div>
            <h3>۱ - وضعیت بدن</h3>
            <h5>استریم لاین</h5>
            <p>مهمترین قسمت شنا مفهوماستریم لاین است. این زمانی است که بدن شما تا آنجا که ممکن است باریک باشد ، از طریق آب حرکت می کند تا مقدار کشش شما را کاهش دهد.
            </p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/1.webp') }}" alt="picture">
            </div>
            <h5>موقیعت سر</h5>
            <p>قرارگیری سر و جایی که چشم های شما به آن نگاه می کنند بسیار مهم است. هنگام شنای آزاد ، سعی کنید پایین را نگاه کنید و نگاه خود را به پایین استخر متمرکز کنید. گردن و سر شما باید در وضعیت خنثی و مستقیم بالای شانه ها قرار گیرند. نباید سر و چشم خود را در مقابل خود بلند کنید. نگاه داشتن چشم هایتان به قسمت پایین استخر باعث می شود پاها بالاتر از آب قرار گیرند و حرکت در آب راحت تر شود.
            </p>
            <h5>موقیعت باسن</h5>
            <p>بسیار مهم است که سر خود را در جایی که چشمهای شما نگاه می کنند قرار دهید. هنگام شنا آزادانه ، سعی کنید پایین استخر را نگاه کرده و تمرکز خود را در قسمت پایین استخر قرار دهید. گردن و سر شما باید در حالت خنثی و مستقیم بالای شانه ها قرار داشته باشد. نباید سر و چشم خود را در مقابل خود بلند کنید. نگاه داشتن چشم هایتان به پایین استخر باعث می شود پاهایتان از آب بالاتر رفته و حرکت در آب را آسان تر کند.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/2.webp') }}" alt="picture">
            </div>
            <h3>۲ - گرفتن</h3>
            <p>"گرفتن" به بازوهایی گفته می شود که هنگام حرکت بدن به جلو آب می کشند.</p>
            <h5> انگشتان</h5>
            <p>دستان شما باید در حالت محکم حجامت قرار داشته باشد ، انگشتانتان را به هم فشار دهید تا آب از آن عبور نکند. دستان خود را در موقعیتی قرار دهید که بتواند کمی آب در کف دست شما باشد. آنها نباید کاملاً صاف باشند ، اما خیلی خمیده هم نباشند ، در غیر این صورت دستان شما به راحتی در آب سر نخواهند خورد.</p>
            <p>نوک انگشتان شما باید در زاویه 45 درجه نسبت به آب در حدود 12-18 اینچ جلوی شانه وارد آب شود. انگشت میانی شما باید ابتدا وارد آب شود و به دنبال آن یک کشش طولانی از طریق شانه و بازو قرار گیرد. وقتی شانه کاملاً کشیده شد ، قفسه سینه به طرف پهلو باز می شود و سر خود را به سمت پایین نگاه می دارید. این آغاز صید شما است ، جایی که شما با بازوی کامل خود شروع به کشیدن آب می کنید.</p>

            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/3.webp') }}" alt="picture">
            </div>
            <h5>بازوی عمودی اولیه</h5>
            <p>بعد از اینکه بازو کاملاً کشیده شد ، به نوک انگشتان خود به سمت پایین استخر خواهید رسید ، سعی می کنید بازو را تا حد ممکن عمودی نگه دارید بنابراین مانند یک دست و پا زدن عمل می کند و هنگام حرکت به جلو آب زیادی را به پشت خود می کشد.</p>
            <h5>مرحله کشیدن</h5>
            <p>پس از خم شدن بازو از آرنج ، کشیدن خود را شروع خواهید کرد. شما می خواهید در امتداد کناری بدن خود را مستقیم پایین بکشید و دست خود را محکم نگه دارید ، زیرا آرنج از لگن کشیده می شود. سعی کنید دستان خود را از وسط بدن عبور ندهید ، زیرا این امر باعث می شود شما در یک خط مستقیم حرکت نکنید.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/4.webp') }}" alt="picture">
            </div>
            <h3>۳ - چرخش</h3>
            <h5>باسن و شانه ها</h5>
            <p>هر بار که استروک می کنید ، می خواهید سر خود را در جای خود نگه دارید و از باسن خود برای چرخش به راست و چپ استفاده کنید. باسن شما حرکت را آغاز می کند و شانه های شما را دنبال می کند. سعی کنید به جای اینکه با پیچ خوردگی شانه هدایت کنید ، بر چرخش بدن با هسته خود تمرکز کنید. جفت شدن این دو قسمت از بدن باعث می شود بدن در موقعیتی کاملاً روان و روان در امتداد سطح آب قرار بگیرد.
            </p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/5.webp') }}" alt="picture">
            </div>
            <h3>۴ - نفس کشیدن</h3>
            <h5>موقعیت سر و چرخش</h5>
            <p>مهمترین قسمت تنفس در استروک آزاد ، حفظ حالت خنثی سر است. اکنون می خواهید سر خود را به سمت جلو یا بالا ببرید ، زیرا این امر وضعیت بدن شما را خراب می کند و انرژی بیشتری را از آنچه لازم دارید هدر می دهد.
            </p>
            <p>هنگام تنفس ، باید با یک بازو استروک کنید و هنگامی که به جلو می روید ، متوجه می شوید که بالاتنه کامل شما به سمت پهلو چرخانده شده است. سر و گردن شما باید همان حرکت را دنبال کنند و همزمان با باز شدن قفسه سینه حرکت کنید. سر و گردن شما به سمت کنار شما حرکت می کند ، یک چشم را در زیر آب نگه دارید و دهان خود را برای تنفس باز می کنید. هنگام چرخش خط آب باید در وسط صورت شما باشد.
            </p>
            <p>حتماً روی بازوی مخالف خود تمرکز کنید ، زیرا باز هم باید مستقیم از مقابل شما به سمت سطح آب کشیده شود. این برنامه افزودنی بدن شما را روانتر کرده و به شما امکان می دهد حرکت رو به جلو را ادامه دهید. اگر هنگام نفس کشیدن بازوی خود را پایین بکشید ، مانع از حرکت به جلو می شود.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/6.webp') }}" alt="picture">
            </div>
            <h3>۵ - ضرب پا</h3>
            <h5>ساده نگه دارید</h5>
            <p>رایج ترین مشکلی که مبتدیان با آن روبرو هستند ، لگد زدن بیش از حد و خیلی بزرگ است. این یک روش آسان برای از بین بردن موقعیت بدن و در واقع کاهش سرعت شماست. ما توصیه می کنیم این کار را ساده انجام دهید و از ضربه خود تأکید کنید. برای مبتدیان - وضعیت بدن ، تنفس و بازوها از اهمیت بیشتری برخوردار است و ضربه باید یک فکر بعدی باشد که فقط به چرخش بدن متمرکز است.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/7.webp') }}" alt="picture">
            </div>
            <h5>ضربات کوتاه و سریع از لگن</h5>
            <p>در سبک آزاد ، شما از یک ضربه تکان دهنده استفاده خواهید کرد. سعی کنید پاهایتان را تقریبا صاف نگه دارید ، با یک ضربه کوچک که واقعاً فقط از زانوها به انگشتان پا می رسد. قدرت و قدرت از باسن شما ناشی می شود. همانطور که در داخل آب حرکت می کنید ، پاهای شما باید با یک حرکت کوتاه و سریع لگد بزنند. سعی کنید زانوها را خیلی خم نکنید. ضربات بزرگتر که ارتفاع آنها از 12 اینچ بیشتر است ، انرژی زیادی می گیرند و موقعیت ساده شما را خراب می کنند.</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/8.webp') }}" alt="picture">
            </div>
            <h3>6 - شنا بی صدا</h3>
            <h5>سر ، لمس ، بو ، چشیدن و دیدن</h5>
            <p>هنگام حرکت در داخل آب ، بر تمام حواس خود تمرکز کنید. این تمرکز و تفکر شدید به شما کمک می کند تا استروک  خود را تصفیه کنید و مشخص کنید که در آنجایی که ممکن است در آب کارآیی نداشته باشید. هدف این است که هنگام شنا کمترین سر و صدا ایجاد کنید ، این بدان معناست که شما در حال حرکت در آب در یک حرکت صاف هستید.
            </p>
            <p>و مهمتر از همه ، آگاهی از تجربه خود در آب شنای شما را بسیار لذت بخش تر می کند! این یک فرصت عالی برای برقراری ارتباط با بدن ، ذهن و روح و آرامش ساده در استخر است. ما همیشه برای پایان دادن به هر تمرین دو دور شنای بی صدا را توصیه می کنیم!</p>
            <div class="main-pic">
                <img src="{{ url_for('static', filename='amoozesh/9.webp') }}" alt="picture">
            </div>
        </div>     
    </article>
</main>
{% endblock %}
