<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaststroke Breathing Drills</title>
    <link rel="stylesheet" href="/vscode/website/assets/css/normalize.css">
    <link rel="stylesheet" href="/vscode/website/assets/css/global-header-footer.css">
    <link rel="stylesheet" href="/vscode/website/assets/css/articles.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script> 
      $(function(){
        $("#header").load("/vscode/website/assets/template/header.html"); 
        $("#footer").load("/vscode/website/assets/template/footer.html"); 
      });
      </script> 

</head>
<body>
    <div id="wrapper"></div>
            <div id="header"></div>
            <main>
                <div class="header-img">
                    <img src="/vscode/website/assets/breaststroke/image/breaststroke-breathing.jpg" alt="">
                </div>
                <article>
                    <h1> تمرین های نفس گیری قورباغه
                        <br>  
                        Breaststroke Breathing Drills</h1>
                    <p>
                        سبک تنفس جلو قورباغه باعث می شود موقعیت سر عاملی برای حفظ خط جلو استروک باشد. علاوه بر این ، زمان تنفس در کاهش کشش در مرحله قدرت استروک بسیار مهم است. با زمان نادرست ، تنفس می تواند حرکت رو به جلو استروک را بشکند ، اما با زمان مناسب ، عملکرد تنفس در واقع می تواند آن را بهبود بخشد. هدف از تمرینات تنفسی زیر ، یادگیری زمان صحیح تنفس سینه و متحد کردن سر و بدن در یک عمل واحد است که به نفع استروک است.

                    </p>
                    <h2>
                        دم در بالاترین نقطه
                       <br>
                        Inhale at the High Point</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>یادگیری زمان صحیح دم</li>
                        <li>نفس کشیدن با خط استروک
                        </li>
                        <li>احساس بلند شدن</li>
                        
                        <img class="picture" src="/vscode/website/assets/breaststroke/image/breathing-Inhale at the High Point.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>دست ها را دراز کرده و از دیوار آماده شوید تا شنا کنید. به موقعیت شناور سرازیری برسید. بازو را شروع کنید ، با جارو کشیدن ، حفظ مچ دست و آرنج بالا. با شتاب گرفتن در گوشه ها ، آب را محکم نگه دارید و ستون فقرات را از طریق گردن حفظ کنید. همانطور که دستان خود را به گوشه ها می چرخانید ، آماده می شوید تا به سرعت به سمت داخل بروید ، احساس می کنید وضعیت بدن تغییر می کند و بالاتنه بالا می رود. توجه داشته باشید که بدون بالا آوردن چانه ، دهان شما آب را پاک می کند. از این فرصت برای استنشاق استفاده کنید. هنگام بهبودی و لگد زدن ، متوجه شوید که دوباره موقعیت سرازیری را بازیابی کرده و صورتتان به آب برمی گردد.</li>
                        <li>یک بار دیگر استروک کنید. دستان خود را به سمت بیرون و گوشه ها جارو کنید. همزمان با تغییر جهت در گوشه ها ، لیفت تولید شده برای سر و بالاتنه را احساس کنید. پنجره تنفس شما هنگامی اتفاق می افتد که دهان شما آب را از طریق نقطه بالای استروک ، نزدیک موقعیت دعا پاک کند. وقتی به حالت نقاهت رسیدید و به حالت سرازیری برگشتید ، هنگام لگد زدن اجازه دهید صورت با بقیه قسمت بالاتنه در آب بیفتد.
                        </li>
                        <li>نوازش را ادامه دهید. با هر چرخه استروک  اجازه دهید صورت شما بلند شود ، زیرا استروک شما لیفت ایجاد می کند. در نقطه بالا از استروک استنشاق کنید تا وقتی که لگد می زنید ، صورت خود را به آب برگردانید ، با خط بهبودی جلو.
                        </li>
                        <li>تمرین را ادامه دهید تا زمانی که نفس خود را به دست بیاورید زیرا صورت به طور طبیعی به بالاترین حد خود می رسد. سپس ، بدون ایجاد مکث در استروک ، اجازه دهید صورتتان به آب برگردد.
                        </li>
                    </ul>
                    <!-- ####################### -->
                    <h2>
                        چشم ها به آب
                       <br>
                        Eyes on the Water</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>حفظ موقعیت سر ثابت</li>
                        <li>نفس کشیدن با خط استروک</li>
                        <li>پرهیز از سبک نفس کشیدن با سر تکان دادن
                        </li>
                        
                        <img class="picture" src="/vscode/website/assets/breaststroke/image/breathing-Eyes on the Water.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>از دیوار آماده شوید و برای شنای قورباغه حرکت کنید. بازوها را به حالت شناور در سراشیبی برسانید. تمرکز خود را بر حفظ ستون فقرات مستقیم از ناحیه باسن از طریق گردن خود بگذارید. شما باید به پایین استخر نگاه کنید ، نه به جلو. با سرعت بخشیدن به گوشه ها ، بازوی خود را شروع کرده ، جارو کنید و آب را بگیرید. همانطور که دستانتان به سرعت در گوشه و کنار حرکت می کنند و احساس بلند شدن می کنید ، اجازه دهید صورت شما بلند شود و تمام مدت چشمان خود را به سمت آب مقابل خود متمرکز کنید. استنشاق کنید همچنان ستون فقرات را محکم نگه دارید ، هنگام بهبودی و لگد زدن ، صورت خود را به سمت آب برگردانید. بازدم را انجام دهید.
                        </li>
                        <li>یک بار دیگر استروک کنید. در گوشه و کنار استنشاق کنید و مستقیماً به آب روبرو نگاه کنید. هنگامی که دم خود را تمام می کنید ، باید بتوانید حرکت دستان خود را به سمت بهبودی ببینید. شما نمی توانید انتهای استخر را ببینید. هنگام لگد زدن ، صورت شما باید بین بازوان شما پایین بیفتد و بدون تغییر وضعیت چانه ، هنگام بازدم دوباره باید به پایین استخر نگاه کنید.
                        </li>
                        <li>به نوازش ادامه دهید ، یک خط راست ستون فقرات را از طریق گردن خود حفظ کنید. با نفس کشیدن با هر ضربه ، از هرگونه حرکت تکان دهنده خودداری کنید. هنگامی که صورت شما برای استنشاق بالا می رود ، چشم های خود را به سمت آب مقابل خود نگه دارید. دستان خود را به سمت بهبودی تماشا کنید. هنگام لگد زدن ، وضعیت سرازیری خود را بازیابی کنید و اجازه دهید صورت شما بدون هیچ گونه حرکت مستقیمی سر به آب برگردد. بازدم و سر خوردن ، نگاه کردن به پایین استخر.</li>
                        <li>تا انتهای استخر ، با حفظ وضعیت ثابت سر ، در هنگام تنفس به آب نگاه کنید و در هنگام سر خوردن به پایین استخر تمرین کنید.</li>
                    </ul>
                    <h2>
                        تمرین توپ تنیس
                       <br>
                        Tennis Ball Drill</h2>
                    <ul>
                        اهداف این تمرین
                        
                        <li>حفظ موقعیت سر ثابت</li>
                        <li>نفس کشیدن با بلند شدن استروک
                        </li>
                        <li>دستیابی به لیفت با انداختن باسن</li>
                        
                        <img class="picture" src="/vscode/website/assets/breaststroke/image/breathing-Tennis Ball Drill.jpg" alt="taking bow">
                    </ul>
    
                    
                    <ul id="numeric">
                       چطور تمرین را انجام دهیم
                    
                        <li>یک توپ تنیس را زیر چانه خود قرار دهید و آن را در آنجا نگه دارید ، و یک ستون فقرات مستقیم را از طریق گردن حفظ کنید. برای این کار باید موقعیت توپ تنیس را از گلوی خود تنظیم کنید و آن را با نوک چانه نگه دارید. برای اطمینان از اینکه خط ستون فقرات شما به خطر نیفتد ، در آینه چک کنید.</li>
                        <li>با آماده نگه داشتن توپ تنیس با چانه ، از دیوار آماده شوید و برای شنا حرکت سینه را انجام دهید. بازوها را به حالت شناور در سراشیبی برسانید. به منظور جلوگیری از انداختن توپ تنیس ، به پایین استخر نگاه کنید. بازوی خود را با جارو کشیدن شروع کرده و به گوشه ها تسریع کنید. همانطور که دستانتان به سرعت گوشه ها را دور می زنند و به لیفت می رسند ، بدون انداختن توپ تنیس استنشاق کنید. هنگام بهبودی و لگد زدن صورت خود را به سمت آب برگردانید. بازدم را انجام دهید.
                        </li>
                        <li>یک بار دیگر استروک کنید. برای رسیدن به لیفت ، ضربه بازوی خود را تسریع کنید. با حفظ حالت مفصل ران ، پاشنه خود را به سمت باسن خود بکشید و وقتی سر به طور طبیعی در بالاترین نقطه از استروک قرار دارد ، نفس بکشید. توپ تنیس را نگه دارید و از گوشه گوشه از طریق موقعیت دعا استنشاق کنید. هنگام بهبودی و لگد زدن ، سینه خود را به سمت پایین فشار دهید ، اجازه دهید صورت شما بدون انداختن توپ تنیس به آب برگردد.
                        </li>
                        <li>هنگامی که موفق به انجام استروک مغزی بدون انداختن توپ تنیس شدید ، سه حرکت پشت سر هم امتحان کنید. باسن های ثابت و خط مستقیم ستون فقرات را از طریق گردن خود حفظ کنید. هنگامی که پاشنه های خود را به عقب می کشید از یک ضربه شتاب بازو استفاده کنید تا لیفت را برای استنشاق بدست آورید. در هنگام ریکاوری و لگد زدن ، وضعیت سرازیری خود را بازیابید ، به پایین آب نگاه کنید و سینه خود را برای سر خوردن به سمت پایین فشار دهید.
                        </li>
                        <li>این تمرین را با چندین تمرین تکرار کنید ، تا زمانی که بتوانید توپ تنیس را در تمام طول استخر نگه دارید.</li>
                    </ul>
                </article>
            </main>
            <div id="push"></div>
    </div>
        <div id="footer"></div>
    
</body>
</html>