{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Breaststroke Coordination Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/breaststroke-image/breaststroke-coordination.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های هماهنگی قورباغه
            <br>
            Breaststroke Coordination Drills</h1>
        <p>
            برای غلبه بر کشش ذاتی استروک، از بین چهار شنا رقابتی ، دقیق ترین هماهنگی لازم است تا حرکت رو به جلو ایجاد شود. با تعیین توالی صحیح و متعادل کردن اقدامات استروک ، تنفس ، ضربه و سر خوردن ، هر عمل استروک بهتر عمل می کند. تمرین های زیر برای هماهنگی قورباغه ، بر اقدامات متقابل استروک ، چگونگی همپوشانی آنها و کار با یکدیگر برای ایجاد استروک موثر تمرکز دارند.

        </p>
        <h2>
            
            بدون ستاره ها
            <br>
            No Stars</h2>
        <ul>
            اهداف این تمرین
            
            <li>استفاده از کارآمدترین زمان بندی قورباغه 
            </li>
            <li>اجتناب از کشیدن</li>
            <li> استفاده از بازو سپس از پاها</li>
            
            <img class="picture" src="../../../static/breaststroke-image/coordination-No Stars.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دست ها را دراز کرده و از سمت دیوار فشار دهید. به پایین استخر نگاه کنید و به یک ستون فقرات مستقیم برسید. توجه کنید که در این موقعیت باریک و روان چقدر در آب حرکت می کنید.</li>
            <li>شنای قورباغه را تا انتهای استخر شروع کنید. از سرعت استروک سریع با دو دست و پاها استفاده کنید. پس از چندین بار حرکت ، در نقطه ای از استروک مکث کنید که دستانتان در وسیع ترین حالت قرار دارند. توجه کنید که پایتان کجاست. آنها باید در باریکترین نقطه خود باشند.
            </li>
            <li>شنای قورباغه را ادامه دهید و سرعت استروک خود را از سر بگیرید. پس از چندین حرکت ، در نقطه ای که پاهای شما بیشتر از حد گسترده است ، مکث کنید. توجه کنید که دستان شما کجا هستند. آنها باید در باریکترین نقطه خود باشند.</li>
            <li>اگر دست و پاهای شما همزمان باشد ، این شما را در موقعیت ستاره قرار می دهد ، که مضرترین روش حرکت در آب است. موقعیت ستاره زمانی حاصل می شود که دست ها و پاها همزمان در مرحله قدرت خود باشند. در این وضعیت ، بازو و عمل ساق پا یکدیگر را لغو می کنند ، و شما حرکت رو به جلو کمی یا بدون حرکت انجام می دهید. بار دیگر حرکت قورباغه را شنا کنید و موقعیت ستاره را بررسی کنید.
            </li>
            <li>
                برای جلوگیری از موقعیت ستاره ، ضربه شما باید پس از ضربه بازوی شما با همپوشانی بسیار کم باشد. مرحله قدرت پاها را فقط زمانی شروع کنید که بازوها به خوبی بهبود می یابند. امتحان کنید از دیوار برای رسیدن به قورباغه فشار دهید. دستان خود را به سمت گوشه ها جارو کنید و مچ پا را در حالت کشیده فعال نگه دارید. در حالی که بازوها به سمت داخل جارو می شوند و در نقطه بالای استروک نفس می کشید ، پاشنه های پا را به آرامی به سمت باسن خود بکشید. بدون هیچ گونه مکث ، بازوهای خود را به سمت ساده شلیک کنید. در حالی که بازوها به نقطه باریک خود به جلو نزدیک می شوند ، سپس لگد بزنید.

            </li>
            <li>
                شنای قورباغه را ادامه دهید ، ضربه بازوی خود را بزنید و سپس ضربه خود را بزنید. پاها را در مرحله قدرت بازوها ، و بازوها را در مرحله قدرت پاها ثابت نگه دارید. اگر نقاط وسیع استروک را متزلزل کنید ، بهترین حرکت رو به جلو را خواهید داشت. استروک خود را به گونه ای تنظیم کنید که هنگام باز شدن دست ها ، پاها باریک و در حالت باز شدن پاها ، بازوهایتان باریک باشند. قبل از شروع استروک بعدی ، با کل بدن خود استریم لاین شوید

            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            استروک ، نفس کشیدن ، ضربه زدن ،  سر خوردن

           <br>
            Stroke, Breathe, Kick, Glide Mantra</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری توالی صحیح اقدامات استروک
            </li>
            <li>جلوگیری از لغو اثر یک عمل استروک با عملکرد دیگر
            </li>
            <li>تمرین زمان بندی صحیح قورباغه
            </li>
            
            <img class="picture" src="../../../static/breaststroke-image/coordination-Stroke, Breathe, Kick, Glide Mantra.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>ضرب قورباغه را در ذهن خود تجسم کنید. مراحل دنباله قورباغه را با خود بگویید: استروک ، نفس کشیدن ، لگد زدن ، سر خوردن. دوباره بگو. استروک ، نفس کشیدن ، لگد زدن ، سر خوردن ، ترسیم کلمه سر خوردن ، بنابراین گفتن به همان اندازه زمان لازم برای گفتن سه مرحله قبلی است. هر مرحله را به ترتیب با ضرب قورباغه  در ذهن خود مطابقت دهید. استروک  بازو ، دور زدن ، گوشه ها و رفت و برگشت اشاره دارد. نفس به دم استنشاق اشاره دارد. ضرب پا اشاره به مرحله قدرت ضربه پا دارد. سر خوردن به شناور بودن گفته می شود که حرکت لحظه ای را به حداکثر می رساند.
            </li>
            <li>با فشار از دیوار ، در حال آماده شدن برای شنای قورباغه ، ستون فقرات مستقیم ، وضعیت استریم لاین هستید. همانطور که به سمت جلو حرکت می کنید ، مراحل را به ترتیب با خود بگویید. اکنون اقدامات استروک را با حرکت آهسته انجام دهید ، توالی مراحل را در ذهن خود تکرار کنید ، هر مرحله را هنگام گفتن آن مرحله شروع کنید. با زمان صحیح ، لغزش باید به شرطی باشد که سه عمل دیگر استروک با هم ترکیب شوند. استروک ، نفس کشیدن ، لگد زدن ، سر خوردن.
            </li>
            <li>یک ضربه دیگر بزنید ، دوباره شروع هر عمل را با مرحله مطابقت دهید همانطور که با خود می گویید. اگر دنباله استروک را به درستی دنبال می کنید ، قبل از شروع مرحله قدرت لگد زدن ، ضربه و بازدم باید به پایان برسد. بنابراین ، می توانید سر خوردن را به گونه ای تغییر دهید که استروک باشد ، نفس بکشید ، سپس لگد بزنید ، سر خوردن
            </li>
            <li>به تمرین ادامه دهید و دنباله استروک و تکرار زمان بندی را برای خود تکرار کنید. هنگامی که توانستید هر عمل استروک را به ترتیب انجام دهید ، میزان استروک را افزایش دهید. توجه داشته باشید که در حالی که استروک ابتدا شروع می شود ، تنفس با فشردن استروک بازو همپوشانی دارد. بنابراین ، می توانید تکرار را به گونه ای تغییر دهید که استروک باشد و نفس بکشد ، سپس لگد بزنید ، سرخوردن. گوشه های ضربه بازو را نشان می دهد.
            </li>
            <li>
                به تمرین و تکرار  ادامه دهید. توجه داشته باشید که با پایان لگد ، بازوها از قبل به حالت کشیده رسیده و بدن شما به حالت ساده درآمده است. بنابراین ، می توانید مانترا را به گونه ای تغییر دهید که استروک باشد و نفس بکشد ، سپس لگد بزنید و سر بخورید. دوم و نقطه ای را نشان می دهد که پاها در انتهای ضربه به هم می رسند.

            </li>
            <li>
                با توالی و زمان بندی متناسب با استروک ، با تکرار کاملاً پیشرفته تمرین کنید. استروک کنید و نفس بکشید ، سپس لگد بزنید و سر بخورید .

            </li>
        </ul>
        <h2>
            طول سر خوردن ، سرعت سر خوردن
           <br>
            Glide Length, Glide Speed</h2>
        <ul>
            اهداف این تمرین
            
            <li>ایجاد سرخوردن تولیدی مفید
            </li>
            <li>تشخیص زمان شروع استروک بعدی
            </li>
            <li>استفاده از حرکت برای استراحت و بهره مندی از استروک بعدی
            </li>
            
            <img class="picture" src="../../../static/breaststroke-image/coordination-Glide Length, Glide Speed.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دست ها را دراز بکشید و دست ها را به سمت پایین استخر باز کرده و به پایین استخر نگاه کنید. در حال تماشای پایین استخر ، تا جایی که کاملاً متوقف نشوید ، سر بخورید . بایستید و فاصله خود را یادداشت کنید.
            </li>
            <li>دوباره ، برای شروع به  دیوار را فشار دهید. پایین استخر را تماشا کنید و این بار سر خورد کنید تا سرعت خود را کم کنید. بایستید و فاصله خود را با اولین سرسره خود مقایسه کنید. توجه داشته باشید که در مسافتی که طی کرده اید اختلاف زیادی وجود ندارد. با سر خوردن تا زمانی که کاملاً متوقف نشوید ، برای طی مسافت کمی بیشتر از زمان بیشتری استفاده می کنید.
            </li>
            <li>مقایسه را دوباره با سر خوردن به علاوه استروک امتحان کنید. ابتدا فشار دهید و سربخورید تا متوقف شوید. در آن مرحله یک حرکت قورباغه کامل انجام دهید. بایستید و فاصله خود را یادداشت کنید. دوباره دیوار را فشار دهید. این بار ، درست همانطور که شروع به کاهش سرعت می کنید ، یک حرکت کامل انجام دهید. بایستید و فاصله خود را با اولین سر خوردن و استروک مقایسه کنید. توجه داشته باشید که مسافت یکسانی را طی کرده اید ، یا حتی با روش دوم نیز مسافت بیشتری را طی کرده اید. با آوردن مقداری حرکت با خود در استروک ، ممکن است طول سر خوردن شما کوتاهتر شود ، اما شما در کل به بیشتر طی می کنید.
            </li>
            <li>چندین بار تمرین را دوباره امتحان کنید. بر یافتن نقطه دقیق جایی که می توانید طول پرواز خود را به حداکثر برسانید بدون کاهش سرعت و حرکت متمرکز شوید.</li>
        </ul>
        <h2>
            نخ سوزن کردن
           <br>
           Thread the Needle</h2>
        <ul>
            اهداف این تمرین
            
        <li>دستیابی به حرکت رو به جلو</li>
        <li>به حداکثر رساندن جریان و حرکت</li>
        <li>یادگیری استراحت هنگام سر خوردن به جای بهبودی</li>
            
            <img class="picture" src="../../../static/breaststroke-image/coordination-Thread the Needle.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        <li>در حال آماده شدن برای انجام حرکت قورباغه ، از دیوار جدا شوید. در حالی که به سمت جلو حرکت می کنید روی وضعیت بدن خود تمرکز کنید. باید طولانی ، باریک و ساده باشد. سر شما باید بین آرنجتان محکم باشد و باید به پایین استخر نگاه کنید. پاهای شما باید کشیده و با هم باشند ، انگشتان انگشتان شما مشخص است. این موقعیتی است که باید با هر سر خوردن برای آن تلاش کنید. این موقعیت است که کوچکترین سوراخ در آب ایجاد می کند. ابتدا با نوک انگشتان ایجاد می شود ، همان سوراخی است که از بازوها ، آرنج و سر ، شانه ها ، سینه ، لگن ، پاها و در آخر پاها عبور می کند.
        </li>
        <li>با تمرکز بر دستیابی به یک سرخورد ساده و باریک و طولانی بعد از هر ضربه ، شنای خود را شروع کنید. سعی کنید بعد از هر باراستروک هرچه سریعتر به وضعیت استریم لاین برگردید. توجه داشته باشید که برای ایجاد سوراخ کوچک در آب لازم نیست صبر کنید تا به طور کامل به جریان برسید. همانطور که بهبود می یابید ، قبل از پایان لگد زدن ، دستان خود را به یک نقطه باریک بکشید.
        </li>
        <li>هنگام انتقال به حالت بهبودی ، وانمود کنید که سوراخ کوچکی که در حالت سر خوردن از آن عبور می کنید ، در مقابل شما قرار دارد. وانمود کنید باید مانند آن نخ رد شده از سوراخ سوزن از آن عبور کنید. با دستان خود یک لبه هدایت باریک ایجاد کنید. چانه را پایین نگه دارید و آرنج خود را به سمت جلو شلیک کنید ، در حالی که سینه و سر شما به سمت پایین افتاده است و بازوها را بهم نزدیک کرده اید.</li>
        <li>هنگامی که سوزن را از طریق بهبودی نخ می کنید ، یک ستون فقرات محکم را حفظ کنید ، و بلافاصله پس از هم آمدن پاهای خود و از طریق سوراخ سوزن ، در انتهای ضربه استریم لاین شوید. توجه داشته باشید که بهبودی در سینه ، به عنوان بخشی فعال از سکته مغزی بهتر عمل می کند ، برخلاف سایر استروک های  که شناگر می تواند برای استراحت از بهبودی استفاده کند. در قورباغه ، بعد از بهبودی ، در هنگام سر خوردن ساده ، شناگر لحظه ای استراحت می کند.
        </li>
        <li>
            تمرین را ادامه دهید ، سوزن را با هر بار ضربه زدن ، از ابتدای بهبودی تا پایان ضربه پا ، نخ کنید.

        </li>
        </ul>
    </article>
</main>
{% endblock %}
