{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/articles.css') }}"/>
<title>Breaststroke Leverage Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/breaststroke-image/breaststroke-leverage.jpg" alt="">
    </div>
    <article>
        <h1>تمرین های نفوذ پذیری (اهرم) 
            <br>
            Breaststroke Leverage Drills</h1>
        <p>
            پیشرفت در قورباغه در طی 20 سال گذشته ، عمدتا به دلیل تغییر قوانین است که اجازه استفاده بهتر از اهرم و از بین بردن کشش را می دهد. با ایجاد یک حرکت تاب یکپارچه بین سر و پاها ، باسن ها تا آنجا که ممکن است در مرکز ثابت باشد ، بهره وری از ضربه دست ، ضربه پا  و سر خوردن را افزایش می یابد و نقاط احتمالی کشش به حداقل می رسد. یک حرکت تکان دهنده خوب برای موثر بودن نباید افراطی باشد ، بلکه فقط باید یک عمل بدن واحد باشد ، بنابراین هر عمل استروک به عنوان یک توازن برای عملکردهای دیگر عمل می کند. استفاده از یک حرکت تکان دهنده به شناگر اجازه می دهد وقتی آب بیشتری پا را می پوشاند ، نفس بکشد. استفاده از حرکت تکان دهنده به شناگر این امکان را می دهد تا با جلوگیری از کشیدن ، سریعتر به حالت بازیابی برود. هدف از تمرینات زیر برای استفاده از فشار در قورباغه ، یادگیری استفاده از حرکت تاب برای ایجاد اهرم بهتر و کشش کمتر در استروک است.

        </p>
        <h2>
            قورباغه با دلفین
           <br>
            Breaststroke with Dolphin</h2>
        <ul>
            اهداف این تمرین
            
            <li>ایجاد یک حرکت تاب دهنده  تولیدی
            </li>
            <li>حفظ یک عضلات مرکزی محکم</li>
            <li>ایجاد استروک ریتمیک
            </li>
            
            <img class="picture" src="../../../static/breaststroke-image/leverage-Breaststroke with Dolphin.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دست ها را دراز کرده و به پایین استخر نگاه کنید ، از دیوار آماده شوید و برای شنا حرکت قورباغه را انجام دهید. با حفظ یک هسته محکم ، شش ضربه خوب دلفین تمام بدن انجام دهید. از خم شدن بیش از حد در زانو خودداری کنید و اجازه دهید هر ضربه از بالای بدن تا پاها پایین بیاید. همانطور که در داخل آب حرکت می کنید ، متوجه شوید که چگونه عملکرد دلفین بدن شما را شبیه حرکت تاب دهنده قورباغه ، قرار می دهد.
            </li>
            <li>بعد از شش ضربه ، بازوی قورباغه را اضافه کنید. وقتی پاها را به سمت پایین می کوبید ، به سمت گوشه ها جارو کنید. اقدامات ترکیبی از سیلندر سریع شما و ضربان پایین دلفین باید باعث شود که در این مرحله احساس بالارفتن کنید ، بنابراین می توانید به دم خود برسید.
            </li>
            <li>بدون هیچ گونه مکث در ضربه خوردن بازوی خود ، حرکت خود را به پایان برسانید و هنگام شلیک مجدد ، دوباره ضربه بزنید. عملکرد ترکیبی یک بازیابی سریع و باریک و ضربان پایین دلفین ، شما را قادر می سازد تا موقعیت سرازیری خود را بازیابید.</li>
            <li>یک بار دیگر استروک کنید. وقتی دستانتان به وسیع ترین نقطه نزدیک می شوند ، لگد بزنید و دوباره دست ها را به سمت بهبودی سریع پایین بیاورید.
            </li>
            <li>
                چندین حرکت پشت سر هم انجام دهید. از یک دلفین ریتمیک استفاده کنید و برای هر ضربه بازو دو ضربان پایین به طور مساوی ایجاد کنید. برای دستیابی به تنفس باید یک ضربه بزنید. دیگری باید به سرعت بهبودی شما بیفزاید ، بنابراین به یک سرسره موثر می رسید.

            </li>
             <li>بیشتر تمرین کنید تا جایی که یک حرکت تاب دهنده موزون را احساس کنید که به سایر اقدامات استروک کمک می کند.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            دلفین متناوب و ضربه پا قورباغه

           <br>
            Breaststroke Alternating Dolphin and Breaststroke Kick</h2>
        <ul>
            اهداف این تمرین
            
            <li>استفاده از عمل دلفین در قورباغه
            </li>
            <li>انتقال نیرو از طریق عمل تاب دادن ضربه
            </li>
            <li>تمرین یک عمل تاب دهنده سازنده
            </li>
            
            <img class="picture" src="../../../static/breaststroke-image/leverage-Breaststroke Alternating Dolphin and Breaststroke Kick.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>با فشار از دیوار ، خود را برای شنا کردن قورباغه آماده کنید. به یک ستون فقرات مستقیم و وضعیت خط صاف دست پیدا کنید. استروک بازوی قورباغه را شروع کنید و به گوشه ها بروید. با نفس کشیدن استنشاق کنید. یک دلفین خوب تمام بدن را در گوشه گوشه انجام دهید ، و دیگری را در حالی که دستان خود را به سمت جلو بهبود می بخشید ، بهبودی باریک و ساده انجام دهید. سر خوردن
            </li>
            <li>استروک بعدی را شروع کنید. دست های خود را بیرون بکشید ، گوشه ها را دور بزنید و همانطور که عمل جابجایی را انجام می دهید ، دم کنید. این بار ، هنگامی که دستان خود را به سمت جلو بهبود می بخشید ، یک ضربه پا خوب انجام دهید. سر خوردن
            </li>
            <li>شنای متناوب دلفین و ضربه پا قورباغه را ادامه دهید. ضربه بازوی خود را تسریع کنید ، بنابراین جابجایی یکپارچه در بهبودی ادغام می شود. دستان شما باید قبل از پایان ضربه در وضعیت استریم لاین قرار گیرند. توجه داشته باشید که با انجام این کار شما به یک جریان سرازیری خوب و یک سر خوردن مثمر ثمر با هر دو نوع ضربه خواهید رسید. همچنین توجه داشته باشید که حرکت تاب دهنده ضربه پا با هر دو ضربه یکسان عمل می کند.
            </li>
            <li>شنای متناوب دلفین و ضربه پا قورباغه را حفظ کنید. در یک استروک  با ضربه پا قورباغه ، و در استروک بعد یک دست و دو پا دلفین وجود دارد.  هرچند توجه داشته باشید که هنگام انجام استروک با ضربه پا قورباغه ، با انتقال به بهبودی ، ضربان شبه دلفین در لگن مشخص می شود.
            </li>
            <li>
                به تمرین ادامه دهید ، اجازه دهید حرکت تاب دهنده استروک از طریق بدن ، همراه با دلفین و همچنین ضربه پا قورباغه ، قدرت را از طریق بدن منتقل کند. هنگامی که حرکت شلیک خوبی را با دو ضربه دلفین و ضربه پا قورباغه ایجاد می کنید ، دور تمرین را با قورباغه عادی به طور متناوب تغییر دهید. مانند حرکت دلفین ، قدرت حرکت حرکتی را به بقیه بدن احساس کنید

            </li>
        </ul>
        <h2>
            استروک تا نفس کشیدن ، لگد زدن تا سر خوردن

           <br>
            Stroke Up to Breathe, Kick Down to Glide</h2>
        <ul>
            اهداف این تمرین
            
            <li>احساس یک حرکت تاب دهنده مولد</li>
            <li>حفظ خط جلو حرکت</li>
            <li>پرهیز از قورباغه صاف
            </li>
            
            <img class="picture" src="../../../static/breaststroke-image/leverage-Stroke Up to Breathe, Kick Down to Glide.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دست ها را دراز کرده و به پایین استخر نگاه کنید ، از دیوار آماده شوید و برای شنا قورباغه را انجام دهید. با فشار دادن سینه به سمت پایین ، یک ستون فقرات محکم را حفظ کرده و به حالت شناور در سراشیبی برسید. بازوی خود را با جارو کشیدن و وارد گوشه ها شروع کنید. به دور گوشه ها اجازه دهید سینه شما بلند شود و هنگامی که سرعت حرکت را تسریع می کنید ، احساس کنید صورت شما آب را پاک می کند. از این قسمت از استروک، از گوشه ها و از طریق جاروب ، استفاده کنید تا هنگام حرکت به جلو استنشاق کنید.
            </li>
            <li>هنگامی که به بهبودی می روید ، پاشنه پا باید در موقعیتی نزدیک به باسن باشد که برای مرحله قدرت ضربه آماده شده است. هنگامی که در حین بهبودی دستهایتان از صورت شما عبور کرد ، با قدرت لگد بزنید ، و احساس کنید سر و بالاتنه به آب برگردید. از این مرحله قدرت ضربه استفاده کنید تا به یک سر خوردن مولد برسید. سه تا پنج ثانیه در این حالت بمانید.
            </li>
            <li>یک بار دیگر استروک کنید. احساس کنید که بدن شما در حین استروک بازویی به موقعیت تنفسی دست پیدا می کند. هنگام لگد احساس کنید که وضعیت بدن شما دوباره به حالت سرازیری تغییر می کند. به عدم وجود موقعیت شناور تخت توجه کنید.
            </li>
            <li>چندین حرکت پشت سر هم انجام دهید. برای نفس کشیدن به سمت بالا حرکت کنید ، لگد بزنید تا سر بخورد و تمام وقت به جلو حرکت کند. تمرین کنید تا زمانی که بتوانید با ضربه بازوی خود یک استنشاق سریع داشته باشید ، و بدنبال آن ضربه سرخ بزنید و دو برابر بیشتر از وضعیت تنفس در وضعیت سرازیری بگذرانید.</li>
        </ul>
    </article>
</main>
{% endblock %}
