{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="../../../static/articles.css">
<title>Breaststroke Recovery Drills</title>
{% endblock %}

{% block content%}
<main>
    <div class="header-img">
        <img src="../../../static/breaststroke-image/breaststroke-recovery.png" alt="">
    </div>
    <article>
        <h1>تمرین های بازیابی قورباغه 
            <br>
            Breaststroke Recovery Drills</h1>
        <p>
            قورباغه  تنها استروکی است که بهبود آن  نه از روی آب بلکه از طریق آب انجام میشود  و منجر به کشش زیادی می شود. برای غلبه بر این کشش ، بازیابی قورباغه باید به جای مرحله استراحت ، مانند سایر استروک ها ، بخشی فعال در استروک باشد. مرحله استراحت در قورباغه ، پس از بهبودی ، در هنگام سر خوردن اتفاق می افتد. برخی از شناگران سعی کرده اند با توسعه سبک های بازیابی بیش از حد آب و درجات مختلف موفقیت ، از کشیدن جلوگیری کنند. در بیشتر موارد ، شناگران ترجیح داده اند با افزایش سرعت به درون ، و ساده سازی در حین بازیابی و پس از بازیابی ، بر روند سنتی بازیابی آب غلبه کنند. هدف از تمرینات زیر برای استفاده از قورباغه ، به حداقل رساندن کشش با سرعت بخشیدن به انتقال بین استروک بازو و بهبودی و ایجاد یک بهبودی طولانی ، سریع و فشرده است که با خط استروک کار می کند.

        </p>
        <h2>
            رشد دادن بازیابی
           <br>
            Growing Your Recovery</h2>
        <ul>
            اهداف این تمرین
            
            <li>دستیابی به طولانی ترین بهبودی</li>
            <li> استفاده از آرنج ها برای بهبودی</li>
            <li>استفاده از سینه برای بهبودی</li>
            
            <img class="picture" src="../../../static/breaststroke-image/recovery-Growing Your Recovery.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>در عمق کمر و رو به دیواره استخر بایستید. به جلو خم شوید به طوری که چانه شما روی سطح آب قرار دارد. به پایین و به جلو نگاه کنید و آماده تماشای استروک بازوی قورباغه و بهبودی خود شوید. بازوهای خود را در جلوی خود دراز کنید تا نوک انگشتان شما به دیوار لمس شود. دستان شما باید کمی در آب غوطه ور شود. اکنون ، بازو را به صورت جمع و جور ، سریع از گوشه ها ، مچ دستان محکم و آرنج های بالا را تا آخرین قسمت جابجایی شروع کنید. وقتی دستانتان جارو را تمام می کنند ، آنها را به حالت کشیده برگردانید ، با نوک انگشتان دیواره مقابل را لمس کنید.
            </li>
            <li>یک قدم به عقب بروید - طول پای خود را. چانه خود را بر روی سطح آب حفظ کنید ، بازوی دیگر قورباغه را فشار دهید ، به سرعت از گوشه ها عبور کنید ، مچ دست هایتان را محکم نگه دارید ، آرنج های بلند تا آخرین قسمت از راه رفتن. در انتهای عمل جارو زدن ، با نوک انگشتان هر دو دست یک نقطه را تشکیل دهید و دست ها و آرنج ها را با سرعت به جلو هدایت کنید. همانطور که دستانتان به سمت دیوار می رسد ، بازوها را تا جایی که می توانید نزدیک کنید. بازوها باید از نوک پیکان بلند ، از دستها تا شانه ها تشکیل شود. توجه داشته باشید که به سادگی با صاف کردن بیشتر بازوها و ایجاد لبه جلویی باریک با دست ها ، بازوها و آرنج ، طول دوره نقاهت خود را افزایش داده و می توانید دیواره را لمس کنید.
            </li>
            <li>یک قدم دیگر به عقب بروید - طول پا. در حالی که چانه در سطح آب قرار دارد ، بازوی دیگر قورباغه را بزنید ، جمع و جور ، سریع در گوشه ها ، مچ های محکم ، آرنج های بالا. در انتهای موج شستشو ، با نوک انگشتان کنار هم و اشاره به جلو ، دست ها و آرنج ها را با سرعت به جلو برانید ، در حین رسیدن فاصله بین بازوها را باریک کنید. قبل از اینکه دستانتان به حالت کامل کشیده شوند ، هنگامی که به دیواره دست می یابید ، سینه خود را به سمت پایین و در آب قرار دهید. توجه داشته باشید که با استفاده از سینه خود در عمل بهبودی ، طول دوره نقاهت خود را حتی بیشتر کرده و می توانید دیوار را لمس کنید.
            </li>
            <li>اکنون تمرین کنید که ریکاوری خود را هنگام شنا رشد دهید. با دستیابی به یک هسته محکم و موقعیت شناور خوب ، دیوار را به سمت پایین فشار دهید. استروک بازوی قورباغه را شروع کنید. در حالی که دست هایتان حرکت غرق شدن را به پایان می رسانند ، بازوهای خود را به حالت کشیده جلو برگردانید ، و یک بازوی پیکان محکم ایجاد کنید. دست ها و آرنج ها را به سمت جلو رانده و بازوها را تا آنجا که می توانید نزدیک کنید. در حالی که بازوها یک لبه جلوی باریک تشکیل می دهند ، سینه خود را به پایین در آب رها کنید. با پایین آمدن سینه یک ضربه پا بزنید. احساس کنید بدن شما در یک سر خوردن ساده به جلو حرکت می کند. قبل از شروع یک ضربه دیگر ، آن وضعیت را به مدت سه تا پنج ثانیه حفظ کنید. تا انتهای استخر ادامه دهید.
            </li>
        </ul>
        <!-- ####################### -->
        <h2>
            پرتاب برای خط صاف
           <br>
            Shoot to Streamline</h2>
        <ul>
            اهداف این تمرین
            
            <li>یادگیری تسریع در بهبودی</li>
            <li>بهبودی با حرکت تاب دهنده  استروک
            </li>
            <li>از بین بردن هرگونه مکث بین جابجایی و بهبودی</li>
            
            <img class="picture" src="../../../static/breaststroke-image/recovery-Shoot to Streamline.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>از دیوار خارج شوید ، در حال آماده شدن برای انجام قورباغه هستید ، دستانتان کاملاً جلوی شما کشیده شده و نقطه پیکان را از دستان به سمت شانه های شما تشکیل می دهد. به موقعیت شناور سرازیری برسید. یک ضربه بازو جمع و جور را شروع کنید ، که سریع از گوشه ها عبور می کند.
            </li>
            <li>مچ دستان خود را در تمام مدت استروک ثابت نگه دارید ، و آرنج های بالا را تا آخرین قسمت از زمان جابجایی ، هنگامی که آرنج ها در مقابل قفسه دنده به سمت داخل قرار می گیرند ، حفظ کنید. در حالی که آرنج ها به سمت هم جمع می شوند ، توجه کنید که دستان شما به نوعی در حالت دعا قرار می گیرند. این حالت تنفس قورباغه ، یک نقطه ضروری اما تولید کننده کشش در استروک است.
            </li>
            <li>بازگشت سریع به وضعیت سراشیبی برای حفظ حرکت رو به جلو سخت تلاش می کند. برای دستیابی به این هدف ، بهبود باید حرکت رو به جلو قورباغه را ادامه دهد و از مکث بعد از جابجایی جلوگیری کند. از حالت دعا ، با از پایین بردن سینه و سر ، بازوها و آرنج خود را به جلو شلیک کنید. وقتی بازوها در اواسط بهبودی هستند ، لگد بزنید. به مدت سه تا پنج ثانیه در حالت کاملاً ساده حرکت کنید.
            </li>
            <li>یک بار دیگر استروک کنید. از یک جابجایی سریع ، و یک جابجایی سریعتر استفاده کنید. بهبودی را از همه سریعتر انجام دهید. این کار را دوباره انجام دهید ، سرعت خود را در کل استروک تسریع کنید ، سپس در بهبودی بازوهای خود را به جلو شلیک کنید. توجه داشته باشید که هرچه بهبودی شما باریکتر باشد ، سریعتر آب را قطع می کند. همچنین توجه داشته باشید که با از بین بردن هرگونه مکث در حالت دعا ، بازوهای بهبود یافته به حرکت رو به جلو ضربه بازو اضافه می شوند.
            </li>
            <li>
                ادامه تمرین کمترین ریکاوری ممکن ، از بین بردن هرگونه تاخیر بین جابجایی و بهبودی. تمرین را ادامه دهید تا اینکه استروک و بهبودی شما یک عمل مداوم و شتاب آور است. حرکت رو به جلو ضربه را بگیرید و به سمت ساده شلیک کنید. بعد از هر دوره بهبودی سه تا پنج ثانیه سر خورد کنید.

            </li>
        </ul>
        <h2>
            تا کردن و شانه بالا انداختن
           <br>
            Fold and Shrug</h2>
        <ul>
            اهداف این تمرین
            
            <li>افزودن سرعت به ریکاوری</li>
            <li>حرکت رو به افزایش در سر خوردن</li>
            <li>یادگیری استراحت پس از بهبودی</li>
            
            <img class="picture" src="../../../static/breaststroke-image/recovery-Fold and Shrug.jpg" alt="taking bow">
        </ul>

        
        <ul id="numeric">
           چطور تمرین را انجام دهیم
        
            <li>دست ها را دراز کرده و از دیوار آماده شوید تا شنا کنید. به موقعیت شناور سرازیری برسید. بازوی خود را با جارو کشیدن شروع کنید ، سپس در گوشه گوشه تسریع کنید ، و از سمت وسط به حالت دعا قبل از بهبود بروید. هنگامی که پاشنه خود را به سمت بالا باسن خود می کشید و آماده می شوید تا مرحله قدرت ضربه خود را شروع کنید ، این نکته در استروک است. در این حالت سر و سینه باید بالاتر از لگن باشد. شما فرصت کوتاهی برای تنفس بین گوشه ها و موقعیت دعا دارید
            </li>
            <li>در حالی که آرنج هایتان به سرعت به سمت داخل در حالت دعا جمع می شوند ، شانه های خود را به سمت بالا جمع کنید. سپس ، هنگامی که به بهبود سریع و باریک خود می روید ، شانه های خود را به سمت بالا و پایین جمع کنید. توجه داشته باشید که با این شانه انداختن شانه ، قسمت بالاتنه شما بیشتر در بهبودی نقش دارد. با نزدیک شدن بازوها به موقعیت ساده ، لگد بزنید. سر خوردن و استراحت به مدت سه تا پنج ثانیه.
            </li>
            <li>یک بار دیگر استروک کنید. سرعت خود را از گوشه های بیرون رفت و رفت و برگشت دهید. در انتهای عمل جابجایی آرنج خود را تا کرده و شانه بالا بزنید

                شانه های خود را به سمت بالا ، سپس به جلو و پایین برای بهبود توجه داشته باشید که شانه بالا کمک می کند تا حرکت شما در موقعیت دعا ، جایی که مکث نامطلوبی اتفاق می افتد ، ادامه یابد. همانطور که دست ها و بازوها را به جلو شلیک می کنید ، و سینه را به سمت پایین و جلو می ریزید ، توجه داشته باشید که سرعت بهبودی شما بیشتر است. با نزدیک شدن بازوها به موقعیت ساده ، لگد بزنید. سر خوردن و استراحت به مدت سه تا پنج ثانیه.
                </li>
            <li>یک بار دیگر استروک کنید. سریع جلو بروید ، گوشه ها را بچرخانید و سرعت خود را به سرعت جابجا کنید. به حالت دعا نزدیک شوید و شانه ها را بالا بیاورید در حالی که آرنج ها جلوی سینه شما جمع می شوند ، سپس به سمت پایین و جلو حرکت می کنند و سرعت بیشتری به بهبود می بخشند. توجه داشته باشید که با کمک شانه به حرکت در آوردن وزن خود به جلو ، می توانید به یک روند سرازیری بیشتری دست پیدا کنید. سر خوردن و استراحت به مدت سه تا پنج ثانیه.
            </li>
            <li>
                تمرین را برای چندین طول استخر ادامه دهید. رفت و برگشت کنید ، جمع شوید و شانه بالا بزنید. احساس کنید که استروک بازوها را به سمت بهبودی آنها سوق داده و سر می خورد.

            </li>
        </ul>
    </article>
</main>
{% endblock %}
